<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hsa.module.clinical.clinicalpathlist.dao.ClinicPathListDAO">

    <resultMap type="cn.hsa.module.clinical.clinicalpathlist.dto.ClinicPathListDTO" id="ClinicPathListMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="hospCode" column="hosp_code" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="typeCode" column="type_code" jdbcType="VARCHAR"/>
        <result property="deptId" column="dept_id" jdbcType="VARCHAR"/>
        <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
        <result property="sortNo" column="sort_no" jdbcType="VARCHAR"/>
        <result property="diagnoseIds" column="diagnose_ids" jdbcType="VARCHAR"/>
        <result property="minInptDay" column="min_inpt_day" jdbcType="VARCHAR"/>
        <result property="maxInptDay" column="max_inpt_day" jdbcType="VARCHAR"/>
        <result property="minPrice" column="min_price" jdbcType="VARCHAR"/>
        <result property="maxPrice" column="max_price" jdbcType="VARCHAR"/>
        <result property="isFreeEntry" column="is_free_entry" jdbcType="VARCHAR"/>
        <result property="printColunm" column="print_colunm" jdbcType="VARCHAR"/>
        <result property="pym" column="pym" jdbcType="VARCHAR"/>
        <result property="wbm" column="wbm" jdbcType="VARCHAR"/>
        <result property="remarke" column="remarke" jdbcType="VARCHAR"/>
        <result property="crteId" column="crte_id" jdbcType="VARCHAR"/>
        <result property="crteName" column="crte_name" jdbcType="VARCHAR"/>
        <result property="crteTime" column="crte_time" jdbcType="TIMESTAMP"/>
        <result property="auditCode" column="audit_code" jdbcType="VARCHAR"/>
        <result property="auditId" column="audit_id" jdbcType="VARCHAR"/>
        <result property="auditName" column="audit_name" jdbcType="VARCHAR"/>
        <result property="auditTime" column="audit_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="getClinicPathById" resultMap="ClinicPathListMap">
        select
          id, hosp_code, code, name, type_code, dept_id, dept_name, sort_no, diagnose_ids, min_inpt_day, max_inpt_day, min_price, max_price, is_free_entry, print_colunm, pym, wbm, remarke, crte_id, crte_name, crte_time, audit_code, audit_id, audit_name, audit_time
        from clinical_path_list
        where id = #{id}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryClinicPathAll" resultMap="ClinicPathListMap">
        select
          id, hosp_code, code, name, type_code, dept_id, dept_name, sort_no, diagnose_ids, min_inpt_day, max_inpt_day, min_price, max_price, is_free_entry, print_colunm, pym, wbm, remarke, crte_id, crte_name, crte_time, audit_code, audit_id, audit_name, audit_time
        from clinical_path_list
        where hosp_code = #{hospCode}
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="typeCode != null and typeCode != ''">
                and type_code = #{typeCode}
            </if>
            <if test="deptId != null and deptId != ''">
                and dept_id = #{deptId}
            </if>
            <if test="deptName != null and deptName != ''">
                and dept_name = #{deptName}
            </if>
            <if test="sortNo != null and sortNo != ''">
                and sort_no = #{sortNo}
            </if>
            <if test="diagnoseIds != null and diagnoseIds != ''">
                and diagnose_ids = #{diagnoseIds}
            </if>
            <if test="auditCode != null and auditCode != ''">
                and audit_code = #{auditCode}
            </if>
            <if test="auditTime != null">
                and audit_time = #{auditTime}
            </if>
            /*开始日期*/
            <if test="startDate != null">
              and date(crte_time) &gt;= date(#{startDate})
            </if>
            /*结束日期*/
            <if test="endDate != null">
              and date(crte_time) &lt;= date(#{endDate})
            </if>
            <if test="keyword != null and keyword != ''">
              and (code like concat('%',#{keyword},'%')
              or name like concat('%',#{keyword},'%')
              or pym like concat('%',#{keyword},'%')
              or wbm like concat('%',#{keyword},'%'))
            </if>
    </select>

    <!--新增所有列-->
    <insert id="insertClinicPath" keyProperty="id" useGeneratedKeys="true">
        insert into clinical_path_list(id,hosp_code, code, name, type_code, dept_id, dept_name, sort_no, diagnose_ids, min_inpt_day, max_inpt_day, min_price, max_price, is_free_entry, print_colunm, pym, wbm, remarke, crte_id, crte_name, crte_time, audit_code, audit_id, audit_name, audit_time)
        values (#{id},#{hospCode}, #{code}, #{name}, #{typeCode}, #{deptId}, #{deptName}, #{sortNo}, #{diagnoseIds}, #{minInptDay}, #{maxInptDay}, #{minPrice}, #{maxPrice}, #{isFreeEntry}, #{printColunm}, #{pym}, #{wbm}, #{remarke}, #{crteId}, #{crteName}, #{crteTime}, #{auditCode}, #{auditId}, #{auditName}, #{auditTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="updateClinicPath">
        update clinical_path_list
        <set>
            <if test="code != null and code != ''">
                code = #{code},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="typeCode != null">
                type_code = #{typeCode},
            </if>
            dept_id = #{deptId},
            dept_name = #{deptName},
            <if test="sortNo != null">
                sort_no = #{sortNo},
            </if>
            <if test="diagnoseIds != null">
                diagnose_ids = #{diagnoseIds},
            </if>
            <if test="minInptDay != null">
                min_inpt_day = #{minInptDay},
            </if>
            <if test="maxInptDay != null">
                max_inpt_day = #{maxInptDay},
            </if>
            <if test="minPrice != null">
                min_price = #{minPrice},
            </if>
            <if test="maxPrice != null">
                max_price = #{maxPrice},
            </if>
            <if test="isFreeEntry != null">
                is_free_entry = #{isFreeEntry},
            </if>
            <if test="printColunm != null">
                print_colunm = #{printColunm},
            </if>
            <if test="pym != null">
                pym = #{pym},
            </if>
            <if test="wbm != null">
                wbm = #{wbm},
            </if>
            <if test="remarke != null">
                remarke = #{remarke},
            </if>
            <if test="auditCode != null">
                audit_code = #{auditCode},
            </if>
            <if test="auditId != null">
                audit_id = #{auditId},
            </if>
            <if test="auditName != null">
                audit_name = #{auditName},
            </if>
            <if test="auditTime != null">
                audit_time = #{auditTime},
            </if>
        </set>
        where id = #{id} and hosp_code = #{hospCode}
    </update>

    <!--通过主键删除-->
    <update id="updateClinicPathAuditCode">
        update clinical_path_list set audit_code = #{auditCode} where hosp_code = #{hospCode}
          and id in
          <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
          </foreach>
    </update>

    <select id="getMaxSortNo" resultMap="ClinicPathListMap">
      select id, hosp_code, code, name, type_code, dept_id, dept_name, sort_no, diagnose_ids, min_inpt_day, max_inpt_day, min_price, max_price, is_free_entry, print_colunm, pym, wbm, remarke, crte_id, crte_name, crte_time, audit_code, audit_id, audit_name, audit_time
      from clinical_path_list where hosp_code = #{hospCode}
      order by sort_no desc limit 1
    </select>

</mapper>
