<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hsa.module.clinical.inptclinicalpathstate.dao.InptClinicalPathStateDAO">


    <select id="queryClinicalItem"
            resultType="cn.hsa.module.clinical.clinicalpathstagedetail.dto.ClinicPathStageDetailDTO">
        select
        a.id, a.hosp_code, a.list_id, a.stage_id, a.code, a.item_type, a.item_id, a.item_supply_type, a.is_must, a.classify,
        a.sort_no, a.remarke, a.is_operation_day, a.crte_id, a.crte_name, a.crte_time,b.name as itemName,c.describe,l.name as listName
        from clinical_path_stage_detail a
        join clinical_path_item b on a.item_id = b.id and a.hosp_code = b.hosp_code
        join clinical_path_stage c on c.id = a.stage_id and a.hosp_code = c.hosp_code
        join clinical_path_list l on l.id = a.list_id and a.hosp_code = l.hosp_code
        where a.hosp_code = #{hospCode}
        <if test="listId != null and listId != ''">
            and a.list_id = #{listId}
        </if>
        <if test="stageId != null and stageId != ''">
            and a.stage_id = #{stageId}
        </if>
        <if test="itemType != null and itemType != ''">
            and a.item_type = #{itemType}
        </if>
        <if test="itemId != null and itemId != ''">
            and a.item_id = #{itemId}
        </if>
        order by a.sort_no
    </select>
    <!-- 根据就诊id查询 临床路径病人记录表-->
    <select id="queryInptClinicalPathStateByVisitId"
            resultType="cn.hsa.module.clinical.inptclinicalpathstate.dto.InptClinicalPathStateDTO">
        select
        c.name as listName,d.name as stageName,
        a.id,a.hosp_code,a.visit_id,a.baby_id,a.path_state,a.list_id,a.path_crte_id,a.path_crte_name,a.path_crte_time,
        a.stage_id,a.end_crte_id,a.end_crte_name,a.end_crte_time,a.end_path_type,a.end_path_remarke,a.total_price
        from inpt_clinical_path_state a
        join inpt_visit b on a.visit_id = b.id and a.hosp_code = b.hosp_code
        join clinical_path_list c on a.list_id = c.id and a.hosp_code = c.hosp_code
        join clinical_path_stage d on a.stage_id = d.id and a.hosp_code = d.hosp_code
        where a.hosp_code = #{hospCode} and a.visit_id = #{visitId} limit 1
    </select>
    <!--查询入径病人信息-->
    <select id="queryInptClinicalPathState"
            resultType="cn.hsa.module.clinical.inptclinicalpathstate.dto.InptClinicalPathStateDTO">
        select
        a.id, a.hosp_code,a.in_profile, a.in_no, a.name, a.gender_code, a.age, a.age_unit_code,
        a.preferential_type_id, a.patient_code, a.bed_id, a.bed_name,a.cert_no,
        (select name from base_dept where id = a.in_ward_id and hosp_code = a.hosp_code) as wardName,
        (case when date(now()) = date(in_time) then 1 else to_days(date(now())) - to_Days(date(in_time)) end)as inNum,
        cp.name as listName,d.name as stageName,a.in_time as inTimestring
        from inpt_clinical_path_state c
        join inpt_visit a on a.hosp_code = c.hosp_code and c.visit_id = a.id
        join clinical_path_list cp on c.list_id = cp.id and c.hosp_code = cp.hosp_code
        join clinical_path_stage d on c.stage_id = d.id and c.hosp_code = d.hosp_code
        left join base_bed b on a.hosp_code = b.hosp_code and a.bed_id = b.id
        where a.hosp_code = #{hospCode} and ifnull(a.bed_id,'') != '' and a.in_dept_id = #{inDeptId} and a.status_code = '2'
        <if test="id != null and id != ''">
            and a.id = #{id}
        </if>
        <if test="keyword != null and keyword != ''">
            and (a.name like concat('%',#{keyword},'%') or a.cert_no like concat('%',#{keyword},'%')
            or a.in_no like concat('%',#{keyword},'%') or a.bed_name like concat('%',#{keyword},'%'))
        </if>
        <if test='zgbrQuery =="1"'>
            and a.zg_doctor_id = #{zgDoctorId}
        </if>
        order by b.seq_no asc
    </select>
</mapper>
