<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.hsa.module.inpt.fees.dao.InptInsurePayDAO">

    <!-- 实体DTO及数据库字段映射 -->
    <resultMap id="inptInsurePayDoMap" type="cn.hsa.module.inpt.fees.entity.InptInsurePayDO">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="hosp_code" property="hospCode" jdbcType="VARCHAR" />
        <result column="settle_id" property="settleId" jdbcType="VARCHAR" />
        <result column="visit_id" property="visitId" jdbcType="VARCHAR" />
        <result column="type_code" property="typeCode" jdbcType="VARCHAR" />
        <result column="org_no" property="orgNo" jdbcType="VARCHAR" />
        <result column="org_name" property="orgName" jdbcType="VARCHAR" />
        <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
    </resultMap>

    <!-- 表所有字段 -->
    <sql id="Base_Column_List">
        id, 
        hosp_code, 
        settle_id, 
        visit_id, 
        type_code, 
        org_no, 
        org_name, 
        total_price
    </sql>

    <!-- 表所有字段（别名） -->
    <sql id="Base_ColumnAlias_List">
        iip.id, 
        iip.hosp_code, 
        iip.settle_id, 
        iip.visit_id, 
        iip.type_code, 
        iip.org_no, 
        iip.org_name, 
        iip.total_price
    </sql>


    <!-- 根据主键查询表信息 -->
    <select id="selectByPrimaryKey" resultMap="inptInsurePayDoMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from
        inpt_insure_pay
        where
        id = #{id}
    </select>

    <!-- 新增表信息 -->
    <insert id="insert" parameterType="cn.hsa.module.inpt.fees.entity.InptInsurePayDO" >
        insert into
        inpt_insure_pay
        (
          id,
          hosp_code,
          settle_id,
          visit_id,
          type_code,
          org_no,
          org_name,
          total_price
        ) values (
          #{id,jdbcType=VARCHAR}, 
          #{hospCode,jdbcType=VARCHAR}, 
          #{settleId,jdbcType=VARCHAR}, 
          #{visitId,jdbcType=VARCHAR}, 
          #{typeCode,jdbcType=VARCHAR}, 
          #{orgNo,jdbcType=VARCHAR}, 
          #{orgName,jdbcType=VARCHAR}, 
          #{totalPrice,jdbcType=DECIMAL}
        )
    </insert>

    <!-- 新增表信息（实体对象值为null 为'',不进行该字段的新增） -->
    <insert id="insertSelective" parameterType="cn.hsa.module.inpt.fees.entity.InptInsurePayDO" >
        insert into
        inpt_insure_pay
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="id != null and id != ''">
                    id, 
                </if>
                <if test="hospCode != null and hospCode != ''">
                    hosp_code, 
                </if>
                <if test="settleId != null and settleId != ''">
                    settle_id, 
                </if>
                <if test="visitId != null and visitId != ''">
                    visit_id, 
                </if>
                <if test="typeCode != null and typeCode != ''">
                    type_code, 
                </if>
                <if test="orgNo != null and orgNo != ''">
                    org_no, 
                </if>
                <if test="orgName != null and orgName != ''">
                    org_name, 
                </if>
                <if test="totalPrice != null">
                    total_price
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="id != null and id != ''">
                        #{id,jdbcType=VARCHAR}, 
                </if>
                <if test="hospCode != null and hospCode != ''">
                        #{hospCode,jdbcType=VARCHAR}, 
                </if>
                <if test="settleId != null and settleId != ''">
                        #{settleId,jdbcType=VARCHAR}, 
                </if>
                <if test="visitId != null and visitId != ''">
                        #{visitId,jdbcType=VARCHAR}, 
                </if>
                <if test="typeCode != null and typeCode != ''">
                        #{typeCode,jdbcType=VARCHAR}, 
                </if>
                <if test="orgNo != null and orgNo != ''">
                        #{orgNo,jdbcType=VARCHAR}, 
                </if>
                <if test="orgName != null and orgName != ''">
                        #{orgName,jdbcType=VARCHAR}, 
                </if>
                <if test="totalPrice != null">
                        #{totalPrice,jdbcType=DECIMAL}
                </if>
        </trim>
    </insert>

    <!-- 修改表信息 -->
    <update id="updateByPrimaryKey" parameterType="cn.hsa.module.inpt.fees.entity.InptInsurePayDO" >
        update
        inpt_insure_pay
        set
                hosp_code = #{hospCode,jdbcType=VARCHAR}, 
                settle_id = #{settleId,jdbcType=VARCHAR}, 
                visit_id = #{visitId,jdbcType=VARCHAR}, 
                type_code = #{typeCode,jdbcType=VARCHAR}, 
                org_no = #{orgNo,jdbcType=VARCHAR}, 
                org_name = #{orgName,jdbcType=VARCHAR}, 
                total_price = #{totalPrice,jdbcType=DECIMAL}
        where
        id = #{id}
    </update>

    <!-- 修改表信息（实体对象值为null 为'',不进行该字段的修改） -->
    <update id="updateByPrimaryKeySelective" parameterType="cn.hsa.module.inpt.fees.entity.InptInsurePayDO" >
        update
        inpt_insure_pay
        <set >
                <if test="hospCode != null and hospCode != ''">
                hosp_code = #{hospCode,jdbcType=VARCHAR}, 
                </if>
                <if test="settleId != null and settleId != ''">
                settle_id = #{settleId,jdbcType=VARCHAR}, 
                </if>
                <if test="visitId != null and visitId != ''">
                visit_id = #{visitId,jdbcType=VARCHAR}, 
                </if>
                <if test="typeCode != null and typeCode != ''">
                type_code = #{typeCode,jdbcType=VARCHAR}, 
                </if>
                <if test="orgNo != null and orgNo != ''">
                org_no = #{orgNo,jdbcType=VARCHAR}, 
                </if>
                <if test="orgName != null and orgName != ''">
                org_name = #{orgName,jdbcType=VARCHAR}, 
                </if>
                <if test="totalPrice != null">
                total_price = #{totalPrice,jdbcType=DECIMAL}
                </if>
        </set>
        where
        id = #{id}
    </update>

    <!-- 根据主键删除表信息 -->
    <delete id="deleteById" parameterType="java.lang.String">
        DELETE FROM inpt_insure_pay WHERE id = #{id}
    </delete>

    <!-- 根据主键批量删除数据 -->
    <delete id="deleteByIds">
        DELETE FROM inpt_insure_pay WHERE id IN
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 根据条件参数查询数据列表 -->
    <select id="findByCondition" resultMap="inptInsurePayDoMap" parameterType="cn.hsa.module.inpt.fees.entity.InptInsurePayDO">
        SELECT
        <include refid="Base_ColumnAlias_List" />
        FROM inpt_insure_pay iip 
        where
        iip.hosp_code = #{hospCode}
        <if test="settleId != null and settleId != ''">
            AND iip.settle_id = #{settleId}
        </if>
        <if test="visitId != null and visitId != ''">
            AND iip.visit_id = #{visitId}
        </if>
    </select>

</mapper>