<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hsa.module.outpt.collblood.dao.OutptCollBloodDAO">

    <!--查询门诊采血列表数据-->
    <select id="queryCollBlood" parameterType="cn.hsa.module.medic.apply.dto.MedicalApplyDTO"
            resultType="cn.hsa.module.medic.apply.dto.MedicalApplyDTO">
        select * from (
        SELECT
        y.id,
        y.merge_id,
        max(t.dept_name) dept_name,
        ( SELECT NAME FROM sys_code_detail WHERE c_code = 'LISXMLX' AND VALUE = max(ba.technology_code) )
        technology_code,
        max(ba.container_code) container_code,
        max(ba.specimen_code) specimen_code,
        GROUP_CONCAT(e.content separator ',') content,
        max(y.document_sta) document_sta,
        max(y.apply_no) apply_no,
        max(t.name) name,
        max(t.gender_code) gender_code,
        max(t.age) age,
        max(t.age_unit_code) age_unit_code,
        max(y.crte_time) crte_time,
        max(y.bar_code) bar_code,
        max(y.coll_blood_id) coll_blood_id,
        max(y.coll_blood_name) coll_blood_name,
        max(y.coll_blood_time) coll_blood_time
        FROM
        medic_apply y,
        outpt_prescribe_detail e,
        base_advice ba,
        outpt_visit t
        WHERE e.id = y.opd_id AND e.hosp_code = y.hosp_code
        AND e.item_id = ba.id AND e.hosp_code = ba.hosp_code
        AND t.id = y.visit_id AND t.hosp_code = y.hosp_code
        AND y.hosp_code = #{hospCode}
        and y.type_code = '4'
        <if test="keyword != null and keyword != '' ">
            and (t.name like concat('%',#{keyword},'%') or t.visit_no like concat('%',#{keyword},'%') or t.phone like concat('%',#{keyword},'%'))
        </if>
        <if test="deptId != null and deptId != '' ">
            and y.dept_id = #{deptId}
        </if>
        <if test="startDate != null">
            and y.apply_time >= STR_TO_DATE(#{startDate},'%Y-%m-%d')
        </if>
        <if test="endDate != null">
            and y.apply_time &lt; DATE_ADD(STR_TO_DATE(#{endDate},'%Y-%m-%d'),INTERVAL 1 day)
        </if>
        <if test="isCollBlood != null and isCollBlood != '' and isCollBlood == 1">
            and y.coll_blood_id is not null
        </if>
        <if test="isCollBlood != null and isCollBlood != '' and isCollBlood == 0">
            and y.coll_blood_id is null
        </if>
        group by y.merge_id
        )tab
        ORDER BY tab.crte_time
    </select>

    <!--保存门诊采血数据-->
    <update id="saveCollBlood" parameterType="java.util.List">
        <foreach collection="list" separator=";" item="dto">
            update medic_apply
            set coll_blood_id = #{dto.collBloodId}, coll_blood_name = #{dto.collBloodName}, coll_blood_time = #{dto.collBloodTime}
            where merge_id = #{dto.mergeId} and hosp_code = #{dto.hospCode}
        </foreach>
    </update>
</mapper>