<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hsa.module.outpt.outptquery.dao.OutptRegisterQueryDAO">

    <resultMap type="cn.hsa.module.outpt.outptquery.dto.OutptRegisterDTO" id="OutptRegisterMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="hospCode" column="hosp_code" jdbcType="VARCHAR"/>
        <result property="visitId" column="visit_id" jdbcType="VARCHAR"/>
        <result property="registerNo" column="register_no" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="genderCode" column="gender_code" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
        <result property="certCode" column="cert_code" jdbcType="VARCHAR"/>
        <result property="certNo" column="cert_no" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="sourceBzCode" column="source_bz_code" jdbcType="VARCHAR"/>
        <result property="visitCode" column="visit_code" jdbcType="VARCHAR"/>
        <result property="sourceTjCode" column="source_tj_code" jdbcType="VARCHAR"/>
        <result property="sourceTjRemark" column="source_tj_remark" jdbcType="VARCHAR"/>
        <result property="registerTime" column="register_time" jdbcType="TIMESTAMP"/>
        <result property="cfId" column="cf_id" jdbcType="VARCHAR"/>
        <result property="cqId" column="cq_id" jdbcType="VARCHAR"/>
        <result property="dqId" column="dq_id" jdbcType="VARCHAR"/>
        <result property="drId" column="dr_id" jdbcType="VARCHAR"/>
        <result property="deptId" column="dept_id" jdbcType="VARCHAR"/>
        <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
        <result property="doctorId" column="doctor_id" jdbcType="VARCHAR"/>
        <result property="doctorName" column="doctor_name" jdbcType="VARCHAR"/>
        <result property="isCancel" column="is_cancel" jdbcType="VARCHAR"/>
        <result property="isFirstVisit" column="is_first_visit" jdbcType="VARCHAR"/>
        <result property="isAdd" column="is_add" jdbcType="VARCHAR"/>
        <result property="crteId" column="crte_id" jdbcType="VARCHAR"/>
        <result property="crteName" column="crte_name" jdbcType="VARCHAR"/>
        <result property="crteTime" column="crte_time" jdbcType="TIMESTAMP"/>
        <result property="statusCode" column="status_code" jdbcType="VARCHAR"/>
        <result property="billNo" column="bill_no" jdbcType="VARCHAR"/>
        <result property="settleTime" column="settle_time" jdbcType="TIMESTAMP"/>
        <result property="preferentialPrice" column="preferential_price" jdbcType="DECIMAL"/>
        <result property="realityPrice" column="reality_price" jdbcType="DECIMAL"/>
        <result property="patientCode" column="patient_code" jdbcType="VARCHAR"/>
        <result property="patientCode" column="patient_code" jdbcType="VARCHAR"/>
        <result property="chargeName" column="chargeName" jdbcType="VARCHAR"/>
        <result property="outptClassifyName" column="outptClassifyName" jdbcType="VARCHAR"/>
        <result property="outpatientName" column="outpatientName" jdbcType="VARCHAR"/>
        <result property="ageUnitCode" column="ageUnitCode" jdbcType="VARCHAR"/>
    </resultMap>

    <!--通过实体作为筛选条件分页查询-->
    <select id="queryPage" resultMap="OutptRegisterMap">
        select
        opr.id, opr.hosp_code, opr.visit_id,opr.crte_time, opr.register_no, opr.name, opr.gender_code, opr.age, opr.cert_code, opr.cert_no, opr.phone, opr.source_bz_code, opr.visit_code, opr.source_tj_code, opr.source_tj_remark, opr.register_time, opr.cf_id, opr.cq_id, opr.dq_id, opr.dr_id,opr.dept_id, opr.dept_name, opr.doctor_id, opr.doctor_name, opr.is_cancel,
        case when opr.is_first_visit ='1' then '0' else '1' end as is_first_visit,
        opr.is_add,
        ifnull(ors.crte_name,opr.crte_name) as chargeName,ors.status_code,ors.bill_no,ors.settle_time,ors.preferential_price,ors.reality_price,
        ov.patient_code,ov.doctor_name as outpatientName,
        ocf.name as outptClassifyName,ov.age_unit_code as ageUnitCode
        from outpt_register opr
        left join outpt_register_settle ors on opr.hosp_code = ors.hosp_code and opr.id=ors.register_id
        inner join outpt_visit ov on opr.hosp_code =  ov.hosp_code and opr.visit_id = ov.id
        inner join outpt_classify ocf on opr.hosp_code =  ocf.hosp_code and opr.cf_id=ocf.id
       where opr.hosp_code=#{hospCode}
        <if test="keyword != null and keyword != ''">
            and (opr.name like concat('%',#{keyword},'%')
            or ors.crte_name like concat('%',#{keyword},'%')
            )
        </if>
        <if test="crteId != null and crteId != ''">
            and (opr.crte_id = #{crteId}
            or ors.crte_id = #{crteId}
            )
        </if>
        <if test="deptId !=null and deptId != ''">
            and opr.dept_id = #{deptId}
        </if>
        /*开始日期*/
        <if test="startDate != null and startDate != '' ">
            and opr.register_time &gt;= #{startDate}
        </if>
        /*结束日期*/
        <if test="endDate != null and endDate != ''">
            and opr.register_time &lt;= #{endDate}
        </if>
        order by opr.crte_time desc
    </select>

    <!--查询门诊挂号总金额-->
    <select id="queryOutptRegisterSum" resultType="java.util.LinkedHashMap">
        select sum(ors.reality_price) as 'realityPriceSum'
        from outpt_register opr
        left join outpt_register_settle ors on opr.hosp_code = ors.hosp_code and opr.id=ors.register_id
        inner join outpt_visit ov on opr.hosp_code =  ov.hosp_code and opr.visit_id = ov.id
        inner join outpt_classify ocf on opr.hosp_code =  ocf.hosp_code and opr.cf_id=ocf.id
        where opr.hosp_code=#{hospCode}
        <if test="keyword != null and keyword != ''">
            and (opr.name like concat('%',#{keyword},'%')
            or ors.crte_name like concat('%',#{keyword},'%')
            )
        </if>
        <if test="deptId !=null and deptId != ''">
            and opr.dept_id = #{deptId}
        </if>
        /*开始日期*/
        <if test="startDate != null and startDate != '' ">
            and opr.register_time &gt;= #{startDate}
        </if>
        /*结束日期*/
        <if test="endDate != null and endDate != ''">
            and opr.register_time &lt;= #{endDate}
        </if>
        order by opr.crte_time desc
    </select>
</mapper>