<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hsa.module.outpt.medictocare.dao.MedicToCareDAO">

    <resultMap type="cn.hsa.module.outpt.medictocare.dto.MedicToCareDTO" id="OutptMedicalCareApplyMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="hospCode" column="hosp_code" jdbcType="VARCHAR"/>
        <result property="profileId" column="profile_id" jdbcType="VARCHAR"/>
        <result property="visitId" column="visit_id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="genderCode" column="gender_code" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="ageUnitCode" column="age_unit_code" jdbcType="VARCHAR"/>
        <result property="certNo" column="cert_no" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="changeType" column="change_type" jdbcType="VARCHAR"/>
        <result property="careToMedicId" column="care_to_medic_id" jdbcType="VARCHAR"/>
        <result property="visitType" column="visit_type" jdbcType="VARCHAR"/>
        <result property="applyDeptId" column="apply_dept_id" jdbcType="VARCHAR"/>
        <result property="applyCompanyCode" column="apply_company_code" jdbcType="VARCHAR"/>
        <result property="applyCompanyName" column="apply_company_name" jdbcType="VARCHAR"/>
        <result property="hopeInTime" column="hope_in_time" jdbcType="TIMESTAMP"/>
        <result property="applyId" column="apply_id" jdbcType="VARCHAR"/>
        <result property="applyName" column="apply_name" jdbcType="VARCHAR"/>
        <result property="applyTime" column="apply_time" jdbcType="TIMESTAMP"/>
        <result property="isHouse" column="is_house" jdbcType="VARCHAR"/>
        <result property="houseBed" column="house_bed" jdbcType="VARCHAR"/>
        <result property="referralMainSuit" column="referral_main_suit" jdbcType="VARCHAR"/>
        <result property="nusreTypeCode" column="nusre_type_code" jdbcType="VARCHAR"/>
        <result property="diseaseId" column="disease_id" jdbcType="VARCHAR"/>
        <result property="diseaseName" column="disease_name" jdbcType="VARCHAR"/>
        <result property="realityInTime" column="reality_in_time" jdbcType="TIMESTAMP"/>
        <result property="statusCode" column="status_code" jdbcType="VARCHAR"/>
        <result property="visitDeptId" column="visit_dept_id" jdbcType="VARCHAR"/>
        <result property="visitDoctorId" column="visit_doctor_id" jdbcType="VARCHAR"/>
        <result property="visitDoctorName" column="visit_doctor_name" jdbcType="VARCHAR"/>
        <result property="visitTime" column="visit_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="crteId" column="crte_id" jdbcType="VARCHAR"/>
        <result property="crteName" column="crte_name" jdbcType="VARCHAR"/>
        <result property="crteTime" column="crte_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <insert id="insertMedicDate">
        insert into outpt_medical_care_apply(id,hosp_code, org_code,profile_id, visit_id, name, gender_code, age, age_unit_code, cert_no, phone, change_type, care_to_medic_id, visit_type, apply_dept_id, apply_company_code, apply_company_name, hope_in_time, apply_id, apply_name, apply_time, is_house, house_bed, nusre_type_code,disease_id, disease_name,referral_main_suit, reality_in_time, status_code, visit_dept_id, visit_doctor_id, visit_doctor_name, visit_time, remark, crte_id, crte_name, crte_time)
        values (#{id},#{hospCode},#{orgCode}, #{profileId}, #{visitId}, #{name}, #{genderCode}, #{age}, #{ageUnitCode}, #{certNo}, #{phone}, #{changeType}, #{careToMedicId}, #{visitType}, #{applyDeptId}, #{applyCompanyCode}, #{applyCompanyName}, #{hopeInTime}, #{applyId}, #{applyName}, #{applyTime}, #{isHouse}, #{houseBed}, #{nusreTypeCode}, #{diseaseId}, #{diseaseName}, #{referralMainSuit},#{realityInTime}, #{statusCode}, #{visitDeptId}, #{visitDoctorId}, #{visitDoctorName}, #{visitTime}, #{remark}, #{crteId}, #{crteName}, #{crteTime})

    </insert>
    <insert id="insertOutPtInfo">
        insert into outpt_visit
        (
            id, hosp_code, profile_id, out_profile, register_id, register_no, name, gender_code, age, age_unit_code,
            birthday, marry_code, nation_code, cert_code, cert_no, phone, now_address, visit_no, visit_code, patient_code,
            preferential_type_id, source_tj_code, source_tj_remark, insure_code, insure_org_code, insure_no, insure_biz_code, insure_treat_code,
            insure_patient_id, insure_remark, doctor_id, doctor_name, dept_id, dept_name, visit_time, remark,
            pym, wbm, is_visit, tran_in_code, is_first_visit, crte_id, crte_name, crte_time,occupation_code,contact_name
        )
        values
        (
            #{id}, #{hospCode}, #{profileId}, #{outProfile}, #{registerId}, #{registerNo}, #{name}, #{genderCode}, #{age}, #{ageUnitCode},
            #{birthday}, #{marryCode}, #{nationCode}, #{certCode}, #{certNo}, #{phone}, #{nowAddress}, #{visitNo}, #{visitCode}, #{patientCode},
            #{preferentialTypeId}, #{sourceTjCode}, #{sourceTjRemark}, #{insureCode}, #{insureOrgCode}, #{insureNo}, #{insureBizCode}, #{insureTreatCode},
            #{insurePatientId}, #{insureRemark}, #{doctorId}, #{doctorName}, #{deptId}, #{deptName}, #{visitTime}, #{remark},
            #{pym}, #{wbm}, #{isVisit}, #{tranInCode}, #{isFirstVisit}, #{crteId}, #{crteName}, #{crteTime},#{occupationCode},#{contactName}
        )  on duplicate key update pym=#{pym};
    </insert>
    <select id="queryMZPage" resultType="cn.hsa.module.outpt.medictocare.dto.MedicToCareDTO">
        SELECT a.id as visitId,a.visit_no as visitNo,a.name, a.cert_no as certNo ,a.dept_id as visitDeptId,a.dept_name as deptName, '1' as visitType,
               a.profile_id, a.gender_code,a.age,a.age_unit_code, a.phone,a.doctor_id as visitDoctorId, a.doctor_name as visitDoctorName, a.visit_time,
               b.disease_id, (select bd.name from base_disease bd where b.disease_id = bd.id and b.hosp_code = bd.hosp_code) as diseaseName
        from outpt_visit a
        join outpt_diagnose b on a.id = b.visit_id and a.hosp_code = b.hosp_code and b.is_main = '1'
        where a.hosp_code = #{hospCode}
        <if test="certNo != null and certNo != ''">
            and a.cert_no = #{certNo}
        </if>
        <if test="name != null and name != ''">
            and a.name = #{name}
        </if>
        <if test="startDate != null">
            and date(a.visit_time) &gt;=#{startDate}
        </if>
        <if test="endDate != null">
            and date(a.visit_time) &lt;=#{endDate}
        </if>
        <if test="keyword != null and keyword != ''">
            and (a.name like concat('%',#{keyword},'%') or a.cert_no = #{keyword})
        </if>
        order by a.visit_time desc
    </select>
    <select id="queryZYPage" resultType="cn.hsa.module.outpt.medictocare.dto.MedicToCareDTO">
        SELECT a.id as visitId,a.in_no as visitNo, a.name ,a.cert_no as certNo ,a.in_dept_id as visitDeptId,a.in_dept_name as deptName , '2' as visitType,
               a.profile_id,a.gender_code,a.age,a.age_unit_code,a.phone,a.zz_doctor_id as visitDoctorId,a.zz_doctor_name as visitDoctorName, a.in_time as visitTime,
               a.in_disease_id as diseaseId, (select bd.name from base_disease bd where a.in_disease_id = bd.id and a.hosp_code = bd.hosp_code) as diseaseName
        from inpt_visit a
        where a.hosp_code = #{hospCode}
        <if test="certNo != null and certNo != ''">
            and a.cert_no = #{certNo}
        </if>
        <if test="name != null and name != ''">
            and a.name = #{name}
        </if>
        <if test="startDate != null">
            and date(a.in_time) &gt;=#{startDate}
        </if>
        <if test="endDate != null">
            and date(a.in_time) &lt;=#{endDate}
        </if>
        <if test="keyword != null and keyword != ''">
            and (a.name like concat('%',#{keyword},'%') or a.cert_no = #{keyword})
        </if>
        order by a.in_time desc
    </select>
    <select id="queryVisitById" resultType="cn.hsa.module.outpt.medictocare.dto.MedicToCareDTO">
        SELECT
            a.id as visitId,
            a.name,
            a.gender_code as  genderCode,
            a.age,
            a.cert_no as certNo,
            a.phone,
            '1' as changeType,
            a.dept_id as deptId,
            a.dept_name as deptName
        FROM outpt_visit a
        where a.hosp_code = #{hospCode}
          and a.id = #{visitId}

        union all

        SELECT
            a.id as visitId,
            a.name,
            a.gender_code as  genderCode,
            a.age,
            a.cert_no,
            a.phone,
            '2' as changeType,
            a.in_dept_id as deptId,
            a.in_dept_name as deptName
        FROM inpt_visit a
        where a.hosp_code = #{hospCode}
          and a.id = #{visitId}
    </select>
    <!--查询指定行数据-->
    <select id="queryMedicToCareInfoPage" resultType="cn.hsa.module.outpt.medictocare.dto.MedicToCareDTO">
        select
            id, hosp_code, profile_id, visit_id, name, gender_code, age, age_unit_code, cert_no, phone, change_type,
            care_to_medic_id, visit_type, apply_dept_id, (select bd.name from base_dept bd where apply_dept_id = bd.id and hosp_code = bd.hosp_code) as applyDeptName,
            apply_company_code, apply_company_name, hope_in_time, apply_id, apply_name, apply_time, is_house, house_bed, referral_main_suit,nusre_type_code, disease_id,
            disease_name, reality_in_time, status_code, visit_dept_id, visit_doctor_id, visit_doctor_name, visit_time, remark, crte_id, crte_name, crte_time
        from outpt_medical_care_apply a
        <where>
            <if test="keyword != null and keyword != ''">
                and (name like concat('%', #{keyword} , '%') or cert_no = #{keyword})
            </if>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="hospCode != null and hospCode != ''">
                and hosp_code = #{hospCode}
            </if>
            <if test="profileId != null and profileId != ''">
                and profile_id = #{profileId}
            </if>
            <if test="visitId != null and visitId != ''">
                and visit_id = #{visitId}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="genderCode != null and genderCode != ''">
                and gender_code = #{genderCode}
            </if>
            <if test="age != null">
                and age = #{age}
            </if>
            <if test="referralMainSuit != null and referralMainSuit != ''">
                and referral_main_suit = #{referralMainSuit}
            </if>
            <if test="ageUnitCode != null and ageUnitCode != ''">
                and age_unit_code = #{ageUnitCode}
            </if>
            <if test="certNo != null and certNo != ''">
                and cert_no = #{certNo}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="changeType != null and changeType != ''">
                and change_type = #{changeType}
            </if>
            <if test="visitType != null and visitType != ''">
                and visit_type = #{visitType}
            </if>
            <if test="applyDeptId != null and applyDeptId != ''">
                and apply_dept_id = #{applyDeptId}
            </if>
            <if test="applyCompanyCode != null and applyCompanyCode != ''">
                and apply_company_code = #{applyCompanyCode}
            </if>
            <if test="applyCompanyName != null and applyCompanyName != ''">
                and apply_company_name = #{applyCompanyName}
            </if>
            <if test="hopeInTime != null">
                and hope_in_time = #{hopeInTime}
            </if>
            <if test="applyId != null and applyId != ''">
                and apply_id = #{applyId}
            </if>
            <if test="applyName != null and applyName != ''">
                and apply_name = #{applyName}
            </if>
            <if test="applyTime != null">
                and apply_time = #{applyTime}
            </if>
            <if test="isHouse != null and isHouse != ''">
                and is_house = #{isHouse}
            </if>
            <if test="houseBed != null and houseBed != ''">
                and house_bed = #{houseBed}
            </if>
            <if test="nusreTypeCode != null and nusreTypeCode != ''">
                and nusre_type_code = #{nusreTypeCode}
            </if>
            <if test="diseaseId != null and diseaseId != ''">
                disease_id = #{diseaseId},
            </if>
            <if test="diseaseName != null and diseaseName != ''">
                disease_name = #{diseaseName},
            </if>
            <if test="realityInTime != null">
                and reality_in_time = #{realityInTime}
            </if>
            <if test="statusCode != null and statusCode != ''">
                and status_code = #{statusCode}
            </if>
            <if test="visitDeptId != null and visitDeptId != ''">
                and visit_dept_id = #{visitDeptId}
            </if>
            <if test="visitDoctorId != null and visitDoctorId != ''">
                and visit_doctor_id = #{visitDoctorId}
            </if>
            <if test="visitDoctorName != null and visitDoctorName != ''">
                and visit_doctor_name = #{visitDoctorName}
            </if>
            <if test="visitTime != null">
                and visit_time = #{visitTime}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="crteId != null and crteId != ''">
                and crte_id = #{crteId}
            </if>
            <if test="crteName != null and crteName != ''">
                and crte_name = #{crteName}
            </if>
            <if test="crteTime != null">
                and crte_time = #{crteTime}
            </if>
            <if test="keyword != null and keyword != ''">
                and (name like concat('%',#{keyword},'%') or cert_no like concat('%',#{keyword},'%'))
            </if>
            <if test="visitStartTime != null">
                and apply_time &gt;=#{visitStartTime}
            </if>
            <if test="visitEndTime != null">
                and apply_time &lt;=#{visitEndTime}
            </if>
            <if test="startDate != null">
                and apply_time &gt;=#{startDate}
            </if>
            <if test="endDate != null">
                and apply_time &lt;=#{endDate}
            </if>
        </where>
        order by apply_time desc
    </select>
    <select id="getMedicToCareInfoById" resultType="java.util.Map">
            select
                id, hosp_code, profile_id, visit_id, name, gender_code, age, age_unit_code, cert_no, phone, change_type, care_to_medic_id,
                visit_type, apply_dept_id, (select bd.name from base_dept bd where apply_dept_id = bd.id and hosp_code = bd.hosp_code) as applyDeptName,
                apply_company_code, apply_company_name, hope_in_time, apply_id, apply_name, apply_time, is_house,
                house_bed, referral_main_suit, nusre_type_code, disease_id, disease_name, reality_in_time, status_code, visit_dept_id,  (SELECT name from  base_dept where visit_dept_id = id )visit_dept_name,visit_doctor_id,
                (SELECT name from  sys_user where visit_doctor_id = id ) visit_doctor_name, visit_time, remark, crte_id, crte_name, crte_time, if(house_bed is null, '0', '1') is_in,
                case when a.status_code = '1' then '1' else '0' end isVisit
            from outpt_medical_care_apply a
            where id = #{id}
    </select>
    <select id="queryOrgCode" resultType="java.util.Map">
        select a.org_code orgID,
               a.visit_id medical_info_id,
               b.name clinic_dept
        from outpt_medical_care_apply a
        left join base_dept b on a.hosp_code = b.hosp_code and a.visit_dept_id = b.id
        where a.id = #{id} and a.hosp_code = #{hospCode}
    </select>

    <!--通过主键修改数据-->
    <update id="updateMedicToCare">
        update outpt_medical_care_apply
        <set>
            <if test="hospCode != null and hospCode != ''">
                hosp_code = #{hospCode},
            </if>
            <if test="profileId != null and profileId != ''">
                profile_id = #{profileId},
            </if>
            <if test="visitId != null and visitId != ''">
                visit_id = #{visitId},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="genderCode != null and genderCode != ''">
                gender_code = #{genderCode},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="ageUnitCode != null and ageUnitCode != ''">
                age_unit_code = #{ageUnitCode},
            </if>
            <if test="certNo != null and certNo != ''">
                cert_no = #{certNo},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="changeType != null and changeType != ''">
                change_type = #{changeType},
            </if>
            <if test="visitType != null and visitType != ''">
                visit_type = #{visitType},
            </if>
            <if test="referralMainSuit != null and referralMainSuit != ''">
                referral_main_suit = #{referralMainSuit},
            </if>
            <if test="applyDeptId != null and applyDeptId != ''">
                apply_dept_id = #{applyDeptId},
            </if>
            <if test="applyCompanyCode != null and applyCompanyCode != ''">
                apply_company_code = #{applyCompanyCode},
            </if>
            <if test="applyCompanyName != null and applyCompanyName != ''">
                apply_company_name = #{applyCompanyName},
            </if>
            <if test="hopeInTime != null">
                hope_in_time = #{hopeInTime},
            </if>
            <if test="applyId != null and applyId != ''">
                apply_id = #{applyId},
            </if>
            <if test="applyName != null and applyName != ''">
                apply_name = #{applyName},
            </if>
            <if test="applyTime != null">
                apply_time = #{applyTime},
            </if>
            <if test="isHouse != null and isHouse != ''">
                is_house = #{isHouse},
            </if>
            <if test="houseBed != null and houseBed != ''">
                house_bed = #{houseBed},
            </if>
            <if test="nusreTypeCode != null and nusreTypeCode != ''">
                nusre_type_code = #{nusreTypeCode},
            </if>
            <if test="diseaseId != null and diseaseId != ''">
                disease_id = #{diseaseId},
            </if>
            <if test="diseaseName != null and diseaseName != ''">
                disease_name = #{diseaseName},
            </if>
            <if test="realityInTime != null">
                reality_in_time = #{realityInTime},
            </if>
            <if test="statusCode != null and statusCode != ''">
                status_code = #{statusCode},
            </if>
            <if test="visitDeptId != null and visitDeptId != ''">
                visit_dept_id = #{visitDeptId},
            </if>
            <if test="visitDoctorId != null and visitDoctorId != ''">
                visit_doctor_id = #{visitDoctorId},
            </if>
            <if test="visitDoctorName != null and visitDoctorName != ''">
                visit_doctor_name = #{visitDoctorName},
            </if>
            <if test="visitTime != null">
                visit_time = #{visitTime},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="crteId != null and crteId != ''">
                crte_id = #{crteId},
            </if>
            <if test="crteName != null and crteName != ''">
                crte_name = #{crteName},
            </if>
            <if test="crteTime != null">
                crte_time = #{crteTime},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>

