<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hsa.module.interf.inpt.dao.InptMrisInfoDAO">
    <!--基础业务代码查询-->

    <select id="getSysValue" parameterType="java.util.Map" resultType="java.util.Map">
        select
        c_code as code,
        name,
        value
        from
        sys_code_detail
        where hosp_code = #{hospCode}
        and is_valid = '1'
        <if test="data.code != null and data.code != ''">
            and find_in_set(c_code, #{data.code})
        </if>
        <if test="data.value != null and data.value != ''">
            and value = #{data.value}
        </if>
        <if test="data.codeList != null and data.codeList.size() > 0">
            and c_code in
            <foreach collection="data.codeList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        order by seq_no
    </select>
    <select id="getMrisBaseInfo" parameterType="java.util.Map" resultType="java.util.LinkedHashMap">
       select b.visit_id, IFNULL(b.yljg_code,'-')  as A01,
        IFNULL(b.hosp_name,'-') as A02,
        IFNULL(b.in_profile,'-') as A48,
        IFNULL(b.in_cnt,'-') as A49,
        IFNULL(CONCAT("\t",date_format(b.in_time, '%Y-%m-%d')),'-') as B12,
        IFNULL(CONCAT("\t",date_format(b.out_time, '%Y-%m-%d')),'-') as B15,
        IFNULL(b.health_card,'-')  as A47,
        IFNULL(b.pay_way_code,'-') as A46C,
        IFNULL(b.`name`,'-') as A11,
        IFNULL(b.gender_code,'-') as A12C,
        IFNULL(CONCAT("\t",date_format(b.birthday, '%Y-%m-%d')),'-') as A13,
        IFNULL(b.age,'-') as A14,
        IFNULL(b.nationality_cation,'-') as A15C,
        IFNULL(b.marry_code,'-') as A21C,
        IFNULL(b.occupation_code,'-') as A38C,
        IFNULL(b.nation_code,'-') as A19C,
        IFNULL(b.cert_code,'-') as A20N,
        IFNULL(CONCAT("\t",b.cert_no),'-') as A20,
        IFNULL(b.birth_adress,'-')  as A22,
        IFNULL(b.native_place,'-')  as A23C,
        IFNULL(b.native_adress,'-')  as A24,
        IFNULL(b.native_post_code,'-')  as A25C,
        IFNULL(b.now_adress,'-')  as A26,
        IFNULL( CONCAT("\t",b.phone),'-') as A27,
        IFNULL(b.now_post_code,'-')  as A28C,
        IFNULL(b.work_info,'-') as A29,
        IFNULL(CONCAT("\t",b.work_phone),'-') as A30,
        IFNULL(b.work_post_code,'-')  as A31C,
        IFNULL(b.contact_name,'-')  as A32,
        IFNULL(b.contact_rela_code,'-')  as A33C,
        IFNULL(b.contact_address,'-')  as A34,
        IFNULL(CONCAT("\t",b.contact_phone),'-') as A35,
       '1' as B38,
        IFNULL(b.in_way,'-')  as B11C,
        IFNULL(b.in_dept_code,'-') as B13C,
        IFNULL(b.in_bed_name,'-') as B14,
        IFNULL(b.turn_dept_ids,'-') as B21C,
        IFNULL(CONCAT("\t",b.out_dept_id),'-') as B16C,
        IFNULL(b.out_bed_name,'-') as B17,
        IFNULL(b.in_days,'-') as B20,
        IFNULL(b.disease_icd10,'-')  as C01C,
        IFNULL(b.disease_icd10_name,'-')  as C02N,
       '-' as F01,
       '-' as F02C,
       '-' as F03N,
       '-' as F04,
       '-' as C03C,
       '-' as C04N,
       '-' as C05C,
       '-' as F05,
        '' as C06x01C,
        '' as C07x01N,
        '' as C08x01C,
        '' as F06x01,
        '' as C06x02C,
        '' as C07x02N,
        '' as C08x02C,
        '' as F06x02,
        '' as C06x03C,
        '' as C07x03N,
        '' as C08x03C,
        '' as F06x03,
        '' as C06x04C,
        '' as C07x04N,
        '' as C08x04C,
        '' as F06x04,
        '' as C06x05C,
        '' as C07x05N,
        '' as C08x05C,
        '' as F06x05,
        '' as C06x06C,
        '' as C07x06N,
        '' as C08x06C,
        '' as F06x06,
        '' as C06x07C,
        '' as C07x07N,
        '' as C08x07C,
        '' as F06x07,
        '' as C06x08C,
        '' as C07x08N,
        '' as C08x08C,
        '' as F06x08,
        '' as C06x09C,
        '' as C07x09N,
        '' as C08x09C,
        '' as F06x09,
        '' as C06x10C,
        '' as C07x10N,
        '' as C08x10C,
        '' as F06x10,
        '' as C06x11C,
        '' as C07x11N,
        '' as C08x11C,
        '' as F06x11,
        '' as C06x12C,
        '' as C07x12N,
        '' as C08x12C,
        '' as F06x12,
        '' as C06x13C,
        '' as C07x13N,
        '' as C08x13C,
        '' as F06x13,
        '' as C06x14C,
        '' as C07x14N,
        '' as C08x14C,
        '' as F06x14,
        '' as C06x15C,
        '' as C07x15N,
        '' as C08x15C,
        '' as F06x15,
        '' as C06x16C,
        '' as C07x16N,
        '' as C08x16C,
        '' as F06x16,
        '' as C06x17C,
        '' as C07x17N,
        '' as C08x17C,
        '' as F06x17,
        '' as C06x18C,
        '' as C07x18N,
        '' as C08x18C,
        '' as F06x18,
        '' as C06x19C,
        '' as C07x19N,
        '' as C08x19C,
        '' as F06x19,
        '' as C06x20C,
        '' as C07x20N,
        '' as C08x20C,
        '' as F06x20,
        '' as C06x21C,
        '' as C07x21N,
        '' as C08x21C,
        '' as F06x21,
        '' as C06x22C,
        '' as C07x22N,
        '' as C08x22C,
        '' as F06x22,
        '' as C06x23C,
        '' as C07x23N,
        '' as C08x23C,
        '' as F06x23,
        '' as C06x24C,
        '' as C07x24N,
        '' as C08x24C,
        '' as F06x24,
        '' as C06x25C,
        '' as C07x25N,
        '' as C08x25C,
        '' as F06x25,
        '' as C06x26C,
        '' as C07x26N,
        '' as C08x26C,
        '' as F06x26,
        '' as C06x27C,
        '' as C07x27N,
        '' as C08x27C,
        '' as F06x27,
        '' as C06x28C,
        '' as C07x28N,
        '' as C08x28C,
        '' as F06x28,
        '' as C06x29C,
        '' as C07x29N,
        '' as C08x29C,
        '' as F06x29,
        '' as C06x30C,
        '' as C07x30N,
        '' as C08x30C,
        '' as F06x30,
        '' as C06x31C,
        '' as C07x31N,
        '' as C08x31C,
        '' as F06x31,
        '' as C06x32C,
        '' as C07x32N,
        '' as C08x32C,
        '' as F06x32,
        '' as C06x33C,
        '' as C07x33N,
        '' as C08x33C,
        '' as F06x33,
        '' as C06x34C,
        '' as C07x34N,
        '' as C08x34C,
        '' as F06x34,
        '' as C06x35C,
        '' as C07x35N,
        '' as C08x35C,
        '' as F06x35,
        '' as C06x36C,
        '' as C07x36N,
        '' as C08x36C,
        '' as F06x36,
        '' as C06x37C,
        '' as C07x37N,
        '' as C08x37C,
        '' as F06x37,
        '' as C06x38C,
        '' as C07x38N,
        '' as C08x38C,
        '' as F06x38,
        '' as C06x39C,
        '' as C07x39N,
        '' as C08x39C,
        '' as F06x39,
        '' as C06x40C,
        '' as C07x40N,
        '' as C08x40C,
        '' as F06x40,
        IFNULL(b.bl_icd10,'-')  as C09C,
        IFNULL(b.bl_icd10_name ,'-') as C10N,
        IFNULL(b.in_blh,'-')  as C11,
        '-' as F07x01C,
        '-' as F08x01N,
        '-' as F09x01,
        '-' as F07x02C,
        '-' as F08x02N,
        '-' as F09x02,
        IFNULL(b.disease_icd10_other,'-')  as C12C,
        IFNULL(b.damage_reason,'-')  as C13N,
        IFNULL(b.is_allergy,'-')  as C24C,
        IFNULL(b.allergy_list,'-')  as C25,
       '-' as F10,
       '-' as F11,
       '-' as F12,
       '-' as B22C,
        IFNULL(b.director_name1,'-')  as B22,
       '-' as B23C,
        IFNULL(b.director_name2,'-')  as B23,
       '-' as B24C,
        IFNULL(b.zz_doctor_name,'-')  as B24,
       '-' as B25C,
        IFNULL(b.zg_doctor_name,'-')  as B25,
       '-' as B26C,
        IFNULL(b.zr_nurse_name,'-')  as B26,
        IFNULL(b.jx_doctor_name,'-')  as B27,
        IFNULL(b.sx_doctor_name,'-')  as B28,
        IFNULL(b.doctor_coder_name,'-')  as B29,
        IFNULL(b.emr_quality_code,'-')  as B30C,
        IFNULL(b.zk_doctor_name,'-')  as B31,
        IFNULL(b.zk_nurse_name,'-')  as B32,
        IFNULL(CONCAT("\t",date_format(b.zk_time, '%Y-%m-%d')),'-') as B33,
        IFNULL(b.is_autopsy,'-')  as C34C,
        IFNULL(b.blood_code ,'-') as C26C,
        IFNULL(b.rh_code,'-')  as C27C,
     '' as C14x01C,
     '' as C15x01N,
     '' as C16x01,
     '' as C17x01,
     '' as F13,
     '' as C18x01,
     '' as C19x01,
     '' as C20x01,
     '' as C21x01C,
     '' as C22x01C,
     '' as F15,
     '' as C23x01,
     '' as C35x01C,
     '' as C36x01N,
     '' as C37x01,
     '' as C38x01,
     '' as F14x01,
     '' as C39x01,
     '' as C40x01,
     '' as C41x01,
     '' as C42x01C,
     '' as C43x01C,
     '' as F16x01,
     '' as C44x01,
     '' as C35x02C,
     '' as C36x02N,
     '' as C37x02,
     '' as C38x02,
     '' as F14x02,
     '' as C39x02,
     '' as C40x02,
     '' as C41x02,
     '' as C42x02C,
     '' as C43x02C,
     '' as F16x02,
     '' as C44x02,
     '' as C35x03C,
     '' as C36x03N,
     '' as C37x03,
     '' as C38x03,
     '' as F14x03,
     '' as C39x03,
     '' as C40x03,
     '' as C41x03,
     '' as C42x03C,
     '' as C43x03C,
     '' as F16x03,
     '' as C44x03,
     '' as C35x04C,
     '' as C36x04N,
     '' as C37x04,
     '' as C38x04,
     '' as F14x04,
     '' as C39x04,
     '' as C40x04,
     '' as C41x04,
     '' as C42x04C,
     '' as C43x04C,
     '' as F16x04,
     '' as C44x04,
     '' as C35x05C,
     '' as C36x05N,
     '' as C37x05,
     '' as C38x05,
     '' as F14x05,
     '' as C39x05,
     '' as C40x05,
     '' as C41x05,
     '' as C42x05C,
     '' as C43x05C,
     '' as F16x05,
     '' as C44x05,
     '' as C35x06C,
     '' as C36x06N,
     '' as C37x06,
     '' as C38x06,
     '' as F14x06,
     '' as C39x06,
     '' as C40x06,
     '' as C41x06,
     '' as C42x06C,
     '' as C43x06C,
     '' as F16x06,
     '' as C44x06,
     '' as C35x07C,
     '' as C36x07N,
     '' as C37x07,
     '' as C38x07,
     '' as F14x07,
     '' as C39x07,
     '' as C40x07,
     '' as C41x07,
     '' as C42x07C,
     '' as C43x07C,
     '' as F16x07,
     '' as C44x07,

     '' as C35x08C,
     '' as C36x08N,
     '' as C37x08,
     '' as C38x08,
     '' as F14x08,
     '' as C39x08,
     '' as C40x08,
     '' as C41x08,
     '' as C42x08C,
     '' as C43x08C,
     '' as F16x08,
     '' as C44x08,

     '' as C35x09C,
     '' as C36x09N,
     '' as C37x09,
     '' as C38x09,
     '' as F14x09,
     '' as C39x09,
     '' as C40x09,
     '' as C41x09,
     '' as C42x09C,
     '' as C43x09C,
     '' as F16x09,
     '' as C44x09,

     '' as C35x10C,
     '' as C36x10N,
     '' as C37x10,
     '' as C38x10,
     '' as F14x10,
     '' as C39x10,
     '' as C40x10,
     '' as C41x10,
     '' as C42x10C,
     '' as C43x10C,
     '' as F16x10,
     '' as C44x10,

     '' as C35x11C,
     '' as C36x11N,
     '' as C37x11,
     '' as C38x11,
     '' as F14x11,
     '' as C39x11,
     '' as C40x11,
     '' as C41x11,
     '' as C42x11C,
     '' as C43x11C,
     '' as F16x11,
     '' as C44x11,

     '' as C35x12C,
     '' as C36x12N,
     '' as C37x12,
     '' as C38x12,
     '' as F14x12,
     '' as C39x12,
     '' as C40x12,
     '' as C41x12,
     '' as C42x12C,
     '' as C43x12C,
     '' as F16x12,
     '' as C44x12,

     '' as C35x13C,
     '' as C36x13N,
     '' as C37x13,
     '' as C38x13,
     '' as F14x13,
     '' as C39x13,
     '' as C40x13,
     '' as C41x13,
     '' as C42x13C,
     '' as C43x13C,
     '' as F16x13,
     '' as C44x13,

     '' as C35x14C,
     '' as C36x14N,
     '' as C37x14,
     '' as C38x14,
     '' as F14x14,
     '' as C39x14,
     '' as C40x14,
     '' as C41x14,
     '' as C42x14C,
     '' as C43x14C,
     '' as F16x14,
     '' as C44x14,

     '' as C35x15C,
     '' as C36x15N,
     '' as C37x15,
     '' as C38x15,
     '' as F14x15,
     '' as C39x15,
     '' as C40x15,
     '' as C41x15,
     '' as C42x15C,
     '' as C43x15C,
     '' as F16x15,
     '' as C44x15,

     '' as C35x16C,
     '' as C36x16N,
     '' as C37x16,
     '' as C38x16,
     '' as F14x16,
     '' as C39x16,
     '' as C40x16,
     '' as C41x16,
     '' as C42x16C,
     '' as C43x16C,
     '' as F16x16,
     '' as C44x16,

     '' as C35x17C,
     '' as C36x17N,
     '' as C37x17,
     '' as C38x17,
     '' as F14x17,
     '' as C39x17,
     '' as C40x17,
     '' as C41x17,
     '' as C42x17C,
     '' as C43x17C,
     '' as F16x17,
     '' as C44x17,

     '' as C35x18C,
     '' as C36x18N,
     '' as C37x18,
     '' as C38x18,
     '' as F14x18,
     '' as C39x18,
     '' as C40x18,
     '' as C41x18,
     '' as C42x18C,
     '' as C43x18C,
     '' as F16x18,
     '' as C44x18,

     '' as C35x19C,
     '' as C36x19N,
     '' as C37x19,
     '' as C38x19,
     '' as F14x19,
     '' as C39x19,
     '' as C40x19,
     '' as C41x19,
     '' as C42x19C,
     '' as C43x19C,
     '' as F16x19,
     '' as C44x19,

     '' as C35x20C,
     '' as C36x20N,
     '' as C37x20,
     '' as C38x20,
     '' as F14x20,
     '' as C39x20,
     '' as C40x20,
     '' as C41x20,
     '' as C42x20C,
     '' as C43x20C,
     '' as F16x20,
     '' as C44x20,

     '' as C35x21C,
     '' as C36x21N,
     '' as C37x21,
     '' as C38x21,
     '' as F14x21,
     '' as C39x21,
     '' as C40x21,
     '' as C41x21,
     '' as C42x21C,
     '' as C43x21C,
     '' as F16x21,
     '' as C44x21,

     '' as C35x22C,
     '' as C36x22N,
     '' as C37x22,
     '' as C38x22,
     '' as F14x22,
     '' as C39x22,
     '' as C40x22,
     '' as C41x22,
     '' as C42x22C,
     '' as C43x22C,
     '' as F16x22,
     '' as C44x22,

     '' as C35x23C,
     '' as C36x23N,
     '' as C37x23,
     '' as C38x23,
     '' as F14x23,
     '' as C39x23,
     '' as C40x23,
     '' as C41x23,
     '' as C42x23C,
     '' as C43x23C,
     '' as F16x23,
     '' as C44x23,

     '' as C35x24C,
     '' as C36x24N,
     '' as C37x24,
     '' as C38x24,
     '' as F14x24,
     '' as C39x24,
     '' as C40x24,
     '' as C41x24,
     '' as C42x24C,
     '' as C43x24C,
     '' as F16x24,
     '' as C44x24,

     '' as C35x25C,
     '' as C36x25N,
     '' as C37x25,
     '' as C38x25,
     '' as F14x25,
     '' as C39x25,
     '' as C40x25,
     '' as C41x25,
     '' as C42x25C,
     '' as C43x25C,
     '' as F16x25,
     '' as C44x25,

     '' as C35x26C,
     '' as C36x26N,
     '' as C37x26,
     '' as C38x26,
     '' as F14x26,
     '' as C39x26,
     '' as C40x26,
     '' as C41x26,
     '' as C42x26C,
     '' as C43x26C,
     '' as F16x26,
     '' as C44x26,

     '' as C35x27C,
     '' as C36x27N,
     '' as C37x27,
     '' as C38x27,
     '' as F14x27,
     '' as C39x27,
     '' as C40x27,
     '' as C41x27,
     '' as C42x27C,
     '' as C43x27C,
     '' as F16x27,
     '' as C44x27,

     '' as C35x28C,
     '' as C36x28N,
     '' as C37x28,
     '' as C38x28,
     '' as F14x28,
     '' as C39x28,
     '' as C40x28,
     '' as C41x28,
     '' as C42x28C,
     '' as C43x28C,
     '' as F16x28,
     '' as C44x28,

     '' as C35x29C,
     '' as C36x29N,
     '' as C37x29,
     '' as C38x29,
     '' as F14x29,
     '' as C39x29,
     '' as C40x29,
     '' as C41x29,
     '' as C42x29C,
     '' as C43x29C,
     '' as F16x29,
     '' as C44x29,

     '' as C35x30C,
     '' as C36x30N,
     '' as C37x30,
     '' as C38x30,
     '' as F14x30,
     '' as C39x30,
     '' as C40x30,
     '' as C41x30,
     '' as C42x30C,
     '' as C43x30C,
     '' as F16x30,
     '' as C44x30,

     '' as C35x31C,
     '' as C36x31N,
     '' as C37x31,
     '' as C38x31,
     '' as F14x31,
     '' as C39x31,
     '' as C40x31,
     '' as C41x31,
     '' as C42x31C,
     '' as C43x31C,
     '' as F16x31,
     '' as C44x31,

     '' as C35x32C,
     '' as C36x32N,
     '' as C37x32,
     '' as C38x32,
     '' as F14x32,
     '' as C39x32,
     '' as C40x32,
     '' as C41x32,
     '' as C42x32C,
     '' as C43x32C,
     '' as F16x32,
     '' as C44x32,

     '' as C35x33C,
     '' as C36x33N,
     '' as C37x33,
     '' as C38x33,
     '' as F14x33,
     '' as C39x33,
     '' as C40x33,
     '' as C41x33,
     '' as C42x33C,
     '' as C43x33C,
     '' as F16x33,
     '' as C44x33,

     '' as C35x34C,
     '' as C36x34N,
     '' as C37x34,
     '' as C38x34,
     '' as F14x34,
     '' as C39x34,
     '' as C40x34,
     '' as C41x34,
     '' as C42x34C,
     '' as C43x34C,
     '' as F16x34,
     '' as C44x34,

     '' as C35x35C,
     '' as C36x35N,
     '' as C37x35,
     '' as C38x35,
     '' as F14x35,
     '' as C39x35,
     '' as C40x35,
     '' as C41x35,
     '' as C42x35C,
     '' as C43x35C,
     '' as F16x35,
     '' as C44x35,

     '' as C35x36C,
     '' as C36x36N,
     '' as C37x36,
     '' as C38x36,
     '' as F14x36,
     '' as C39x36,
     '' as C40x36,
     '' as C41x36,
     '' as C42x36C,
     '' as C43x36C,
     '' as F16x36,
     '' as C44x36,

     '' as C35x37C,
     '' as C36x37N,
     '' as C37x37,
     '' as C38x37,
     '' as F14x37,
     '' as C39x37,
     '' as C40x37,
     '' as C41x37,
     '' as C42x37C,
     '' as C43x37C,
     '' as F16x37,
     '' as C44x37,

     '' as C35x38C,
     '' as C36x38N,
     '' as C37x38,
     '' as C38x38,
     '' as F14x38,
     '' as C39x38,
     '' as C40x38,
     '' as C41x38,
     '' as C42x38C,
     '' as C43x38C,
     '' as F16x38,
     '' as C44x38,

     '' as C35x39C,
     '' as C36x39N,
     '' as C37x39,
     '' as C38x39,
     '' as F14x39,
     '' as C39x39,
     '' as C40x39,
     '' as C41x39,
     '' as C42x39C,
     '' as C43x39C,
     '' as F16x39,
     '' as C44x39,

     '' as C35x40C,
     '' as C36x40N,
     '' as C37x40,
     '' as C38x40,
     '' as F14x40,
     '' as C39x40,
     '' as C40x40,
     '' as C41x40,
     '' as C42x40C,
     '' as C43x40C,
     '' as F16x40,
     '' as C44x40,
       '-' as F17,
       '-' as F18,
       '-' as F19,
       '-' as F20,
       '-' as F21,
       '-' as F22,
       '-' as F23,
       '-' as F24,
       '-' as F25,
       '-' as F26,
        IFNULL(b.baby_age_month,'-')  as A16,
        IFNULL(b.baby_in_weight,'-')  as A17,
        IFNULL(b.baby_birth_weight,'-')  as A18x01,
        '-' as A18x02,
        '-' as A18x03,
        '-' as A18x04,
        '-' as A18x05,
        IFNULL(b.inpt_before_day,'-')  as C28,
        IFNULL(b.inpt_before_hour,'-')  as C29,
        IFNULL(b.inpt_before_minute,'-')  as C30,
        IFNULL(b.inpt_last_day,'-')  as C31,
        IFNULL(b.inpt_last_hour,'-')  as C32,
        IFNULL(b.inpt_last_minute ,'-') as C33,
        '-' as C47,
        '-' as C48x01C,
        '-' as C49x01,
        '-' as C50x01,
        '-' as C48x02C,
        '-' as C49x02,
        '-' as C50x02,
        '-' as C48x03C,
        '-' as C49x03,
        '-' as C50x03,
        '-' as C48x04C,
        '-' as C49x04,
        '-' as C50x04,
        '-' as C48x05C,
        '-' as C49x05,
        '-' as C50x05,
        IFNULL(b.is_inpt,'-')  as B36C,
        IFNULL(b.aim,'-')  as B37,
        IFNULL(b.out_mode_code,'-') as B34C,
        IFNULL(b.turn_org_name,'-')  as B35,
        IFNULL(c.fy01,0) as D01,
        IFNULL(c.fy07,0)  as D09,
        IFNULL(c.zhylfwl01,0)  as D11,
        IFNULL(c.zhylfwl02,0)  as D12,
        IFNULL(c.zhylfwl03,0)  as D13,
        IFNULL(c.zhylfwl04,0)  as D14,
        IFNULL(c.zdl01,0)  as D15,
        IFNULL(c.zdl02,0)  as D16,
        IFNULL(c.zdl03,0) as D17,
        IFNULL(c.zdl04,0)  as D18,
        IFNULL(c.zll01,0)  as D19,
        IFNULL(c.zll02 ,0) as D19x01,
        IFNULL(c.zll03,0) as D20,
        IFNULL(c.zll04,0) as D20x01,
        IFNULL(c.zll05,0) as D20x02,
        IFNULL(c.kfl01,0) as D21,
        IFNULL(c.zyl01,0) as D22,
        IFNULL(c.fy02,0) as D23,
        IFNULL(c.xyl01,0)  as D23x01,
        IFNULL(c.fy04,0) as D24,
        IFNULL(c.fy05,0) as D25,
        IFNULL(c.xyzpl01,0) as D26,
        IFNULL(c.xyzpl02,0)  as D27,
        IFNULL(c.xyzpl03,0)  as D28,
        IFNULL(c.xyzpl04,0) as D29,
        0 as D30,
        IFNULL(c.hcl01,0) as D31,
        IFNULL( c.hcl02,0) as D32,
        IFNULL(c.hcl03,0) as D33,
        IFNULL(c.hcl03,0) as D33,
        IFNULL(c.fy06,0) as D34
       from mris_base_info b LEFT JOIN mris_cost c on b.hosp_code = c.hosp_code and  b.visit_id = c.visit_id
       where b.hosp_code= #{hospCode} and b.in_profile IS NOT NULL AND b.out_time IS NOT NULL
       <if test="visitId!=null and visitId!=''">
          and b.visit_id =#{visitId}
       </if>
       <if test="offset!=null and limit!=null">
          limit #{offset}, #{limit}
       </if>
    </select>
   <select id="getMrisDiagnose" resultType="java.util.Map" parameterType="java.util.Map">
      select disease_code,disease_code2,in_situation_code1,in_situation_code2,disease_icd10_1,disease_icd10_2,disease_icd10_name1,disease_icd10_name2
      from mris_diagnose where visit_id =#{visitId} and hosp_code =#{hospCode}
   </select>
   <select id="getMrisOperInfo" resultType="java.util.Map" parameterType="java.util.Map">
      select oper_disease_icd9,oper_disease_name,oper_time,oper_code,oper_doctor_name,assistant_name1,assistant_name2,
      heal_code,ana_code,ana_name1
      from mris_oper_info where visit_id =#{visitId} and hosp_code =#{hospCode}
   </select>

 <!-- 根据类型查询配置-->
 <select id="queryUploadType" parameterType="map" resultType="map">
  select * from  upload_type where valid_flage ='0' and hosp_code =#{hospCode} and type=#{type} limit 1
 </select>

 <!-- 根据sql查询数据-->
 <select id="queryData" parameterType="string" resultType="java.util.LinkedHashMap">
        ${sql}
    </select>
</mapper>
