<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hsa.module.payment.dao.PaymentSettleDAO">

    <resultMap type="cn.hsa.module.payment.entity.PaymentSettleDO" id="PaymentSettleMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="hospCode" column="hosp_code" jdbcType="VARCHAR"/>
        <result property="visitId" column="visit_id" jdbcType="VARCHAR"/>
        <result property="settleId" column="settle_id" jdbcType="VARCHAR"/>
        <result property="paymentSettleId" column="payment_settle_id" jdbcType="VARCHAR"/>
        <result property="visitNo" column="visit_no" jdbcType="VARCHAR"/>
        <result property="totalPrice" column="total_price" jdbcType="NUMERIC"/>
        <result property="paymentPrice" column="payment_price" jdbcType="NUMERIC"/>
        <result property="payCode" column="pay_code" jdbcType="VARCHAR"/>
        <result property="statusCode" column="status_code" jdbcType="VARCHAR"/>
        <result property="omsgid" column="omsgid" jdbcType="VARCHAR"/>
        <result property="oinfno" column="oinfno" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="crteId" column="crte_id" jdbcType="VARCHAR"/>
        <result property="crteName" column="crte_name" jdbcType="VARCHAR"/>
        <result property="crteTime" column="crte_time" jdbcType="TIMESTAMP"/>
        <result property="settleCode" column="settle_code" jdbcType="VARCHAR"/>
        <result property="oneSettleId" column="one_settle_id" jdbcType="VARCHAR"/>
        <result property="redId" column="red_id" jdbcType="VARCHAR"/>
        <result property="oldSettleId" column="old_settle_id" jdbcType="VARCHAR"/>
        <result property="settleTime" column="settle_time" jdbcType="TIMESTAMP"/>
        <result property="settleNo" column="settle_no" jdbcType="VARCHAR"/>
        <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="PaymentSettleMap">
        select
          id, hosp_code, visit_id, settle_id, payment_settle_id, visit_no, total_price, payment_price, pay_code, status_code, omsgid, oinfno, remark, crte_id, crte_name, crte_time, settle_code, one_settle_id, red_id, old_settle_id, settle_time,settle_no,order_no
        from payment_settle
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllPaymentSettle" resultMap="PaymentSettleMap">
        select
        id, hosp_code, visit_id, settle_id, payment_settle_id, visit_no, total_price, payment_price, pay_code,
        status_code, omsgid, oinfno, remark, crte_id, crte_name, crte_time, settle_code, one_settle_id, red_id,
        old_settle_id, settle_time,is_settle,settle_no,order_no
        from payment_settle
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="hospCode != null and hospCode != ''">
                and hosp_code = #{hospCode}
            </if>
            <if test="visitId != null and visitId != ''">
                and visit_id = #{visitId}
            </if>
            <if test="settleId != null and settleId != ''">
                and settle_id = #{settleId}
            </if>
            <if test="paymentSettleId != null and paymentSettleId != ''">
                and payment_settle_id = #{paymentSettleId}
            </if>
            <if test="visitNo != null and visitNo != ''">
                and visit_no = #{visitNo}
            </if>
            <if test="totalPrice != null">
                and total_price = #{totalPrice}
            </if>
            <if test="paymentPrice != null">
                and payment_price = #{paymentPrice}
            </if>
            <if test="payCode != null and payCode != ''">
                and pay_code = #{payCode}
            </if>
            <if test="statusCode != null and statusCode != ''">
                and status_code = #{statusCode}
            </if>
            <if test="omsgid != null and omsgid != ''">
                and omsgid = #{omsgid}
            </if>
            <if test="oinfno != null and oinfno != ''">
                and oinfno = #{oinfno}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="crteId != null and crteId != ''">
                and crte_id = #{crteId}
            </if>
            <if test="crteName != null and crteName != ''">
                and crte_name = #{crteName}
            </if>
            <if test="crteTime != null">
                and crte_time = #{crteTime}
            </if>
            <if test="settleCode != null and settleCode != ''">
                and settle_code = #{settleCode}
            </if>
            <if test="oneSettleId != null and oneSettleId != ''">
                and one_settle_id = #{oneSettleId}
            </if>
            <if test="redId != null and redId != ''">
                and red_id = #{redId}
            </if>
            <if test="oldSettleId != null and oldSettleId != ''">
                and old_settle_id = #{oldSettleId}
            </if>
            <if test="settleTime != null">
                and settle_time = #{settleTime}
            </if>
            <if test="isSettle != null and isSettle != ''">
                and is_settle = #{isSettle}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from payment_settle
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="hospCode != null and hospCode != ''">
                and hosp_code = #{hospCode}
            </if>
            <if test="visitId != null and visitId != ''">
                and visit_id = #{visitId}
            </if>
            <if test="settleId != null and settleId != ''">
                and settle_id = #{settleId}
            </if>
            <if test="paymentSettleId != null and paymentSettleId != ''">
                and payment_settle_id = #{paymentSettleId}
            </if>
            <if test="visitNo != null and visitNo != ''">
                and visit_no = #{visitNo}
            </if>
            <if test="totalPrice != null">
                and total_price = #{totalPrice}
            </if>
            <if test="paymentPrice != null">
                and payment_price = #{paymentPrice}
            </if>
            <if test="payCode != null and payCode != ''">
                and pay_code = #{payCode}
            </if>
            <if test="statusCode != null and statusCode != ''">
                and status_code = #{statusCode}
            </if>
            <if test="omsgid != null and omsgid != ''">
                and omsgid = #{omsgid}
            </if>
            <if test="oinfno != null and oinfno != ''">
                and oinfno = #{oinfno}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="crteId != null and crteId != ''">
                and crte_id = #{crteId}
            </if>
            <if test="crteName != null and crteName != ''">
                and crte_name = #{crteName}
            </if>
            <if test="crteTime != null">
                and crte_time = #{crteTime}
            </if>
            <if test="settleCode != null and settleCode != ''">
                and settle_code = #{settleCode}
            </if>
            <if test="oneSettleId != null and oneSettleId != ''">
                and one_settle_id = #{oneSettleId}
            </if>
            <if test="redId != null and redId != ''">
                and red_id = #{redId}
            </if>
            <if test="oldSettleId != null and oldSettleId != ''">
                and old_settle_id = #{oldSettleId}
            </if>
            <if test="settleTime != null">
                and settle_time = #{settleTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert">
        insert into payment_settle(id,hosp_code, visit_id, settle_id, payment_settle_id, visit_no, total_price, payment_price, pay_code, status_code, omsgid, oinfno, remark, crte_id, crte_name, crte_time, settle_code, one_settle_id, red_id, old_settle_id, settle_time,is_settle,settle_no,order_no)
        values (#{id},#{hospCode}, #{visitId}, #{settleId}, #{paymentSettleId}, #{visitNo}, #{totalPrice}, #{paymentPrice}, #{payCode}, #{statusCode}, #{omsgid}, #{oinfno}, #{remark}, #{crteId}, #{crteName}, #{crteTime}, #{settleCode}, #{oneSettleId}, #{redId}, #{oldSettleId}, #{settleTime},#{isSettle},
        #{settleNo},#{orderNo})
    </insert>

    <insert id="insertBatch">
        insert into payment_settle(id,osp_code, visit_id, settle_id, payment_settle_id, visit_no, total_price,
        payment_price, pay_code, status_code, omsgid, oinfno, remark, crte_id, crte_name, crte_time, settle_code,
        one_settle_id, red_id, old_settle_id, settle_time,is_settle,settle_no,order_no)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id},#{entity.hospCode}, #{entity.visitId}, #{entity.settleId}, #{entity.paymentSettleId}, #{entity.visitNo},
            #{entity.totalPrice}, #{entity.paymentPrice}, #{entity.payCode}, #{entity.statusCode}, #{entity.omsgid},
            #{entity.oinfno}, #{entity.remark}, #{entity.crteId}, #{entity.crteName}, #{entity.crteTime},
            #{entity.settleCode}, #{entity.oneSettleId}, #{entity.redId}, #{entity.oldSettleId}, #{entity.settleTime},#{entity.isSettle},
            #{entity.settleNo},#{entity.orderNo})
        </foreach>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update payment_settle
        <set>
            <if test="hospCode != null and hospCode != ''">
                hosp_code = #{hospCode},
            </if>
            <if test="paymentSettleId != null and paymentSettleId != ''">
                payment_settle_id = #{paymentSettleId},
            </if>
            <if test="visitNo != null and visitNo != ''">
                visit_no = #{visitNo},
            </if>
            <if test="totalPrice != null">
                total_price = #{totalPrice},
            </if>
            <if test="paymentPrice != null">
                payment_price = #{paymentPrice},
            </if>
            <if test="payCode != null and payCode != ''">
                pay_code = #{payCode},
            </if>
            <if test="statusCode != null and statusCode != ''">
                status_code = #{statusCode},
            </if>
            <if test="omsgid != null and omsgid != ''">
                omsgid = #{omsgid},
            </if>
            <if test="oinfno != null and oinfno != ''">
                oinfno = #{oinfno},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="crteId != null and crteId != ''">
                crte_id = #{crteId},
            </if>
            <if test="crteName != null and crteName != ''">
                crte_name = #{crteName},
            </if>
            <if test="crteTime != null">
                crte_time = #{crteTime},
            </if>
            <if test="settleCode != null and settleCode != ''">
                settle_code = #{settleCode},
            </if>
            <if test="oneSettleId != null and oneSettleId != ''">
                one_settle_id = #{oneSettleId},
            </if>
            <if test="redId != null and redId != ''">
                red_id = #{redId},
            </if>
            <if test="oldSettleId != null and oldSettleId != ''">
                old_settle_id = #{oldSettleId},
            </if>
            <if test="settleTime != null">
                settle_time = #{settleTime},
            </if>
            <if test="isSettle != null and isSettle != ''">
                is_settle = #{isSettle},
            </if>
            <if test="settleNo != null and settleNo != ''">
                settle_no = #{settleNo},
            </if>
            <if test="orderNo != null and orderNo != ''">
                order_no = #{orderNo},
            </if>
        </set>
        where hosp_code =#{hospCode}
        and settle_id =#{settleId}
        and visit_id =#{visitId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from payment_settle where id = #{id}
    </delete>
        <!--根据就诊id 医院编码 结算id查询诊间支付结算信息-->
    <select id="quyeryPaymentInfoByCondition" parameterType="cn.hsa.module.payment.dto.PaymentSettleDTO" resultType="cn.hsa.module.payment.dto.PaymentSettleDTO">
        select
          id, hosp_code, visit_id, settle_id, payment_settle_id, visit_no, total_price, payment_price, pay_code, status_code, omsgid, oinfno, remark, crte_id, crte_name, crte_time,settle_no,order_no
        from payment_settle
        where hosp_code =#{hospCode}
        and settle_id =#{settleId}
        and visit_id =#{visitId}
        and settle_code ='1'
    </select>

  <select id="queryPaymentBillList" resultType="java.util.Map" parameterType="cn.hsa.module.payment.dto.PaymentSettleDTO">
      select
      ifnull(sum(b.total_price),0.00) as totalPrice,
      ifnull(sum(ps.payment_price),0.00) as paymentPrice,
      ps.pay_code as payCode,
      count(1) as totalBillNum
      from
      outpt_visit a
      join  outpt_settle b on a.id =b.visit_id  and a.hosp_code = b.hosp_code
      join payment_settle ps on ps.settle_id = b.id and ps.hosp_code = b.hosp_code
      where
      b.is_settle ='1'
      and b.status_code ='0'
      and ps.settle_code ='2'
      and ps.status_code ='0'
      /*开始日期*/
      <if test="startTime != null and startTime != '' ">
          and date(pa.settle_time) &gt;= date(#{startTime})
      </if>
      /*结束日期*/
      <if test="endTime != null and endTime != ''">
          and date(ps.settle_time) &lt;= date(#{endTime})
      </if>
      /*支付类型*/
      <if test="payCode != null and payCode != ''">
          and ps.pay_code =#{PayCode}
      </if>
      group by ps.pay_code
  </select>
   <select id="queryPaymentBillDetailList" resultType="java.util.Map" parameterType="cn.hsa.module.payment.dto.PaymentSettleDTO">
       select
      a.id as visitId,
      a.visit_no as visitNo,
      b.settle_no as settleNo,
      b.id as settleId,
      ps.payment_settle_id as paymentSettleId,
      ps.total_price as totalPrice,
      ps.payment_price as paymentPrice,
      ps.pay_code as payCode
      from
      outpt_visit a
      join  outpt_settle b on a.id =b.visit_id  and a.hosp_code = b.hosp_code
      join payment_settle ps on ps.settle_id = b.id and ps.hosp_code = b.hosp_code
      where
      b.is_settle ='1'
      and b.status_code ='0'
      and ps.settle_code ='2'
      and ps.status_code ='0'
      and ps.settle_time
      and ps.pay_code =#{PayCode}
       /*开始日期*/
       <if test="startTime != null and startTime != '' ">
           and date(pa.settle_time) &gt;= date(#{startTime})
       </if>
       /*结束日期*/
       <if test="endTime != null and endTime != ''">
           and date(ps.settle_time) &lt;= date(#{endTime})
       </if>
      group by b.id
   </select>

    <!--查询一种支付方式的总账单-->
    <select id="queryPaymentBillInfo" resultType="java.util.Map" parameterType="cn.hsa.module.payment.dto.PaymentSettleDTO">
        select
        ifnull(sum(b.total_price),0.00) as totalPrice,
        ifnull(sum(ps.payment_price),0.00) as paymentPrice,
        ps.pay_code as payCode,
        count(1) as totalBillNum
        from
        outpt_visit a
        join  outpt_settle b on a.id =b.visit_id  and a.hosp_code = b.hosp_code
        join payment_settle ps on ps.settle_id = b.id and ps.hosp_code = b.hosp_code
        where
        b.is_settle ='1'
        and b.status_code ='0'
        and ps.settle_code ='2'
        and ps.status_code ='0'
        and ps.pay_code =#{PayCode}
        /*开始日期*/
        <if test="startTime != null and startTime != '' ">
            and date(pa.settle_time) &gt;= date(#{startTime})
        </if>
        /*结束日期*/
        <if test="endTime != null and endTime != ''">
            and date(ps.settle_time) &lt;= date(#{endTime})
        </if>
    </select>

    <!--删除试算产生的脏数据-->
    <delete id="delOutptPaymentSettleByParam" parameterType="java.util.Map">
        DELETE
        FROM
          payment_settle
        WHERE
        hosp_code = #{hospCode}
        AND visit_id = #{visitId}
        AND is_settle = #{isSettle}
        AND status_code = #{statusCode}
        AND settle_code = '0'
    </delete>

    <select id="queryPaymentSettle" parameterType="cn.hsa.module.payment.dto.PaymentSettleDTO" resultType="cn.hsa.module.payment.dto.PaymentSettleDTO">
        select  id, hosp_code, visit_id, settle_id, payment_settle_id, visit_no, total_price, payment_price, pay_code, status_code, omsgid, oinfno, remark, crte_id, crte_name, crte_time,
        settle_code, one_settle_id, red_id, old_settle_id, settle_time, is_settle,settle_no,order_no
        from payment_settle
        where hosp_code =#{hospCode}
        and visit_id =#{visitId}
        and settle_id =#{settleId}
        and status_code ='0'
    </select>

</mapper>

