<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hsa.module.interf.healthInfo.dao.DrugBusinessDAO">

    <!--诊后随访表-->
    <select id="getTbZhsfData" resultType="cn.hsa.module.interf.healthInfo.entity.TbZhsfDO">
        select * from (
            select
            '' as YLJGDM,
            '' as YLJGMC ,
            '' as SSDH,
            '' as SFLX,
            '' as SFFS,
            '' as JZKSBM,
            '' as JZKSMC,
            '' as JZSJ,
            '' as JZJLLSH,
            '' as XM,
            '' as SFZHM,
            '' as XBDM,
            '' as NL,
            '' as ZDBM,
            '' as ZDMC,
            '' as LXDH,
            '' as SFSJ,
            '' as SFYSBM,
            '' as SFYSXM,
            '' as SFJG
            from
            base_assist ba where 1=2
        ) a where a.YLJGDM = #{hospCode}
        <if test="startTime != null and startTime != ''">
            and date(a.sfsj) &gt;= date(#{startTime})
        </if>
        <if test="endTime != null and endTime != ''">
            and date(a.sfsj) &lt;= date(#{endTime})
        </if>


    </select>
    <!--药品出入库信息-->
    <select id="getTbYprkxxData" resultType="cn.hsa.module.interf.healthInfo.entity.TbYprkxxDO">
        select * from (
            select
            so.hosp_code as YLJGDM ,
            sod.id as CRKMXXH,
            '1' as CRKBZ,
            -- 1出库,2入库
            '' as SZBWLSH,
            bd.code as YPBM,
            bd.usual_name as YPMC,
            bd.good_name as YPSPMC,
            '' as FPH,
            '' as KPRQ ,
            '' as DPRQ,
            bd.dan as PZWH,
            null as SCRQ,
            sod.expiry_date as YXQ,
            sod.buy_price_all as PFJ,
            sod.sell_price_all as LSJ,
            sod.buy_price_all as GJJ ,
            sod.buy_price_all * sod.num as GJZJE,
            sod.num as SL,
            '' as JYQKC,
            '' as JYHKC,
            '' as GFJYQKC,
            '' as GFJYHKC,
            '' as GFJYSDW ,
            '' as XFJYQKC,
            '' as XFJYHKC,
            '' as XFJYSJ,
            so.crte_time as CRKSJ,
            so.crte_id as CZRYBM,
            so.crte_name as CZRYXM
            from
            stro_out so,
            stro_out_detail sod ,
            base_drug bd
            where
            so.hosp_code = sod.hosp_code
            and so.id = sod.out_id
            and sod.hosp_code = bd.hosp_code
            and sod.item_id = bd.id
            and so.out_code in ('4', '5')
            union
            select
            sin.hosp_code as YLJGDM ,
            sid.id as CRKMXXH,
            '2' as CRKBZ,
            -- 1出库,2入库
            '' as SZBWLSH,
            bd.code as YPBM,
            bd.usual_name as YPMC,
            bd.good_name as YPSPMC,
            '' as FPH,
            '' as KPRQ ,
            '' as DPRQ,
            bd.dan as PZWH,
            null as SCRQ,
            sid.expiry_date as YXQ,
            sid.buy_price_all as PFJ,
            sid.sell_price_all as LSJ,
            sid.buy_price_all as GJJ ,
            sid.buy_price_all * sid.num as GJZJE,
            sid.num as SL,
            '' as JYQKC,
            '' as JYHKC,
            '' as GFJYQKC,
            '' as GFJYHKC,
            '' as GFJYSDW ,
            '' as XFJYQKC,
            '' as XFJYHKC,
            '' as XFJYSJ,
            sin.crte_time as CRKSJ,
            sin.crte_id as CZRYBM,
            sin.crte_name as CZRYXM
            from
            stro_in sin,
            stro_in_detail sid ,
            base_drug bd
            where
            sin.hosp_code = sid.hosp_code
            and sin.id = sid.in_id
            and sid.hosp_code = bd.hosp_code
            and sid.item_id = bd.id
            and sin.in_code in ('2', '1')
        )a where a.YLJGDM = #{hospCode}
        <if test="startTime != null and startTime != ''">
            and date(a.CRKSJ) &gt;= date(#{startTime})
        </if>
        <if test="endTime != null and endTime != ''">
            and date(a.CRKSJ) &lt;= date(#{endTime})
        </if>
    </select>
    <!--药品库存信息-->
    <select id="getTbYpkcxxData" resultType="cn.hsa.module.interf.healthInfo.entity.TbYpkcxxDO">
        select * from (
            select
            ss.hosp_code as YLJGDM,
            ssd.item_id ,
            bd.code as YPBM,
            (select bde.name from base_dept bde where ss.hosp_code = bde.hosp_code and ss.biz_id = bde.id) as KCWZ,
            '' as SZBWLSH,
            bd.usual_name as YPMC,
            bd.good_name as YPSPMC,
            (select bp.name from base_product bp where bd.hosp_code = bp.hosp_code and bd.prod_code = bp.code) as SCQY,
            bd.spec as GG,
            sum(ssd.num) as BZSL,
            ssd.unit_code as DW,
            sum(ssd.num) as KCSL,
            ss.stock_max as ZDCL,
            null as BJCL,
            ss.stock_min as ZXCL,
            ssd.buy_price_all as PFJ,
            ssd.sell_price_all as LSJ,
            ssd.expiry_date as SXRQ
            from
            stro_stock ss,
            stro_stock_detail ssd,
            base_drug bd
            where
            ss.item_id = ssd.item_id
            and ss.hosp_code = ssd.hosp_code
            and ss.hosp_code = bd.hosp_code
            and ss.item_id = bd.id
            group by
            ss.hosp_code,
            bd.code ,
            bd.usual_name,
            bd.good_name,
            bd.spec,
            ssd.unit_code,
            ss.stock_max,
            ss.stock_min,
            ssd.buy_price_all,
            ssd.sell_price_all,
            ssd.expiry_date
        )a where a.YLJGDM = #{hospCode}
        <if test="startTime != null and startTime != ''">
            and date(a.SXRQ) &gt;= date(#{startTime})
        </if>
        <if test="endTime != null and endTime != ''">
            and date(a.SXRQ) &lt;= date(#{endTime})
        </if>
    </select>

    <!--药品销售信息-->
    <select id="getTbYpxxssData" resultType="cn.hsa.module.interf.healthInfo.entity.TbYpxxssDO">
        select * from (
            select
            ic.hosp_code yljgdm,
            bd.code ypdm,
            ic.visit_id jzh,
            '2' ywlx,
            ic.phar_id yfdm,
            '' szbwlsh,
            bd.usual_name ypmc,
            bd.good_name spm,
            bp.name scqy,
            bd.prep_code ypjxms,
            bd.spec ypgg,
            ic.total_num bzl,
            ic.total_num_unit_code dw,
            '' cgj,
            ic.price xsjg,
            ic.total_num xssl,
            ic.total_price xsje,
            ( case when bd.ph_code ='1' then '2'
            when bd.ph_code ='2' then '3'
            when bd.ph_code ='3' or bd.ph_code ='6'  then '4'
            when bd.ph_code ='4' then '5'
            when bd.ph_code ='5' then '1' end) ypsx,
            null xplx,
            (case when bd.antibacterial_code is not null then '1' else '0' end) kjybz,
            bd.durg_code kjyjb,
            ic.cost_time xssj,
            bd2.code xsksdm,
            bd2.name xsksmc,
            su.code xsysdm,
            su.name xsysmc,
            (select value from sys_parameter sp where sp.hosp_code= ic.hosp_code and sp.code = 'JG_NAME') yljgmc
            from
            inpt_cost ic ,
            base_drug bd ,
            base_product bp ,
            base_dept bd2 ,sys_user su
            where ic.item_id = bd.id and ic.hosp_code = bd.hosp_code
            and bd.prod_code = bp.code and bd.hosp_code = bp.hosp_code
            and ic.phar_id = bd2.id and ic.hosp_code = bd2.hosp_code
            and ic.doctor_id = su.id and ic.hosp_code = su.hosp_code

            union

            select
            ic.hosp_code yljgdm,
            bd.code ypdm,
            ic.visit_id jzh,
            '1' ywlx,
            ic.phar_id yfdm,
            '' szbwlsh,
            bd.usual_name ypmc,
            bd.good_name spm,
            bp.name scqy,
            bd.prep_code ypjxms,
            bd.spec ypgg,
            ic.total_num bzl,
            ic.num_unit_code dw,
            '' cgj,
            ic.price xsjg,
            ic.total_num xssl,
            ic.total_price xsje,
            ( case when bd.ph_code ='1' then '2'
            when bd.ph_code ='2' then '3'
            when bd.ph_code ='3' or bd.ph_code ='6'  then '4'
            when bd.ph_code ='4' then '5'
            when bd.ph_code ='5' then '1' end) ypsx,
            null xplx,
            (case when bd.antibacterial_code is not null then '1' else '0' end) kjybz,
            bd.durg_code kjyjb,
            ic.crte_time xssj,
            bd2.code xsksdm,
            bd2.name xsksmc,
            su.code xsysdm,
            su.name xsysmc,
            (select value from sys_parameter sp where sp.hosp_code= ic.hosp_code and sp.code = 'JG_NAME') yljgmc
            from
            outpt_cost ic ,
            base_drug bd ,
            base_product bp ,
            base_dept bd2 ,sys_user su
            where ic.item_id = bd.id and ic.hosp_code = bd.hosp_code
            and bd.prod_code = bp.code and bd.hosp_code = bp.hosp_code
            and ic.phar_id = bd2.id and ic.hosp_code = bd2.hosp_code
            and ic.doctor_id = su.id and ic.hosp_code = su.hosp_code
        )a where a.YLJGDM = #{hospCode}
        <if test="startTime != null and startTime != ''">
            and date(a.xssj) &gt;= date(#{startTime})
        </if>
        <if test="endTime != null and endTime != ''">
            and date(a.xssj) &lt;= date(#{endTime})
        </if>
    </select>
    <!--抗菌药物基本情况统计-->
    <select id="getTbKjywjbjktjData" resultType="cn.hsa.module.interf.healthInfo.entity.TbKjywjbjktjDO">
        select * from (
            select ic.hosp_code as YLJGDM,
            bd.code as YPDM,
            '2' as YWLX,
            ic.cost_time as JSRQ,
            '' as KJYWSYBSZH,
            '' as XDRJLZH,
            '' as ZYZJL,
            '' as ILQKSSKJYW,
            '' as TSKJYWDDZZH,
            '' as TSKJYWSYBSZH ,
            (case when ifnull(datediff(ifnull(iv.out_time, now()),iv.in_time),0) = 0 then 1 else datediff(ifnull(iv.out_time, now()),iv.in_time) end) as ZYTS,
            bd2.code as JZKSDM,
            bd2.name as JZKSMC,
            ic.doctor_id as YSDM,
            ic.doctor_name as YSMC,
            '' as WYM,
            bd.ddd  as DDDS,
            '' as TSDDDS,
            '' as YWBM,
            bd.good_name as YPMC,
            '' as JMSYBS,
            IC.iat_id as CFLSH ,
            iv.in_time as RYRQ,
            iv.out_time as CYRQ,
            bd.spec as YPGG,
            '' as ZBLSH,
            bd.dosage_unit_code as YPJLDW,
            bd.usual_name as YPTYMC,
            bp.name as YPCJ,
            bd.price as DJ,
            ic.total_num as BZL,
            ic.total_num as SYSL,
            ic.prep_code as YPJX,
            ic.total_price as JE,
            bd.dosage as YPDJL
            from
            inpt_cost ic,
            inpt_visit iv ,
            base_drug bd ,
            base_dept bd2,
            base_product bp
            where
            ic.hosp_code = iv.hosp_code
            and ic.visit_id = iv.id
            and ic.hosp_code = bd.hosp_code
            and ic.item_id = bd.id
            and ic.hosp_code = bd2.hosp_code
            and ic.dept_id = bd2.id
            and bd.hosp_code = bp.hosp_code
            and bd.prod_code = bp.code
            and ifnull(bd.antibacterial_code ,'') != ''
        )a where a.YLJGDM = #{hospCode}
        <if test="startTime != null and startTime != ''">
            and date(a.JSRQ) &gt;= date(#{startTime})
        </if>
        <if test="endTime != null and endTime != ''">
            and date(a.JSRQ) &lt;= date(#{endTime})
        </if>
    </select>
    <!--抗菌药物各品种统计-->
    <select id="getTbKjywgpztjData" resultType="cn.hsa.module.interf.healthInfo.entity.TbKjywgpztjDO">
        select * from (
            select
            ic.hosp_code as YLJGDM,
            ic.item_code as YPDM,
            ic.item_name as YPMC,
            '2' as YWLX,
            ic.item_name as ZDXMMC,
            bd.spec as YPGG,
            bd.prep_code as YPJXMS,
            ic.total_num as BZSL,
            ic.dosage_unit_code as JLDW,
            ic.price as DJ,
            ic.total_price as SYJE,
            bd.antibacterial_code as GLJB,
            '' as ZBWLSH,
            bd.prep_code as SCQY,
            bd.antibacterial_code as KJYWGLJB,
            ic.num as SL,
            ic.num_unit_code as DW,
            ic.total_price as JE,
            '2' as YWDM,
            '1' as KJYWBS,
            bd.ddd as XDDDZ,
            bd2.code as KFKSBM,
            ic.exec_time as ZXRQ,
            ic.id  as WYBSM,
            bd2.name as KFKSMC,
            ic.doctor_id as YSBM,
            ic.doctor_name as YSMC,
            bd.good_name as SPM
            from
            inpt_cost ic ,
            base_drug bd,
            base_dept bd2
            where
            ic.hosp_code = bd.hosp_code
            and ic.item_id = bd.id
            and ic.hosp_code = bd2.hosp_code
            and ic.dept_id = bd2.id
            and ifnull(bd.antibacterial_code ,'') != ''
        )a where a.YLJGDM = #{hospCode}
        <if test="startTime != null and startTime != ''">
            and date(a.ZXRQ) &gt;= date(#{startTime})
        </if>
        <if test="endTime != null and endTime != ''">
            and date(a.ZXRQ) &lt;= date(#{endTime})
        </if>
    </select>

    <select id="getTbSxzzData" resultType="cn.hsa.module.interf.healthInfo.entity.TbSxzzDO">
        select * from (
            select '转诊机构编码' as YLJGDM,
            '转诊单号' as ZZDH,
            '转诊机构名称' as YLJGMC,
            '转诊科室编码' as KSBM ,
            '转诊科室名称' as KSMC ,
            '申请医生姓名' as SQYSXM ,
            '患者姓名' as XM,
            '性别代码' as XBDM ,
            '身份证号码' as SFZHM,
            ' 联系电话' as LXDH ,
            '诊断编码' as ZDBM ,
            '诊断名称' as ZDMC,
            '转诊类型' as ZZLX ,
            '申请转诊时间' as SQZZSJ,
            '转诊原因说明' as ZZYYSM ,
            '转诊状态' as ZZZT,
            '接收机构编码' as JSJGBM,
            '接收机构名称' as JSJGMC,
            '接收科室编码' as JSKSBM,
            '接收科室名称' as JSKSMC,
            '接收医生姓名' as JSYSXM,
            now() as JSSJ,
            '是否有效' as SFYX from inpt_visit where 1=2
        ) a where a.YLJGDM = #{hospCode}
        <if test="startTime != null and startTime != ''">
            and date(a.JSSJ) &gt;= date(#{startTime})
        </if>
        <if test="endTime != null and endTime != ''">
            and date(a.JSSJ) &lt;= date(#{endTime})
        </if>
    </select>

    <select id="getTbWzlqjlData" resultType="cn.hsa.module.interf.healthInfo.entity.TbWzlqjlDO">
        select * from (
            select pir.order_no  as lqdh,
            '' as lqdhxh,
            pir.hosp_code  as jgbm,
            (case when pird.item_code = '1' then bd.code  when pird.item_code = '2' then bm.code  when pird.item_code = '3' then bi.code  else '' end) as wzbm,
            (case when pird.item_code = '1' then bd.usual_name  when pird.item_code = '2' then bm.name  when pird.item_code = '3' then bi.name  else '' end)as wzmc,
            '' as wzlxbm,
            '' as wzlxmc,
            (select value from sys_parameter sp where sp.hosp_code= pird.hosp_code and sp.code = 'JG_NAME') as jgmc,
            bd3.code  as lqksbm,
            bd3.name  as lqksmc,
            pird.num as lqsl,
            pird.spec as wzgg,
            pird.unit_code  as wzdw,
            pird.price  as wzdj,
            pir.assign_time  as sqsj,
            pir.dist_time  as lqsj,
            pird.price as jhjg,
            pir.crte_id  as lqrbm,
            pir.crte_name  as lqrmc,
            pir.assign_user_id  as ffrbm,
            pir.assign_user_name  as ffrmc,
            pird.visit_id  as zylsh,
            bd2.name  as wzkw,
            '' as wzph,
            '' as zlxmbm,
            '' as zlxmmc,
            '' as zlxmjg,
            (case when pird.item_code = '1' then bp1.name  when pird.item_code = '2' then bp2.name  else '' end) as sccj,
            '0' as sfgzhc
            from
            phar_in_receive pir
            left join phar_in_receive_detail pird on pird .hosp_code  = pir.hosp_code  and pir.id  = pird.receive_id
            left join base_drug bd  on pird .hosp_code  = bd.hosp_code  and bd.id  = pird.item_id
            left join base_material bm on pird .hosp_code  = bm.hosp_code  and bm.id  = pird.item_id
            left join base_item bi     on pird .hosp_code  = bi.hosp_code  and bi.id  = pird.item_id
            left join base_dept bd2    on pir .hosp_code  = bd2.hosp_code  and bd2.id  = pir.phar_id
            left join base_dept bd3    on pir .hosp_code  = bd3.hosp_code  and bd3.id  = pir.dept_id
            left join base_product bp1 on bp1.hosp_code= bd.hosp_code and bp1.code = bd.prod_code
            left join base_product bp2 on bp2.hosp_code= bm.hosp_code and bp2.code = bm.prod_code
        ) a where a.jgbm = #{hospCode}
        <if test="startTime != null and startTime != ''">
            and date(a.lqsj) &gt;= date(#{startTime})
        </if>
        <if test="endTime != null and endTime != ''">
            and date(a.lqsj) &lt;= date(#{endTime})
        </if>
    </select>

    <select id="getTbYwlReportData" resultType="cn.hsa.module.interf.healthInfo.entity.TbYwlReportDO">
        select * from (
            select
            '医疗机构代码' as YLJGDM,
            '科室编码' as KSBM,
            '医院科室名称' as KSMC,
             now() as YWSJ,
            '门诊人次' as MZRC,
            '急诊人次' as JZRC,
            '入院人次' as RYRC,
            '期内结算(出院)人次' as CYRC,
            '在院人数' as ZYRS,
            '实有床位数' as SYCWS,
            '门急诊医疗费用' as MJZYLFY,
            '住院医疗费用' as ZYYLFY,
            '门急诊药品费用' as MJZYPFY,
            '住院药品费用' as ZYYPFY,
            '门急诊医保医疗费用' as MJZYBYLFY,
            '住院医保医疗费用' as ZYYBYLFY,
            '门急诊医保药品费用' as MJZYBYPFY,
            '住院医保药品费用' as ZYYBYPFY,
            '住院实际发生费用' as ZYSJFSYS,
            '预留统计字段 1' as TJYL1,
            '预留统计字段 2' as TJYL2,
            '预留统计字段 3' as TJYL3,
            '预留统计字段 4' as TJYL4,
            '预留统计字段 5' as TJYL5,
            '预留统计字段 6' as TJYL6,
            '预留统计字段 7' as TJYL7,
            '预留统计字段 8' as TJYL8,
            '修改标志' as XGBZ
            from
            inpt_advice ia
        ) a where a.YLJGDM = #{hospCode}
        <if test="startTime != null and startTime != ''">
            and date(a.YWSJ) &gt;= date(#{startTime})
        </if>
        <if test="endTime != null and endTime != ''">
            and date(a.YWSJ) &lt;= date(#{endTime})
        </if>
    </select>

</mapper>