<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hsa.module.interf.healthInfo.dao.HealthMrisDAO">

    <select id="queryInptMrisInfo" parameterType="java.util.Map" resultType="cn.hsa.module.interf.healthInfo.entity.TbBasyztb">
        select * from (select
	a.visit_id  as zylsh,
	(select value from sys_parameter sp where sp.code ='HOSP_INSURE_NATION_INFO' and sp.hosp_code=a.hosp_code limit 1) as yljgdm,
    (select name from sys_parameter scd where scd.code  ='HOSP_INSURE_NATION_INFO' and scd.hosp_code = a.hosp_code limit 1) as yljgmc,
	a.in_no as zyh,
	a.in_cnt as zycs,
	(select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV07.10.005' and hb.cm_value =a.pay_way_code limit 1) as ylfffs,
	'' as bfh,
	a.in_bed_name as ch,
	a.in_profile as bah,
	a.in_ward as rybq,
	a.in_ward2 as cybq,
	a.name as xm,
	(select hb.c_value from healthinfo_base_code hb where hb.c_code ='GB/T 2261.1-2003' and hb.cm_value =a.gender_code limit 1) as xbdm,
	a.birthday as csny,
	case when a.age_unit_code='1' THEN a.age else null END as nls,
	case when a.age_unit_code='2' THEN a.age else null END as nly,
	a.id_card as sfzhm,
	'' as sbh,
	a.baby_birth_weight as xsecstz,
	a.baby_in_weight as xserytz,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='GB/T 2261.1-2003' and hb.cm_value =a.marry_code limit 1),a.marry_code) as hyzkdm,
	a.nation_code as mzdm,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV04.50.005' and hb.cm_value =a.blood_code limit 1),a.blood_code) as aboxxdm,
	a.blood_name as aboxxmc,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV04.50.020' and hb.cm_value =a.rh_code limit 1),a.rh_code) as xxdm,
	a.rh_name as rhxxmc,
	a.nationality_name as gj,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='GB/T 6565-2009' and hb.cm_value =a.occupation_code limit 1),a.occupation_code) as zydm,
	a.occupation_name as zymc,
	a.birth_adress as csds,
	'' as csdsz,
	'' as csdx,
	a.native_place as jgs,
	'' as jgsz,
	a.cert_code as sfzjlbdm,
	a.now_prov as xzzs,
	a.now_city as xzzsz,
	a.now_area as xzzx,
	a.now_adress as xzzxz,
	'' as xjzc,
	'' as xjzmphm,
	a.phone as xzzdh,
	a.now_post_code as xzzyb,
	a.native_prov_name as hkdzs,
	a.native_city_name as hkdzsz,
	a.native_area_name as hjdzxq,
	a.native_adress as hjdzxz,
	'' as hjdzc,
	'' as hjdzmphm,
	a.native_post_code as hjdzyzbm,
	a.work_address as gzdwdzs,
	'' as gzdwdzsz,
	'' as gzdwdzxq,
	'' as gzdwdzxz,
	'' as gzdwdzc,
	'' as gzdwdzmphm,
	'' as gzdwxxdz,
	a.work_info as gzdw,
	a.work_phone as gzdwdh,
	a.work_post_code as gzdwyb,
	'' as lxrdzs,
	'' as lxrdzsz,
	'' as lxrdzxq,
	a.contact_address as lxrdzxz,
	'' as lxrdzc,
	'' as lxrdzmphm,
	a.in_time as rysj,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV09.00.403' and hb.cm_value =a.in_way limit 1),a.in_way) as rytjdm,
	(select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV09.00.403' and hb.cm_value =a.in_way limit 1) as rytjmc,
	a.in_dept_id as ryksbm,
	a.in_days as sjzyts,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV06.00.226' and hb.cm_value =a.out_mode_code limit 1),a.out_mode_code) as cyfs,
	'' as ryqk,
	a.out_dept_id as cyksbm,
	a.out_time as cysj,
	'' as bxlx,
	a.health_card as jkkh,
	a.phone as lxdh,
	a.now_adress as jzd,
	a.contact_name as lxrxm,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='GB/T 4761-2008' and hb.cm_value =a.contact_rela_code limit 1),a.contact_rela_code) as lxrgxdm,
	a.contact_rela_name as lxrgxmc,
	a.contact_address as lxrdz,
	a.contact_phone as lxrdh,
	a.contact_address as lxrtxdz,
	a.turn_dept1 as zkksbm1,
	a.turn_dept2 as zkksbm2,
	a.turn_dept3 as zkksbm3,
	'' as szbq,
	'' as ryqwyzz,
	null as qzrq,
	a.disease_icd10 as mjzzd,
	a.disease_icd10 as mjzjbbm,
	a.disease_icd10_name as mjzjbmc,
	a.damage_reason as sszd,
	a.disease_icd10_other as sszdbm,
	a.rescue_count as qjcs,
	a.rescue_success_count as cgcs,
	a.is_monitor  as sfcxwjn,
	'' as crbbg,
	'' as zlbg,
	'' as xsebg,
	'' as swbg,
	'' as qtbg,
	'' as sz,
	'' as sjbl,
	'' as sj,
	'' as rsmdsc,
	'' as xsejbsc,
	'' as chcyl,
	'' as xseXb,
	a.director_id1 as zrysbm,
	a.director_name1 as zrysxm,
	a.zz_doctor_id as zzysbm,
	a.zz_doctor_name as zzysxm,
	a.zg_doctor_id as zyysbm,
	a.zg_doctor_name as zyysxm,
	'' as hszbm,
	'' as hszxm,
	a.zr_nurse_id as zrhsbm,
	a.zr_nurse_name as zrhsxm,
	a.jx_doctor_id as jxysbm,
	a.jx_doctor_name as jxysxm,
	a.sx_doctor_id as sxysbm,
	a.sx_doctor_name as sxysxm,
	a.emr_quality_code as bazl,
	a.zk_doctor_id as zkysbm,
	a.zk_doctor_name as zkysxm,
	a.zk_nurse_id as zkhsbm,
	a.zk_nurse_name as zkhszm,
	a.zk_time as zkrq,
	a.in_blh as blh,
	'' as swgbyy,
	null as swsj,
	'' as mzysbm,
	'' as mzysxm,
	'' as syfy,
	'' as sfkyba,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV06.00.226' and hb.cm_value =a.out_mode_code limit 1),a.out_mode_code) as lyfsdm,
	case when a.out_mode_code='2' then a.turn_org_name else '' end as njsyymc,
	a.is_inpt as zzyjh31,
	concat(a.inpt_before_day,'天',a.inpt_before_hour,'小时',a.inpt_before_minute,'分') as ryqhmsj,
	concat(a.inpt_last_day,'天',a.inpt_last_hour,'小时',a.inpt_last_minute,'分') as ryhhmsj,
	b.fy01 as zyf,
	b.zhylfwl01 as zlf,
	b.zhylfwl02 as zhf,
	b.zhylfwl03  as hlf,
	b.zll03 as ssclf,
	b.zdl04 as jcf,
	b.zdl02 as hyf,
	b.zdl03 as tsf,
	'' as spf,
	b.xyzpl01 as sxf,
	'' as syf,
	b.fy02 as xyf,
	b.fy04 as zcyf,
	b.fy05 as zcaf,
	b.fy06 as qtf,
	b.fy01 as zfy,
	b.fy07 as zfje,
	b.zhylfwl01 as ylfwf,
	b.zhylfwl02 as zlczf,
	b.zdl01 as blzdf,
	b.zdl02 as syszdf,
	b.zdl03 as yxxzdf,
	b.zdl04 as lczdxmf,
	b.zll01 as fsszlxmf,
	b.zll02 as lcwlzlf,
	b.zll03 as sszlf,
	b.zll04 as mzf,
	b.zll05 as ssf,
	b.kfl01 as kff,
	b.zyl01 as zyzlf,
	b.xyl01 as kjywfy,
	b.xyzpl01 as xf,
	b.xyzpl02 as bdbzpf,
	b.xyzpl03 as qdbzpf,
	b.xyzpl04 as nxyzzpf,
	b.xyzpl05 as xbyzzpf,
	b.hcl01 as jcyyclf,
	b.hcl02 as zlyyclf,
	b.hcl03 as ssyyclf,
	0.00 as qtf1,
	'' as zllbdm,
	'' as sslcljbzdm,
	'' as yljgzyzjbz,
	'' as syzyzlsbbz,
	'' as syzyzljsbz,
	'' as bzshbz,
	a.is_allergy as ywgmbz,
	a.allergy_list as gmyw,
	case when a.out_mode_code='3' then a.turn_org_name else '' end as njsyljgmc,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='GB/T 4761-2008' and hb.cm_value =a.contact_rela_code limit 1),a.contact_rela_code) as lxryhzgxdm,
	a.case_classify as blfx,
	a.is_monitor as sszzjh,
	a.monitor_day as jhzsjt,
	a.monitor_hour as jhzsjxs,
	a.is_dzb as dbzgl,
	a.lclj_status as sslcljgl,
	a.drg_status as ssdrgsgl,
	a.is_kss as sfsykss,
	a.is_xjsj as xjpybbsj,
	a.is_cry as fdcrb,
	a.zl_level as zlfq,
	a.zl_level as zlfqdm,
	a.apgar_num  as xseagpf,
	'1' as bllx,
	'' as zllbmc,
	a.in_dept_name as ryksmc,
	a.out_dept_name as cyksmc,
	'' as sslcljbzmc,
	a.damage_reason as sszddwbyy,
	a.disease_icd10_other as sszdjbbm,
	a.damage_reason as sszdjbmc,
	a.is_autopsy as swhzsjbz,
	a.director_name2 as zrysqm,
	a.out_mode_name as lyfsmc,
	a.aim as cy31tnzzymd,
	b.zhylfwl05 as zybzlzf,
	b.zhylfwl06 as zybzlhzf,
	b.zyl02 as zyzdf,
	b.zyl03 as zywzf,
	b.zyl04 as gsf,
	b.zyl05 as zcyjff,
	b.zyl06 as zytnzlf,
	b.zyl07 as zygczlf,
	b.zyl08 as zytxzlf,
	b.zyl09 as zyqtf,
	b.zyl10 as zytxtpjg,
	b.zyl11 as blssf,
	b.zyf01  as yljgzyzjf,
	'' as bqzgdm,
	'' as bqzgmc,
	a.is_cry as crbbs,
	'' as crbbgsbbs,
	a.is_inpt as sfzry,
	'' as sficuzczzhz,
	'' as sf48hcficu,
	'' as sficuwjhzaqsjfs,
	'' as zyqjsfxgzqgz,
	'' as sfbzsyzcy,
	'' as rscx,
	a.director_name1 as kzrxm,
	a.director_id1 as kzrgh,
	a.zz_doctor_id as zzdysgh,
	a.zz_doctor_name as zzdysxm,
	a.is_allergy as kjywsyqk,
	a.allergy_list as yffyyw,
	'' as syfylcbx,
	'' as zyddhzcsh,
	'' as ddhzcyy,
	'' as cyqkbm,
	'' as grbw,
	a.inpt_before_day as ryqhmsjd,
	a.inpt_before_hour as ryqhmsjh,
	a.inpt_before_minute as ryqhmsjm,
	a.inpt_last_day as ryhhmsjd,
	a.inpt_last_hour as ryhhmsjh,
	a.inpt_last_minute as ryhhmsjm,
	b.zyl04 as zygsf,
	a.bl_icd10 as blzd,
	a.bl_icd10 as blzdjbbm,
	a.bl_icd10_name as blzdjbmc,
	'' as bzss,
	'1' as validflag,
    a.crte_time  as appetime,
    a.crte_time as modifytime,
    a.crte_id  as modifytcode,
    a.crte_name as modifytname
    from
	mris_base_info a
	left join mris_cost b on a.visit_id = b.visit_id and a.id = b.mbi_id and a.hosp_code = b.hosp_code
	where  a.crte_time &gt;= date(#{startTime})
    and a.crte_time &lt; date(#{endTime})
    and a.hosp_code =#{hospCode}
	union all
	select
	a.visit_id  as zylsh,
	(select value from sys_parameter sp where sp.code ='HOSP_INSURE_NATION_INFO' and sp.hosp_code=a.hosp_code limit 1) as yljgdm,
    (select name from sys_parameter scd where scd.code  ='HOSP_INSURE_NATION_INFO' and scd.hosp_code = a.hosp_code limit 1) as yljgmc,
	a.in_no as zyh,
	a.in_cnt as zycs,
	(select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV07.10.005' and hb.cm_value =a.pay_way_code limit 1) as ylfffs,
	'' as bfh,
	a.in_bed_name as ch,
	a.in_profile as bah,
	a.in_ward as rybq,
	a.in_ward2 as cybq,
	a.name as xm,
	(select hb.c_value from healthinfo_base_code hb where hb.c_code ='GB/T 2261.1-2003' and hb.cm_value =a.gender_code limit 1) as xbdm,
	a.birthday as csny,
	case when a.age_unit_code='1' THEN a.age else null END as nls,
	case when a.age_unit_code='2' THEN a.age else null END as nly,
	a.id_card as sfzhm,
	'' as sbh,
	a.baby_birth_weight as xsecstz,
	a.baby_in_weight as xserytz,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='GB/T 2261.1-2003' and hb.cm_value =a.marry_code limit 1),a.marry_code) as hyzkdm,
	a.nation_code as mzdm,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV04.50.005' and hb.cm_value =a.blood_code limit 1),a.blood_code) as aboxxdm,
	a.blood_name as aboxxmc,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV04.50.020' and hb.cm_value =a.rh_code limit 1),a.rh_code) as xxdm,
	a.rh_name as rhxxmc,
	a.nationality_name as gj,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='GB/T 6565-2009' and hb.cm_value =a.occupation_code limit 1),a.occupation_code) as zydm,
	a.occupation_name as zymc,
	a.birth_adress as csds,
	'' as csdsz,
	'' as csdx,
	a.native_place as jgs,
	'' as jgsz,
	a.cert_code as sfzjlbdm,
	a.now_prov as xzzs,
	a.now_city as xzzsz,
	a.now_area as xzzx,
	a.now_adress as xzzxz,
	'' as xjzc,
	'' as xjzmphm,
	a.phone as xzzdh,
	a.now_post_code as xzzyb,
	a.native_prov_name as hkdzs,
	a.native_city_name as hkdzsz,
	a.native_area_name as hjdzxq,
	a.native_adress as hjdzxz,
	'' as hjdzc,
	'' as hjdzmphm,
	a.native_post_code as hjdzyzbm,
	a.work_address as gzdwdzs,
	'' as gzdwdzsz,
	'' as gzdwdzxq,
	'' as gzdwdzxz,
	'' as gzdwdzc,
	'' as gzdwdzmphm,
	'' as gzdwxxdz,
	a.work_info as gzdw,
	a.work_phone as gzdwdh,
	a.work_post_code as gzdwyb,
	'' as lxrdzs,
	'' as lxrdzsz,
	'' as lxrdzxq,
	a.contact_address as lxrdzxz,
	'' as lxrdzc,
	'' as lxrdzmphm,
	a.in_time as rysj,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV09.00.403' and hb.cm_value =a.in_way limit 1),a.in_way) as rytjdm,
	(select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV09.00.403' and hb.cm_value =a.in_way limit 1) as rytjmc,
	a.in_dept_id as ryksbm,
	a.in_days as sjzyts,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV06.00.226' and hb.cm_value =a.out_mode_code limit 1),a.out_mode_code) as cyfs,
	'' as ryqk,
	a.out_dept_id as cyksbm,
	a.out_time as cysj,
	'' as bxlx,
	a.health_card as jkkh,
	a.phone as lxdh,
	a.now_adress as jzd,
	a.contact_name as lxrxm,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='GB/T 4761-2008' and hb.cm_value =a.contact_rela_code limit 1),a.contact_rela_code) as lxrgxdm,
	a.contact_rela_name as lxrgxmc,
	a.contact_address as lxrdz,
	a.contact_phone as lxrdh,
	a.contact_address as lxrtxdz,
	a.turn_dept1 as zkksbm1,
	a.turn_dept2 as zkksbm2,
	a.turn_dept3 as zkksbm3,
	'' as szbq,
	'' as ryqwyzz,
	null as qzrq,
	a.disease_icd10 as mjzzd,
	a.disease_icd10 as mjzjbbm,
	a.disease_icd10_name as mjzjbmc,
	a.damage_reason as sszd,
	a.disease_icd10_other as sszdbm,
	a.rescue_count as qjcs,
	a.rescue_success_count as cgcs,
	a.is_monitor  as sfcxwjn,
	'' as crbbg,
	'' as zlbg,
	'' as xsebg,
	'' as swbg,
	'' as qtbg,
	'' as sz,
	'' as sjbl,
	'' as sj,
	'' as rsmdsc,
	'' as xsejbsc,
	'' as chcyl,
	'' as xseXb,
	a.director_id1 as zrysbm,
	a.director_name1 as zrysxm,
	a.zz_doctor_id as zzysbm,
	a.zz_doctor_name as zzysxm,
	a.zg_doctor_id as zyysbm,
	a.zg_doctor_name as zyysxm,
	'' as hszbm,
	'' as hszxm,
	a.zr_nurse_id as zrhsbm,
	a.zr_nurse_name as zrhsxm,
	a.jx_doctor_id as jxysbm,
	a.jx_doctor_name as jxysxm,
	a.sx_doctor_id as sxysbm,
	a.sx_doctor_name as sxysxm,
	a.emr_quality_code as bazl,
	a.zk_doctor_id as zkysbm,
	a.zk_doctor_name as zkysxm,
	a.zk_nurse_id as zkhsbm,
	a.zk_nurse_name as zkhszm,
	a.zk_time as zkrq,
	a.in_blh as blh,
	'' as swgbyy,
	null as swsj,
	'' as mzysbm,
	'' as mzysxm,
	'' as syfy,
	'' as sfkyba,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV06.00.226' and hb.cm_value =a.out_mode_code limit 1),a.out_mode_code) as lyfsdm,
	case when a.out_mode_code='2' then a.turn_org_name else '' end as njsyymc,
	a.is_inpt as zzyjh31,
	concat(a.inpt_before_day,'天',a.inpt_before_hour,'小时',a.inpt_before_minute,'分') as ryqhmsj,
	concat(a.inpt_last_day,'天',a.inpt_last_hour,'小时',a.inpt_last_minute,'分') as ryhhmsj,
	b.fy01 as zyf,
	b.zhylfwl01 as zlf,
	b.zhylfwl02 as zhf,
	b.zhylfwl03  as hlf,
	b.zll03 as ssclf,
	b.zdl04 as jcf,
	b.zdl02 as hyf,
	b.zdl03 as tsf,
	'' as spf,
	b.xyzpl01 as sxf,
	'' as syf,
	b.fy02 as xyf,
	b.fy04 as zcyf,
	b.fy05 as zcaf,
	b.fy06 as qtf,
	b.fy01 as zfy,
	b.fy07 as zfje,
	b.zhylfwl01 as ylfwf,
	b.zhylfwl02 as zlczf,
	b.zdl01 as blzdf,
	b.zdl02 as syszdf,
	b.zdl03 as yxxzdf,
	b.zdl04 as lczdxmf,
	b.zll01 as fsszlxmf,
	b.zll02 as lcwlzlf,
	b.zll03 as sszlf,
	b.zll04 as mzf,
	b.zll05 as ssf,
	b.kfl01 as kff,
	b.zyl01 as zyzlf,
	b.xyl01 as kjywfy,
	b.xyzpl01 as xf,
	b.xyzpl02 as bdbzpf,
	b.xyzpl03 as qdbzpf,
	b.xyzpl04 as nxyzzpf,
	b.xyzpl05 as xbyzzpf,
	b.hcl01 as jcyyclf,
	b.hcl02 as zlyyclf,
	b.hcl03 as ssyyclf,
	0.00 as qtf1,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV06.00.225' and hb.cm_value =a.treat_code limit 1),a.treat_code) as zllbdm,
	a.clinical_way_code as sslcljbzdm,
	a.zyzj_code as yljgzyzjbz,
	a.zyylsb_code as syzyzlsbbz,
	a.zyyljs_code as syzyzljsbz,
	a.bzsh_code as bzshbz,
	a.is_allergy as ywgmbz,
	a.allergy_list as gmyw,
	case when a.out_mode_code='3' then a.turn_org_name else '' end as njsyljgmc,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='GB/T 4761-2008' and hb.cm_value =a.contact_rela_code limit 1),a.contact_rela_code) as lxryhzgxdm,
	a.case_classify as blfx,
	a.is_monitor as sszzjh,
	a.monitor_day as jhzsjt,
	a.monitor_hour as jhzsjxs,
	a.is_dzb as dbzgl,
	a.lclj_status as sslcljgl,
	a.drg_status as ssdrgsgl,
	a.is_kss as sfsykss,
	a.is_xjsj as xjpybbsj,
	a.is_cry as fdcrb,
	a.zl_level as zlfq,
	a.zl_level as zlfqdm,
	a.apgar_num  as xseagpf,
	'2' as bllx,
	a.treat_name as zllbmc,
	a.in_dept_name as ryksmc,
	a.out_dept_name as cyksmc,
	'' as sslcljbzmc,
	a.damage_reason as sszddwbyy,
	a.disease_icd10_other as sszdjbbm,
	a.damage_reason as sszdjbmc,
	a.is_autopsy as swhzsjbz,
	a.director_name2 as zrysqm,
	a.out_mode_name as lyfsmc,
	a.aim as cy31tnzzymd,
	b.zhylfwl05 as zybzlzf,
	b.zhylfwl06 as zybzlhzf,
	b.zyl02 as zyzdf,
	b.zyl03 as zywzf,
	b.zyl04 as gsf,
	b.zyl05 as zcyjff,
	b.zyl06 as zytnzlf,
	b.zyl07 as zygczlf,
	b.zyl08 as zytxzlf,
	b.zyl09 as zyqtf,
	b.zyl10 as zytxtpjg,
	b.zyl11 as blssf,
	b.zyf01  as yljgzyzjf,
	'' as bqzgdm,
	'' as bqzgmc,
	a.is_cry as crbbs,
	'' as crbbgsbbs,
	a.is_inpt as sfzry,
	'' as sficuzczzhz,
	'' as sf48hcficu,
	'' as sficuwjhzaqsjfs,
	'' as zyqjsfxgzqgz,
	'' as sfbzsyzcy,
	'' as rscx,
	a.director_name1 as kzrxm,
	a.director_id1 as kzrgh,
	a.zz_doctor_id as zzdysgh,
	a.zz_doctor_name as zzdysxm,
	a.is_allergy as kjywsyqk,
	a.allergy_list as yffyyw,
	'' as syfylcbx,
	'' as zyddhzcsh,
	'' as ddhzcyy,
	'' as cyqkbm,
	'' as grbw,
	a.inpt_before_day as ryqhmsjd,
	a.inpt_before_hour as ryqhmsjh,
	a.inpt_before_minute as ryqhmsjm,
	a.inpt_last_day as ryhhmsjd,
	a.inpt_last_hour as ryhhmsjh,
	a.inpt_last_minute as ryhhmsjm,
	b.zyl04 as zygsf,
	a.bl_icd10 as blzd,
	a.bl_icd10 as blzdjbbm,
	a.bl_icd10_name as blzdjbmc,
	a.bzsh_code as bzss,
	'1' as validflag,
    a.crte_time  as appetime,
    a.crte_time as modifytime,
    a.crte_id  as modifytcode,
    a.crte_name as modifytname
    from
	tcm_mris_base_info a
	left join tcm_mris_cost b on a.visit_id = b.visit_id and a.id = b.mbi_id and a.hosp_code = b.hosp_code
    where  a.crte_time &gt;= date(#{startTime})
    and a.crte_time &lt; date(#{endTime})
    and a.hosp_code =#{hospCode}
    ) dd order by dd.appetime asc
    </select>

    <select id="queryInptMrisDiagnoseInfo" parameterType="java.util.Map" resultType="cn.hsa.module.interf.healthInfo.entity.TbBasyzdmx">
     select * from
    (select
    distinct
	a.visit_id as zylsh,
	(select value from sys_parameter sp where sp.code ='HOSP_INSURE_NATION_INFO' and sp.hosp_code=a.hosp_code limit 1) as yljgdm,
    a.id as zdjllsh,
    ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CX02.01.055' and hb.cm_value =a.disease_code limit 1),a.disease_code) as zdzcbm,
    0 as zdsx,
    a.disease_icd10 as cyzdbm,
    a.disease_icd10_name as cyzdmc,
    a.disease_icd10 as cyzdjbbm,
    a.disease_icd10_name as cyzdjbmc,
    ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV05.10.019' and hb.cm_value =a.in_situation_code limit 1),a.in_situation_code) as rybqdm,
   '1' as validflag,
    b.crte_time  as appetime,
    b.crte_time as modifytime,
    b.crte_id  as modifytcode,
    b.crte_name as modifytname
    from
    mris_base_info b
    join mris_inpt_diagnose a on a.mbi_id =b.id and b.visit_id = a.visit_id
	where  b.crte_time &gt;= date(#{startTime})
    and b.crte_time &lt; date(#{endTime})
    and a.hosp_code =#{hospCode}
    and b.hosp_code =#{hospCode}
	union all
	select
	distinct
	a.visit_id as zylsh,
	(select value from sys_parameter sp where sp.code ='HOSP_INSURE_NATION_INFO' and sp.hosp_code=a.hosp_code limit 1) as yljgdm,
    a.id as zdjllsh,
    ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CX02.01.055' and hb.cm_value =a.disease_code limit 1),a.disease_code) as zdzcbm,
    0 as zdsx,
    a.disease_icd10 as cyzdbm,
    a.disease_icd10_name as cyzdmc,
    a.disease_icd10 as cyzdjbbm,
    a.disease_icd10_name as cyzdjbmc,
     ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV05.10.019' and hb.cm_value =a.in_situation_code limit 1),a.in_situation_code) as rybqdm,
    '1' as validflag,
    b.crte_time  as appetime,
    b.crte_time as modifytime,
    b.crte_id  as modifytcode,
    b.crte_name as modifytname
    from
    tcm_mris_base_info b
    join tcm_mris_diagnose a on a.mbi_id =b.id and b.visit_id = a.visit_id
	where  b.crte_time &gt;= date(#{startTime})
    and b.crte_time &lt; date(#{endTime})
    and a.hosp_code =#{hospCode}
    and b.hosp_code =#{hospCode}
	) dd
	order by dd.appetime asc
    </select>

    <select id="queryInptMrisOperInfo" parameterType="java.util.Map" resultType="cn.hsa.module.interf.healthInfo.entity.TbBasyssmx">
    select * from
    (select
    distinct
    b.visit_id as zylsh,
   (select value from sys_parameter sp where sp.code ='HOSP_INSURE_NATION_INFO' and sp.hosp_code=a.hosp_code limit 1) as yljgdm,
   (select name from sys_parameter scd where scd.code  ='HOSP_INSURE_NATION_INFO' and scd.hosp_code = a.hosp_code limit 1) as yljgmc,
	b.id as ssjllsh,
	b.oper_disease_icd9 as ssjczbm,
	b.oper_time as ssjczrq,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV05.10.022' and hb.cm_value =b.notched_code limit 1),b.notched_code)  as ssqklxdm,
    ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV05.10.024' and hb.cm_value =b.oper_code limit 1),b.oper_code)as ssjb,
	b.oper_disease_name as ssjczmc,
	b.oper_doctor_name  as sssz,
	b.assistant_name1 as ssyz,
	b.assistant_name2 as ssez,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV05.10.023' and hb.cm_value =b.heal_code limit 1),b.heal_code) as qkyhdj,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV06.00.103' and hb.cm_value =b.ana_code limit 1),b.ana_code) as mzfsdm,
	b.ana_name as mzfsmc,
	b.ana_name1 as mzys,
	'1' as validflag,
    a.crte_time  as appetime,
    a.crte_time as modifytime,
    a.crte_id  as modifytcode,
    a.crte_name as modifytname
   from
   mris_base_info a
   join mris_oper_info b on b.mbi_id=a.id and a.visit_id = b.visit_id
   where a.crte_time &gt;= date(#{startTime})
    and a.crte_time &lt; date(#{endTime})
    and a.hosp_code =#{hospCode}
    and b.hosp_code =#{hospCode}
   union
    select
    distinct
    b.visit_id as zylsh,
   (select value from sys_parameter sp where sp.code ='HOSP_INSURE_NATION_INFO' and sp.hosp_code=a.hosp_code limit 1) as yljgdm,
   (select name from sys_parameter scd where scd.code  ='HOSP_INSURE_NATION_INFO' and scd.hosp_code = a.hosp_code limit 1) as yljgmc,
	b.id as ssjllsh,
	b.oper_disease_icd9 as ssjczbm,
	b.oper_time as ssjczrq,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV05.10.022' and hb.cm_value =b.notched_code limit 1),b.notched_code)  as ssqklxdm,
    ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV05.10.024' and hb.cm_value =b.oper_code limit 1),b.oper_code)as ssjb,
	b.oper_disease_name as ssjczmc,
	b.oper_doctor_name  as sssz,
	b.assistant_name1 as ssyz,
	b.assistant_name2 as ssez,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV05.10.023' and hb.cm_value =b.heal_code limit 1),b.heal_code) as qkyhdj,
	ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV06.00.103' and hb.cm_value =b.ana_code limit 1),b.ana_code) as mzfsdm,
	b.ana_name as mzfsmc,
	b.ana_name1 as mzys,
	'1' as validflag,
    a.crte_time  as appetime,
    a.crte_time as modifytime,
    a.crte_id  as modifytcode,
    a.crte_name as modifytname
   from
   tcm_mris_base_info a
   join tcm_mris_oper_info b on b.mbi_id=a.id and a.visit_id = b.visit_id
   where a.crte_time &gt;= date(#{startTime})
    and a.crte_time &lt; date(#{endTime})
    and a.hosp_code =#{hospCode}
    and b.hosp_code =#{hospCode}
   ) dd
   order by dd.appetime asc
   </select>

</mapper>