<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hsa.module.interf.healthInfo.dao.HealthOutptDAO">
    <select id="queryBaseProfile" resultType="cn.hsa.module.interf.healthInfo.entity.TbHzjbxx" parameterType="java.util.Map">
    select
    id as hzjgnwyid,
    (select value from sys_parameter sp where sp.code ='HOSP_INSURE_NATION_INFO' and sp.hosp_code=bpf.hosp_code limit 1) as yljgdm,
	(select name from sys_parameter scd where scd.code  ='HOSP_INSURE_NATION_INFO' and scd.hosp_code = bpf.hosp_code limit 1) as yljgmc,
	name as xm,
	(select hb.c_value from healthinfo_base_code hb where hb.c_code ='GB/T 2261.1-2003' and hb.cm_value =bpf.gender_code limit 1) as xbdm,
	(select hb.c_meaning from healthinfo_base_code hb where hb.c_code ='GB/T 2261.1-2003' and hb.cm_value =bpf.gender_code limit 1) as xbmc,
	birthday as csrq,
	'' as grjkdabm,
	'' as jmjkkh,
	'' as	sbkh,
	'' as	ybkh,
	'' as	xnhkh,
	'' as	ynzlkh,
	(select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV02.01.101' and hb.cm_value =bpf.cert_code limit 1) as zjlx,
	cert_no as sfzh,
	cert_no as zjhm,
	(select hb.c_value from healthinfo_base_code hb where hb.c_code ='GB/T 2261.2-2003' and hb.cm_value =bpf.marry_code limit 1) as hyzkdm,
	(select hb.c_meaning from healthinfo_base_code hb where hb.c_code ='GB/T 2261.2-2003' and hb.cm_value =bpf.marry_code limit 1) as hyzkmc,
	(select hb.c_value from healthinfo_base_code hb where hb.c_code ='GB/T 4658-2006' and hb.cm_value =bpf.education_code limit 1) as whcddm,
	(select hb.c_meaning from healthinfo_base_code hb where hb.c_code ='GB/T 4658-2006' and hb.cm_value =bpf.education_code limit 1) as whcdmc,
	(select hb.c_value from healthinfo_base_code hb where hb.c_code ='GB/T 2261.4-2003' and hb.cm_value =bpf.occupation_code limit 1) as zylbdm,
	(select hb.c_meaning from healthinfo_base_code hb where hb.c_code ='GB/T 2261.4-2003' and hb.cm_value =bpf.occupation_code limit 1) as zylbmc,
	phone as lxdh,
	'' as csdxzqhd,
	'' as csdmc,
	nation_code as mzdm,
	'' as mzmc,
	nationality_cation as gjdm,
	'' as gjmc,
	allergy_disease as gms,
	past_disease as jbs,
	blood_code as xxdm,
	'' as xxmc,
	'' as rhDXxd,
	'' as rhDXxm,
	now_address as xzz,
	now_post_code as xzzyzbm,
	bpf.now_prov as xzzsXzq,
	'' as xzzsMc,
	bpf.now_city  as xzzszXz,
	'' as xzzszMc,
	bpf.now_area as xzzxqXz,
	'' as xzzxqMc,
	'' as xzzxzXz,
	bpf.now_address as xzzxzMc,
	'' as xzzcXzq,
	'' as xzzcMc,
	`work` as gzdwmc,
	work_phone as gzdwdhhm,
	work_post_code,
	work_address as gzdwdz,
	null as cjgzrq,
	null as swrqhrq,
	contact_name as lxrxm,
	(select hb.c_value from healthinfo_base_code hb where hb.c_code ='GB/T 4761-2008' and hb.cm_value =bpf.contact_rela_code  limit 1) as lxryhzgxdm,
	(select hb.c_meaning  from healthinfo_base_code hb where hb.c_code ='GB/T 4761-2008' and hb.cm_value =bpf.contact_rela_code  limit 1) as lxryhzgxmc,
	contact_address as lxrdz,
	contact_post_code as lxryb,
	contact_phone as lxrdh,
	crte_name as jdzxm,
	crte_time as jdrqsj,
	is_valid as validflag,
	bpf.crte_time as APPETIME,
    bpf.crte_time  as MODIFYTIME,
    bpf.crte_id as MODIFYTCODE,
    bpf.crte_name as MODIFYTNAME
    from base_profile_file bpf
    where bpf.crte_time &gt;= date(#{startTime}) and bpf.crte_time &lt;= date(#{endTime}) and bpf.hosp_code =#{hospCode}
    order by bpf.crte_time asc
	</select>
    <select id="queryRegisterInfo" resultType="cn.hsa.module.interf.healthInfo.entity.TbMzgh"
            parameterType="java.util.Map">
        select
        a.id as MZLSH,
        (select value from sys_parameter sp where sp.code ='HOSP_INSURE_NATION_INFO' and sp.hosp_code=a.hosp_code limit 1) as yljgdm,
        (select name from sys_parameter scd where scd.code  ='HOSP_INSURE_NATION_INFO' and scd.hosp_code = a.hosp_code limit 1) as yljgmc,
        a.visit_id as HZJGNWYID,
        a.register_no as MZH,
        '' as KLX,
        '' as KH,
        a.name as XM,
        (select hb.c_value from healthinfo_base_code hb where hb.c_code ='GB/T 2261.1-2003' and hb.cm_value =a.gender_code  limit 1) as XBDM,
        (select hb.c_meaning from healthinfo_base_code hb where hb.c_code ='GB/T 2261.1-2003' and hb.cm_value =a.gender_code  limit 1) as XBMC,
        a.age as NL,
        a.register_time as GTHSJ,
        (select hb.c_value from healthinfo_base_code hb where hb.c_code ='CX02.01.002' and hb.cm_value =a.visit_code  limit 1) as GHLB,
        '' as YLBXLBDM,
        '' as YLBXLBMC,
        a.dept_id as KSBM,
        a.dept_name as KSMC,
        ifnull(sum(b.total_price),0) as ZFZLF,
        a.source_bz_code as GHFS,
        '' as TXBZ,
        '' as WDBZ,
        '' as GHZT,
        a.doctor_id as GHYSBM,
        a.doctor_name as GHYSXM,
        '' as GHYSZCDM,
        '' as GHYSZCMC,
        a.is_cancel as VALIDFLAG,
        a.crte_time as APPETIME,
        a.crte_time as MODIFYTIME,
        a.crte_id  as MODIFYTCODE,
        a.crte_name as MODIFYTNAME
        from outpt_register a
        left join outpt_register_detail b on a.hosp_code =b.hosp_code and a.visit_id = b.visit_id  and a.id = b.register_id
        where a.crte_time &gt;= date(#{startTime}) and a.crte_time &lt;= date(#{endTime}) and a.hosp_code =#{hospCode}
        group by a.id
        order by a.crte_time asc
    </select>
    <select id="queryOutptVisitInfo" resultType="cn.hsa.module.interf.healthInfo.entity.TbMzjzjl"
            parameterType="java.util.Map">
    select
    distinct
    (select value from sys_parameter sp where sp.code ='HOSP_INSURE_NATION_INFO' and sp.hosp_code=a.hosp_code limit 1) as YLJGDM,
    a.id as MZLSH,
    (select name from sys_parameter scd where scd.code  ='HOSP_INSURE_NATION_INFO' and scd.hosp_code = a.hosp_code limit 1) as yljgmc,
    ''as GRJKDABM,
    a.profile_id as HZJGNWYID,
    a.visit_no as MZH,
    '' as KLX,
    '' as KH,
    a.name as XM,
    a.cert_no as SFZHM,
    (select hb.c_value from healthinfo_base_code hb where hb.c_code ='GB/T 2261.1-2003' and hb.cm_value =a.gender_code  limit 1) as XBDM,
    (select hb.c_meaning from healthinfo_base_code hb where hb.c_code ='GB/T 2261.1-2003' and hb.cm_value =a.gender_code  limit 1) as XBMC,
    a.age as NL,
    (select hb.c_value from healthinfo_base_code hb where hb.c_code ='CX02.01.002' and hb.cm_value =a.visit_code  limit 1) as JZLX,
    (select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV07.10.003' and hb.cm_value =ss.remark  limit 1) as YLBXLBDM,
   (select hb.c_meaning from healthinfo_base_code hb where hb.c_code ='CV07.10.003' and hb.cm_value =ss.remark  limit 1) as YLBXLBMC,
    '' as TXBZ,
    '' as WDBZ,
    a.dept_id as JZKSBM,
    a.dept_name as JZKSMC,
    a.visit_time as JZKSRQ,
    a.doctor_id as JZYSBM,
    a.doctor_name as JZYSXM,
    '' as JZYSZCDM,
    '' as JZYSZCMC,
    (select bd.code from base_disease bd where bd.id=od.disease_id and bd.hosp_code=od.hosp_code limit 1)  as MZZDBM,
    (select bd.name from base_disease bd where bd.id=od.disease_id and bd.hosp_code=od.hosp_code limit 1) as MZZDMC,
    '' as MZZDSM,
    '' as ZS,
    '' as GMS,
    '' as JBS,
    '' as ZZMS,
    ifnull(a.is_first_visit,'1') as CZBZDM,
    '1' as VALIDFLAG,
    a.visit_time as APPETIME,
    a.crte_time as MODIFYTIME,
    a.crte_id as MODIFYTCODE,
    a.crte_name as MODIFYTNAME
    from outpt_visit a
    left join outpt_diagnose od on a.id= od.visit_id and a.hosp_code = od.hosp_code and od.is_main ='1'
    left join sys_code_detail ss on a.patient_code =ss.value and ss.hosp_code = a.hosp_code and ss.c_code ='BRLX' and ss.is_valid='1'
    where a.crte_time &gt;= date(#{startTime}) and a.crte_time &lt;= date(#{endTime}) and a.hosp_code =#{hospCode}
    order by a.crte_time asc
	</select>
    <select id="queryPrescribeInfo" parameterType="java.util.Map"
            resultType="cn.hsa.module.interf.healthInfo.entity.TbMzcfzxx">
        select
            (select value from sys_parameter sp where sp.code ='HOSP_INSURE_NATION_INFO' and sp.hosp_code=a.hosp_code limit 1) as YLJGDM,
   a.id as CFLSH,
   (select name from sys_parameter scd where scd.code  ='HOSP_INSURE_NATION_INFO' and scd.hosp_code = a.hosp_code limit 1) as yljgmc,
   b.profile_id as HZJGNWYID,
   a.order_no as CFH,
   a.visit_id as MZLSH,
   b.name as XM,
   (select hb.c_value from healthinfo_base_code hb where hb.c_code ='GB/T 2261.1-2003' and hb.cm_value =b.gender_code  limit 1) as XBDM,
   (select hb.c_meaning from healthinfo_base_code hb where hb.c_code ='GB/T 2261.1-2003' and hb.cm_value =b.gender_code  limit 1) as XBMC,
   b.age as NL,
   (select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV07.10.003' and hb.cm_value =ss.remark  limit 1) as YLFYLYLBDM,
   (select hb.c_meaning from healthinfo_base_code hb where hb.c_code ='CV07.10.003' and hb.cm_value =ss.remark  limit 1) as YLFYLYLBMC,
   (select hb.c_value from healthinfo_base_code hb where hb.c_code ='CX02.01.009' and hb.cm_value =a.type_code  limit 1) as CFLB,
   (select hb.c_value from healthinfo_base_code hb where hb.c_code ='CX02.01.010' and hb.cm_value =a.prescribe_type_code  limit 1) as CFLX,
   a.dept_id as KFKSDM,
   a.dept_name as KFKSMC,
    a.doctor_id as KFYSBM,
    a.doctor_name as KFYSXM,
    a.crte_time as KFSJ,
    a.diagnose_ids as ZDBM,
    '' as ZDMC,
    '' as DPYSBM,
    '' as DPYSXM,
    '' as HDYSBM,
    '' as HDYSXM,
    '' as FYYSBM,
    '' as FYYSXM,
    '' as CFSHYJSQM,
    sum(opd.total_price) as CFJE,
    '' as ZFYSBM,
    '' as ZFYSMC,
    a.is_cancel as ZFBZ,
    a.remark as BZ,
    a.is_cancel as VALIDFLAG,
    a.crte_time as APPETIME,
    a.crte_time  as MODIFYTIME,
    a.crte_id as MODIFYTCODE,
    a.crte_name as MODIFYTNAME
        from outpt_prescribe a
            left join outpt_visit b on a.visit_id = b.id and a.hosp_code = b.hosp_code
            left join outpt_prescribe_detail opd on opd.op_id=a.id and opd.hosp_code =a.hosp_code
            left join sys_code_detail ss on b.patient_code =ss.value and ss.hosp_code = b.hosp_code and ss.c_code ='BRLX' and ss.is_valid='1'
        where a.crte_time &gt;= date(#{startTime}) and a.crte_time &lt;= date(#{endTime}) and a.hosp_code =#{hospCode}
        group by a.id
        order by a.crte_time asc

    </select>

    <select id="queryOutptPrescribeDetailInfo" parameterType="java.util.Map"
            resultType="cn.hsa.module.interf.healthInfo.entity.TbMzcfmx">
   select
   (select value from sys_parameter sp where sp.code ='HOSP_INSURE_NATION_INFO' and sp.hosp_code=a.hosp_code limit 1) as YLJGDM,
   a.id as CFMXH,
   a.op_id as CFLSH,
   b.profile_id as HZJGNWYID,
   a.visit_id as MZLSH,
   c.order_no as CFH,
   c.doctor_id as KFYSBM,
   c.doctor_name as KFYSXM,
   c.crte_time as KFSJ,
   c.dept_id as KFKSDM,
   c.dept_name as KFKSMC,
   a.exec_dept_id as ZXKSDM,
   (select name from base_dept bd where bd.id =a.exec_dept_id and bd.hosp_code = a.hosp_code limit 1) as ZXKSMC,
   a.item_code as XMBM,
   a.item_name  as XMMC,
   a.num as SL,
   a.price as DJ,
   a.total_price as JE,
   a.num_unit_code as YPDW,
   a.group_no as YZZH,
   case when bd.id is null then '0' else '1' end as SFYP,
   '' as YL,
   a.rate_id as SYPC,
   a.speed_code as YYSD,
   a.use_days as YYTS,
   a.is_skin as SFPS,
   a.is_positive as PSJG,
   a.spec as YPGG,
   a.dosage as JL,
   a.dosage_unit_code as DW,
   '' as MCSL,
   '' as MCDW,
   ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV06.00.102' and hb.cm_value =a.usage_code limit 1),a.usage_code) as YYTJDM,
   (select hb.c_meaning from healthinfo_base_code hb where hb.c_code ='CV06.00.102' and hb.cm_value =a.usage_code limit 1) as YYTJMC,
   a.prep_code as YWJX,
   a.remark as ZYYPJZF,
   a.usage_code as ZYYYFF,
   '' as TSYQ,
   ''  as TJ,
   '' as ZZZF,
   a.herb_note_code as ZYSYLBDM,
   case when bd.antibacterial_code is null then '0' else '1' end as KJYWBZ,
   bd.durg_code as JBYWBZ,
   bd.ph_code as TSYPFL,
   bd.is_lvp  as JMSYBZ,
   bd.basic_code as YLLB,
   bd.ddd as DDD,
   bd.antibacterial_code as KJYWDJDM,
   '' as JCBW,
   '' as BZ,
   c.is_cancel as ZFZT,
   c.is_cancel as VALIDFLAG,
   c.crte_time as APPETIME,
   c.crte_time as MODIFYTIME,
   c.crte_id  as MODIFYTCODE,
   c.crte_name as MODIFYTNAME
   from outpt_prescribe_detail a
   join outpt_visit b on a.visit_id = b.id and a.hosp_code = b.hosp_code
   left join outpt_prescribe c on a.op_id =c.id and a.hosp_code =c.hosp_code
   left join base_drug bd on a.item_id = bd.id and a.hosp_code = bd.hosp_code
    where c.crte_time &gt;= date(#{startTime}) and c.crte_time &lt;= date(#{endTime}) and c.hosp_code =#{hospCode}
    order by c.crte_time asc
	</select>
    <select id="queryOutptPrescribeExecuteInfo" parameterType="java.util.Map"
            resultType="cn.hsa.module.interf.healthInfo.entity.TbMzcfzxjl">
		  select
        (select value from sys_parameter sp where sp.code ='HOSP_INSURE_NATION_INFO' and sp.hosp_code=a.hosp_code limit 1) as yljgdm,
        d.id as zxdh,
        floor(RAND()*1000) as zxcs,
        c.id as cflsh,
        b.id as cfmxh,
        e.profile_id as hzjgnwyid,
        e.name as xm,
        a.visit_id as mzlsh,
        c.order_no as cfh,
        a.group_no as cfzh,
        d.exec_id as zxrbm,
        d.exec_name as zxrxm,
        d.exec_time as zxsj,
        d.remark as zxsm,
        '' as pyrbm,
        '' as pyrxm,
        null as pysj,
        d.exec_id as czrbm,
        d.exec_name as czrxm,
        d.exec_time  as czsj,
        ifnull((select hb.c_value from healthinfo_base_code hb where hb.c_code ='CV06.00.102' and hb.cm_value =a.usage_code limit 1),a.usage_code) as yf,
        c.is_cancel as VALIDFLAG,
        c.crte_time as APPETIME,
        c.crte_time as MODIFYTIME,
        c.crte_id  as MODIFYTCODE,
        c.crte_name as MODIFYTNAME
        from outpt_prescribe_detail_ext a
        left join outpt_prescribe_detail b on a.hosp_code = b.hosp_code and a.visit_id = b.visit_id and a.opd_id = b.id
        left join outpt_prescribe c on a.hosp_code = c.hosp_code and a.visit_id = b.visit_id and a.opd_id = b.id and a.op_id = c.id
        join outpt_prescribe_exec d on b.id=d.opd_id  and b.hosp_code = d.hosp_code and b.visit_id = d.visit_id
        left join outpt_visit e on a.hosp_code = e.hosp_code and a.visit_id = e.id
        where d.exec_time &gt;= date(#{startTime}) and d.exec_time &lt;= date(#{endTime}) and d.hosp_code =#{hospCode}
        and a.usage_code is not null
        order by d.exec_time asc
	</select>
    <select id="queryOutptSettleInfo" parameterType="java.util.Map"
            resultType="cn.hsa.module.interf.healthInfo.entity.TbMzsfhz">
        (SELECT DISTINCT
        a.id as MZSFJSDH,
        (select value from sys_parameter sp where sp.code ='HOSP_INSURE_NATION_INFO' and sp.hosp_code=a.hosp_code limit 1 ) as yljgdm,
        c.profile_id as hzjgnwyid,
        a.daily_settle_id as jkdh,
        (select name from sys_parameter scd where scd.code  ='HOSP_INSURE_NATION_INFO' and scd.hosp_code = a.hosp_code limit 1) as yljgmc,
        a.visit_id as mzlsh,
        c.name as xm,
        (select hb.c_value from healthinfo_base_code hb where hb.c_code ='GB/T 2261.1-2003' and hb.cm_value =c.gender_code  limit 1) as xbdm,
        (select hb.c_meaning from healthinfo_base_code hb where hb.c_code ='GB/T 2261.1-2003' and hb.cm_value =c.gender_code  limit 1) as xbmc,
        c.age as nl,
        (select b.invoice_no from outpt_settle_invoice b where b.hosp_code = a.hosp_code AND b.visit_id = a.visit_id  and a.id = b.settle_id limit 1) as fph,
        ifnull(a.total_price,0.00) as fyze,
        ifnull(a.mi_price,0.00) as bcze,
        ifnull(a.self_price,0.00) as zfze,
        a.status_code as tfbz,
        a.crte_id as sfrybm,
        a.crte_name as sfrymc,
        a.crte_time as sfsj,
        '1' as VALIDFLAG,
        a.crte_time as APPETIME,
        a.crte_time as MODIFYTIME,
        a.crte_id  as MODIFYTCODE,
        a.crte_name as MODIFYTNAME
        FROM
        outpt_settle a
        LEFT JOIN outpt_visit c ON a.hosp_code = c.hosp_code and a.visit_id = c.id
        where a.crte_time &gt;= date(#{startTime}) and a.crte_time &lt;= date(#{endTime}) and a.hosp_code =#{hospCode}
        order by a.crte_time asc)
        union all
        (select
        DISTINCT
        b.id as MZSFJSDH,
        (select value from sys_parameter sp where sp.code ='HOSP_INSURE_NATION_INFO' and sp.hosp_code=a.hosp_code limit 1) as yljgdm,
        f.profile_id as hzjgnwyid,
        b.daily_settle_id as jkdh,
        (select name from sys_parameter scd where scd.code  ='HOSP_INSURE_NATION_INFO' and scd.hosp_code = a.hosp_code limit 1) as yljgmc,
        b.register_id as mzlsh,
        f.name as xm,
        (select hb.c_value from healthinfo_base_code hb where hb.c_code ='GB/T 2261.1-2003' and hb.cm_value =f.gender_code  limit 1) as xbdm,
        (select hb.c_meaning from healthinfo_base_code hb where hb.c_code ='GB/T 2261.1-2003' and hb.cm_value =f.gender_code  limit 1) as xbmc,
        f.age as nl,
        c.invoice_no as fph,
        ifnull(b.total_price,0.00) as fyze,
        0.00 as bcze,
        ifnull(b.total_price,0.00) as zfze,
        b.status_code as tfbz,
        a.crte_id as sfrybm,
        a.crte_name as sfrymc,
        a.crte_time as sfsj,
        '1' as VALIDFLAG,
        a.crte_time as APPETIME,
        a.crte_time as MODIFYTIME,
        a.crte_id  as MODIFYTCODE,
        a.crte_name as MODIFYTNAME
        FROM
        outpt_register_settle b
        LEFT JOIN outpt_register a ON a.id = b.register_id and a.hosp_code=b.hosp_code
        LEFT JOIN outin_invoice_detail c ON ( b.hosp_code = c.hosp_code and b.bill_id = c.invoice_id AND b.bill_no = c.invoice_no )
        LEFT JOIN outpt_visit f ON f.id = a.visit_id and f.hosp_code=a.hosp_code
        where a.crte_time &gt;= date(#{startTime}) and a.crte_time &lt;= date(#{endTime}) and a.hosp_code =#{hospCode}
        order by a.crte_time asc)
	</select>
    <select id="queryOutptSettleCostDetailInfo" parameterType="java.util.Map"
            resultType="cn.hsa.module.interf.healthInfo.entity.TbMzsfmx">
       select
       a.id as sfmxid,
       (select value from sys_parameter sp where sp.code ='HOSP_INSURE_NATION_INFO' and sp.hosp_code=a.hosp_code limit 1) as yljgdm,
       a.status_code as tfbz,
       (select name from sys_parameter scd where scd.code  ='HOSP_INSURE_NATION_INFO' and scd.hosp_code = a.hosp_code limit 1) as yljgmc,
       v.profile_id as hzjgnwyid,
       a.visit_id as mzlsh,
       o.order_no as cfh,
       case when a.item_code='1' then '1' else '0' end as sfypbz,
       b.out_code as mxfylb,
       a.crte_time as stfsj,
       a.item_code as mxxmbm,
       a.item_name as mxxmmc,
       a.num_unit_code as mxxmdw,
       a.price as mxxmdj,
       a.num as mxxmsl,
       a.total_price as mxxmje,
       a.dept_id as sfksdm,
       '' as sfksmc,
       s.crte_id  as sfrybm,
       s.crte_name as sfryxm,
       a.doctor_id as kfysbm,
       a.doctor_name as kfysxm,
       s.crte_time as kfsj,
       o.dept_id as kfksdm,
       o.dept_name as kfksmc,
       a.exec_dept_id as zxksdm,
       '' as zxksmc,
       '' as fyrbm,
       '' as fyrxm,
       null as fysj,
       a.is_dist as fybz,
       '1' as VALIDFLAG,
       a.crte_time as APPETIME,
       a.crte_time as MODIFYTIME,
       a.crte_id  as MODIFYTCODE,
       a.crte_name as MODIFYTNAME
       from
       outpt_cost a
       left join base_finance_classify b on a.bfc_id = b.id
       left join outpt_settle s on s.id = a.settle_id and s.hosp_code = a.hosp_code
       left join outpt_prescribe o on a.op_id = o.id and o.hosp_code = a.hosp_code
       left join outpt_visit v on v.id = a.visit_id and v.hosp_code = a.hosp_code
       where a.crte_time &gt;= date(#{startTime}) and a.crte_time &lt;= date(#{endTime}) and a.hosp_code =#{hospCode}
        order by a.crte_time asc
    </select>
</mapper>