<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hsa.module.insure.module.dao.InsureRecruitPurchaseDAO">


    <!--    获取当前医院库存列表-->
    <select id="queryAll" resultType="java.util.Map">
        SELECT
            prodCode,
            fixmedinsHilistId,
            fixmedinsHilistName,
            rxFlag,
            invdate,
            manuLotnum,
            fixmedinsBchno,
            manuDate,
            expyEnd,
            memo,
            invChgType,
            pric,
            invCnt,
            invChgTime,
            invChgOpterName,
            trdnFlag
        FROM
    </select>
<!--    获取商品销售记录列表-->
    <select id="queryCommoditySalesRecord" resultType="java.util.Map"></select>
    <!--    新增、修改当前医院库存表-->
    <insert id="insertinvChgMedinsInfo">

    </insert>
<!--    新增商品销售记录-->
    <insert id="insertCommoditySalesRecord"></insert>
<!--    新增商品销售退货记录-->
    <insert id="insertCommoditySalesReturnRecord"></insert>
    <insert id="insertStockUploadBatch">
        INSERT INTO insure_stock_upload(
        id, hosp_code,insure_type, fixmedins_bchno, inv_data_type, upload_time, cert_id
        )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.id}, #{item.hospCode},  #{item.insureType}, #{item.fixmedinsBchno}, #{item.invDataType}, #{item.uploadTime}, #{item.certId})
        </foreach>
    </insert>
    <!--    新增、修改当前医院库存表-->
    <update id="updateinvChgMedinsInfo">

    </update>

    <!--查询存在【药品/材料】销售/退货记录的人员列表-->
    <select id="queryPersonList" parameterType="cn.hsa.module.insure.module.dto.InsureRecruitPurchaseDTO" resultType="java.util.Map">
        select
            t1.queryType,
            t1.visitId,
            t1.hospCode,
            t1.name as patientInfo,
            t1.profileNo,
            t1.visitNo,
            t1.certCode,
            t1.certNo,
            t1.visitDeptName,
            t1.visitDeptId,
            t1.visitTime,
            t1.bedName,
            t1.patientCode
        from (
            SELECT
                '1' as queryType,
                c.id as visitId,
                c.hosp_code as hospCode,
                c.name,
                c.out_profile as profileNo,
                c.visit_no as visitNo,
                c.cert_code as certCode,
                c.cert_no certNo,
                c.dept_id as visitDeptId,
                c.dept_name as visitDeptName,
                date_format(c.visit_time, '%Y-%m-%d') as visitTime,
                '' as bedName,
                c.patient_code as patientCode
            FROM
                outpt_cost a
            LEFT JOIN base_drug b on a.hosp_code = b.hosp_code and a.item_id = b.id
            LEFT JOIN base_material bm on a.hosp_code = bm.hosp_code and a.item_id = bm.id
            LEFT JOIN outpt_visit c on a.hosp_code = c.hosp_code and a.visit_id = c.id
            WHERE a.hosp_code = #{hospCode}
              and a.item_code = #{itemCode} /*药品/材料*/
            <if test="sellType != null and sellType != '' and sellType == '1'.toString()">
                and a.status_code = '0' /*正常状态*/
            </if>
            <if test="sellType != null and sellType != '' and sellType == '2'.toString()">
                and a.status_code = '2' /*冲红状态*/
            </if>
              and a.settle_code = '2' /*已结算*/
              and a.is_upload = '0' /*未上传*/
              and c.is_visit = '1' /*已接诊*/
            GROUP BY a.visit_id

            UNION ALL

            SELECT
                '2' as queryType,
                c.id as visitId,
                c.hosp_code as hospCode,
                c.name,
                c.in_profile as profileNo,
                c.in_no as visitNo,
                c.cert_code as certCode,
                c.cert_no certNo,
                c.in_dept_id as visitDeptId,
                c.in_dept_name as visitDeptName,
                date_format(c.in_time, '%Y-%m-%d') as visitTime,
                c.bed_name as bedName,
                c.patient_code as patientCode
            FROM
                inpt_cost a
            LEFT JOIN base_drug b on a.hosp_code = b.hosp_code and a.item_id = b.id
            LEFT JOIN base_material bm on a.hosp_code = bm.hosp_code and a.item_id = bm.id
            LEFT JOIN inpt_visit c on a.hosp_code = c.hosp_code and a.visit_id = c.id
            WHERE a.hosp_code = #{hospCode}
              and a.item_code = #{itemCode} /*药品/材料*/
            <if test="sellType != null and sellType != '' and sellType == '1'.toString()">
                and a.status_code = '0' /*正常状态*/
            </if>
            <if test="sellType != null and sellType != '' and sellType == '2'.toString()">
                and a.status_code = '2' /*冲红状态*/
            </if>
              and a.settle_code = '2' /*已结算*/
              and a.is_upload = '0' /*未上传*/
              and (c.status_code = '2' or c.status_code = '5' or c.status_code = '6' or c.status_code = '7') /*在院病人*/
            GROUP BY a.visit_id
        ) t1
        where 1=1
        <if test="keyword != null and keyword != ''">
            /*页面搜索条件：姓名、床号、就诊号、证件号*/
            and (t1.name like concat('%', #{keyword}, '%') or t1.bedName = #{keyword} or t1.visitNo = #{keyword} or t1.certNo = #{keyword})
        </if>
        <if test="queryType != null and queryType != '' and queryType != '0'.toString()">
            and t1.queryType = #{queryType}
        </if>
        <if test="queryType == null or queryType == '' or queryType == '0'.toString()">
            and t1.queryType in ('1', '2')
        </if>
        <if test="startDate != null and startDate != ''">
          <![CDATA[
            and t1.visitTime >= #{startDate}
          ]]>
        </if>
        <if test="endDate != null and startDate != ''">
          <![CDATA[
            and t1.visitTime <= #{endDate}
          ]]>
        </if>
        order by t1.queryType, t1.visitNo, t1.bedName, t1.visitTime
    </select>

    <!--根据就诊id查询【药品】销售列表-->
    <select id="queryDrugList" parameterType="cn.hsa.module.insure.module.dto.InsureRecruitPurchaseDTO" resultType="java.util.Map">
        SELECT
            '1' as queryType,
            a.id,
            a.hosp_code as hospCode,
            a.visit_id as visitId,
            a.item_id as itemId,
            a.item_name as itemName,
            (select name from base_dept bd where a.hosp_code = bd.hosp_code and a.dept_id = bd.id) as deptName,
            c.insure_item_code as prodCode,
            c.insure_item_code as fixmedinsHilistId,
            c.insure_item_name as fixmedinsHilistName,
            (SELECT cert_code from sys_user s where s.hosp_code = d.hosp_code and s.id = a.doctor_id) as prscDrCertType,
            (SELECT cert_no from sys_user s where s.hosp_code = d.hosp_code and s.id = a.doctor_id) as prscDrCertno,
            a.doctor_name as prscDrName,
            iiv.medical_reg_no as mdtrtSn,
            iiv.aac001 as psnNo,
            d.cert_no as certno,
            d.name as psnName,
            a.total_num as selRetnCnt,
            <if test="itemCode == '1'.toString() ">
                b.is_prescription as rxFlag,
            </if>
            b.split_ratio as splitRatio,
            a.reality_price as finlTrnsPric,
            DATE_FORMAT(e.settle_time, '%Y-%m-%d') as selRetnTime,
            e.crte_name as selRetnOpterName
        FROM
            outpt_cost a
        <if test="itemCode == '1'.toString() ">
            LEFT JOIN base_drug b on a.hosp_code = b.hosp_code and a.item_id = b.id
        </if>
        <if test="itemCode != '1'.toString() ">
            LEFT JOIN base_material b on a.hosp_code = b.hosp_code and a.item_id = b.id
        </if>
        LEFT JOIN insure_item_match c on a.hosp_code = c.hosp_code and a.item_id = c.hosp_item_id
        LEFT JOIN outpt_visit d on a.hosp_code = d.hosp_code and a.visit_id = d.id
        LEFT JOIN outpt_settle e on a.hosp_code = e.hosp_code and a.settle_id = e.id
        LEFT JOIN insure_individual_visit iiv on a.hosp_code = iiv.hosp_code and a.visit_id = iiv.id
        where a.hosp_code = #{hospCode}
          and a.visit_id = #{visitId} /*就诊id*/
          and a.item_code = #{itemCode} /*项目类别为药品*/
          and d.is_visit = '1' /*已就诊*/
        <if test="sellType != null and sellType != '' and sellType == '1'.toString()">
            and a.status_code = '0' /*正常状态*/
        </if>
        <if test="sellType != null and sellType != '' and sellType == '2'.toString()">
            and a.status_code = '2' /*冲红状态*/
        </if>
          and a.settle_code = '2' /*已结算*/
          and a.is_upload = '0' /*未上传*/
          and c.audit_code = '1' /*医保项目已审核*/
          and c.is_match = '1' /*医保项目已匹配*/
          and c.is_trans = '1' /*医保项目已传输*/
          and c.is_valid = '1' /*医保项目有效*/

        UNION ALL

        SELECT
            '2' as queryType,
            a.id,
            a.hosp_code as hospCode,
            a.visit_id as visitId,
            b.code as itemCode,
            a.item_name as itemName,
            (select name from base_dept bd where a.hosp_code = bd.hosp_code and a.dept_id = bd.id) as deptName,
            c.insure_item_code as prodCode,
            c.insure_item_code as fixmedinsHilistId,
            c.insure_item_name as fixmedinsHilistName,
            (SELECT cert_code from sys_user s where s.hosp_code = d.hosp_code and s.id = a.doctor_id) as prscDrCertType,
            (SELECT cert_no from sys_user s where s.hosp_code = d.hosp_code and s.id = a.doctor_id) as prscDrCertno,
            a.doctor_name as prscDrName,
            iiv.medical_reg_no as mdtrtSn,
            iiv.aac001 as psnNo,
            d.cert_no as certno,
            d.name as psnName,
            a.total_num as selRetnCnt,
            <if test="itemCode == '1'.toString() ">
                b.is_prescription as rxFlag,
            </if>
            b.split_ratio as splitRatio,
            a.reality_price as finlTrnsPric,
            DATE_FORMAT(e.settle_time, '%Y-%m-%d') as selRetnTime,
            e.crte_name as selRetnOpterName
        FROM
            inpt_cost a
        <if test="itemCode == '1'.toString() ">
            LEFT JOIN base_drug b on a.hosp_code = b.hosp_code and a.item_id = b.id
        </if>
        <if test="itemCode != '1'.toString() ">
            LEFT JOIN base_material b on a.hosp_code = b.hosp_code and a.item_id = b.id
        </if>
        LEFT JOIN insure_item_match c on a.hosp_code = c.hosp_code and a.item_id = c.hosp_item_id
        LEFT JOIN inpt_visit d on a.hosp_code = d.hosp_code and a.visit_id = d.id
        LEFT JOIN inpt_settle e on a.hosp_code = e.hosp_code and a.settle_id = e.id
        LEFT JOIN insure_individual_visit iiv on a.hosp_code = iiv.hosp_code and a.visit_id = iiv.id
        where a.hosp_code =  #{hospCode}
          and a.visit_id = #{visitId} /*就诊id*/
          and a.item_code = #{itemCode} /*项目类别为药品*/
          and (d.status_code = '2' or d.status_code = '5' or d.status_code = '6' or d.status_code = '7') /*排除无效在院状态*/
        <if test="sellType != null and sellType != '' and sellType == '1'.toString()">
            and a.status_code = '0' /*正常状态*/
        </if>
        <if test="sellType != null and sellType != '' and sellType == '2'.toString()">
            and a.status_code = '2' /*冲红状态*/
        </if>
          and a.settle_code = '2' /*已结算*/
          and a.is_upload = '0' /*未上传*/
          and c.audit_code = '1' /*医保项目已审核*/
          and c.is_match = '1' /*医保项目已匹配*/
          and c.is_trans = '1' /*医保项目已传输*/
          and c.is_valid = '1' /*医保项目有效*/
    </select>
    <select id="queryStockUpBatch" parameterType="java.util.List" resultType="cn.hsa.module.insure.stock.entity.InsureGoodInfoDelete">
        select id, hosp_code,insure_type, fixmedins_bchno, inv_data_type, upload_time, cert_id from insure_stock_upload
       where fixmedins_bchno in
        <foreach collection="list" open="(" separator="," close=")" item="item">
            #{item}
        </foreach>
    </select>
    <select id="queryInsureInventoryStockUpdatePage"
            resultType="cn.hsa.module.insure.stock.entity.InsureInventoryStockUpdate">
        SELECT
        c.insure_item_code AS medListCodg,
        #{invChgType} as invChgType,
        c.insure_item_code AS fixmedinsHilistId,
        c.insure_item_name AS fixmedinsHilistName,
        c.insure_item_code as insureItemCode,
        c.insure_item_name as insureItemName,
        c.insure_reg_code as insureRegCode,
        si.id AS fixmedinsBchno,
        si.sell_price AS pric,
        si.num AS cnt,
        si.item_code as itemCode,
        si.curr_unit_code AS currUnitCode,
        CASE
        WHEN si.item_code = '1' THEN
        b.is_prescription
        WHEN si.item_code = '2' THEN
        '0'
        END AS rxFlag,
        si.crte_time AS invChgTime,
        si.crte_name as invChgOpterName,
        CASE
        WHEN si.split_ratio = '1' THEN
        '0' ELSE '1'
        END AS trdnFlag
        FROM
        stro_invoicing si
        join insure_item_match c on si.item_id = c.hosp_item_id and c.hosp_code = si.hosp_code
        LEFT JOIN base_material bd on bd.id = si.item_id  and si.hosp_code = bd.hosp_code
        left join base_drug b on si.item_id = b.id  and b.hosp_code = si.hosp_code
        where si.hosp_code = #{hospCode}
        and si.outin_code in
        <foreach collection="outinCodeList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="keyword != null and keyword != '' ">
            and (c.insure_item_name like concat('%',#{keyword},'%') or b.good_pym like concat('%',#{keyword},'%')
            or b.good_wbm like concat('%',#{keyword},'%')
            or b.usual_pym like concat('%',#{keyword},'%')
            or b.usual_wbm like concat('%',#{keyword},'%')
            or bd.pym like concat('%',#{keyword},'%') or bd.wbm like concat('%',#{keyword},'%') )
        </if>
        <if test="insureRegCode != null and insureRegCode != ''">
            and c.insure_reg_code = #{insureRegCode}
        </if>
        <if test="itemCode != null and itemCode != ''">
            and si.item_code = #{itemCode}
        </if>
        AND c.audit_code = '1' /*医保项目已审核*/
        AND c.is_match = '1' /*医保项目已匹配*/
        AND c.is_trans = '1' /*医保项目已传输*/
        AND c.is_valid = '1' /*医保项目有效*/
        and (si.upload_insure = '0' or si.upload_insure is null)

        order by fixmedinsBchno
    </select>

    <!--更新费用表上传状态-->
    <update id="updateCostIsUpload" parameterType="java.util.Map">
        update outpt_cost
        set is_upload = #{isUpload}
        where hosp_code = #{hospCode}
         and id in
        <foreach collection="ids" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
        ;
        update inpt_cost
        set is_upload = '1'
        where hosp_code = #{hospCode}
        and id in
        <foreach collection="ids" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
        ;
    </update>
    <update id="updateStatus">
        update stro_invoicing set upload_insure = #{statusCode} where hosp_code = #{hospCode}
        and id in
        <foreach collection="ids" open="(" separator="," close=")" item="item">
            #{item}
        </foreach>
    </update>
</mapper>
