<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hsa.module.insure.clinica.dao.InsurePathologicalReportDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hsa.module.insure.clinica.entity.InsurePathologicalReportDO">
        <id column="uuid" property="uuid" />
        <result column="hosp_code" property="hospCode" />
        <result column="mdtrt_sn" property="mdtrtSn" />
        <result column="mdtrt_id" property="mdtrtId" />
        <result column="psn_no" property="psnNo" />
        <result column="visit_no" property="visitNo" />
        <result column="palg_no" property="palgNo" />
        <result column="frozen_no" property="frozenNo" />
        <result column="cma_date" property="cmaDate" />
        <result column="rpot_date" property="rpotDate" />
        <result column="cma_matl" property="cmaMatl" />
        <result column="clnc_dise" property="clncDise" />
        <result column="exam_fnd" property="examFnd" />
        <result column="sabc" property="sabc" />
        <result column="palg_diag" property="palgDiag" />
        <result column="rpot_doc" property="rpotDoc" />
        <result column="vali_flag" property="valiFlag" />
        <result column="is_uplod" property="isUplod" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uuid, hosp_code, mdtrt_sn, mdtrt_id, psn_no,visit_no, palg_no, frozen_no, cma_date, rpot_date, cma_matl, clnc_dise, exam_fnd, sabc, palg_diag, rpot_doc, vali_flag, is_uplod, create_time, update_time
    </sql>

    <select id="queryPagePathologicalReport" resultType="cn.hsa.module.insure.clinica.dto.InsurePathologicalReportDTO">
        select <include refid="Base_Column_List"/>
        from insure_pathological_report
        <where>
            and vali_flag = '1'
            <if test="visitNo != null and mdtrtSn != '' ">
                and visit_no like concat('%', #{visitNo,jdbcType=VARCHAR}, '%')
            </if>
            <if test="palgNo != null and palgNo != '' ">
                and palg_no like concat('%', #{palgNo,jdbcType=VARCHAR}, '%')
            </if>
        </where>
    </select>

    <select id="queryByUuid" resultType="cn.hsa.module.insure.clinica.dto.InsurePathologicalReportDTO">
        select <include refid="Base_Column_List"/>
        from insure_pathological_report
        where uuid = #{uuid}
    </select>

    <select id="queryByMdtrtSn" resultType="cn.hsa.module.insure.clinica.dto.InsurePathologicalReportDTO">
        select <include refid="Base_Column_List"/>
        from insure_pathological_report
        where mdtrt_sn = #{mdtrtSn}
    </select>

    <insert id="insertInsurePathologicalReport" parameterType="cn.hsa.module.insure.clinica.dto.InsurePathologicalReportDTO" >
        insert into insure_pathological_report (uuid, mdtrt_sn, mdtrt_id,
        psn_no, visit_no, palg_no,frozen_no,
        cma_date, rpot_date, cma_matl,
        clnc_dise, exam_fnd, sabc,
        palg_diag,rpot_doc, vali_flag,
        is_uplod,create_time, update_time, hosp_code
        )
        values (#{uuid,jdbcType=BIGINT}, #{mdtrtSn,jdbcType=VARCHAR}, #{mdtrtId,jdbcType=VARCHAR},
        #{psnNo,jdbcType=VARCHAR}, #{visitNo,jdbcType=VARCHAR},#{palgNo,jdbcType=VARCHAR},
        #{frozenNo,jdbcType=VARCHAR}, #{cmaDate,jdbcType=TIMESTAMP}, #{rpotDate,jdbcType=TIMESTAMP},#{cmaMatl,jdbcType=VARCHAR},
        #{clncDise,jdbcType=VARCHAR}, #{examFnd,jdbcType=VARCHAR},#{sabc,jdbcType=VARCHAR},
        #{palgDiag,jdbcType=VARCHAR},#{rpotDoc,jdbcType=VARCHAR},
        #{valiFlag,jdbcType=VARCHAR},#{isUplod,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},#{hospCode,jdbcType=VARCHAR})
    </insert>

    <update id="updateSelective" parameterType="map" >
        update insure_pathological_report
        <set >
            <if test="mdtrtSn != null" >
                mdtrt_sn = #{mdtrtSn,jdbcType=VARCHAR},
            </if>
            <if test="mdtrtId != null" >
                mdtrt_id = #{mdtrtId,jdbcType=VARCHAR},
            </if>
            <if test="psnNo != null" >
                psn_no = #{psnNo,jdbcType=VARCHAR},
            </if>
            <if test="visitNo != null" >
                visit_no = #{visitNo,jdbcType=VARCHAR},
            </if>
            <if test="palgNo != null" >
                palg_no = #{palgNo,jdbcType=VARCHAR},
            </if>
            <if test="frozenNo != null" >
                frozen_no = #{frozenNo,jdbcType=VARCHAR},
            </if>
            <if test="cmaDate != null" >
                cma_date = #{cmaDate,jdbcType=TIMESTAMP},
            </if>
            <if test="rpotDate != null" >
                rpot_date = #{rpotDate,jdbcType=TIMESTAMP},
            </if>
            <if test="cmaMatl != null" >
                cma_matl = #{cmaMatl,jdbcType=VARCHAR},
            </if>
            <if test="clncDise != null" >
                clnc_dise = #{clncDise,jdbcType=VARCHAR},
            </if>
            <if test="examFnd != null" >
                exam_fnd = #{examFnd,jdbcType=VARCHAR},
            </if>
            <if test="sabc != null" >
                sabc = #{sabc,jdbcType=VARCHAR},
            </if>
            <if test="palgDiag != null" >
                palg_diag = #{palgDiag,jdbcType=VARCHAR},
            </if>
            <if test="rpotDoc != null" >
                rpot_doc = #{rpotDoc,jdbcType=VARCHAR},
            </if>
            <if test="valiFlag != null" >
                vali_flag = #{valiFlag,jdbcType=VARCHAR},
            </if>
            <if test="isUplod != null" >
                is_uplod = #{isUplod,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where uuid = #{uuid}
    </update>



</mapper>
