<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hsa.module.insure.module.dao.InsureUnifiedEmrUploadDAO">


    <select id="selectDiseinfo" resultType="java.util.Map">

        select mid.id,
               mid.hosp_code,
               mid.mbi_id,
               mid.visit_id,
               idm.insure_illness_code diag_code,
               idm.insure_illness_name diag_name,
               in_situation_code as    adm_cond,
               mid.disease_code  as    maindiag_flag
        from mris_inpt_diagnose mid
                 join insure_disease_match idm on mid.hosp_code = idm.hosp_code
            and idm.hosp_illness_code = mid.disease_icd10
        WHERE mid.visit_id = #{visitId}
          and mid.hosp_code = #{hospCode}
          and idm.insure_reg_code = #{insureRegCode} and idm.audit_code ='1' and idm.is_match ='1'
        order by  mid.disease_code desc

    </select>
    <select id="selectOperInfo" resultType="java.util.Map">
        select '2'                            as oprn_oprt_type,
               moi.oper_disease_name          as oprn_oprt_name,
               moi.oper_disease_icd9,
               moi.oper_time                  as oprn_oprt_date,
               ''                             as anst_way,
               (select prac_certi_no
                from sys_user su
                where su.hosp_code = #{hospCode}
                  and oper_doctor_id = su.id) as oper_dr_code,
               moi.oper_doctor_name           as oper_name,
               (select prac_certi_no
                from sys_user su
                where su.hosp_code = #{hospCode}
                  and ana_id1 = su.id)        as anst_dr_code,
               moi.ana_name1                  as anst_dr_name,
               moi.oper_time                  as oprn_oprt_date,
               idm.insure_illness_code        as oprn_oprt_code,
               oper_code                      as oprn_lv_code,
               oper_name                      as oprn_lv_name,
               assistant_name1               as asit_1_name,
               assistant_name2                   as asit_name2,
               heal_name                  as sinc_heal_lv,
               heal_code                    as sinc_heal_lv_code,
               ana_name                     as anst_mtd_name,
               ana_code                     as anst_mtd_code,
               ana_name1                    as anst_dr_name,
               oper_position                as anst_lv_code,
               oper_position_name          as anst_lv_name
        from mris_oper_info moi
                 left join insure_disease_match idm on moi.oper_disease_id = idm.hosp_illness_id
            and idm.hosp_code = moi.hosp_code
        where moi.visit_id = #{visitId}
          and moi.hosp_code = #{hospCode}
          and idm.insure_reg_code = #{insureRegCode}
          and idm.audit_code = '1'
    </select>
</mapper>