<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hsa.module.insure.stock.dao.InsureStockManagerDAO">

    <select id="queryInsureGoodBuyPage" resultType="cn.hsa.module.insure.stock.entity.InsureGoodBuy">
    select
        case when b.item_code ='2' then c.nation_code else d.nation_code end  as  medListCodg,
        case when b.item_code ='2' then c.code else d.code end  as  fixmedinsHilistId,
        b.item_name as fixmedinsHilistName,
        a.order_no as dyntNo,
        a.id as fixmedinsBchno ,
        f.name as splerName,
        '' as splerPmtno,
        '' as manuLotnum,
        e.name as prodentpName,
        '' as aprvno,
        null as manuDate,
        null as expyEnd,
        null as finlTrnsPric,
        null as purcTetnCnt,
        null as purcInvoCodg,
        null as purcInvoNo,
        '1' as rxFlag,
        null as purcRetnStoinTime,
        null as purcRetnOpterName,
        null as prod_geayFlag,
        null as memo
    from
        stro_purchase a
        JOIN stro_purchase_detail b on a.id = b.purchase_id and a.hosp_code = b.hosp_code
        LEFT JOIN base_material c on b.item_id = c.id  and c.hosp_code = b.hosp_code
        left join base_drug d on b.item_id = d.id  and d.hosp_code = b.hosp_code
        left join base_product e on b.product_id = e.id and e.hosp_code = b.hosp_code
        left join base_supplier f on a.supplier_id = f.id and a.hosp_code = f.hosp_code
    </select>

    <select id="queryInsureGoodBuyBackPage" resultType="cn.hsa.module.insure.stock.entity.InsureGoodBuyBack">
    select
        case when b.item_code ='2' then c.nation_code else d.nation_code end  as  medListCodg,
        case when b.item_code ='2' then c.code else d.code end  as  fixmedinsHilistId,
        b.item_name as fixmedinsHilistName,
        a.id as fixmedinsBchno ,
        f.name as splerName,
        '' as splerPmtno,
        null as manuDate,
        null as expyEnd,
        null as finlTrnsPric,
        null as purcRetnCnt,
        null as purcInvoCodg,
        null as purcInvoCo,
        '1' as rx_flag,
        null as purcRetnStoinTime,
        null as purcRetnOpterName,
        null as memo,
        null as medinsProdPurcNo
    from
        stro_purchase a
        JOIN stro_purchase_detail b on a.id = b.purchase_id and a.hosp_code = b.hosp_code
        LEFT JOIN base_material c on b.item_id = c.id  and c.hosp_code = b.hosp_code
        left join base_drug d on b.item_id = d.id  and d.hosp_code = b.hosp_code
        left join base_product e on b.product_id = e.id and e.hosp_code = b.hosp_code
        left join base_supplier f on a.supplier_id = f.id and a.hosp_code = f.hosp_code

    </select>

    <select id="queryInsureGoodInfoDeletePage" resultType="cn.hsa.module.insure.stock.entity.InsureGoodInfoDelete">

    </select>

    <select id="queryInsureGoodSellPage" resultType="cn.hsa.module.insure.stock.entity.InsureGoodSell">

    </select>

    <select id="queryInsureGoodSellBackPage" resultType="cn.hsa.module.insure.stock.entity.InsureGoodSellBack">

    </select>

    <select id="queryInsureInventoryCheckPage" resultType="cn.hsa.module.insure.stock.entity.InsureInventoryCheck">
    SELECT
        e.insure_item_code  as  medListCodg,
        e.hosp_item_code as fixmedinsHilistId,
        e.hosp_item_name as fixmedinsHilistName,
        '1' as rx_flag,
        a.crte_time as invdate,
        b.final_num as invCnt,
        b.batch_no as manuLotnum,
        a.order_no as fixmedinsBchno,
        a.crte_time  as  manuDate,
        b.expiry_date  as  expyEnd,
        a.remark as	memo
    FROM
        stro_inventory a
        JOIN stro_inventory_detail b ON a.id = b.inventory_id and a.hosp_code = b.hosp_code
        join insure_item_match e on b.item_id = e.hosp_item_id and e.hosp_code = b.hosp_code
        where a.hosp_code = #{hospCode} and e.is_trans ='1'
    </select>

    <select id="queryInsureInventoryStockUpdatePage" resultType="cn.hsa.module.insure.stock.entity.InsureInventoryStockUpdate">
     SELECT
        case when b.item_code ='2' then c.nation_code else d.nation_code end  as  medListCodg,
        '1' as invChgType,
        case when b.item_code ='2' then c.code else d.code end  as  fixmedinsHilistId,
        b.item_name as fixmedinsHilistName,
        b.batch_no as fixmedinsBchno,
        b.sell_price as price,
        b.num as cnt,
        '' as rxFlag,
        null as invChgTime,
        '' as invChgOpterName,
        '' as	memo,
        '1' as trdnFlag
    FROM
        stro_stock a
        JOIN stro_stock_detail b ON a.biz_id = b.biz_id and a.hosp_code = b.hosp_code and a.item_id = b.item_id
        LEFT JOIN base_material c on b.item_id = c.id  and c.hosp_code = b.hosp_code
        left join base_drug d on b.item_id = d.id  and d.hosp_code = b.hosp_code
    </select>


</mapper>
