<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hsa.module.insure.module.dao.InsureUnifiedLogDAO">
    <insert id="insertInsureFunctionLog">
        insert into insure_function_log(id, hosp_code, visit_id,medis_code, msg_id, msg_info, msg_name, in_params,
                                        out_params, code, crte_id,
                                        crte_name, crte_time, error_msg, is_hospital, status)
        values
        (#{id},#{hospCode},#{visitId},#{medisCode},#{msgId},#{msgInfo},#{msgName},#{inParams},
         #{outParams},#{code},#{crteId},#{crteName},#{crteTime},#{errorMsg},#{isHospital},
         #{status})
    </insert>
    <select id="queryPage" resultType="cn.hsa.module.insure.module.entity.InsureFunctionLogDO">
        select id, hosp_code, visit_id, msg_id, msg_info, msg_name, in_params, out_params, code,
               crte_id, crte_name, crte_time, error_msg, is_hospital,medis_code,
               status from insure_function_log where hosp_code =#{hospCode}

        <if test="msgInfo != null and msgInfo != ''">
            and msg_info = #{msgInfo}
        </if>
        <if test="medisCode != null and medisCode != ''">
            and medis_code = #{medisCode}
        </if>
        <if test="startDate != null">
            and date(crte_time) &gt;= date(#{startDate})
        </if>
        <if test="endDate != null">
            and date(crte_time) &lt;= date(#{endDate})
        </if>
        order by crte_time desc
    </select>

</mapper>