<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hsa.module.insure.drg.dao.InsureAdviceEntryDAO">
    <insert id="insertInsureAdviceLog" parameterType="cn.hsa.module.insure.module.dto.InsureIndividualVisitDTO">
    insert into insure_entry_log (id, hosp_code, visit_id, insure_org_code,
                                 medicine_org_code, patient_code,
                                  is_hospital, inpt_visit_no,outpt_visit_no, aac001, medical_reg_no,
                                  is_advice_entry,is_mris_entry, crte_id, crte_name, crte_time)
    values (#{id},#{hospCode},#{visitId},#{insureOrgCode},#{medicineOrgCode},#{patientCode},
            #{isHospital},#{inptVisitNo},#{outptVisitNo},#{aac001},#{medicalRegNo},#{isAdviceEntry},#{isMrisEntry},#{crteId},#{crteName},#{crteTime})
</insert>
    <delete id="deleteLog">
        delete from insure_entry_log where hosp_code = #{hospCode} and visit_id = #{visitId}
    </delete>
    <select id="queryInsurePatientInfo" resultType="cn.hsa.module.insure.module.dto.InsureIndividualVisitDTO">
        select iiv.visit_no,iiv.medicine_org_code,iiv.aka130 ,iiv.visit_id,iiv.hosp_code,iiv.medical_reg_no,iiv.insure_reg_code,iiv.insure_org_code,
        iib.aaz500,iib.aac003,iib.aac002,iib.aac001,iib.aaa027,iiv.is_hospital,iib.aka130,
               (select patient_code from inpt_visit iv where iiv.visit_id = iv.id and iiv.hosp_code = iv.hosp_code) as patientCode
        from insure_individual_visit iiv left join insure_individual_basic iib
        on iiv.mib_id = iib.id and iiv.hosp_code =iib.hosp_code
        where iiv.hosp_code=#{hospCode}
        <if test="visitId !=null and visitId  !=''">
            and iiv.visit_id = #{visitId}
        </if>
    </select>
    <select id="queryPrescribe" resultType="cn.hsa.module.outpt.prescribeDetails.dto.OutptPrescribeDetailsDTO">
        select a.id, a.hosp_code hospCode, a.visit_id visitId,
               a.diagnose_ids diagnoseIds, a.order_no orderNo, a.doctor_id doctorId, a.doctor_name doctorName, a.dept_id deptId,
               a.dept_name deptName, a.type_code typeCode, a.prescribe_type_code prescribeTypeCode,
               a.settle_id settleId, a.remark , a.is_settle isSettle, a.is_cancel isCancel, a.is_print isPrint,
               a.is_herb_hospital isHerbHospital, a.herb_num herbNum, a.herb_use_code herbUseCode,
               a.weight, a.agent_name agentName, a.agent_cert_no agentCertNo, a.crte_id crteId, a.crte_name crteName, a.crte_time crteTime,
               a.cancel_name cancelName, a.cancel_date cancelDate
        from  outpt_prescribe a
        where a.visit_id = #{visitId} and a.hosp_code = #{hospCode}
    </select>
    <!--    查询医保病人信息-->
    <select id="queryPage" resultType="cn.hsa.module.inpt.doctor.dto.InptVisitDTO">
        select a.id,a.name,a.in_no,a.patient_code,a.bed_name,a.in_dept_name,a.zz_doctor_name
        from inpt_visit a join insure_individual_visit b on a.id = b.visit_id
        where 1=1 and a.hosp_code = #{hospCode} and b.id is not null
        <if test="keyWord != null and keyWord != ''">
            and ( a.name like concat('%',#{keyWord},'%')
            or a.in_no like concat('%',#{keyWord},'%')
            or a.bed_name like concat('%',#{keyWord},'%')
            or a.in_dept_name like concat('%',#{keyWord},'%')
            )
        </if>
        /*开始日期*/
        <if test="startDate != null ">
            and a.in_time &gt;= #{startDate}
        </if>
        /*结束日期*/
        <if test="endDate != null ">
            and a.in_time &lt;= DATE_FORMAT(DATE_ADD(#{endDate},INTERVAL 1 DAY),'%Y-%m-%d')
        </if>
        group by a.id
    </select>
    <select id="queryDoctorAdvice" resultType="cn.hsa.module.inpt.doctor.dto.InptAdviceDTO" parameterType="java.util.Map">
        select ia.id, ia.hosp_code, ia.visit_id, ia.baby_id, ia.order_no, ia.iat_id,
               ia.iatd_group_no, ia.iatd_group_seq_no, ia.iatd_id, ia.in_dept_id,
               ia.exec_dept_id, ia.dept_id, ia.group_no,ia.group_seq_no, ia.type_code,ia.sign_code,
               ia.start_exec_num, ia.end_exec_num, ia.bfc_id, ia.item_code, ia.item_id,
               ia.item_name, ia.content, ia.spec, ia.prep_code,ia.dosage, ia.dosage_unit_code,
               ia.usage_code, ia.rate_id, ia.speed_code, ia.num, ia.unit_code, ia.price,
               ia. total_price, ia.total_num, ia.total_num_unit_code, ia.herb_num,
               ia.use_days, ia.use_code, is_skin, ia.is_positive, ia.herb_note_code,
               ia.phar_id, ia.remark, ia.plan_stop_time, ia.technology_no, ia.herb_use_code,
               ia.is_give, ia.exec_id, ia.exec_name, ia.second_exec_id, ia.second_exec_name,
               ia.long_start_time, ia.last_exec_time, ia.teach_doctor_id, ia.teach_doctor_name,
               ia.is_check, ia.check_id, ia.check_name, ia.check_time,ia.is_stop_check,ia.stop_doctor_id,
               ia.stop_doctor_name, ia.stop_time, ia.stop_check_id, ia.stop_check_name,
               ia.stop_check_time, ia.is_long, ia.is_stop, ia.is_reject, ia.reject_remark, ia.crte_id, ia.crte_name,
               ia.crte_time,
               /*iv.in_no as inNo,*/
               (select name from base_dept bd where bd.id = ia.dept_id and bd.hosp_code = ia.hosp_code ) as deptName,
               (select name from base_dept bd where bd.id = ia.exec_dept_id and bd.hosp_code = ia.hosp_code ) as adviceExecDeptName,
               (select name from sys_code_detail where value = ia.prep_code and c_code='JXFL') as prepCode,
               (select name from sys_code_detail where value = ia.usage_code and c_code='YF') as usageCode,
               (select name from sys_code_detail where value = ia.unit_code and c_code='DW') as unitCode,
               (select name from base_rate ba where ba.id = ia.rate_id and ba.hosp_code = ia.hosp_code) as rateName,
               (case ia.item_code
                    when ia.item_code = '1' then (select bd.code from base_drug bd where ia.item_id = bd.id and bd.hosp_code =ia.hosp_code )
                    when ia.item_code= '2' then (select bm.code from base_material bm where ia.item_id =  bm.id  and bm.hosp_code = ia.hosp_code )
                    when ia.item_code = '3' then (select ba.code from base_advice ba where ia.item_id = ba.id and ba.hosp_code = ia.hosp_code)
                    when ia.item_code ='4' then (select bi.code from base_item bi where ia.item_id = bi.id and bi.hosp_code = ia.hosp_code)
                   end
                   ) as hospDrugOrMaterialItemCode,
        (case when ia.is_insure_upload is null or ia.is_insure_upload = '' then '未上传' when ia.is_insure_upload ='1' then '已上传' end) isAdviceEntry
        from inpt_advice ia
        where ia.hosp_code=#{map.hospCode} and ia.visit_id=#{map.visitId} and ia.is_reject != '1' and ia.is_submit = '1'
        <if test="map.isInsureUpload == '0'.toString()">
            and (ia.is_insure_upload is null or ia.is_insure_upload = '' or ia.is_insure_upload = '0')
        </if>
    </select>

    <update id="updateInsureUploadById"  parameterType="java.util.List">
        update inpt_advice set is_insure_upload = '1' where id in
        <foreach item="dto" collection="list" open="(" separator="," close=")">
            #{dto.id}
        </foreach>
    </update>

    <update id="updateInsureUploadByVisitId" parameterType="java.util.List">
        update inpt_advice set is_insure_upload = '0' where visit_id = #{visitId}
    </update>



    <select id="queryInptVisitDisease" resultType="cn.hsa.module.inpt.doctor.dto.InptVisitDTO">
        select iv.id, iv.hosp_code, iv.profile_id, iv.in_profile, iv.in_no, iv.name, iv.gender_code,
               iv.age, iv.age_unit_code, iv.birthday, iv.nation_code, iv.cert_code, iv.cert_no,
               iv.marry_code, iv.phone, iv.address, iv.preferential_type_id,iv. patient_code,
               iv.receive_hosp_name, iv.bed_id, bed_name, iv.nursing_code, diet_type, iv.Illness_code,
               iv.status_code, iv.in_ward_id, iv.in_dept_id, iv.in_dept_name, in_time, iv.zz_doctor_id,
               iv.zz_doctor_name, iv.jz_doctor_id, iv.jz_doctor_name, iv.zg_doctor_id, iv.zg_doctor_name, in_remark,
               iv.in_mode_code, iv.in_disease_id, iv.in_disease_name, iv.in_disease_icd10,iv. in_situation_code,
               iv.outpt_visit_no, iv.outpt_doctor_id, iv.outpt_doctor_name, iv.outpt_disease_id, iv.outpt_disease_name,
               iv.outpt_disease_icd10, iv.out_ward_id, iv.out_dept_id, out_dept_name, out_time, iv.out_disease_id,
               iv.out_disease_name, iv.out_disease_icd10, iv.out_oper_id, iv.out_oper_name, out_oper_time, iv.out_situation_code,
               iv.out_remark, iv.out_mode_code, iv.is_archive, iv.archive_time, iv.archive_id, iv.archive_name, iv.insure_code,
               iv.insure_remark, iv.total_advance, iv.total_cost, iv.total_balance, iv.crte_id, iv.crte_name, iv.crte_time,
               (select medicine_org_code from insure_individual_visit iiv where iiv.visit_id = iv.id and iiv.hosp_code = iv.hosp_code) as medicinOrgCode,
               bd.name as diseaseName,
               bd.code as diseaseCode,
               (select bd.type_code from base_disease bd where ii.disease_id = bd.id and ii.hosp_code = bd.hosp_code) as typeCode
        from inpt_visit iv left join inpt_diagnose ii on iv.id = ii.visit_id and iv.hosp_code = ii.hosp_code
        left join base_disease bd on bd.id = ii.disease_id
        where iv.hosp_code=#{hospCode} and iv.id=#{visitId}
    </select>
    <select id="queryPatientIsSettle" resultType="java.lang.Integer">
        select count(id)
        from inpt_cost
        where settle_code = '2'
          and hosp_code = #{hospCode}
          and visit_id = #{visitId}
    </select>
    <select id="queryCostId" resultType="java.util.Map" parameterType="cn.hsa.module.insure.module.dto.InsureIndividualVisitDTO">
        select visit_id as visitId,cost_id as costId,hosp_code as hospCode from insure_individual_cost where  hosp_code=#{hospCode} and visit_id=#{visitId}
    </select>
    <select id="queryAdviceId" resultType="java.lang.String">
        select iat_id as iatId from inpt_cost where
            (id,hosp_code) in
        <foreach collection="costListMap" item="costListMap" open="(" close=")" separator=",">
               (#{costListMap.costId},#{costListMap.hospCode})
        </foreach>

    </select>
    <select id="queryInsurePatientLog" resultType="cn.hsa.module.insure.module.entity.InsureEntryLogDO">
        select * from insure_entry_log where hosp_code=#{hospCode} and visit_id=#{visitId}
        <if test="isAdviceEntry != null and isAdviceEntry != ''">
            and is_advice_entry = #{isAdviceEntry}
        </if>
    </select>
</mapper>
