<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hsa.module.insure.stock.dao.InsureStockManagerDAO">
    <update id="updateInsureGoodSellBatch"></update>

    <update id="updateInsureInventoryCheckBatch">
        update stro_invoicing
        set upload_insure = '1'
        where id in
        <foreach collection="fixmedinsBchnoList" open="(" close=")" item="fixmedinsBchno" separator=",">
            #{fixmedinsBchno}
        </foreach>
    </update>
    <!--根据id 批量更新进销存中的上传状态-->
    <update id="updateStatus">
        update stro_invoicing set upload_insure = #{statusCode} where hosp_code = #{hospCode}
        and id in
        <foreach collection="ids" open="(" separator="," close=")" item="item">
            #{item}
        </foreach>
    </update>
    <update id="updateStockUpload">
        update stro_invoicing set upload_insure = '0' where hosp_code = #{hospCode}
        and id = #{fixmedinsBchno}
    </update>

    <select id="queryInsureGoodBuyPage" resultType="cn.hsa.module.insure.stock.entity.InsureGoodBuy">
        SELECT distinct
        si.*,
        si.id as fixmedins_bchno,
        a.insure_item_code as medListCodg,
        a.hosp_item_code as fixmedinsHilistId,
        a.hosp_item_name as fixmedinsHilistName,
        a.insure_item_code as insureItemCode,
        a.insure_item_name as insureItemName,
        a.insure_reg_code as insureRegCode,
        si.order_no AS dyntNo,
        ( SELECT bs.`name` FROM stro_in s JOIN base_supplier bs ON s.supplier_id = bs.id AND s.hosp_code = bs.hosp_code WHERE s.order_no = si.order_no
        AND s.hosp_code = si.hosp_code LIMIT 1 ) splerName,
        (
        case si.item_code
        when '1'
        then (SELECT NAME FROM base_product t WHERE t.hosp_code = b.hosp_code  AND t.CODE = b.prod_code limit 1)
        when '0'
        then (SELECT NAME FROM base_product t WHERE t.hosp_code = c.hosp_code  AND t.CODE = b.prod_code limit 1)
        end
        ) as prodentpName, b.dan AS aprvno,
        DATE_SUB(si.crte_time,INTERVAL 2 MONTH) as manuDate,
        NULL AS splerPmtno,
        si.batch_no as manuLotnum,
        si.id as fixmedinsBchno,
        si.expiry_date as expyEnd,
        NULL AS finlTrnsPric,
        si.num AS purcRetnCnt,
        NULL AS purcInvoCodg,
        NULL AS purcInvoNo,
        '0' AS rxFlag,
        si.crte_time AS purcRetnStoinTime,
        si.crte_name AS purcRetnOpterName,
        '0' AS prod_geay_flag,
        NULL AS memo,
        null as medinsProdPurcNo
        FROM
        stro_invoicing si
        JOIN insure_item_match a on si.item_id = a.hosp_item_id and a.hosp_code = si.hosp_code
        and a.audit_code = '1' /*医保项目已审核*/
        and a.is_match = '1' /*医保项目已匹配*/
        and a.is_trans = '1' /*医保项目已传输*/
        and a.is_valid = '1' /*医保项目有效*/
        left join base_drug b on si.item_id = b.id and b.hosp_code = si.hosp_code
        left join base_material c on si.item_id = c.id and c.hosp_code = si.hosp_code
        where si.hosp_code = #{hospCode} and si.upload_insure = '0' and si.outin_code in ('1','2')
        <if test="keyword != null and keyword != ''">
          and a.hosp_item_name like concat('%',#{keyword},'%')
        </if>
        <if test="insureRegCode != null and insureRegCode != ''">
         and a.insure_reg_code = #{insureRegCode}
        </if>
    </select>

    <select id="queryInsureGoodBuyBackPage" resultType="cn.hsa.module.insure.stock.entity.InsureGoodBuyBack">
        SELECT distinct
        si.*,
        si.id as fixmedins_bchno,
        a.insure_item_code as medListCodg,
        a.hosp_item_code as fixmedinsHilistId,
        a.hosp_item_name as fixmedinsHilistName,
        a.insure_item_code as insureItemCode,
        a.insure_item_name as insureItemName,
        a.insure_reg_code as insureRegCode,
        si.order_no AS dyntNo,
        (
        SELECT bs.`name`
        FROM
        stro_in s
        JOIN base_supplier bs ON s.supplier_id = bs.id AND s.hosp_code = bs.hosp_code
        WHERE
        s.order_no = si.order_no
        AND s.hosp_code = si.hosp_code
        LIMIT 1
        ) splerName,
        (	SELECT NAME FROM
        base_product t
        WHERE
        t.hosp_code = b.hosp_code
        AND (t.CODE = b.prod_code or t.CODE = c.prod_code)
        LIMIT 1
        ) prodentpName,
        b.dan AS aprvno,
        DATE_SUB(si.crte_time,INTERVAL 2 MONTH) as manuDate,
        NULL AS splerPmtno,
        si.batch_no as manuLotnum,
        si.id as fixmedinsBchno,
        si.expiry_date as expyEnd,
        NULL AS finlTrnsPric,
        si.num AS purcRetnCnt,
        NULL AS purcInvoCodg,
        NULL AS purcInvoNo,
        '0' AS rxFlag,
        si.crte_time AS purcRetnStoinTime,
        si.crte_name AS purcRetnOpterName,
        '0' AS prod_geay_flag,
        NULL AS memo,
        null as medinsProdPurcNo
        FROM
        stro_invoicing si
        JOIN insure_item_match A on  si.item_id = A.hosp_item_id and a.hosp_code = si.hosp_code
        left join base_drug b on si.item_id = b.id and b.hosp_code = si.hosp_code
        left join base_material c on si.item_id = c.id and c.hosp_code = si.hosp_code
        where si.hosp_code = #{hospCode} and si.upload_insure = '1' and si.outin_code in ('1','2')
        AND a.audit_code = '1' /*医保项目已审核*/
        AND a.is_match = '1' /*医保项目已匹配*/
        AND a.is_trans = '1' /*医保项目已传输*/
        AND a.is_valid = '1' /*医保项目有效*/
        <if test="keyword != null and keyword != ''">
            and a.hosp_item_name like concat('%',#{keyword},'%')
        </if>
        <if test="insureRegCode != null and insureRegCode != ''">
            and a.insure_reg_code = #{insureRegCode}
        </if>
    </select>

    <select id="queryInsureUploadDataPage" resultType="cn.hsa.module.insure.stock.entity.InsureGoodInfoDelete">
        SELECT
        A.id,
        A.insure_type AS insureType,
        A.hosp_code AS hospCode,
        A.fixmedins_bchno AS fixmedinsBchno,
        A.inv_data_type AS invDataType,
        A.upload_time AS uploadTime,
        A.cert_id AS certId,
        B.item_name as itemName,
        C.name AS certName
        FROM
        insure_stock_upload A
        LEFT JOIN stro_invoicing B ON A.fixmedins_bchno = B.ID
        AND A.hosp_code = B.hosp_code
        LEFT JOIN sys_user C ON A.CERT_ID = C.ID
        AND A.hosp_code = C.hosp_code
        WHERE
        A.hosp_code = #{hospCode}
        <if test="invDataType != null and invDataType != '' ">
            and A.inv_data_type = #{invDataType} /*正常状态*/
        </if>

    </select>

    <insert id="insertStockUploadBatch" >
        INSERT INTO insure_stock_upload(
        id, hosp_code,insure_type, fixmedins_bchno, inv_data_type, upload_time, cert_id
        )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.id}, #{item.hospCode},  #{item.insureType}, #{item.fixmedinsBchno}, #{item.invDataType}, #{item.uploadTime}, #{item.certId})
        </foreach>
    </insert>

    <delete id="deleteStockUpload">
        delete from insure_stock_upload  where id = #{id} and fixmedins_bchno = #{fixmedinsBchno} and hosp_code = #{hospCode}
    </delete>

    <select id="queryInsureGoodSellPage" resultType="cn.hsa.module.insure.stock.entity.InsureGoodSell">
        /*门诊*/
        SELECT
            c.insure_item_code AS medListCodg,
            c.insure_item_code AS fixmedinsHilistId,
            c.insure_item_name AS fixmedinsHilistName,
            c.insure_item_code as insureItemCode,
            c.insure_item_name as insureItemName,
            c.insure_reg_code as insureRegCode,
            si.id AS fixmedinsBchno,
            a.doctor_name AS prscDrName,
            si.crte_name AS pharName,
            IFNULL(( SELECT prac_certi_no FROM sys_user WHERE id = si.crte_id ), '-1' ) AS pharPracCertNo,
            a.visit_id AS mdtrtSn,
            si.batch_no AS manuLotnum,
            DATE_SUB( si.crte_time, INTERVAL 2 MONTH ) AS manuDate,
        CASE
                WHEN si.item_code = '1' THEN
                b.is_prescription
                WHEN si.item_code = '2' THEN
                '0'
            END AS rxFlag,
        CASE
                WHEN si.split_ratio = '1' THEN
                '0' ELSE '1'
            END AS trdnFlag,
            si.order_no AS rtalDocno,
            a.num AS selRetnCnt,
            a.num_unit_code AS numUnitCode,
            a.crte_time AS selRetnTime,
            a.crte_name AS selRetnOpterName
        FROM
            outpt_cost a
            JOIN stro_invoicing si ON a.item_id = si.item_id
            AND a.visit_id = si.invoicing_target_id
            LEFT JOIN base_drug b ON a.hosp_code = b.hosp_code
            AND a.item_id = b.id
            LEFT JOIN base_material bd ON a.hosp_code = bd.hosp_code
            AND a.item_id = bd.id
            LEFT JOIN insure_item_match c ON a.hosp_code = c.hosp_code
            AND a.item_id = c.hosp_item_id
            LEFT JOIN outpt_visit d ON a.hosp_code = d.hosp_code
            AND a.visit_id = d.id
            LEFT JOIN outpt_settle os ON os.id = a.settle_id
            AND os.hosp_code = a.hosp_code
--             LEFT JOIN outpt_settle e ON a.hosp_code = e.hosp_code
--             AND a.settle_id = e.id
--             LEFT JOIN insure_individual_visit iiv ON a.hosp_code = iiv.hosp_code
--             AND a.visit_id = iiv.id
        WHERE
            a.hosp_code = #{hospCode}
            and a.status_code = '0' /*正常状态*/
            AND d.is_visit = '1' /*已就诊*/
            AND a.status_code = '0' /*正常状态*/
            AND a.settle_code = '2' /*已结算*/
            AND c.audit_code = '1' /*医保项目已审核*/
            AND c.is_match = '1' /*医保项目已匹配*/
            AND c.is_trans = '1' /*医保项目已传输*/
            AND c.is_valid = '1' /*医保项目有效*/
            and (si.upload_insure = '0' or si.upload_insure is null)
        <if test="keyword != null and keyword != ''">
            and (c.insure_item_name like concat('%',#{keyword},'%') or b.good_pym like concat('%',#{keyword},'%')
            or b.good_wbm like concat('%',#{keyword},'%')
            or b.usual_pym like concat('%',#{keyword},'%')
            or b.usual_wbm like concat('%',#{keyword},'%')
            or bd.pym like concat('%',#{keyword},'%') or bd.wbm like concat('%',#{keyword},'%') )
        </if>
        <if test="insureRegCode != null and insureRegCode != ''">
            and c.insure_reg_code = #{insureRegCode}
        </if>
        <if test="startTime != null and startTime != ''">
            and os.settle_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and os.settle_time &lt;= #{endTime}
        </if>
        UNION ALL
        /*住院*/
        SELECT
        c.insure_item_code AS medListCodg,
        c.insure_item_code AS fixmedinsHilistId,
        c.insure_item_name AS fixmedinsHilistName,
        c.insure_item_code as insureItemCode,
        c.insure_item_name as insureItemName,
        c.insure_reg_code as insureRegCode,
        si.id AS fixmedinsBchno,
        a.doctor_name AS prscDrName,
        si.crte_name AS pharName,
        IFNULL(( SELECT prac_certi_no FROM sys_user WHERE id = si.crte_id ), '-1' ) AS pharPracCertNo,
        a.visit_id AS mdtrtSn,
        si.batch_no AS manuLotnum,
        DATE_SUB( si.crte_time, INTERVAL 2 MONTH ) AS manuDate,
        CASE
        WHEN si.item_code = '1' THEN
        b.is_prescription
        WHEN si.item_code = '2' THEN
        '0'
        END AS rxFlag,
        CASE
        WHEN si.split_ratio = '1' THEN
        '0' ELSE '1'
        END AS trdnFlag,
        si.order_no AS rtalDocno,
        a.num AS selRetnCnt,
        a.num_unit_code AS numUnitCode,
        a.crte_time AS selRetnTime,
        a.crte_name AS selRetnOpterName
        FROM
        inpt_cost a
        JOIN stro_invoicing si ON a.item_id = si.item_id
        AND a.visit_id = si.invoicing_target_id
        LEFT JOIN base_drug b ON a.hosp_code = b.hosp_code
        AND a.item_id = b.id
        LEFT JOIN base_material bd ON a.hosp_code = bd.hosp_code
        AND a.item_id = bd.id
        LEFT JOIN insure_item_match c ON a.hosp_code = c.hosp_code
        AND a.item_id = c.hosp_item_id
        LEFT JOIN inpt_settle is2 ON is2.id = a.settle_id
        AND is2.hosp_code = a.hosp_code
--         LEFT JOIN inpt_visit d ON a.hosp_code = d.hosp_code
--         AND a.visit_id = d.id
--         LEFT JOIN inpt_settle e ON a.hosp_code = e.hosp_code
--         AND a.settle_id = e.id
--         LEFT JOIN insure_individual_visit iiv ON a.hosp_code = iiv.hosp_code
--         AND a.visit_id = iiv.id
        WHERE
        a.hosp_code = #{hospCode}
        and a.status_code = '0' /*正常状态*/
        and a.settle_code = '2' /*已结算*/
        and c.audit_code = '1' /*医保项目已审核*/
        and c.is_match = '1' /*医保项目已匹配*/
        and c.is_trans = '1' /*医保项目已传输*/
        and c.is_valid = '1' /*医保项目有效*/
        AND si.outin_code in ('27','28') /*住院发药，住院退药*/
        and (si.upload_insure = '0' or si.upload_insure is null)
        <if test="keyword != null and keyword != ''">
            and (c.insure_item_name like concat('%',#{keyword},'%') or b.good_pym like concat('%',#{keyword},'%')
            or b.good_wbm like concat('%',#{keyword},'%')
            or b.usual_pym like concat('%',#{keyword},'%')
            or b.usual_wbm like concat('%',#{keyword},'%')
            or bd.pym like concat('%',#{keyword},'%') or bd.wbm like concat('%',#{keyword},'%') )
        </if>
        <if test="insureRegCode != null and insureRegCode != ''">
            and c.insure_reg_code = #{insureRegCode}
        </if>
        <if test="startTime != null and startTime != ''">
            and is2.settle_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and is2.settle_time &lt;= #{endTime}
        </if>
    </select>


<!--    查询药品销售信息-->
    <select id="queryInsureDrugSellPage" resultType="cn.hsa.module.insure.stock.entity.InsureGoodSell">
        /*门诊*/
        SELECT
        a.id,
        a.hosp_code,
        c.insure_item_code AS prodCode,
        c.insure_item_code AS fixmedinsHilistId,
        c.insure_item_name AS fixmedinsHilistName,
        si.id AS fixmedinsBchno,
        su.cert_code as prscDrCertType,
        su.cert_no as prscDrCertno,
        a.doctor_name AS prscDrName,
        IFNULL(( SELECT cert_no  FROM sys_user WHERE id = si.crte_id ), '-1' ) AS pharCertno,
        si.crte_name AS pharName,
        IFNULL(( SELECT prac_certi_no FROM sys_user WHERE id = si.crte_id ), '-1' ) AS pharPracCertNo,
        a.visit_id AS mdtrtSn,
        d.cert_no as certno,
        d.name as psnName,
        si.batch_no AS manuLotnum,
        DATE_SUB( si.crte_time, INTERVAL 2 MONTH ) AS manuDate,
        CASE
        WHEN si.item_code = '1' THEN
        b.is_prescription
        WHEN si.item_code = '2' THEN
        '0'
        END AS rxFlag,
        CASE
        WHEN si.split_ratio = '1' THEN
        '0' ELSE '1'
        END AS trdnFlag,
        a.price as finlTrnsPric,
        si.order_no AS rtalDocno,
        a.num AS selRetnCnt,
        a.num_unit_code AS numUnitCode,
        a.crte_time AS selRetnTime,
        a.crte_name AS selRetnOpterName
        FROM
        outpt_cost a
        JOIN stro_invoicing si ON a.item_id = si.item_id
        AND a.visit_id = si.invoicing_target_id
        LEFT JOIN base_drug b ON a.hosp_code = b.hosp_code
        AND a.item_id = b.id
        LEFT JOIN insure_item_match c ON a.hosp_code = c.hosp_code
        AND a.item_id = c.hosp_item_id
        LEFT JOIN outpt_visit d ON a.hosp_code = d.hosp_code
        AND a.visit_id = d.id
        LEFT JOIN outpt_settle os ON os.id = a.settle_id
        AND os.hosp_code = a.hosp_code
        left join sys_user su on su.id = a.doctor_id
        and su.hosp_code = a.hosp_code
        WHERE
        a.hosp_code = #{hospCode}
        and a.status_code = '0' /*正常状态*/
        AND d.is_visit = '1' /*已就诊*/
        AND a.status_code = '0' /*正常状态*/
        AND a.settle_code = '2' /*已结算*/
        AND c.audit_code = '1' /*医保项目已审核*/
        AND c.is_match = '1' /*医保项目已匹配*/
        AND c.is_trans = '1' /*医保项目已传输*/
        AND c.is_valid = '1' /*医保项目有效*/
        and (si.upload_insure = '0' or si.upload_insure is null)
        <if test="keyword != null and keyword != ''">
            and (c.insure_item_name like concat('%',#{keyword},'%') or b.good_pym like concat('%',#{keyword},'%')
            or b.good_wbm like concat('%',#{keyword},'%')
            or b.usual_pym like concat('%',#{keyword},'%')
            or b.usual_wbm like concat('%',#{keyword},'%')
        </if>
        <if test="insureRegCode != null and insureRegCode != ''">
            and c.insure_reg_code = #{insureRegCode}
        </if>
        <if test="startTime != null and startTime != ''">
            and os.settle_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and os.settle_time &lt;= #{endTime}
        </if>
        UNION ALL
        /*住院*/
        SELECT
        a.id,
        a.hosp_code,
        c.insure_item_code AS prodCode,
        c.insure_item_code AS fixmedinsHilistId,
        c.insure_item_name AS fixmedinsHilistName,
        si.id AS fixmedinsBchno,
        su.cert_code as prscDrCertType,
        su.cert_no as prscDrCertno,
        a.doctor_name AS prscDrName,
        IFNULL(( SELECT cert_no  FROM sys_user WHERE id = si.crte_id ), '-1' ) AS pharCertno,
        si.crte_name AS pharName,
        IFNULL(( SELECT prac_certi_no FROM sys_user WHERE id = si.crte_id ), '-1' ) AS pharPracCertNo,
        a.visit_id AS mdtrtSn,
        d.cert_no as certno,
        d.name as psnName,
        si.batch_no AS manuLotnum,
        DATE_SUB( si.crte_time, INTERVAL 2 MONTH ) AS manuDate,
        CASE
        WHEN si.item_code = '1' THEN
        b.is_prescription
        WHEN si.item_code = '2' THEN
        '0'
        END AS rxFlag,
        CASE
        WHEN si.split_ratio = '1' THEN
        '0' ELSE '1'
        END AS trdnFlag,
        a.price as finlTrnsPric,
        si.order_no AS rtalDocno,
        a.num AS selRetnCnt,
        a.num_unit_code AS numUnitCode,
        a.crte_time AS selRetnTime,
        a.crte_name AS selRetnOpterName
        FROM
        inpt_cost a
        JOIN stro_invoicing si ON a.item_id = si.item_id
        AND a.visit_id = si.invoicing_target_id
        LEFT JOIN base_drug b ON a.hosp_code = b.hosp_code
        AND a.item_id = b.id
        LEFT JOIN insure_item_match c ON a.hosp_code = c.hosp_code
        AND a.item_id = c.hosp_item_id
        LEFT JOIN inpt_settle is2 ON is2.id = a.settle_id
        AND is2.hosp_code = a.hosp_code
        LEFT JOIN inpt_visit d ON a.hosp_code = d.hosp_code
        AND a.visit_id = d.id
        left join sys_user su on su.id = a.doctor_id
        and su.hosp_code = a.hosp_code
        WHERE
        a.hosp_code = #{hospCode}
        and a.status_code = '0' /*正常状态*/
        and a.settle_code = '2' /*已结算*/
        and c.audit_code = '1' /*医保项目已审核*/
        and c.is_match = '1' /*医保项目已匹配*/
        and c.is_trans = '1' /*医保项目已传输*/
        and c.is_valid = '1' /*医保项目有效*/
        AND si.outin_code in ('27','28') /*住院发药，住院退药*/
        and (si.upload_insure = '0' or si.upload_insure is null)
        <if test="keyword != null and keyword != ''">
            and (c.insure_item_name like concat('%',#{keyword},'%') or b.good_pym like concat('%',#{keyword},'%')
            or b.good_wbm like concat('%',#{keyword},'%')
            or b.usual_pym like concat('%',#{keyword},'%')
            or b.usual_wbm like concat('%',#{keyword},'%')
        </if>
        <if test="insureRegCode != null and insureRegCode != ''">
            and c.insure_reg_code = #{insureRegCode}
        </if>
        <if test="startTime != null and startTime != ''">
            and is2.settle_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and is2.settle_time &lt;= #{endTime}
        </if>
    </select>
<!--    查询耗材销售信息-->
    <select id="queryInsureMaterialSellPage" resultType="cn.hsa.module.insure.stock.entity.InsureGoodSell">
        /*门诊*/
        SELECT
        a.id,
        a.hosp_code,
        c.insure_item_code AS prodCode,
        c.insure_item_code AS fixmedinsHilistId,
        c.insure_item_name AS fixmedinsHilistName,
        si.id AS fixmedinsBchno,
        su.cert_code as prscDrCertType,
        su.cert_no as prscDrCertno,
        a.doctor_name AS prscDrName,
        IFNULL(( SELECT cert_no  FROM sys_user WHERE id = si.crte_id ), '-1' ) AS pharCertno,
        si.crte_name AS pharName,
        IFNULL(( SELECT prac_certi_no FROM sys_user WHERE id = si.crte_id ), '-1' ) AS pharPracCertNo,
        a.visit_id AS mdtrtSn,
        d.cert_no as certno,
        d.name as psnName,
        si.batch_no AS manuLotnum,
        DATE_SUB( si.crte_time, INTERVAL 2 MONTH ) AS manuDate,
        '0' AS rxFlag,
        CASE
        WHEN si.split_ratio = '1' THEN
        '0' ELSE '1'
        END AS trdnFlag,
        a.price as finlTrnsPric,
        si.order_no AS rtalDocno,
        a.num AS selRetnCnt,
        a.num_unit_code AS numUnitCode,
        a.crte_time AS selRetnTime,
        a.crte_name AS selRetnOpterName
        FROM
        outpt_cost a
        JOIN stro_invoicing si ON a.item_id = si.item_id
        AND a.visit_id = si.invoicing_target_id
        LEFT JOIN base_material bd ON a.hosp_code = bd.hosp_code
        AND a.item_id = bd.id
        LEFT JOIN insure_item_match c ON a.hosp_code = c.hosp_code
        AND a.item_id = c.hosp_item_id
        LEFT JOIN outpt_visit d ON a.hosp_code = d.hosp_code
        AND a.visit_id = d.id
        LEFT JOIN outpt_settle os ON os.id = a.settle_id
        AND os.hosp_code = a.hosp_code
        left join sys_user su on su.id = a.doctor_id
        and su.hosp_code = a.hosp_code
        WHERE
        a.hosp_code = #{hospCode}
        and a.status_code = '0' /*正常状态*/
        AND d.is_visit = '1' /*已就诊*/
        AND a.status_code = '0' /*正常状态*/
        AND a.settle_code = '2' /*已结算*/
        AND c.audit_code = '1' /*医保项目已审核*/
        AND c.is_match = '1' /*医保项目已匹配*/
        AND c.is_trans = '1' /*医保项目已传输*/
        AND c.is_valid = '1' /*医保项目有效*/
        and (si.upload_insure = '0' or si.upload_insure is null)
        <if test="keyword != null and keyword != ''">
            and (c.insure_item_name like concat('%',#{keyword},'%')
            or bd.pym like concat('%',#{keyword},'%') or bd.wbm like concat('%',#{keyword},'%') )
        </if>
        <if test="insureRegCode != null and insureRegCode != ''">
            and c.insure_reg_code = #{insureRegCode}
        </if>
        <if test="startTime != null and startTime != ''">
            and os.settle_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and os.settle_time &lt;= #{endTime}
        </if>
        UNION ALL
        /*住院*/
        SELECT
        a.id,
        a.hosp_code,
        c.insure_item_code AS prodCode,
        c.insure_item_code AS fixmedinsHilistId,
        c.insure_item_name AS fixmedinsHilistName,
        si.id AS fixmedinsBchno,
        su.cert_code as prscDrCertType,
        su.cert_no as prscDrCertno,
        a.doctor_name AS prscDrName,
        IFNULL(( SELECT cert_no  FROM sys_user WHERE id = si.crte_id ), '-1' ) AS pharCertno,
        si.crte_name AS pharName,
        IFNULL(( SELECT prac_certi_no FROM sys_user WHERE id = si.crte_id ), '-1' ) AS pharPracCertNo,
        a.visit_id AS mdtrtSn,
        d.cert_no as certno,
        d.name as psnName,
        si.batch_no AS manuLotnum,
        DATE_SUB( si.crte_time, INTERVAL 2 MONTH ) AS manuDate,
        '0' AS rxFlag,
        CASE
        WHEN si.split_ratio = '1' THEN
        '0' ELSE '1'
        END AS trdnFlag,
        a.price as finlTrnsPric,
        si.order_no AS rtalDocno,
        a.num AS selRetnCnt,
        a.num_unit_code AS numUnitCode,
        a.crte_time AS selRetnTime,
        a.crte_name AS selRetnOpterName
        FROM
        inpt_cost a
        JOIN stro_invoicing si ON a.item_id = si.item_id
        AND a.visit_id = si.invoicing_target_id
        LEFT JOIN base_material bd ON a.hosp_code = bd.hosp_code
        AND a.item_id = bd.id
        LEFT JOIN insure_item_match c ON a.hosp_code = c.hosp_code
        AND a.item_id = c.hosp_item_id
        LEFT JOIN inpt_settle is2 ON is2.id = a.settle_id
        AND is2.hosp_code = a.hosp_code
        LEFT JOIN inpt_visit d ON a.hosp_code = d.hosp_code
        AND a.visit_id = d.id
        left join sys_user su on su.id = a.doctor_id
        and su.hosp_code = a.hosp_code
        WHERE
        a.hosp_code = #{hospCode}
        and a.status_code = '0' /*正常状态*/
        and a.settle_code = '2' /*已结算*/
        and c.audit_code = '1' /*医保项目已审核*/
        and c.is_match = '1' /*医保项目已匹配*/
        and c.is_trans = '1' /*医保项目已传输*/
        and c.is_valid = '1' /*医保项目有效*/
        AND si.outin_code in ('27','28') /*住院发药，住院退药*/
        and (si.upload_insure = '0' or si.upload_insure is null)
        <if test="keyword != null and keyword != ''">
            and (c.insure_item_name like concat('%',#{keyword},'%') or b.good_pym like concat('%',#{keyword},'%')
            or bd.pym like concat('%',#{keyword},'%') or bd.wbm like concat('%',#{keyword},'%') )
        </if>
        <if test="insureRegCode != null and insureRegCode != ''">
            and c.insure_reg_code = #{insureRegCode}
        </if>
        <if test="startTime != null and startTime != ''">
            and is2.settle_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and is2.settle_time &lt;= #{endTime}
        </if>
    </select>


    <select id="queryInsureGoodSellBackPage" resultType="cn.hsa.module.insure.stock.entity.InsureGoodSellBack">
        SELECT
        c.insure_item_code AS medListCodg,
        c.insure_item_code AS fixmedinsHilistId,
        c.insure_item_name AS fixmedinsHilistName,
        c.insure_item_code as insureItemCode,
        c.insure_item_name as insureItemName,
        c.insure_reg_code as insureRegCode,
        si.id AS fixmedinsBchno,
        a.doctor_name AS prscDrName,
        si.crte_name AS pharName,
        IFNULL(( SELECT prac_certi_no FROM sys_user WHERE id = si.crte_id ), '-1' ) AS pharPracCertNo,
        a.visit_id AS mdtrtSn,
        si.batch_no AS manuLotnum,
        DATE_SUB( si.crte_time, INTERVAL 2 MONTH ) AS manuDate,
        CASE
        WHEN si.item_code = '1' THEN
        b.is_prescription
        WHEN si.item_code = '2' THEN
        '0'
        END AS rxFlag,
        CASE
        WHEN si.split_ratio = '1' THEN
        '0' ELSE '1'
        END AS trdnFlag,
        si.order_no AS rtalDocno,
        a.num AS selRetnCnt,
        a.num_unit_code AS numUnitCode,
        a.crte_time AS selRetnTime,
        a.crte_name AS selRetnOpterName
        FROM
        outpt_cost a
        JOIN stro_invoicing si ON a.item_id = si.item_id
        AND a.visit_id = si.invoicing_target_id
        LEFT JOIN base_drug b ON a.hosp_code = b.hosp_code
        AND a.item_id = b.id
        LEFT JOIN base_material bd ON a.hosp_code = bd.hosp_code
        AND a.item_id = bd.id
        LEFT JOIN insure_item_match c ON a.hosp_code = c.hosp_code
        AND a.item_id = c.hosp_item_id
        WHERE
        a.hosp_code = #{hospCode}
        AND c.audit_code = '1' /*医保项目已审核*/
        AND c.is_match = '1' /*医保项目已匹配*/
        AND c.is_trans = '1' /*医保项目已传输*/
        AND c.is_valid = '1' /*医保项目有效*/
        and si.upload_insure = '1'
        and si.id in (select fixmedins_bchno from insure_stock_upload where inv_data_type = '4')
        <if test="keyword != null and keyword != ''">
            and (c.insure_item_name like concat('%',#{keyword},'%') or b.good_pym like concat('%',#{keyword},'%')
            or b.good_wbm like concat('%',#{keyword},'%')
            or b.usual_pym like concat('%',#{keyword},'%')
            or b.usual_wbm like concat('%',#{keyword},'%')
            or bd.pym like concat('%',#{keyword},'%') or bd.wbm like concat('%',#{keyword},'%') )
        </if>
        <if test="insureRegCode != null and insureRegCode != ''">
            and c.insure_reg_code = #{insureRegCode}
        </if>
        UNION ALL
        /*住院*/
        SELECT
        c.insure_item_code AS medListCodg,
        c.insure_item_code AS fixmedinsHilistId,
        c.insure_item_name AS fixmedinsHilistName,
        c.insure_item_code as insureItemCode,
        c.insure_item_name as insureItemName,
        c.insure_reg_code as insureRegCode,
        si.id AS fixmedinsBchno,
        a.doctor_name AS prscDrName,
        si.crte_name AS pharName,
        IFNULL(( SELECT prac_certi_no FROM sys_user WHERE id = si.crte_id ), '-1' ) AS pharPracCertNo,
        a.visit_id AS mdtrtSn,
        si.batch_no AS manuLotnum,
        DATE_SUB( si.crte_time, INTERVAL 2 MONTH ) AS manuDate,
        CASE
        WHEN si.item_code = '1' THEN
        b.is_prescription
        WHEN si.item_code = '2' THEN
        '0'
        END AS rxFlag,
        CASE
        WHEN si.split_ratio = '1' THEN
        '0' ELSE '1'
        END AS trdnFlag,
        si.order_no AS rtalDocno,
        a.num AS selRetnCnt,
        a.num_unit_code AS numUnitCode,
        a.crte_time AS selRetnTime,
        a.crte_name AS selRetnOpterName
        FROM
        inpt_cost a
        JOIN stro_invoicing si ON a.item_id = si.item_id
        AND a.visit_id = si.invoicing_target_id
        LEFT JOIN base_drug b ON a.hosp_code = b.hosp_code
        AND a.item_id = b.id
        LEFT JOIN base_material bd ON a.hosp_code = bd.hosp_code
        AND a.item_id = bd.id
        LEFT JOIN insure_item_match c ON a.hosp_code = c.hosp_code
        AND a.item_id = c.hosp_item_id
        WHERE
        a.hosp_code = #{hospCode}
        AND c.audit_code = '1' /*医保项目已审核*/
        AND c.is_match = '1' /*医保项目已匹配*/
        AND c.is_trans = '1' /*医保项目已传输*/
        AND c.is_valid = '1' /*医保项目有效*/
        and si.upload_insure = '1'
        and si.id in (select fixmedins_bchno from insure_stock_upload where inv_data_type = '4')
        <if test="keyword != null and keyword != ''">
            and (c.insure_item_name like concat('%',#{keyword},'%') or b.good_pym like concat('%',#{keyword},'%')
            or b.good_wbm like concat('%',#{keyword},'%')
            or b.usual_pym like concat('%',#{keyword},'%')
            or b.usual_wbm like concat('%',#{keyword},'%')
            or bd.pym like concat('%',#{keyword},'%') or bd.wbm like concat('%',#{keyword},'%') )
        </if>
        <if test="insureRegCode != null and insureRegCode != ''">
            and c.insure_reg_code = #{insureRegCode}
        </if>
    </select>
    <select id="queryInsureDrugSellBackPage" resultType="cn.hsa.module.insure.stock.entity.InsureGoodSellBack">
        SELECT
        a.id,
        a.hosp_code,
        c.insure_item_code AS prodCode,
        c.insure_item_code AS fixmedinsHilistId,
        c.insure_item_name AS fixmedinsHilistName,
        si.id AS fixmedinsBchno,
        su.cert_code as prscDrCertType,
        su.cert_no as prscDrCertno,
        a.doctor_name AS prscDrName,
        IFNULL(( SELECT cert_no  FROM sys_user WHERE id = si.crte_id ), '-1' ) AS pharCertno,
        si.crte_name AS pharName,
        IFNULL(( SELECT prac_certi_no FROM sys_user WHERE id = si.crte_id ), '-1' ) AS pharPracCertNo,
        a.visit_id AS mdtrtSn,
        d.cert_no as certno,
        d.name as psnName,
        si.batch_no AS manuLotnum,
        DATE_SUB( si.crte_time, INTERVAL 2 MONTH ) AS manuDate,
        CASE
        WHEN si.item_code = '1' THEN
        b.is_prescription
        WHEN si.item_code = '2' THEN
        '0'
        END AS rxFlag,
        CASE
        WHEN si.split_ratio = '1' THEN
        '0' ELSE '1'
        END AS trdnFlag,
        a.price as finlTrnsPric,
        si.order_no AS rtalDocno,
        a.num AS selRetnCnt,
        a.num_unit_code AS numUnitCode,
        a.crte_time AS selRetnTime,
        a.crte_name AS selRetnOpterName
        FROM
        outpt_cost a
        JOIN stro_invoicing si ON a.item_id = si.item_id
        AND a.visit_id = si.invoicing_target_id
        LEFT JOIN base_drug b ON a.hosp_code = b.hosp_code
        AND a.item_id = b.id
        LEFT JOIN insure_item_match c ON a.hosp_code = c.hosp_code
        AND a.item_id = c.hosp_item_id
        LEFT JOIN outpt_visit d ON a.hosp_code = d.hosp_code
        AND a.visit_id = d.id
        left join sys_user su on su.id = a.doctor_id
        and su.hosp_code = a.hosp_code
        WHERE
        a.hosp_code = #{hospCode}
        AND c.audit_code = '1' /*医保项目已审核*/
        AND c.is_match = '1' /*医保项目已匹配*/
        AND c.is_trans = '1' /*医保项目已传输*/
        AND c.is_valid = '1' /*医保项目有效*/
        and si.upload_insure = '1'
        and si.id in (select fixmedins_bchno from insure_stock_upload where inv_data_type = '4')
        <if test="keyword != null and keyword != ''">
            and (c.insure_item_name like concat('%',#{keyword},'%') or b.good_pym like concat('%',#{keyword},'%')
            or b.good_wbm like concat('%',#{keyword},'%')
            or b.usual_pym like concat('%',#{keyword},'%')
            or b.usual_wbm like concat('%',#{keyword},'%')
        </if>
        <if test="insureRegCode != null and insureRegCode != ''">
            and c.insure_reg_code = #{insureRegCode}
        </if>
        UNION ALL
        /*住院*/
        SELECT
        a.id,
        a.hosp_code,
        c.insure_item_code AS prodCode,
        c.insure_item_code AS fixmedinsHilistId,
        c.insure_item_name AS fixmedinsHilistName,
        si.id AS fixmedinsBchno,
        su.cert_code as prscDrCertType,
        su.cert_no as prscDrCertno,
        a.doctor_name AS prscDrName,
        IFNULL(( SELECT cert_no  FROM sys_user WHERE id = si.crte_id ), '-1' ) AS pharCertno,
        si.crte_name AS pharName,
        IFNULL(( SELECT prac_certi_no FROM sys_user WHERE id = si.crte_id ), '-1' ) AS pharPracCertNo,
        a.visit_id AS mdtrtSn,
        d.cert_no as certno,
        d.name as psnName,
        si.batch_no AS manuLotnum,
        DATE_SUB( si.crte_time, INTERVAL 2 MONTH ) AS manuDate,
        CASE
        WHEN si.item_code = '1' THEN
        b.is_prescription
        WHEN si.item_code = '2' THEN
        '0'
        END AS rxFlag,
        CASE
        WHEN si.split_ratio = '1' THEN
        '0' ELSE '1'
        END AS trdnFlag,
        a.price as finlTrnsPric,
        si.order_no AS rtalDocno,
        a.num AS selRetnCnt,
        a.num_unit_code AS numUnitCode,
        a.crte_time AS selRetnTime,
        a.crte_name AS selRetnOpterName
        FROM
        inpt_cost a
        JOIN stro_invoicing si ON a.item_id = si.item_id
        AND a.visit_id = si.invoicing_target_id
        LEFT JOIN base_drug b ON a.hosp_code = b.hosp_code
        AND a.item_id = b.id
        LEFT JOIN insure_item_match c ON a.hosp_code = c.hosp_code
        AND a.item_id = c.hosp_item_id
        LEFT JOIN inpt_visit d ON a.hosp_code = d.hosp_code
        AND a.visit_id = d.id
        left join sys_user su on su.id = a.doctor_id
        and su.hosp_code = a.hosp_code
        WHERE
        a.hosp_code = #{hospCode}
        AND c.audit_code = '1' /*医保项目已审核*/
        AND c.is_match = '1' /*医保项目已匹配*/
        AND c.is_trans = '1' /*医保项目已传输*/
        AND c.is_valid = '1' /*医保项目有效*/
        and si.upload_insure = '1'
        and si.id in (select fixmedins_bchno from insure_stock_upload where inv_data_type = '4')
        <if test="keyword != null and keyword != ''">
            and (c.insure_item_name like concat('%',#{keyword},'%') or b.good_pym like concat('%',#{keyword},'%')
            or b.good_wbm like concat('%',#{keyword},'%')
            or b.usual_pym like concat('%',#{keyword},'%')
            or b.usual_wbm like concat('%',#{keyword},'%')
        </if>
        <if test="insureRegCode != null and insureRegCode != ''">
            and c.insure_reg_code = #{insureRegCode}
        </if>
    </select>
    <select id="queryInsureMaterialSellBackPage" resultType="cn.hsa.module.insure.stock.entity.InsureGoodSellBack">
        SELECT
        a.id,
        a.hosp_code,
        c.insure_item_code AS prodCode,
        c.insure_item_code AS fixmedinsHilistId,
        c.insure_item_name AS fixmedinsHilistName,
        si.id AS fixmedinsBchno,
        su.cert_code as prscDrCertType,
        su.cert_no as prscDrCertno,
        a.doctor_name AS prscDrName,
        IFNULL(( SELECT cert_no  FROM sys_user WHERE id = si.crte_id ), '-1' ) AS pharCertno,
        si.crte_name AS pharName,
        IFNULL(( SELECT prac_certi_no FROM sys_user WHERE id = si.crte_id ), '-1' ) AS pharPracCertNo,
        a.visit_id AS mdtrtSn,
        d.cert_no as certno,
        d.name as psnName,
        si.batch_no AS manuLotnum,
        DATE_SUB( si.crte_time, INTERVAL 2 MONTH ) AS manuDate,
        '0' AS rxFlag,
        CASE
        WHEN si.split_ratio = '1' THEN
        '0' ELSE '1'
        END AS trdnFlag,
        a.price as finlTrnsPric,
        si.order_no AS rtalDocno,
        a.num AS selRetnCnt,
        a.num_unit_code AS numUnitCode,
        a.crte_time AS selRetnTime,
        a.crte_name AS selRetnOpterName
        FROM
        outpt_cost a
        JOIN stro_invoicing si ON a.item_id = si.item_id
        AND a.visit_id = si.invoicing_target_id
        LEFT JOIN base_material bd ON a.hosp_code = bd.hosp_code
        AND a.item_id = bd.id
        LEFT JOIN insure_item_match c ON a.hosp_code = c.hosp_code
        AND a.item_id = c.hosp_item_id
        LEFT JOIN outpt_visit d ON a.hosp_code = d.hosp_code
        AND a.visit_id = d.id
        left join sys_user su on su.id = a.doctor_id
        and su.hosp_code = a.hosp_code
        WHERE
        a.hosp_code = #{hospCode}
        AND c.audit_code = '1' /*医保项目已审核*/
        AND c.is_match = '1' /*医保项目已匹配*/
        AND c.is_trans = '1' /*医保项目已传输*/
        AND c.is_valid = '1' /*医保项目有效*/
        and si.upload_insure = '1'
        and si.id in (select fixmedins_bchno from insure_stock_upload where inv_data_type = '4')
        <if test="keyword != null and keyword != ''">
            and (c.insure_item_name like concat('%',#{keyword},'%')
            or bd.pym like concat('%',#{keyword},'%') or bd.wbm like concat('%',#{keyword},'%') )
        </if>
        <if test="insureRegCode != null and insureRegCode != ''">
            and c.insure_reg_code = #{insureRegCode}
        </if>
        UNION ALL
        /*住院*/
        SELECT
        a.id,
        a.hosp_code,
        c.insure_item_code AS prodCode,
        c.insure_item_code AS fixmedinsHilistId,
        c.insure_item_name AS fixmedinsHilistName,
        si.id AS fixmedinsBchno,
        su.cert_code as prscDrCertType,
        su.cert_no as prscDrCertno,
        a.doctor_name AS prscDrName,
        IFNULL(( SELECT cert_no  FROM sys_user WHERE id = si.crte_id ), '-1' ) AS pharCertno,
        si.crte_name AS pharName,
        IFNULL(( SELECT prac_certi_no FROM sys_user WHERE id = si.crte_id ), '-1' ) AS pharPracCertNo,
        a.visit_id AS mdtrtSn,
        d.cert_no as certno,
        d.name as psnName,
        si.batch_no AS manuLotnum,
        DATE_SUB( si.crte_time, INTERVAL 2 MONTH ) AS manuDate,
        '0' AS rxFlag,
        CASE
        WHEN si.split_ratio = '1' THEN
        '0' ELSE '1'
        END AS trdnFlag,
        a.price as finlTrnsPric,
        si.order_no AS rtalDocno,
        a.num AS selRetnCnt,
        a.num_unit_code AS numUnitCode,
        a.crte_time AS selRetnTime,
        a.crte_name AS selRetnOpterName
        FROM
        inpt_cost a
        JOIN stro_invoicing si ON a.item_id = si.item_id
        AND a.visit_id = si.invoicing_target_id
        LEFT JOIN base_material bd ON a.hosp_code = bd.hosp_code
        AND a.item_id = bd.id
        LEFT JOIN insure_item_match c ON a.hosp_code = c.hosp_code
        AND a.item_id = c.hosp_item_id
        LEFT JOIN inpt_visit d ON a.hosp_code = d.hosp_code
        AND a.visit_id = d.id
        left join sys_user su on su.id = a.doctor_id
        and su.hosp_code = a.hosp_code
        WHERE
        a.hosp_code = #{hospCode}
        AND c.audit_code = '1' /*医保项目已审核*/
        AND c.is_match = '1' /*医保项目已匹配*/
        AND c.is_trans = '1' /*医保项目已传输*/
        AND c.is_valid = '1' /*医保项目有效*/
        and si.upload_insure = '1'
        and si.id in (select fixmedins_bchno from insure_stock_upload where inv_data_type = '4')
        <if test="keyword != null and keyword != ''">
            and (c.insure_item_name like concat('%',#{keyword},'%')
            or bd.pym like concat('%',#{keyword},'%') or bd.wbm like concat('%',#{keyword},'%') )
        </if>
        <if test="insureRegCode != null and insureRegCode != ''">
            and c.insure_reg_code = #{insureRegCode}
        </if>
    </select>

    <select id="queryInsureInventoryCheckPage" resultType="cn.hsa.module.insure.stock.entity.InsureInventoryCheck">
        SELECT distinct
        a.insure_item_code as medlistcodg,
        a.hosp_item_code as fixmedinsHilistId,
        a.hosp_item_name as fixmedinsHilistName,
        a.insure_item_code as insureItemCode,
        a.insure_item_name as insureItemName,
        a.insure_reg_code as insureRegCode,
        CASE
        WHEN si.item_code = '1' THEN
        b.is_prescription
        WHEN si.item_code = '2' THEN
        '0'
        END AS rxFlag,
        si.crte_time as invdate,
        si.surplus_num as invCnt,
        DATE_SUB(si.crte_time,INTERVAL 2 MONTH) as manu_date,
        si.batch_no as manuLotnum,
        si.id as fixmedinsBchno,
        si.expiry_date as expy_end,
        si.sell_price as price,
        ''as memo
        FROM
         stro_invoicing si
        LEFT JOIN insure_item_match A on  si.item_id = A.hosp_item_id and a.hosp_code = si.hosp_code
        LEFT JOIN base_material bd on bd.id = si.item_id  and si.hosp_code = bd.hosp_code
        left join base_drug b on si.item_id = b.id  and b.hosp_code = si.hosp_code
        where si.hosp_code =#{hospCode}
        and si.outin_code in ('7','8')
        and a.audit_code = '1' /*医保项目已审核*/
        AND a.is_match = '1' /*医保项目已匹配*/
        AND a.is_trans = '1' /*医保项目已传输*/
        AND a.is_valid = '1' /*医保项目有效*/
        <if test="fixmedinsHilistName != null and fixmedinsHilistName != ''">
            and a.hosp_item_name = #{fixmedinsHilistName}
        </if>
        <if test="isUpload != null and isUpload != ''">
            and si.upload_insure = #{isUpload}
        </if>
        <if test="insureRegCode != null and insureRegCode != ''">
            and a.insure_reg_code = #{insureRegCode}
        </if>
    </select>
    <!--查询库存变更-->
    <select id="queryInsureInventoryStockUpdatePage" resultType="cn.hsa.module.insure.stock.entity.InsureInventoryStockUpdate">
     SELECT
        c.insure_item_code AS medListCodg,
        #{invChgType} as invChgType,
        c.insure_item_code AS fixmedinsHilistId,
        c.insure_item_name AS fixmedinsHilistName,
        c.insure_item_code as insureItemCode,
        c.insure_item_name as insureItemName,
        c.insure_reg_code as insureRegCode,
        si.id AS fixmedinsBchno,
        si.sell_price AS pric,
        si.num AS cnt,
        si.curr_unit_code AS currUnitCode,
        CASE
        WHEN si.item_code = '1' THEN
        b.is_prescription
        WHEN si.item_code = '2' THEN
        '0'
        END AS rxFlag,
        si.crte_time AS invChgTime,
        si.crte_name as invChgOpterName,
        CASE
        WHEN si.split_ratio = '1' THEN
        '0' ELSE '1'
        END AS trdnFlag
    FROM
      stro_invoicing si
      join insure_item_match c on si.item_id = c.hosp_item_id and c.hosp_code = si.hosp_code
      LEFT JOIN base_material bd on bd.id = si.item_id  and si.hosp_code = bd.hosp_code
      left join base_drug b on si.item_id = b.id  and b.hosp_code = si.hosp_code
      where si.hosp_code = #{hospCode}
      and si.outin_code in
      <foreach collection="outinCodeList" item="item" open="(" separator="," close=")">
          #{item}
      </foreach>
      <if test="keyword != null and keyword != '' ">
          and (c.insure_item_name like concat('%',#{keyword},'%') or b.good_pym like concat('%',#{keyword},'%')
          or b.good_wbm like concat('%',#{keyword},'%')
          or b.usual_pym like concat('%',#{keyword},'%')
          or b.usual_wbm like concat('%',#{keyword},'%')
          or bd.pym like concat('%',#{keyword},'%') or bd.wbm like concat('%',#{keyword},'%') )
      </if>
        <if test="insureRegCode != null and insureRegCode != ''">
            and c.insure_reg_code = #{insureRegCode}
        </if>
        AND c.audit_code = '1' /*医保项目已审核*/
        AND c.is_match = '1' /*医保项目已匹配*/
        AND c.is_trans = '1' /*医保项目已传输*/
        AND c.is_valid = '1' /*医保项目有效*/
        and (si.upload_insure = '0' or si.upload_insure is null)

      order by fixmedinsBchno
    </select>
    <!--查询销售或者退货-->
    <select id="queryPersonList" resultType="java.util.Map">
        select
        t1.queryType,
        t1.visitId,
        t1.hospCode,
        t1.name as patientInfo,
        t1.profileNo,
        t1.visitNo,
        t1.certCode,
        t1.certNo,
        t1.visitDeptName,
        t1.visitDeptId,
        t1.visitTime,
        t1.bedName,
        t1.patientCode
        from (
        SELECT
        '1' as queryType,
        c.id as visitId,
        c.hosp_code as hospCode,
        c.name,
        c.out_profile as profileNo,
        c.visit_no as visitNo,
        c.cert_code as certCode,
        c.cert_no certNo,
        c.dept_id as visitDeptId,
        c.dept_name as visitDeptName,
        date_format(c.visit_time, '%Y-%m-%d') as visitTime,
        '' as bedName,
        c.patient_code as patientCode
        FROM
        outpt_cost a
        LEFT JOIN base_drug b on a.hosp_code = b.hosp_code and a.item_id = b.id
        LEFT JOIN base_material bm on a.hosp_code = bm.hosp_code and a.item_id = bm.id
        LEFT JOIN outpt_visit c on a.hosp_code = c.hosp_code and a.visit_id = c.id
        WHERE a.hosp_code = #{hospCode}
        <if test="sellType != null and sellType != '' and sellType == '1'.toString()">
            and a.status_code = '0' /*正常状态*/
        </if>
        <if test="sellType != null and sellType != '' and sellType == '2'.toString()">
            and a.status_code = '2' /*冲红状态*/
        </if>
        and a.settle_code = '2' /*已结算*/
        and a.is_upload = '0' /*未上传*/
        and c.is_visit = '1' /*已接诊*/
        GROUP BY a.visit_id

        UNION ALL

        SELECT
        '2' as queryType,
        c.id as visitId,
        c.hosp_code as hospCode,
        c.name,
        c.in_profile as profileNo,
        c.in_no as visitNo,
        c.cert_code as certCode,
        c.cert_no certNo,
        c.in_dept_id as visitDeptId,
        c.in_dept_name as visitDeptName,
        date_format(c.in_time, '%Y-%m-%d') as visitTime,
        c.bed_name as bedName,
        c.patient_code as patientCode
        FROM
        inpt_cost a
        LEFT JOIN base_drug b on a.hosp_code = b.hosp_code and a.item_id = b.id
        LEFT JOIN base_material bm on a.hosp_code = bm.hosp_code and a.item_id = bm.id
        LEFT JOIN inpt_visit c on a.hosp_code = c.hosp_code and a.visit_id = c.id
        WHERE a.hosp_code = #{hospCode}
        <if test="sellType != null and sellType != '' and sellType == '1'.toString()">
            and a.status_code = '0' /*正常状态*/
        </if>
        <if test="sellType != null and sellType != '' and sellType == '2'.toString()">
            and a.status_code = '2' /*冲红状态*/
        </if>
        and a.settle_code = '2' /*已结算*/
        and a.is_upload = '0' /*未上传*/
        and (c.status_code = '2' or c.status_code = '5' or c.status_code = '6' or c.status_code = '7') /*在院病人*/
        GROUP BY a.visit_id
        ) t1
        where 1=1
        <if test="keyword != null and keyword != ''">
            /*页面搜索条件：姓名、床号、就诊号、证件号*/
            and (t1.name like concat('%', #{keyword}, '%') or t1.bedName = #{keyword} or t1.visitNo = #{keyword} or t1.certNo = #{keyword})
        </if>
        <if test="queryType != null and queryType != '' and queryType != '0'.toString()">
            and t1.queryType = #{queryType}
        </if>
        <if test="queryType == null or queryType == '' or queryType == '0'.toString()">
            and t1.queryType in ('1', '2')
        </if>
        <if test="startDate != null and startDate != ''">
            <![CDATA[
            and t1.visitTime >= #{startDate}
          ]]>
        </if>
        <if test="endDate != null and startDate != ''">
            <![CDATA[
            and t1.visitTime <= #{endDate}
          ]]>
        </if>
        order by t1.queryType, t1.visitNo, t1.bedName, t1.visitTime
    </select>


</mapper>
