<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hsa.module.insure.module.dao.InsureDiseaseRecordDAO">


    <insert id="insertRecordDisease" parameterType="cn.hsa.module.insure.module.dto.InsureDiseaseRecordDTO">
        insert into insure_record(id, hosp_code, visit_id, psn_no, insutype,
                                  opsp_dise_code, opsp_dise_name,
                                  tel, addr, insu_optins, ide_fixmedins_no,
                                  ide_fixmedins_name, hosp_ide_date, diag_dr_codg, diag_dr_name,
                                  begndate, enddate, trt_dcla_detl_sn, memo, crte_id, crte_name, crte_time, reg_code)
        values (#{id}, #{hospCode}, #{visitId}, #{psnNo}, #{insutype}, #{opspDiseCode},
                #{opspDiseName}, #{tel}, #{addr}, #{insuOptins}, #{ideFixmedinsNo}, #{ideFixmedinsName},
                #{hospIdeDate}, #{diagDrCodg}, #{diagDrName}, #{begndate}, #{enddate}, #{trtDclaDetlSn}, #{memo},
                #{crteId}, #{crteName}, #{crteTime}, #{regCode})
    </insert>
    <insert id="insertRecordAccidentInjury" parameterType="cn.hsa.module.insure.module.dto.InsureAccidentalInjuryDTO">
      INSERT INTO insure_accidental_injury
(id, hosp_code, dcla_souc, insutype, psn_no, psn_insurlts_id, psn_cert_type, certno, psn_name, gend, naty, brdy, tel, addr, insu_admdvs, emp_no, emp_name, mdtrtarea_admdvs, fixmedins_code, fixmedins_name, hosplv, adm_time, trum_time, trum_site, trum_rea, chk_pay_flag, agnter_name, agnter_cert_type, agnter_certno, agnter_tel, agnter_addr, agnter_rlts, begndate, enddate, memo, crte_id, crte_name, crte_time)
VALUES( #{id}, #{hosp_code}, #{dcla_souc}, #{insutype}, #{psn_no}, #{psn_insurlts_id},
                #{psn_cert_type}, #{certno}, #{psn_name}, #{gend}, #{naty}, #{brdy}, #{tel},
                #{crteId}, #{crteName}, #{crteTime}, #{regCode})
    </insert>
    <insert id="insertInsureFixPersonnalRecord"
            parameterType="cn.hsa.module.insure.module.dto.InsureFixPersonnalRecordDTO">
        insert into insure_fix_record (id, hosp_code, psn_no, tel, addr,
                                       biz_appy_type, begndate, enddate, agnter_name,
                                       agnter_cert_type, agnter_certno, agnter_tel,
                                       agnter_addr, agnter_rlts, fix_srt_no,
                                       fixmedins_code, fixmedins_name, memo, visit_id,
                                       insure_reg_code, trt_dcla_detl_sn,
                                       crte_time, crte_name, cret_id, name, biz_appy_type_name,
                                       agnter_cert_type_name, agnter_rlts_name)
        values (#{id}, #{hospCode}, #{psnNo}, #{tel}, #{addr}, #{bizAppyType}, #{begndate}, #{enddate},
                #{agnterName}, #{agnterCertType}, #{agnterCertno}, #{agnterTel}, #{agnterAddr}, #{agnterRlts},
                #{fixSrtNo}, #{fixmedinsCode}, #{fixmedinsName}, #{memo},
                #{visitId}, #{insureRegCode}, #{trtDclaDetlSn}, #{crteTime}, #{crteName}, #{crteId}, #{name},
                #{bizAppyTypeName},
                #{agnterCertTypeName}, #{agnterRltsName})
    </insert>
    <insert id="insertInptRecord" parameterType="cn.hsa.module.insure.module.entity.InsureInptRecordDO">
        insert into insure_inpt_record(id, hosp_code, visit_id, psn_no, insutype, tel, addr,
                                       insu_optins, diag_name, dise_cond_dscr, reflin_medins_no,
                                       reflin_medins_name, mdtrtarea_admdvs, hosp_agre_refl_flag,
                                       refl_type, refl_date, refl_rea, refl_opnn, begndate, enddate, trt_dcla_detl_sn,
                                       crte_id, crte_name, crte_time, insure_reg_code, refl_type_name)
        values (#{id}, #{hospCode}, #{visitId}, #{psnNo}, #{insutype}, #{tel}, #{addr}, #{insuOptins}, #{diagName},
                #{diseCondDscr},
                #{reflinMedinsNo}, #{reflinMedinsName}, #{mdtrtareaAdmdvs}, #{hospAgreReflFlag}, #{reflType},
                #{reflDate}, #{reflRea}, #{reflOpnn},
                #{begndate}, #{enddate}, #{trtDclaDetlSn}, #{crteId}, #{crteName}, #{crteTime}, #{insureRegCode},
                #{reflTypeName})
    </insert>
    <delete id="deleteRecordDisease">
        delete
        from insure_record
        where hosp_code = #{hospCode}
          and trt_dcla_detl_sn = #{trtDclaDetlSn}
    </delete>
    <delete id="deleteInsureFixPersonnalRecord">
        delete
        from insure_fix_record
        where hosp_code = #{hospCode}
          and psn_no = #{psnNo}
    </delete>
    <delete id="deleteInsureInptRecord">
        delete
        from insure_inpt_record
        where hosp_code = #{hospCode}
          and trt_dcla_detl_sn = #{trtDclaDetlSn}
    </delete>
    <select id="queryPage" resultType="cn.hsa.module.insure.module.dto.InsureDiseaseRecordDTO">
        select ov.name,ov.visit_id,ov.dept_name,ov.register_no,ov.cert_no, ir.id, ir.hosp_code, ir.visit_id, ir.psn_no,
        ( case ir.insutype when '310' then '职工基本医疗保险' when '320' then '公务员医疗补助' when '330' then '大额医疗费用补助'
        when '340' then '离休人员医疗保障' when '390' then '城乡居民基本医疗保险' when '392' then '城乡居民大病医疗保险'
        when '510' then '生育保险' end) as insutype,
        ir.opsp_dise_code, ir.opsp_dise_name, ir.tel, ir.addr, ir.insu_optins,
        ir.ide_fixmedins_no, ir.ide_fixmedins_name,
        ir.hosp_ide_date, ir.diag_dr_codg, ir.diag_dr_name,ir. begndate,
        ir.enddate, ir.trt_dcla_detl_sn, ir.memo
        from outpt_register ov
        left join insure_record ir on ov.visit_id = ir.visit_id and ov.hosp_code = ir.hosp_code
        where ov.hosp_code =#{hospCode}
        <if test="keyword !=null and keyword != ''">
            and (ov.name like '%${keyword}%'
            or ov.register_no like '%${keyword}%'
            or ir.opsp_dise_code like '%${keyword}%'
            or ir.ide_fixmedins_name like '%${keyword}%')
        </if>
        /*开始日期*/
        <if test="startDate != null ">
            and date(ov.register_time) &gt;= date(#{startDate})
        </if>
        /*结束日期*/
        <if test="endDate != null ">
            and date(ov.register_time) &lt;= date(#{endDate})
        </if>
        order by ir.crte_time desc

    </select>
    <select id="queryPageInsureFixRecord"
            resultType="cn.hsa.module.insure.module.dto.InsureFixPersonnalRecordDTO">
        select * from insure_fix_record where hosp_code =#{hospCode}
        <if test="keyword !=null and keyword != ''">
            and (name like '%${keyword}%')
        </if>
        <!--        /*开始日期*/-->
        <!--        <if test="startDate != null ">-->
        <!--            and date(ifr.begndate) &gt;= date(#{startDate})-->
        <!--        </if>-->
        <!--        /*结束日期*/-->
        <!--        <if test="endDate != null ">-->
        <!--            and date(ifr.enddate) &lt;= date(#{endDate})-->
        <!--        </if>-->
        order by crte_time desc
    </select>
    <select id="getById" resultType="cn.hsa.module.insure.module.dto.InsureDiseaseRecordDTO">
        select id,
               hosp_code,
               visit_id,
               psn_no,
               insutype,
               opsp_dise_code,
               opsp_dise_name,
               tel,
               addr,
               insu_optins,
               ide_fixmedins_no,
               ide_fixmedins_name,
               hosp_ide_date,
               diag_dr_codg,
               diag_dr_name,
               begndate,
               enddate,
               trt_dcla_detl_sn,
               memo,
               crte_id,
               crte_name,
               crte_time,
               reg_code
        from insure_record
        where hosp_code = #{hospCode}
          and trt_dcla_detl_sn = #{trtDclaDetlSn}
        <if test="visitId != null and visitId != ''">
            and visit_id = #{visitId}
        </if>
    </select>
    <select id="getFixRecordById" resultType="cn.hsa.module.insure.module.dto.InsureFixPersonnalRecordDTO">
        select id,
               hosp_code,
               psn_no,
               tel,
               addr,
               biz_appy_type,
               begndate,
               enddate,
               agnter_name,
               agnter_cert_type,
               agnter_certno,
               agnter_tel,
               agnter_addr,
               agnter_rlts,
               fix_srt_no,
               fixmedins_code,
               fixmedins_name,
               memo,
               visit_id,
               insure_reg_code,
               trt_dcla_detl_sn,
               cret_id,
               crte_name,
               crte_time
        from insure_fix_record
        where hosp_code = #{hospCode}
          and trt_dcla_detl_sn = #{trtDclaDetlSn}
    </select>
    <select id="getInptRecordById" resultType="cn.hsa.module.insure.module.dto.InsureInptRecordDTO">
        select iir.*, iiv.crte_time as regsiterTime
        from insure_inpt_record iir
                 join insure_individual_visit iiv on iir.visit_id = iiv.visit_id and iir.hosp_code = iiv.hosp_code
        where iir.hosp_code = #{hospCode}
          <if test="visitId != null and visitId != ''">
              and iir.visit_id = #{visitId}
          </if>
          and iir.trt_dcla_detl_sn = #{trtDclaDetlSn}
    </select>
    <select id="queryPageInptRecord" resultType="cn.hsa.module.insure.module.dto.InsureInptRecordDTO">
        select iiv.medical_reg_no,iiv.medicine_org_code as
        medicineOrgCode,iiv.bka006,iiv.visit_icd_code,iiv.visit_icd_name,
        iiv.visit_berth as visitBerth, iiv.visit_icd_code as visitIcdCode,iiv.visit_drpt_name as
        visitDrptName,iiv.visit_icd_name as visitIcdName,
        iiv.aac001,iiv.aka130_name as aka130Name,iiv.insure_reg_code,iiv.visit_id
        as visitId,iib.aae140 as aae140,iib.aac003 as name,
        <if test="isHospital == '1'.toString()">
            iv.in_time,iv.out_time,iv.out_disease_name,iv.out_disease_icd10,
        </if>
        <if test="isHospital == '0'.toString()">
            ov.visit_time as begndate,
        </if>
        iir.*

        from insure_individual_visit iiv
        <if test="isHospital == '1'.toString()">
            join inpt_visit iv on iiv.visit_id = iv.id and iiv.hosp_code = iv.hosp_code
        </if>
        <if test="isHospital == '0'.toString()">
            join outpt_visit ov on iiv.visit_id = ov.id and iiv.hosp_code = ov.hosp_code
        </if>
        join insure_individual_basic iib on iib.id = iiv.mib_id and iib.hosp_code = iiv.hosp_code
        left join insure_inpt_record iir on iir.hosp_code = iiv.hosp_code and iir.visit_id = iiv.visit_id
        where 1=1 and iiv.hosp_code = #{hospCode}
        <if test="isHospital == '1'.toString()">
            <if test="keyword !=null and keyword != ''">
                and iv.name like concat('%',#{keyword},'%')
            </if>
        </if>
        <if test="isHospital == '0'.toString()">
            <if test="keyword !=null and keyword != ''">
                and ov.name like concat('%',#{keyword},'%')
            </if>
        </if>
        order by iir.crte_time desc
    </select>
    <select id="queryInptRecordNo" resultType="cn.hsa.module.insure.module.dto.InsureInptRecordDTO">
        select fix_srt_no
        from insure_fix_record
        where hosp_code = #{hospCode}
          and psn_no = #{psnNo}
        order by crte_time desc
        limit 1
    </select>

    <select id="queryPageOutptTwoDiseRecord"
            resultType="cn.hsa.module.insure.module.dto.InsureDiseaseRecordDTO">
        select ov.name,ov.visit_id,ov.dept_name,ov.register_no,ov.cert_no, ir.id, ir.hosp_code, ir.visit_id, ir.psn_no,
        ir.reg_code, ir.hosp_opnn, ir.appyer_tel, ir.appyer_addr,
        ir.opsp_dise_code, ir.opsp_dise_name, ir.begndate,
        ir.enddate, ir.trtDclaDetlSn, ir.memo
        from outpt_register ov
        left join insure_outpt_twodise ir on ov.visit_id = ir.visit_id and ov.hosp_code = ir.hosp_code
        where ov.hosp_code =#{hospCode}
        <if test="keyword !=null and keyword != ''">
            and (ov.name like '%${keyword}%'
            or ov.register_no like '%${keyword}%'
            or ir.opsp_dise_code like '%${keyword}%')
        </if>
        /*开始日期*/
        <if test="startDate != null ">
            and date(ov.register_time) &gt;= date(#{startDate})
        </if>
        /*结束日期*/
        <if test="endDate != null ">
            and date(ov.register_time) &lt;= date(#{endDate})
        </if>
        order by ir.crte_time desc

    </select>

    <!--新增所有列-->
    <insert id="insertOuptTowDiseRecord" keyProperty="" useGeneratedKeys="true">
        insert into insure_outpt_twodise(id, visit_id, reg_code, trtDclaDetlSn, hosp_code, psn_no, opsp_dise_code,
                                         opsp_dise_name, hosp_opnn, hosp_appy_time, begndate, enddate, opter_name, memo,
                                         appy_rea, symp_dscr, appyer, appyer_tel, appyer_addr, crte_id, crte_name,
                                         crte_time)
        values (#{id}, #{visitId}, #{regCode}, #{trtDclaDetlSn}, #{hospCode}, #{psnNo}, #{opspDiseCode},
                #{opspDiseName}, #{hospOpnn}, #{hospAppyTime}, #{begndate}, #{enddate}, #{opterName}, #{memo},
                #{appyRea}, #{sympDscr}, #{appyer}, #{appyerTel}, #{appyerAddr}, #{crteId}, #{crteName}, #{crteTime})
    </insert>
    <insert id="insertSpecialOutptRecord">
        insert into insure_special_record(id, hosp_code, evt_type, dcla_souc, bydise_setl_list_code,
                                          bydise_setl_dise_name, oprn_oprt_code, fixmedins_code,
                                          fix_blng_admdvs, appy_date, appy_rea, agnter_name, agnter_cert_type,
                                          agnter_certno,
                                          agnter_tel, agnter_addr, agnter_rlts, begndate, enddate, memo, psn_no, evtsn,
                                          serv_matt_inst_id,
                                          serv_matt_node_inst_id, evt_inst_id, trt_dcla_detl_sn,name)
        values (#{id}, #{hospCode}, #{evt_type}, #{dcla_souc}, #{bydise_setl_list_code}, #{bydise_setl_dise_name},
                #{oprn_oprt_code},
                #{fixmedins_code}, #{fix_blng_admdvs}, #{appy_date}, #{appy_rea}, #{agnter_name}, #{agnter_cert_type},
                #{agnter_certno}, #{agnter_tel}, #{agnter_addr}, #{agnter_rlts}, #{begndate},
                #{enddate}, #{memo}, #{psn_no}, #{evtsn}, #{serv_matt_inst_id},
                #{serv_matt_node_inst_id}, #{evt_inst_id}, #{trt_dcla_detl_sn},#{name})
    </insert>

    <delete id="deleteOuptTwoDiseRecord">
        delete
        from insure_outpt_twodise
        where hosp_code = #{hospCode}
          and trtDclaDetlSn = #{trtDclaDetlSn}
    </delete>
    <delete id="deleteSpecialOutptRecord">
        delete
        from insure_special_record
        where serv_matt_inst_id = #{serv_matt_inst_id}
          and hosp_code = #{hospCode}
    </delete>
    <select id="getByIdTwoDise" resultType="cn.hsa.module.insure.module.dto.InsureDiseaseRecordDTO">
        select id, hosp_code, reg_code, psn_no, trtDclaDetlSn
        from insure_outpt_twodise
        where hosp_code = #{hospCode}
        <if test="visitId != null and visitId != ''">

            and visit_id = #{visitId}
        </if>
          and trtDclaDetlSn = #{trtDclaDetlSn}
    </select>
    <select id="queryPageSpecialRecord" resultType="cn.hsa.module.insure.module.dto.InsureSpecialRecordDTO">
        select id, hosp_code, evt_type, dcla_souc, bydise_setl_list_code, bydise_setl_dise_name,
        oprn_oprt_code, oprn_oprt_name, fixmedins_code, fix_blng_admdvs, appy_date,
        appy_rea, agnter_name, agnter_cert_type, agnter_certno, agnter_tel, agnter_addr,
        agnter_rlts, begndate, enddate, memo, psn_no, evtsn, serv_matt_inst_id,
        serv_matt_node_inst_id, evt_inst_id, trt_dcla_detl_sn,name from insure_special_record
        where hosp_code =#{hospCode}
        <if test="keyWord !=null and keyWord != ''">
            and( name like concat('%',#{keyWord},'%')
            or psn_no like concat('%',#{keyWord},'%')
            )
        </if>
    </select>
</mapper>