<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hsa.module.insure.insureIndividualInpatient.dao.InsureIndividualInpatientDAO">

    <select id="queryInpatient" resultType="cn.hsa.module.inpt.individualInpatient.dto.InsureIndividualInpatientDTO" parameterType="java.util.Map">
            select * from insure_individual_inpatient where visit_id =#{visitId} and hosp_code =#{hospCode}
    </select>

</mapper>