<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hsa.module.inpt.medicaltechnology.dao.MedicalTechnologyDAO">

    <select id="getLISorPASSNeedConfirmCost" parameterType="cn.hsa.module.inpt.medicaltechnology.dto.MedicalTechnologyDTO" resultType="cn.hsa.module.inpt.medicaltechnology.dto.MedicalTechnologyDTO" >
        select (a.price*a.num) as sumPrice,a.*,ib.name as babyName,ib.gender_code as babyGenderCode from
        (
        SELECT
        c.id AS costId,
        c.item_id AS itemId,
        c.item_name AS itemName,
        c.price,
        c.num,
        v.NAME,
        v.age,
        v.age_unit_code,
        v.bed_name,
        v.in_no,
        d.NAME AS sourceDeptName,
        c.crte_time,
        v.gender_code,
        c.baby_id,
        c.hosp_code,
        CASE
        WHEN c.is_ok = '1' THEN
        '确费'
        WHEN c.is_ok = '0' THEN
        '未确费'
        WHEN (c.is_ok = '2') THEN
        '已申请退费'
        WHEN c.is_ok = '3' THEN
        '已退费'
        ELSE '未确费'
        END AS isOk
        FROM
        medic_apply ma,
        inpt_advice b,
        inpt_cost c,
        inpt_visit v,
        base_dept d
        WHERE
        ma.apply_no = b.technology_no
        AND ma.visit_id = v.id
        and ma.hosp_code = c.hosp_code
        and ma.hosp_code = v.hosp_code
        and ma.hosp_code = d.hosp_code
        and ma.visit_id = b.visit_id
        AND b.id = c.iat_id
        AND d.id = c.dept_id
        AND ma.hosp_code = #{hospCode}
        AND ma.type_code = #{typeCode}
        <if test="execDeptId != null and execDeptId != ''">
            and c.exec_dept_id = #{execDeptId}
        </if>
        <if test="sourceDeptId != null and sourceDeptId != ''">
            and c.source_dept_id = #{sourceDeptId}
        </if>
        <if test="technologyCode != null and technologyCode != ''">
            and ma.medic_type = #{technologyCode}
        </if>
        <if test="startTime != null and startTime != ''">
            and c.crte_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and c.crte_time &lt;= #{endTime}
        </if>
        <if test="keyword != null and keyword != ''">
            and v.name like concat('%', #{keyword}, '%' )
        </if>
        <choose>
            <when test="isOk == null or isOk == '0'.toString()">
                and (c.is_ok = #{isOk} or c.is_ok is null) and  c.status_code = '0'
            </when>
            <when test="isOk != null and isOk == '3'.toString()"> /*查询已退费状态的医技*/
               and  c.status_code = '1'
            </when>
            <otherwise>
                and c.is_ok = #{isOk}  and  c.status_code = '0'
            </otherwise>
        </choose>
        ) a
        left join inpt_baby ib on a.baby_id = ib.id and a.hosp_code = ib.hosp_code
    </select>

    <update id="saveMwdicalTechnologyConfirmCost" parameterType="java.util.Map">
        update inpt_cost set is_ok = '1', ok_id = #{crteId}, ok_name = #{crteName}, ok_time = #{crteTime}
        where hosp_code = #{hospCode} and id in
        <foreach collection="ids" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </update>
    <update id="saveOutPtMwdicalTechnologyConfirmCost" parameterType="java.util.Map">
        update outpt_cost set is_technology_ok = '1', technology_ok_id = #{crteId}, technology_ok_name = #{crteName}, technology_ok_time = #{crteTime}
        where hosp_code = #{hospCode} and id in
        <foreach collection="ids" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </update>
    <update id="updateMedicalTechnologyConfirmCost" parameterType="java.util.Map">
        update inpt_cost set is_ok = '0', ok_id = null, ok_name = null, ok_time = null
        where hosp_code = #{hospCode} and id in
        <foreach collection="ids" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </update>
    <update id="updateOutPtMedicalTechnologyConfirmCost" parameterType="java.util.Map">
        update outpt_cost set is_technology_ok = '0', technology_ok_id = null, technology_ok_name = null, technology_ok_time = null
        where hosp_code = #{hospCode} and id in
        <foreach collection="ids" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </update>
    <!-- 根据就诊id查询确费状态为未确费的费用条数 -->
    <select id="getConfirmCost" parameterType="cn.hsa.module.inpt.doctor.dto.InptVisitDTO" resultType="java.lang.Integer">
        SELECT count(*)
        FROM
        medic_apply ma,
        inpt_advice b,
        inpt_cost c
        WHERE
        ma.apply_no = b.technology_no
        and ma.hosp_code = c.hosp_code
        and ma.visit_id = c.visit_id
        AND b.id = c.iat_id
        AND ma.hosp_code = #{hospCode}
        AND b.type_code in ('3', '12')
        AND c.status_code = '0'
        and c.is_ok = '0'
        and c.visit_id = #{id}
    </select>
    <select id="getOutPutLISorPASSNeedConfirmCost"
            resultType="cn.hsa.module.inpt.medicaltechnology.dto.MedicalTechnologyDTO">
        SELECT
            c.id AS costId,
            c.item_id AS itemId,
            c.item_name AS itemName,
            c.price,
            c.num,
            (c.price*c.num) as sumPrice,
            v.NAME,
            v.age,
            v.age_unit_code,
            v.visit_no as inNo,
            d.NAME AS sourceDeptName,
            c.crte_time,
            v.gender_code,
            c.hosp_code,
            C.technology_ok_name AS technologyOkName,
            C.technology_ok_time AS technologyOkTime,
            CASE
                WHEN (c.is_technology_ok = '1'and c.status_code = '0') THEN
                    '确费'
                WHEN (c.is_technology_ok = '0'and c.status_code = '0') THEN
                    '未确费'
                WHEN (c.is_technology_ok = '2' and c.status_code = '0') THEN
                '已申请退费'
                WHEN c.status_code = '1' THEN
                '已退费'
                WHEN c.is_technology_ok = '3' THEN
                '已退费'
                ELSE '未确费'
                END AS isOk
        FROM
            medic_apply ma,
            outpt_prescribe_detail b,
            outpt_cost c,
            outpt_visit v,
            base_dept d
        WHERE
            ma.opd_id = B.id
          AND ma.visit_id = v.id
          and ma.hosp_code = c.hosp_code
          and ma.hosp_code = v.hosp_code
          and ma.hosp_code = d.hosp_code
          and ma.visit_id = b.visit_id
          AND b.id = c.opd_id
          AND d.id = c.dept_id
        AND ma.hosp_code = #{hospCode}
        AND ma.type_code = #{typeCode}
        AND ma.is_inpt = '0'
        <if test="execDeptId != null and execDeptId != ''">
            and c.exec_dept_id = #{execDeptId}
        </if>
        <if test="sourceDeptId != null and sourceDeptId != ''">
            and c.source_dept_id = #{sourceDeptId}
        </if>
        <if test="technologyCode != null and technologyCode != ''">
            and ma.medic_type = #{technologyCode}
        </if>
        <if test="startTime != null and startTime != ''">
            and c.crte_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and c.crte_time &lt;= #{endTime}
        </if>
        <if test="keyword != null and keyword != ''">
            and v.name like concat('%', #{keyword}, '%' )
        </if>
        <choose>
            <when test="isOk == null or isOk == '0'.toString()">
                and (c.is_technology_ok = #{isOk} or c.is_technology_ok is null) and  c.status_code = '0'
            </when>
            <when test="isOk != null and isOk == '3'.toString()"> /*查询已退费状态的医技*/
                and  c.status_code = '1'
            </when>
            <otherwise>
                and c.is_technology_ok = #{isOk}  and  c.status_code = '0'
            </otherwise>
        </choose>
    </select>
    <select id="getParameterValue" resultType="cn.hsa.module.sys.parameter.dto.SysParameterDTO">
        select  a.id, a.hosp_code hospCode, a.name, a.code, a.remark, a.pym, a.wbm, a.value
        from sys_parameter a
        where  a.hosp_code = #{hospCode}  and code in
        <foreach item="code" collection="code" separator="," open="(" close=")" index="">
            #{code}
        </foreach>
    </select>
    <select id="getVisitDTOById" resultType="cn.hsa.module.inpt.doctor.dto.InptVisitDTO">
        select id,in_no as inNo
         from inpt_visit where hosp_code = #{hospCode} and id = #{visitId}
    </select>
    <select id="getRecoveryConfirmCost"
            resultType="cn.hsa.module.inpt.medicaltechnology.dto.MedicalTechnologyDTO">
        select (a.price*a.num) as sumPrice,a.*,ib.name as babyName,ib.gender_code as babyGenderCode from
            (
                SELECT
                    c.id AS costId,
                    c.item_id AS itemId,
                    c.item_name AS itemName,
                    c.price,
                    c.num,
                    v.NAME,
                    v.age,
                    v.age_unit_code,
                    v.bed_name,
                    v.in_no,
                    d.NAME AS sourceDeptName,
                    c.crte_time,
                    v.gender_code,
                    c.baby_id,
                    c.hosp_code,
                    CASE
                        WHEN c.is_ok = '1' THEN
                            '确费'
                        WHEN c.is_ok = '0' THEN
                            '未确费' ELSE '未确费'
                        END AS isOk
                FROM
                    inpt_cost c
                    left join inpt_advice b on c.visit_id = b.visit_id and c.iat_id = b.id and c.hosp_code = b.hosp_code
                    left join inpt_visit v on  c.visit_id = v.id  and c.hosp_code = v.hosp_code
                    left join base_dept d on d.id = c.dept_id  and c.hosp_code = d.hosp_code

                WHERE
                    c.hosp_code = #{hospCode}
                  AND b.type_code = '19'
                  AND c.status_code = '0'
        <if test="execDeptId != null and execDeptId != ''">
            and c.exec_dept_id = #{execDeptId}
        </if>
        <if test="sourceDeptId != null and sourceDeptId != ''">
            and c.source_dept_id = #{sourceDeptId}
        </if>

        <if test="startTime != null and startTime != ''">
            and c.crte_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and c.crte_time &lt;= #{endTime}
        </if>
        <if test="keyword != null and keyword != ''">
            and v.name like concat('%', #{keyword}, '%' )
        </if>
        <if test="isOk != null and isOk != ''">
            and c.is_ok = #{isOk}
        </if>
        ) a
        left join inpt_baby ib on a.baby_id = ib.id and a.hosp_code = ib.hosp_code
    </select>
    <!--获取不是未确费的费用-->
    <select id="getAlreadyCostByCostIds" resultType="java.lang.Integer">
        select count(0) from outpt_cost where hosp_code = #{hospCode} and (is_technology_ok != '0' and is_technology_ok is not null) and id in
                                        <foreach collection="list" item="item" open="(" separator="," close=")">
                                            #{item}
                                        </foreach>
    </select>
</mapper>