<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hsa.module.stro.stroinvoicing.dao.StroInvoicingMonthlyDetailDAO">
  <resultMap id="BaseResultMap" type="cn.hsa.module.stro.stroinvoicing.entity.StroInvoicingMonthlyDetailDO">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="hosp_code" jdbcType="VARCHAR" property="hospCode" />
    <result column="biz_id" jdbcType="VARCHAR" property="bizId" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
    <result column="item_id" jdbcType="VARCHAR" property="itemId" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="num" jdbcType="DECIMAL" property="num" />
    <result column="unit_code" jdbcType="VARCHAR" property="unitCode" />
    <result column="curr_unit_code" jdbcType="VARCHAR" property="currUnitCode" />
    <result column="sell_price" jdbcType="DECIMAL" property="sellPrice" />
    <result column="buy_price" jdbcType="DECIMAL" property="buyPrice" />
    <result column="split_ratio" jdbcType="DECIMAL" property="splitRatio" />
    <result column="split_price" jdbcType="DECIMAL" property="splitPrice" />
    <result column="split_num" jdbcType="DECIMAL" property="splitNum" />
    <result column="split_unit_code" jdbcType="VARCHAR" property="splitUnitCode" />
    <result column="up_surplus_num" jdbcType="DECIMAL" property="upSurplusNum" />
    <result column="surplus_num" jdbcType="DECIMAL" property="surplusNum" />
    <result column="up_buy_price_all" jdbcType="DECIMAL" property="upBuyPriceAll" />
    <result column="buy_price_all" jdbcType="DECIMAL" property="buyPriceAll" />
    <result column="up_sell_price_all" jdbcType="DECIMAL" property="upSellPriceAll" />
    <result column="sell_price_all" jdbcType="DECIMAL" property="sellPriceAll" />
    <result column="crte_time" jdbcType="TIMESTAMP" property="crteTime" />
    <result column="new_price" jdbcType="DECIMAL" property="newPrice" />
    <result column="new_split_price" jdbcType="DECIMAL" property="newSplitPrice" />
    <result column="stro_in_num" jdbcType="DECIMAL" property="stroInNum" />
    <result column="stro_in_num_price_all" jdbcType="DECIMAL" property="stroInNumPriceAll" />
    <result column="return_supl_num" jdbcType="DECIMAL" property="returnSuplNum" />
    <result column="return_supl_price_all" jdbcType="DECIMAL" property="returnSuplPriceAll" />
    <result column="stro_to_dept_num" jdbcType="DECIMAL" property="stroToDeptNum" />
    <result column="stro_to_dept_price_all" jdbcType="DECIMAL" property="stroToDeptPriceAll" />
    <result column="stro_to_phar_num" jdbcType="DECIMAL" property="stroToPharNum" />
    <result column="stro_to_phar_price_all" jdbcType="DECIMAL" property="stroToPharPriceAll" />
    <result column="report_losses_num" jdbcType="DECIMAL" property="reportLossesNum" />
    <result column="report_losses_price_all" jdbcType="DECIMAL" property="reportLossesPriceAll" />
    <result column="phar_return_stro_num" jdbcType="DECIMAL" property="pharReturnStroNum" />
    <result column="phar_return_stro_price_all" jdbcType="DECIMAL" property="pharReturnStroPriceAll" />
    <result column="adjust_profit_price_all" jdbcType="DECIMAL" property="adjustProfitPriceAll" />
    <result column="adjust_loss_price_all" jdbcType="DECIMAL" property="adjustLossPriceAll" />
    <result column="take_strock_subtract_num" jdbcType="DECIMAL" property="takeStrockSubtractNum" />
    <result column="take_strock_subtract_price_all" jdbcType="DECIMAL" property="takeStrockSubtractPriceAll" />
    <result column="take_strock_add_num" jdbcType="DECIMAL" property="takeStrockAddNum" />
    <result column="take_strock_add_price_all" jdbcType="DECIMAL" property="takeStrockAddPriceAll" />
    <result column="stro_in_num_buy_price_all" jdbcType="DECIMAL" property="stroInNumBuyPriceAll" />
    <result column="return_supl_buy_price_all" jdbcType="DECIMAL" property="returnSuplBuyPriceAll" />
    <result column="stro_to_dept_buy_price_all" jdbcType="DECIMAL" property="stroToDeptBuyPriceAll" />
    <result column="stro_to_phar_buy_price_all" jdbcType="DECIMAL" property="stroToPharBuyPriceAll" />
    <result column="report_losses_buy_price_all" jdbcType="DECIMAL" property="reportLossesBuyPriceAll" />
    <result column="phar_return_stro_buy_price_all" jdbcType="DECIMAL" property="pharReturnStroBuyPriceAll" />
    <result column="adjust_profit_buy_price_all" jdbcType="DECIMAL" property="adjustProfitBuyPriceAll" />
    <result column="adjust_loss_buy_price_all" jdbcType="DECIMAL" property="adjustLossBuyPriceAll" />
    <result column="take_strock_subtract_buy_price_all" jdbcType="DECIMAL" property="takeStrockSubtractBuyPriceAll" />
    <result column="take_strock_add_buy_price_all" jdbcType="DECIMAL" property="takeStrockAddBuyPriceAll" />
    <result column="out_sales_num" jdbcType="DECIMAL" property="outSalesNum" />
    <result column="out_sales_price_all" jdbcType="DECIMAL" property="outSalesPriceAll" />
    <result column="out_sales_buy_price_all" jdbcType="DECIMAL" property="outSalesBuyPriceAll" />
    <result column="in_sales_buy_price_all" jdbcType="DECIMAL" property="inSalesBuyPriceAll" />
    <result column="in_sales_price_all" jdbcType="DECIMAL" property="inSalesPriceAll" />
    <result column="in_sales_num" jdbcType="DECIMAL" property="inSalesNum" />
    <result column="monthly_id" jdbcType="VARCHAR" property="monthlyId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, hosp_code, biz_id, item_code, item_id, item_name, num, unit_code, curr_unit_code, 
    sell_price, buy_price, split_ratio, split_price, split_num, split_unit_code, up_surplus_num, 
    surplus_num, up_buy_price_all, buy_price_all, up_sell_price_all, sell_price_all, 
    crte_time, new_price, new_split_price, stro_in_num, stro_in_num_price_all, return_supl_num, 
    return_supl_price_all, stro_to_dept_num, stro_to_dept_price_all, stro_to_phar_num, 
    stro_to_phar_price_all, report_losses_num, report_losses_price_all, phar_return_stro_num, 
    phar_return_stro_price_all, adjust_profit_price_all, adjust_loss_price_all, take_strock_subtract_num, 
    take_strock_subtract_price_all, take_strock_add_num, take_strock_add_price_all, stro_in_num_buy_price_all, 
    return_supl_buy_price_all, stro_to_dept_buy_price_all, stro_to_phar_buy_price_all, 
    report_losses_buy_price_all, phar_return_stro_buy_price_all, adjust_profit_buy_price_all, 
    adjust_loss_buy_price_all, take_strock_subtract_buy_price_all, take_strock_add_buy_price_all, 
    out_sales_num, out_sales_price_all, out_sales_buy_price_all, in_sales_buy_price_all, 
    in_sales_price_all, in_sales_num, monthly_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stro_invoicing_monthly_detail
    where id = #{id} and hosp_code = #{hospCode}
  </select>
  <!--查询当日进销存-->
  <select id="getAllStroInvoicingByDate"
          resultType="cn.hsa.module.stro.stroinvoicing.dto.StroInvoicingMonthlyDetailDTO">
   SELECT
     #{nowDate} as crteTime,/*为了在Java层不再遍历list去set这个创建时间*/
     '1' as stroPhar,
    a.item_id itemId,
    a.hosp_code hospCode,
    a.biz_id bizId,
    /*itemCode暂时不加，先看看查询的性能*/
    max(a.item_name) itemName,
    max(a.unit_code) unitCode,
    (select b.name from base_dept b where b.id = max(a.biz_id) and b.hosp_code = #{hospCode}) deptName,
    ifnull((select d.up_sell_price_all/d.up_surplus_num from stro_invoicing d
                where d.item_id = a.item_id and d.id = min(a.id)),0)upSellPrice, /*上期零售价格*/
    (select d.sell_price from stro_invoicing d
                where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = max(a.id)) sellPrice,/*零售价格*/
    (select d.surplus_num from stro_invoicing d
                where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = max(a.id)) surplusNum,/*本期数量*/
    (select d.sell_price_all from stro_invoicing d
                where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = max(a.id)) sellPriceAll,/*零售总金额*/
    (select d.up_surplus_num from stro_invoicing d
                where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = min(a.id)) upSurplusNum, /*上期数量*/
    ifnull((select d.up_sell_price_all from stro_invoicing d
                where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = min(a.id)),0) upSellPriceAll, /*上期零售总金额*/
    sum(if( a.outin_code='2',a.sell_price * a.num,0)) stroInNumPriceAll,  /*直接入库零售总金额*/
    sum(if( a.outin_code='2',a.num,0)) stroInNum, /*直接入库数量*/
    sum(if( a.outin_code='3',a.sell_price * a.num,0)) returnSuplPriceAll, /*退供应商零售总金额*/
    sum(if( a.outin_code='3',a.num,0))  returnSuplNum,    /*退供应商数量*/
    sum(if( a.outin_code='4',a.sell_price * a.num,0)) stroToDeptPriceAll,   /*出库到科室零售总金额*/
    sum(if( a.outin_code='4',a.num,0)) stroToDeptNum, /*出库到科室数量*/
    sum(if( a.outin_code='5',a.sell_price * a.num,0)) stroToPharPriceAll,  /*采购计划零售总金额*/
    sum(if( a.outin_code='5',a.num,0)) stroToPharNum,    /*采购计划数量*/
    sum(if( a.outin_code='8',a.sell_price * a.num,0)) reportLossesPriceAll,    /*报损零售总金额*/
    sum(if( a.outin_code='8',a.num,0)) reportLossesNum,    /*报损数量*/
    sum(if( a.outin_code='21',a.sell_price * a.num,0)) pharReturnStroPriceAll,    /*药房退库零售总金额*/
    sum(if( a.outin_code='21',a.num,0)) pharReturnStroNum,    /*药房退库数量*/
    /*调盈零售总金额*/
    sum(if( a.outin_code='24' and a.sell_price_all > a.up_sell_price_all,a.sell_price_all - a.up_sell_price_all,0)) adjustProfitPriceAll,
    /*调亏零售总金额*/
    sum(if( a.outin_code='24' and a.sell_price_all > a.up_sell_price_all, a.sell_price_all - a.up_sell_price_all,0)) adjustLossPriceAll,
    sum(if( a.outin_code='7' and a.num &lt; 0,a.sell_price * a.num,0)) takeStrockSubtractPriceAll,/*盘亏零售总金额*/
    sum(if( a.outin_code='7' and a.num &lt; 0,a.num,0)) takeStrockSubtractNum,/*盘亏数量*/
    sum(if( a.outin_code='7' and a.num > 0,a.sell_price * a.num,0)) takeStrockAddPriceAll,/*盘盈零售总金额*/
    sum(if( a.outin_code='7' and a.num > 0, a.num,0)) takeStrockAddNum,/*盘盈数量*/
    /*按购进价*/
    (select d.buy_price from stro_invoicing d
                where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = max(a.id)) buyPrice,/*购进单价*/
    (select d.buy_price_all from stro_invoicing d
                where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = max(a.id)) buyPriceAll,/*购进总价*/
    ifnull((select d.up_buy_price_all from stro_invoicing d
                where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = min(a.id)),0) upBuyPriceAll,
    sum(if( a.outin_code='2',a.buy_price * a.num,0)) stroInNumBuyPriceAll,
    sum(if( a.outin_code='3',a.buy_price * a.num,0)) returnSuplBuyPriceAll,
    sum(if( a.outin_code='4',a.buy_price * a.num,0)) stroToDeptBuyPriceAll,
    sum(if( a.outin_code='5',a.buy_price * a.num,0)) stroToPharBuyPriceAll,
    sum(if( a.outin_code='8',a.buy_price * a.num,0)) reportLossesBuyPriceAll,
    sum(if( a.outin_code='21',a.buy_price * a.num,0)) pharReturnStroBuyPriceAll,
    sum(if( a.outin_code='24' and a.buy_price_all &gt; a.up_buy_price_all,a.buy_price_all - a.up_buy_price_all,0)) adjustProfitBuyPriceAll,
    sum(if( a.outin_code='24' and a.buy_price_all &lt;  a.up_buy_price_all, a.buy_price_all - a.up_buy_price_all,0)) adjustLossBuyPriceAll,
    sum(if( a.outin_code='7' and a.num &lt; 0,a.buy_price * a.num,0)) takeStrockSubtractBuyPriceAll,
    sum(if( a.outin_code='7' and a.num &gt; 0,a.buy_price * a.num,0)) takeStrockAddBuyPriceAll
    from stro_invoicing a
    left join (select item_id,hosp_code from stro_stock where hosp_code = #{hospCode} GROUP BY item_id) si on a.item_id = si.item_id
    where a.hosp_code = #{hospCode}
		and a.hosp_code = si.hosp_code
		and DATE_FORMAT(a.crte_time,'%Y-%m-%d') = DATE_FORMAT(#{nowDate},'%Y-%m-%d')
		and a.outin_code in ('2','3','4','5','7','8','21','24')
		and a.biz_id in (select p.id from base_dept p where  p.type_code in ('13','3') and p.hosp_code = #{hospCode})
		<if test="itemId != null and itemId != ''">
            a.item_id = #{itemId}
        </if>
    group by a.item_id,a.biz_id
  </select>
  <select id="queryItemIdList" resultType="java.lang.String">
    select item_id from stro_stock where hosp_code = #{hospCode} group by item_id
    <if test="itemId != null and item_id != ''">
        having item_id = #{itemId}
    </if>
  </select>
  <select id="getRecentlyStroInvoicingByDate"
          resultType="cn.hsa.module.stro.stroinvoicing.dto.StroInvoicingMonthlyDetailDTO">
    SELECT
    #{nowDate} as crteTime,/*为了在Java层不再遍历list去set这个创建时间*/
    '1' as stroPhar,
    a.item_id itemId,
    a.hosp_code hospCode,
    a.biz_id bizId,
    a.item_code as itemCode,
    a.item_name itemName,
    a.unit_code unitCode,
    (select b.name from base_dept b where b.id = a.biz_id and b.hosp_code = #{hospCode}) deptName,
    ifnull((select d.sell_price from stro_invoicing d
      where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = a.id),0)upSellPrice, /*上期零售价格*/
    (select d.sell_price from stro_invoicing d
    where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = a.id) sellPrice,/*零售价格*/
    (select d.surplus_num from stro_invoicing d
    where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = a.id) surplusNum,/*本期数量*/
    (select d.sell_price_all from stro_invoicing d
    where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = a.id) sellPriceAll,/*零售总金额*/
    (select d.surplus_num from stro_invoicing d
      where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = a.id) upSurplusNum, /*上期数量*/
    ifnull((select d.sell_price_all from stro_invoicing d
      where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = a.id),0) upSellPriceAll, /*上期零售总金额*/
    /*按购进价*/
    (select d.buy_price from stro_invoicing d
    where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = max(a.id)) buyPrice,/*购进单价*/
    (select d.buy_price_all from stro_invoicing d
    where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = max(a.id)) buyPriceAll,/*购进总价*/
    ifnull((select d.up_buy_price_all from stro_invoicing d
    where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = min(a.id)),0) upBuyPriceAll
    from (
    select a.num,a.buy_price,a.item_id,a.outin_code,a.id,a.buy_price_all,
        a.up_buy_price_all,a.hosp_code,a.sell_price_all,a.up_sell_price_all,a.biz_id,a.item_name,a.item_code,a.unit_code,
        a.sell_price
    from stro_invoicing a
    left join ( select item_id,hosp_code from stro_stock GROUP BY item_id) si on a.item_id = si.item_id
    where a.hosp_code = #{hospCode} and DATE_FORMAT(a.crte_time,'%Y-%m-%d') &lt; #{nowDate}
    and a.outin_code in ('2','3','4','5','7','8','21','24')
    and a.biz_id in (select p.id from base_dept p where p.type_code in ('13','3') and p.hosp_code = #{hospCode})
    and a.item_id in
    <foreach collection="itemIds" separator="," open="(" close=")" item="item">
      #{item}
    </foreach>
    order by a.crte_time desc limit 10000000) a
    where a.hosp_code = #{hospCode}
    group by a.item_id,a.biz_id
  </select>
  <select id="getAllPharStroInvoicingByDate"
          resultType="cn.hsa.module.stro.stroinvoicing.dto.StroInvoicingMonthlyDetailDTO">
      SELECT
      #{nowDate} as crteTime,/*为了在Java层不再遍历list去set这个创建时间*/
      '2' as stroPhar,
      a.item_id itemId,
      a.biz_id bizId,
      a.hosp_code as hospCode,
      max(a.item_name) itemName,
      max(a.unit_code) unitCode,
      (select b.name from base_dept b where b.id = max(a.biz_id) and b.hosp_code = #{hospCode}) deptName,
      ifnull((select d.up_sell_price_all/d.up_surplus_num from stro_invoicing d
            where d.item_id = a.item_id and d.hosp_code = #{hospCode} and id = min(a.id)),0)upSellPrice,
      (select d.new_price from stro_invoicing d
            where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = max(a.id)) sellPrice,
      (select d.surplus_num from stro_invoicing d
            where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = max(a.id)) num,
      (select d.surplus_num from stro_invoicing d
       where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = max(a.id)) surplusNum,
      (select d.sell_price_all from stro_invoicing d
            where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = max(a.id)) sellPriceAll,
      (select d.up_surplus_num from stro_invoicing d
            where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = min(a.id)) upSurplusNum,
      ifnull((select d.up_sell_price_all from stro_invoicing d
            where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = min(a.id)),0) upSellPriceAll,
      sum(if( a.outin_code='20',a.sell_price * a.num,0)) stroInNumPriceAll,    /**药房入库确认总金额**/
      sum(if( a.outin_code='20',a.num,0)) stroInNum,                           /**药房入库确认总数量**/
      sum(if( a.outin_code='8',a.sell_price * a.num,0)) reportLossesPriceAll,    /**药房报损总金额**/
      sum(if( a.outin_code='8',a.num,0)) reportLossesNum,                      /**药房报损总数量**/
      sum(if( a.outin_code='6',a.sell_price * a.num,0)) pharReturnStroPriceAll, /**药房退药库库总金额**/
      sum(if( a.outin_code='6',a.num,0)) pharReturnStroNum,                   /**药房退药库总数量**/
      sum(if( a.outin_code='7' and a.num &lt; 0,a.sell_price * a.num,0)) takeStrockSubtractPriceAll,  /**药房盘亏总金额**/
      sum(if( a.outin_code='7' and a.num &lt; 0,a.num,0)) takeStrockSubtractNum,                    /**药房盘亏总数量**/
      sum(if( a.outin_code='7' and a.num > 0,a.sell_price * a.num,0)) takeStrockAddPriceAll, /**药房盘盈总金额**/
      sum(if( a.outin_code='7' and a.num > 0, a.num,0)) takeStrockAddNum,                   /**药房盘盈总数量**/
      sum(if((a.outin_code='23' or a.outin_code='25'),a.sell_price * a.num,0)) outSalesPriceAll,    /**门诊销售总金额**/
      sum(if((a.outin_code='23' or a.outin_code='25'),a.num,0)) outSalesNum,                  /**门诊销售总数量**/
      sum(if((a.outin_code='27' or a.outin_code='28'),a.sell_price * a.num,0)) inSalesPriceAll,     /**住院销售总金额**/
      sum(if((a.outin_code='27' or a.outin_code='28'),a.num,0)) inSalesNum,                   /**住院销售总数量**/
      sum(if( a.outin_code='4',a.sell_price * a.num,0)) stroToDeptPriceAll, /**药房出库科室总金额**/
      sum(if( a.outin_code='4',a.num,0)) stroToDeptNum,                  /**药房出库科室总数量**/
      sum(if( a.outin_code='24' and a.sell_price_all >
      a.up_sell_price_all,a.sell_price_all - a.up_sell_price_all,0)) adjustProfitPriceAll,   /**调盈**/
      sum(if( a.outin_code='24' and a.sell_price_all &lt; a.up_sell_price_all, a.sell_price_all - a.up_sell_price_all,0)) adjustLossPriceAll,   /**调亏**/
      /**按购进价**/
      (select d.buy_price from stro_invoicing d
              where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = max(a.id)) buyPrice,/*购进单价*/
      (select d.buy_price_all from stro_invoicing d
              where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = max(a.id)) buyPriceAll,/*购进总价*/
      ifnull((select d.up_buy_price_all from stro_invoicing d
              where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = min(a.id)),0) upBuyPriceAll,
      sum(if( a.outin_code='20',a.buy_price * a.num,0)) stroInNumBuyPriceAll,    /**入库购进总金额**/
      sum(if( a.outin_code='8',a.buy_price * a.num,0)) reportLossesBuyPriceAll,    /**药房购进总金额**/
      sum(if( a.outin_code='6',a.buy_price * a.num,0)) pharReturnStroBuyPriceAll, /**药房退药库购进总金额**/
      sum(if( a.outin_code='7' and a.num &lt; 0,a.buy_price * a.num,0)) takeStrockSubtractBuyPriceAll,  /**药房盘亏购进总金额**/
      sum(if( a.outin_code='7' and a.num > 0,a.buy_price * a.num,0)) takeStrockAddBuyPriceAll, /**药房盘盈购进总金额**/
      sum(if((a.outin_code='23' or a.outin_code='25'),a.buy_price * a.num,0)) outSalesBuyPriceAll,    /**门诊销售购进总金额**/
      sum(if((a.outin_code='27' or a.outin_code='28'),a.buy_price * a.num,0)) inSalesBuyPriceAll,     /**住院销售购进总金额**/
      sum(if( a.outin_code='4',a.sell_price * a.num,0)) stroToDeptBuyPriceAll /**药房出库科室购进总金额**/
      FROM
      stro_invoicing a
      left join (select item_id,hosp_code from stro_stock where hosp_code = #{hospCode} GROUP BY item_id) si on a.item_id = si.item_id
      where a.hosp_code = #{hospCode}
      and a.outin_code in ( '7', '8', '20', '23', '25','6', '27', '28','24','4' )
      and a.biz_id in (select p.id from base_dept p where p.type_code in ('4','5') and p.hosp_code = #{hospCode})
      and DATE_FORMAT(a.crte_time,'%Y-%m-%d') = DATE_FORMAT(#{nowDate},'%Y-%m-%d')
      group by a.item_id,a.biz_id
  </select>
  <select id="getRecentlyStroPharInvoicingByDate"
          resultType="cn.hsa.module.stro.stroinvoicing.dto.StroInvoicingMonthlyDetailDTO">
    SELECT
    #{nowDate} as crteTime,/*为了在Java层不再遍历list去set这个创建时间*/
    '2' as stroPhar,
    a.item_id itemId,
    a.hosp_code hospCode,
    a.biz_id bizId,
    a.item_code as itemCode,
    a.item_name itemName,
    a.unit_code unitCode,
    (select b.name from base_dept b where b.id = a.biz_id and b.hosp_code = #{hospCode}) deptName,
    ifnull((select d.sell_price from stro_invoicing d
    where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = a.id),0)upSellPrice, /*上期零售价格*/
    (select d.sell_price from stro_invoicing d
    where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = a.id) sellPrice,/*零售价格*/
    (select d.surplus_num from stro_invoicing d
    where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = a.id) surplusNum,/*本期数量*/
    (select d.sell_price_all from stro_invoicing d
    where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = a.id) sellPriceAll,/*零售总金额*/
    (select d.surplus_num from stro_invoicing d
    where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = a.id) upSurplusNum, /*上期数量*/
    ifnull((select d.sell_price_all from stro_invoicing d
    where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = a.id),0) upSellPriceAll, /*上期零售总金额*/
    (select d.buy_price from stro_invoicing d
      where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = max(a.id)) buyPrice,/*购进单价*/
    (select d.buy_price_all from stro_invoicing d
      where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = max(a.id)) buyPriceAll,/*购进总价*/
    ifnull((select d.up_buy_price_all from stro_invoicing d
      where d.item_id = a.item_id and d.hosp_code = #{hospCode} and d.id = min(a.id)),0) upBuyPriceAll
    from
    (
    select a.num,a.buy_price,a.item_id,a.outin_code,a.id,a.buy_price_all,
    a.up_buy_price_all,a.hosp_code,a.sell_price_all,a.up_sell_price_all,a.biz_id,a.item_name,a.item_code,a.unit_code,
    a.sell_price
    from stro_invoicing a
    left join ( select item_id,hosp_code from stro_stock GROUP BY item_id) si on a.item_id = si.item_id
    where a.hosp_code = #{hospCode} and DATE_FORMAT(a.crte_time,'%Y-%m-%d') &lt; #{nowDate}
    and a.outin_code in  ( '7', '8', '20', '23', '25','6', '27', '28','24','4' )
    and a.biz_id in (select p.id from base_dept p where p.type_code in ('4','5') and p.hosp_code = #{hospCode})
    and a.item_id in
    <foreach collection="itemIds" separator="," open="(" close=")" item="item">
      #{item}
    </foreach>
    order by a.crte_time desc limit 10000000) a
    where a.hosp_code = #{hospCode}
    group by a.item_id,a.biz_id
  </select>
    <select id="queryDetailByMonthlyId"
           resultMap="BaseResultMap">
        select *from  stro_invoicing_monthly_detail
        where hosp_code = #{hospCode} and crte_time = #{nowDate}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from stro_invoicing_monthly_detail
    where id = #{id} AND monthly_id = #{id}
  </delete>

    <delete id="deleteBatch">
        delete from stro_invoicing_monthly_detail
        where hosp_code = #{hospCode} and crte_time = #{nowDate}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.hsa.module.stro.stroinvoicing.entity.StroInvoicingMonthlyDetailDO" useGeneratedKeys="true">
    insert into stro_invoicing_monthly_detail (hosp_code, biz_id, item_code, 
      item_id, item_name, num, 
      unit_code, curr_unit_code, sell_price, 
      buy_price, split_ratio, split_price, 
      split_num, split_unit_code, up_surplus_num, 
      surplus_num, up_buy_price_all, buy_price_all, 
      up_sell_price_all, sell_price_all, crte_time, 
      new_price, new_split_price, stro_in_num, 
      stro_in_num_price_all, return_supl_num, return_supl_price_all, 
      stro_to_dept_num, stro_to_dept_price_all, stro_to_phar_num, 
      stro_to_phar_price_all, report_losses_num, report_losses_price_all, 
      phar_return_stro_num, phar_return_stro_price_all, 
      adjust_profit_price_all, adjust_loss_price_all, 
      take_strock_subtract_num, take_strock_subtract_price_all, 
      take_strock_add_num, take_strock_add_price_all, 
      stro_in_num_buy_price_all, return_supl_buy_price_all, 
      stro_to_dept_buy_price_all, stro_to_phar_buy_price_all, 
      report_losses_buy_price_all, phar_return_stro_buy_price_all, 
      adjust_profit_buy_price_all, adjust_loss_buy_price_all, 
      take_strock_subtract_buy_price_all, take_strock_add_buy_price_all, 
      out_sales_num, out_sales_price_all, out_sales_buy_price_all, 
      in_sales_buy_price_all, in_sales_price_all, in_sales_num, 
      monthly_id)
    values (#{hospCode}, #{bizId}, #{itemCode}, 
      #{itemId}, #{itemName}, #{num}, 
      #{unitCode}, #{currUnitCode}, #{sellPrice}, 
      #{buyPrice}, #{splitRatio}, #{splitPrice}, 
      #{splitNum}, #{splitUnitCode}, #{upSurplusNum}, 
      #{surplusNum}, #{upBuyPriceAll}, #{buyPriceAll}, 
      #{upSellPriceAll}, #{sellPriceAll}, #{crteTime}, 
      #{newPrice}, #{newSplitPrice}, #{stroInNum}, 
      #{stroInNumPriceAll}, #{returnSuplNum}, #{returnSuplPriceAll}, 
      #{stroToDeptNum}, #{stroToDeptPriceAll}, #{stroToPharNum}, 
      #{stroToPharPriceAll}, #{reportLossesNum}, #{reportLossesPriceAll}, 
      #{pharReturnStroNum}, #{pharReturnStroPriceAll}, 
      #{adjustProfitPriceAll}, #{adjustLossPriceAll}, 
      #{takeStrockSubtractNum}, #{takeStrockSubtractPriceAll}, 
      #{takeStrockAddNum}, #{takeStrockAddPriceAll}, 
      #{stroInNumBuyPriceAll}, #{returnSuplBuyPriceAll}, 
      #{stroToDeptBuyPriceAll}, #{stroToPharBuyPriceAll}, 
      #{reportLossesBuyPriceAll}, #{pharReturnStroBuyPriceAll}, 
      #{adjustProfitBuyPriceAll}, #{adjustLossBuyPriceAll}, 
      #{takeStrockSubtractBuyPriceAll}, #{takeStrockAddBuyPriceAll}, 
      #{outSalesNum}, #{outSalesPriceAll}, #{outSalesBuyPriceAll}, 
      #{inSalesBuyPriceAll}, #{inSalesPriceAll}, #{inSalesNum}, 
      #{monthlyId})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.hsa.module.stro.stroinvoicing.entity.StroInvoicingMonthlyDetailDO" useGeneratedKeys="true">
    insert into stro_invoicing_monthly_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hospCode != null">
        hosp_code,
      </if>
      <if test="bizId != null">
        biz_id,
      </if>
      <if test="itemCode != null">
        item_code,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="itemName != null">
        item_name,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="unitCode != null">
        unit_code,
      </if>
      <if test="currUnitCode != null">
        curr_unit_code,
      </if>
      <if test="sellPrice != null">
        sell_price,
      </if>
      <if test="buyPrice != null">
        buy_price,
      </if>
      <if test="splitRatio != null">
        split_ratio,
      </if>
      <if test="splitPrice != null">
        split_price,
      </if>
      <if test="splitNum != null">
        split_num,
      </if>
      <if test="splitUnitCode != null">
        split_unit_code,
      </if>
      <if test="upSurplusNum != null">
        up_surplus_num,
      </if>
      <if test="surplusNum != null">
        surplus_num,
      </if>
      <if test="upBuyPriceAll != null">
        up_buy_price_all,
      </if>
      <if test="buyPriceAll != null">
        buy_price_all,
      </if>
      <if test="upSellPriceAll != null">
        up_sell_price_all,
      </if>
      <if test="sellPriceAll != null">
        sell_price_all,
      </if>
      <if test="crteTime != null">
        crte_time,
      </if>
      <if test="newPrice != null">
        new_price,
      </if>
      <if test="newSplitPrice != null">
        new_split_price,
      </if>
      <if test="stroInNum != null">
        stro_in_num,
      </if>
      <if test="stroInNumPriceAll != null">
        stro_in_num_price_all,
      </if>
      <if test="returnSuplNum != null">
        return_supl_num,
      </if>
      <if test="returnSuplPriceAll != null">
        return_supl_price_all,
      </if>
      <if test="stroToDeptNum != null">
        stro_to_dept_num,
      </if>
      <if test="stroToDeptPriceAll != null">
        stro_to_dept_price_all,
      </if>
      <if test="stroToPharNum != null">
        stro_to_phar_num,
      </if>
      <if test="stroToPharPriceAll != null">
        stro_to_phar_price_all,
      </if>
      <if test="reportLossesNum != null">
        report_losses_num,
      </if>
      <if test="reportLossesPriceAll != null">
        report_losses_price_all,
      </if>
      <if test="pharReturnStroNum != null">
        phar_return_stro_num,
      </if>
      <if test="pharReturnStroPriceAll != null">
        phar_return_stro_price_all,
      </if>
      <if test="adjustProfitPriceAll != null">
        adjust_profit_price_all,
      </if>
      <if test="adjustLossPriceAll != null">
        adjust_loss_price_all,
      </if>
      <if test="takeStrockSubtractNum != null">
        take_strock_subtract_num,
      </if>
      <if test="takeStrockSubtractPriceAll != null">
        take_strock_subtract_price_all,
      </if>
      <if test="takeStrockAddNum != null">
        take_strock_add_num,
      </if>
      <if test="takeStrockAddPriceAll != null">
        take_strock_add_price_all,
      </if>
      <if test="stroInNumBuyPriceAll != null">
        stro_in_num_buy_price_all,
      </if>
      <if test="returnSuplBuyPriceAll != null">
        return_supl_buy_price_all,
      </if>
      <if test="stroToDeptBuyPriceAll != null">
        stro_to_dept_buy_price_all,
      </if>
      <if test="stroToPharBuyPriceAll != null">
        stro_to_phar_buy_price_all,
      </if>
      <if test="reportLossesBuyPriceAll != null">
        report_losses_buy_price_all,
      </if>
      <if test="pharReturnStroBuyPriceAll != null">
        phar_return_stro_buy_price_all,
      </if>
      <if test="adjustProfitBuyPriceAll != null">
        adjust_profit_buy_price_all,
      </if>
      <if test="adjustLossBuyPriceAll != null">
        adjust_loss_buy_price_all,
      </if>
      <if test="takeStrockSubtractBuyPriceAll != null">
        take_strock_subtract_buy_price_all,
      </if>
      <if test="takeStrockAddBuyPriceAll != null">
        take_strock_add_buy_price_all,
      </if>
      <if test="outSalesNum != null">
        out_sales_num,
      </if>
      <if test="outSalesPriceAll != null">
        out_sales_price_all,
      </if>
      <if test="outSalesBuyPriceAll != null">
        out_sales_buy_price_all,
      </if>
      <if test="inSalesBuyPriceAll != null">
        in_sales_buy_price_all,
      </if>
      <if test="inSalesPriceAll != null">
        in_sales_price_all,
      </if>
      <if test="inSalesNum != null">
        in_sales_num,
      </if>
      <if test="monthlyId != null">
        monthly_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hospCode != null">
        #{hospCode},
      </if>
      <if test="bizId != null">
        #{bizId},
      </if>
      <if test="itemCode != null">
        #{itemCode},
      </if>
      <if test="itemId != null">
        #{itemId},
      </if>
      <if test="itemName != null">
        #{itemName},
      </if>
      <if test="num != null">
        #{num},
      </if>
      <if test="unitCode != null">
        #{unitCode},
      </if>
      <if test="currUnitCode != null">
        #{currUnitCode},
      </if>
      <if test="sellPrice != null">
        #{sellPrice},
      </if>
      <if test="buyPrice != null">
        #{buyPrice},
      </if>
      <if test="splitRatio != null">
        #{splitRatio},
      </if>
      <if test="splitPrice != null">
        #{splitPrice},
      </if>
      <if test="splitNum != null">
        #{splitNum},
      </if>
      <if test="splitUnitCode != null">
        #{splitUnitCode},
      </if>
      <if test="upSurplusNum != null">
        #{upSurplusNum},
      </if>
      <if test="surplusNum != null">
        #{surplusNum},
      </if>
      <if test="upBuyPriceAll != null">
        #{upBuyPriceAll},
      </if>
      <if test="buyPriceAll != null">
        #{buyPriceAll},
      </if>
      <if test="upSellPriceAll != null">
        #{upSellPriceAll},
      </if>
      <if test="sellPriceAll != null">
        #{sellPriceAll},
      </if>
      <if test="crteTime != null">
        #{crteTime},
      </if>
      <if test="newPrice != null">
        #{newPrice},
      </if>
      <if test="newSplitPrice != null">
        #{newSplitPrice},
      </if>
      <if test="stroInNum != null">
        #{stroInNum},
      </if>
      <if test="stroInNumPriceAll != null">
        #{stroInNumPriceAll},
      </if>
      <if test="returnSuplNum != null">
        #{returnSuplNum},
      </if>
      <if test="returnSuplPriceAll != null">
        #{returnSuplPriceAll},
      </if>
      <if test="stroToDeptNum != null">
        #{stroToDeptNum},
      </if>
      <if test="stroToDeptPriceAll != null">
        #{stroToDeptPriceAll},
      </if>
      <if test="stroToPharNum != null">
        #{stroToPharNum},
      </if>
      <if test="stroToPharPriceAll != null">
        #{stroToPharPriceAll},
      </if>
      <if test="reportLossesNum != null">
        #{reportLossesNum},
      </if>
      <if test="reportLossesPriceAll != null">
        #{reportLossesPriceAll},
      </if>
      <if test="pharReturnStroNum != null">
        #{pharReturnStroNum},
      </if>
      <if test="pharReturnStroPriceAll != null">
        #{pharReturnStroPriceAll},
      </if>
      <if test="adjustProfitPriceAll != null">
        #{adjustProfitPriceAll},
      </if>
      <if test="adjustLossPriceAll != null">
        #{adjustLossPriceAll},
      </if>
      <if test="takeStrockSubtractNum != null">
        #{takeStrockSubtractNum},
      </if>
      <if test="takeStrockSubtractPriceAll != null">
        #{takeStrockSubtractPriceAll},
      </if>
      <if test="takeStrockAddNum != null">
        #{takeStrockAddNum},
      </if>
      <if test="takeStrockAddPriceAll != null">
        #{takeStrockAddPriceAll},
      </if>
      <if test="stroInNumBuyPriceAll != null">
        #{stroInNumBuyPriceAll},
      </if>
      <if test="returnSuplBuyPriceAll != null">
        #{returnSuplBuyPriceAll},
      </if>
      <if test="stroToDeptBuyPriceAll != null">
        #{stroToDeptBuyPriceAll},
      </if>
      <if test="stroToPharBuyPriceAll != null">
        #{stroToPharBuyPriceAll},
      </if>
      <if test="reportLossesBuyPriceAll != null">
        #{reportLossesBuyPriceAll},
      </if>
      <if test="pharReturnStroBuyPriceAll != null">
        #{pharReturnStroBuyPriceAll},
      </if>
      <if test="adjustProfitBuyPriceAll != null">
        #{adjustProfitBuyPriceAll},
      </if>
      <if test="adjustLossBuyPriceAll != null">
        #{adjustLossBuyPriceAll},
      </if>
      <if test="takeStrockSubtractBuyPriceAll != null">
        #{takeStrockSubtractBuyPriceAll},
      </if>
      <if test="takeStrockAddBuyPriceAll != null">
        #{takeStrockAddBuyPriceAll},
      </if>
      <if test="outSalesNum != null">
        #{outSalesNum},
      </if>
      <if test="outSalesPriceAll != null">
        #{outSalesPriceAll},
      </if>
      <if test="outSalesBuyPriceAll != null">
        #{outSalesBuyPriceAll},
      </if>
      <if test="inSalesBuyPriceAll != null">
        #{inSalesBuyPriceAll},
      </if>
      <if test="inSalesPriceAll != null">
        #{inSalesPriceAll},
      </if>
      <if test="inSalesNum != null">
        #{inSalesNum},
      </if>
      <if test="monthlyId != null">
        #{monthlyId},
      </if>
    </trim>
  </insert>
    <insert id="insertBatch" parameterType="java.util.List" >
         insert into stro_invoicing_monthly_detail (id,hosp_code, biz_id, item_code,
      item_id, item_name, num,
      unit_code, curr_unit_code, sell_price,
      buy_price, split_ratio, split_price,
      split_num, split_unit_code, up_surplus_num,
      surplus_num, up_buy_price_all, buy_price_all,
      up_sell_price_all, sell_price_all, crte_time,
      new_price, new_split_price, stro_in_num,
      stro_in_num_price_all, return_supl_num, return_supl_price_all,
      stro_to_dept_num, stro_to_dept_price_all, stro_to_phar_num,
      stro_to_phar_price_all, report_losses_num, report_losses_price_all,
      phar_return_stro_num, phar_return_stro_price_all,
      adjust_profit_price_all, adjust_loss_price_all,
      take_strock_subtract_num, take_strock_subtract_price_all,
      take_strock_add_num, take_strock_add_price_all,
      stro_in_num_buy_price_all, return_supl_buy_price_all,
      stro_to_dept_buy_price_all, stro_to_phar_buy_price_all,
      report_losses_buy_price_all, phar_return_stro_buy_price_all,
      adjust_profit_buy_price_all, adjust_loss_buy_price_all,
      take_strock_subtract_buy_price_all, take_strock_add_buy_price_all,
      out_sales_num, out_sales_price_all, out_sales_buy_price_all,
      in_sales_buy_price_all, in_sales_price_all, in_sales_num,
      monthly_id)
    values
    <foreach collection="stroInvoicingDetails"  separator="," item="item">
        (
        #{item.id},#{item.hospCode}, #{item.bizId}, #{item.itemCode},
        #{item.itemId}, #{item.itemName}, #{item.num},
        #{item.unitCode}, #{item.currUnitCode}, #{item.sellPrice},
        #{item.buyPrice}, #{item.splitRatio}, #{item.splitPrice},
        #{item.splitNum}, #{item.splitUnitCode}, #{item.upSurplusNum},
        #{item.surplusNum}, #{item.upBuyPriceAll}, #{item.buyPriceAll},
        #{item.upSellPriceAll}, #{item.sellPriceAll}, DATE_FORMAT(#{item.crteTime},'%Y-%m-%d'),
        #{item.newPrice}, #{item.newSplitPrice}, #{item.stroInNum},
        #{item.stroInNumPriceAll}, #{item.returnSuplNum}, #{item.returnSuplPriceAll},
        #{item.stroToDeptNum}, #{item.stroToDeptPriceAll}, #{item.stroToPharNum},
        #{item.stroToPharPriceAll}, #{item.reportLossesNum}, #{item.reportLossesPriceAll},
        #{item.pharReturnStroNum}, #{item.pharReturnStroPriceAll},
        #{item.adjustProfitPriceAll}, #{item.adjustLossPriceAll},
        #{item.takeStrockSubtractNum}, #{item.takeStrockSubtractPriceAll},
        #{item.takeStrockAddNum}, #{item.takeStrockAddPriceAll},
        #{item.stroInNumBuyPriceAll}, #{item.returnSuplBuyPriceAll},
        #{item.stroToDeptBuyPriceAll}, #{item.stroToPharBuyPriceAll},
        #{item.reportLossesBuyPriceAll}, #{item.pharReturnStroBuyPriceAll},
        #{item.adjustProfitBuyPriceAll}, #{item.adjustLossBuyPriceAll},
        #{item.takeStrockSubtractBuyPriceAll}, #{item.takeStrockAddBuyPriceAll},
        #{item.outSalesNum}, #{item.outSalesPriceAll}, #{item.outSalesBuyPriceAll},
        #{item.inSalesBuyPriceAll}, #{item.inSalesPriceAll}, #{item.inSalesNum},
        #{item.monthlyId}
        )
    </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hsa.module.stro.stroinvoicing.entity.StroInvoicingMonthlyDetailDO">
    update stro_invoicing_monthly_detail
    <set>
      <if test="hospCode != null">
        hosp_code = #{hospCode},
      </if>
      <if test="bizId != null">
        biz_id = #{bizId},
      </if>
      <if test="itemCode != null">
        item_code = #{itemCode},
      </if>
      <if test="itemId != null">
        item_id = #{itemId},
      </if>
      <if test="itemName != null">
        item_name = #{itemName},
      </if>
      <if test="num != null">
        num = #{num},
      </if>
      <if test="unitCode != null">
        unit_code = #{unitCode},
      </if>
      <if test="currUnitCode != null">
        curr_unit_code = #{currUnitCode},
      </if>
      <if test="sellPrice != null">
        sell_price = #{sellPrice},
      </if>
      <if test="buyPrice != null">
        buy_price = #{buyPrice},
      </if>
      <if test="splitRatio != null">
        split_ratio = #{splitRatio},
      </if>
      <if test="splitPrice != null">
        split_price = #{splitPrice},
      </if>
      <if test="splitNum != null">
        split_num = #{splitNum},
      </if>
      <if test="splitUnitCode != null">
        split_unit_code = #{splitUnitCode},
      </if>
      <if test="upSurplusNum != null">
        up_surplus_num = #{upSurplusNum},
      </if>
      <if test="surplusNum != null">
        surplus_num = #{surplusNum},
      </if>
      <if test="upBuyPriceAll != null">
        up_buy_price_all = #{upBuyPriceAll},
      </if>
      <if test="buyPriceAll != null">
        buy_price_all = #{buyPriceAll},
      </if>
      <if test="upSellPriceAll != null">
        up_sell_price_all = #{upSellPriceAll},
      </if>
      <if test="sellPriceAll != null">
        sell_price_all = #{sellPriceAll},
      </if>
      <if test="crteTime != null">
        crte_time = #{crteTime},
      </if>
      <if test="newPrice != null">
        new_price = #{newPrice},
      </if>
      <if test="newSplitPrice != null">
        new_split_price = #{newSplitPrice},
      </if>
      <if test="stroInNum != null">
        stro_in_num = #{stroInNum},
      </if>
      <if test="stroInNumPriceAll != null">
        stro_in_num_price_all = #{stroInNumPriceAll},
      </if>
      <if test="returnSuplNum != null">
        return_supl_num = #{returnSuplNum},
      </if>
      <if test="returnSuplPriceAll != null">
        return_supl_price_all = #{returnSuplPriceAll},
      </if>
      <if test="stroToDeptNum != null">
        stro_to_dept_num = #{stroToDeptNum},
      </if>
      <if test="stroToDeptPriceAll != null">
        stro_to_dept_price_all = #{stroToDeptPriceAll},
      </if>
      <if test="stroToPharNum != null">
        stro_to_phar_num = #{stroToPharNum},
      </if>
      <if test="stroToPharPriceAll != null">
        stro_to_phar_price_all = #{stroToPharPriceAll},
      </if>
      <if test="reportLossesNum != null">
        report_losses_num = #{reportLossesNum},
      </if>
      <if test="reportLossesPriceAll != null">
        report_losses_price_all = #{reportLossesPriceAll},
      </if>
      <if test="pharReturnStroNum != null">
        phar_return_stro_num = #{pharReturnStroNum},
      </if>
      <if test="pharReturnStroPriceAll != null">
        phar_return_stro_price_all = #{pharReturnStroPriceAll},
      </if>
      <if test="adjustProfitPriceAll != null">
        adjust_profit_price_all = #{adjustProfitPriceAll},
      </if>
      <if test="adjustLossPriceAll != null">
        adjust_loss_price_all = #{adjustLossPriceAll},
      </if>
      <if test="takeStrockSubtractNum != null">
        take_strock_subtract_num = #{takeStrockSubtractNum},
      </if>
      <if test="takeStrockSubtractPriceAll != null">
        take_strock_subtract_price_all = #{takeStrockSubtractPriceAll},
      </if>
      <if test="takeStrockAddNum != null">
        take_strock_add_num = #{takeStrockAddNum},
      </if>
      <if test="takeStrockAddPriceAll != null">
        take_strock_add_price_all = #{takeStrockAddPriceAll},
      </if>
      <if test="stroInNumBuyPriceAll != null">
        stro_in_num_buy_price_all = #{stroInNumBuyPriceAll},
      </if>
      <if test="returnSuplBuyPriceAll != null">
        return_supl_buy_price_all = #{returnSuplBuyPriceAll},
      </if>
      <if test="stroToDeptBuyPriceAll != null">
        stro_to_dept_buy_price_all = #{stroToDeptBuyPriceAll},
      </if>
      <if test="stroToPharBuyPriceAll != null">
        stro_to_phar_buy_price_all = #{stroToPharBuyPriceAll},
      </if>
      <if test="reportLossesBuyPriceAll != null">
        report_losses_buy_price_all = #{reportLossesBuyPriceAll},
      </if>
      <if test="pharReturnStroBuyPriceAll != null">
        phar_return_stro_buy_price_all = #{pharReturnStroBuyPriceAll},
      </if>
      <if test="adjustProfitBuyPriceAll != null">
        adjust_profit_buy_price_all = #{adjustProfitBuyPriceAll},
      </if>
      <if test="adjustLossBuyPriceAll != null">
        adjust_loss_buy_price_all = #{adjustLossBuyPriceAll},
      </if>
      <if test="takeStrockSubtractBuyPriceAll != null">
        take_strock_subtract_buy_price_all = #{takeStrockSubtractBuyPriceAll},
      </if>
      <if test="takeStrockAddBuyPriceAll != null">
        take_strock_add_buy_price_all = #{takeStrockAddBuyPriceAll},
      </if>
      <if test="outSalesNum != null">
        out_sales_num = #{outSalesNum},
      </if>
      <if test="outSalesPriceAll != null">
        out_sales_price_all = #{outSalesPriceAll},
      </if>
      <if test="outSalesBuyPriceAll != null">
        out_sales_buy_price_all = #{outSalesBuyPriceAll},
      </if>
      <if test="inSalesBuyPriceAll != null">
        in_sales_buy_price_all = #{inSalesBuyPriceAll},
      </if>
      <if test="inSalesPriceAll != null">
        in_sales_price_all = #{inSalesPriceAll},
      </if>
      <if test="inSalesNum != null">
        in_sales_num = #{inSalesNum},
      </if>
      <if test="monthlyId != null">
        monthly_id = #{monthlyId},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hsa.module.stro.stroinvoicing.entity.StroInvoicingMonthlyDetailDO">
    update stro_invoicing_monthly_detail
    set hosp_code = #{hospCode},
      biz_id = #{bizId},
      item_code = #{itemCode},
      item_id = #{itemId},
      item_name = #{itemName},
      num = #{num},
      unit_code = #{unitCode},
      curr_unit_code = #{currUnitCode},
      sell_price = #{sellPrice},
      buy_price = #{buyPrice},
      split_ratio = #{splitRatio},
      split_price = #{splitPrice},
      split_num = #{splitNum},
      split_unit_code = #{splitUnitCode},
      up_surplus_num = #{upSurplusNum},
      surplus_num = #{surplusNum},
      up_buy_price_all = #{upBuyPriceAll},
      buy_price_all = #{buyPriceAll},
      up_sell_price_all = #{upSellPriceAll},
      sell_price_all = #{sellPriceAll},
      crte_time = #{crteTime},
      new_price = #{newPrice},
      new_split_price = #{newSplitPrice},
      stro_in_num = #{stroInNum},
      stro_in_num_price_all = #{stroInNumPriceAll},
      return_supl_num = #{returnSuplNum},
      return_supl_price_all = #{returnSuplPriceAll},
      stro_to_dept_num = #{stroToDeptNum},
      stro_to_dept_price_all = #{stroToDeptPriceAll},
      stro_to_phar_num = #{stroToPharNum},
      stro_to_phar_price_all = #{stroToPharPriceAll},
      report_losses_num = #{reportLossesNum},
      report_losses_price_all = #{reportLossesPriceAll},
      phar_return_stro_num = #{pharReturnStroNum},
      phar_return_stro_price_all = #{pharReturnStroPriceAll},
      adjust_profit_price_all = #{adjustProfitPriceAll},
      adjust_loss_price_all = #{adjustLossPriceAll},
      take_strock_subtract_num = #{takeStrockSubtractNum},
      take_strock_subtract_price_all = #{takeStrockSubtractPriceAll},
      take_strock_add_num = #{takeStrockAddNum},
      take_strock_add_price_all = #{takeStrockAddPriceAll},
      stro_in_num_buy_price_all = #{stroInNumBuyPriceAll},
      return_supl_buy_price_all = #{returnSuplBuyPriceAll},
      stro_to_dept_buy_price_all = #{stroToDeptBuyPriceAll},
      stro_to_phar_buy_price_all = #{stroToPharBuyPriceAll},
      report_losses_buy_price_all = #{reportLossesBuyPriceAll},
      phar_return_stro_buy_price_all = #{pharReturnStroBuyPriceAll},
      adjust_profit_buy_price_all = #{adjustProfitBuyPriceAll},
      adjust_loss_buy_price_all = #{adjustLossBuyPriceAll},
      take_strock_subtract_buy_price_all = #{takeStrockSubtractBuyPriceAll},
      take_strock_add_buy_price_all = #{takeStrockAddBuyPriceAll},
      out_sales_num = #{outSalesNum},
      out_sales_price_all = #{outSalesPriceAll},
      out_sales_buy_price_all = #{outSalesBuyPriceAll},
      in_sales_buy_price_all = #{inSalesBuyPriceAll},
      in_sales_price_all = #{inSalesPriceAll},
      in_sales_num = #{inSalesNum},
      monthly_id = #{monthlyId}
    where id = #{id}
  </update>
</mapper>