<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hsa.module.stro.adjust.dao.StroAdjustDao">

    <resultMap type="cn.hsa.module.stro.adjust.dto.StroAdjustDTO" id="StroAdjustMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="hospCode" column="hosp_code" jdbcType="VARCHAR"/>
        <result property="bizId" column="biz_id" jdbcType="VARCHAR"/>
        <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
        <result property="beforePrice" column="before_price" jdbcType="NUMERIC"/>
        <result property="afterPrice" column="after_price" jdbcType="NUMERIC"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="auditId" column="audit_id" jdbcType="VARCHAR"/>
        <result property="auditName" column="audit_name" jdbcType="VARCHAR"/>
        <result property="auditCode" column="audit_code" jdbcType="VARCHAR"/>
        <result property="auditTime" column="audit_time" jdbcType="TIMESTAMP"/>
        <result property="crteId" column="crte_id" jdbcType="VARCHAR"/>
        <result property="crteName" column="crte_name" jdbcType="VARCHAR"/>
        <result property="crteTime" column="crte_time" jdbcType="TIMESTAMP"/>
        <result property="bizName" column="biz_name" jdbcType="VARCHAR"/>
        <result property="adjustCode" column="adjust_code" jdbcType="VARCHAR"/>
        <result property="sourceId" column="source_id" jdbcType="VARCHAR"/>

    </resultMap>
    <!--通过sourceId删除调价单-->
    <delete id="deleteAdjustBySourceId">
        delete from stro_adjust where source_id = #{sourceId} and adjust_code = '0' and audit_code = '0' and hosp_code = #{hospCode}
    </delete>
    <!--删除明细-->
    <delete id="deleteAdjustDetailBySourceId">
        delete from stro_adjust_detail
        where
            hosp_code = #{hospCode} and id in
                (select id from stro_adjust where source_id = #{sourceId} and adjust_code = '0' and audit_code = '0'
                                              and hosp_code = #{hospCode})
    </delete>

    <!--单个查询-->
    <select id="getStroAdjustDtoById" resultMap="StroAdjustMap">
        select
          at.id, at.hosp_code, at.biz_id, at.order_no, at.before_price, at.after_price, at.remark, at.audit_id, at.audit_name, at.audit_code, at.audit_time, at.crte_id, at.crte_name, at.crte_time,
          (select name from base_dept dt where dt.id = at.biz_id and hosp_code = at.hosp_code) biz_name
        from stro_adjust at
        where  at.hosp_code = #{hospCode}
        and at.id = #{id}
    </select>

    <!--分页查询-->
    <select id="queryStroAdjustDtoPage" resultMap="StroAdjustMap">
        select
        at.id, at.hosp_code, at.biz_id, at.order_no, at.before_price, at.after_price, at.remark, at.audit_id, at.audit_name, at.audit_code, at.audit_time, at.crte_id, at.crte_name, at.crte_time,
        (select name from base_dept dt where dt.id = at.biz_id and hosp_code = at.hosp_code) biz_name
        from stro_adjust at
        where at.hosp_code = #{hospCode}
        <if test="bizId != null and bizId != ''">
            and at.biz_id = #{bizId}
        </if>
        <if test="orderNo != null and orderNo != ''">
            and at.order_no like concat("%",#{orderNo},"%")
        </if>
        <if test="auditCode != null and auditCode != ''">
            and at.audit_code = #{auditCode}
        </if>
        /*开始日期*/
        <if test="startDate != null">
            and date(at.crte_time) &gt;= date(#{startDate})
        </if>
        /*结束日期*/
        <if test="endDate != null">
            and date(at.crte_time) &lt;= date(#{endDate})
        </if>
        <if test="ids != null and ids.size() > 0">
          and at.id in
          <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
          </foreach>
        </if>
        order by audit_code,crte_time desc
    </select>

    <!--根据条件查询-->
    <select id="queryStroAdjustDtos" resultMap="StroAdjustMap">
        select
        at.id, at.hosp_code, at.biz_id, at.order_no, at.before_price, at.after_price, at.remark, at.audit_id,
        at.audit_name, at.audit_code, at.audit_time, at.crte_id, at.crte_name, at.crte_time,
        (select name from base_dept dt where dt.id = at.biz_id and hosp_code = at.hosp_code) biz_name,adjust_code,source_id
        from stro_adjust at
        where at.hosp_code = #{hospCode}
        and at.id in
        <foreach collection="ids"  item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        order by audit_code,crte_time
    </select>

    <!--查看出库表和明细表里面是否有未审核的药品-->
    <select id="selectJudgeStoOutDruag" resultType="java.util.Map">
        SELECT a.out_code as outCode, b.item_Id as itemId,CONCAT(b.item_name,':',bd.name) as itemName FROM `stro_out` a
                join stro_out_detail b on a.id = b.out_id and a.hosp_code = b.hosp_code
                left join base_dept bd on bd.id = a.in_stock_id
                where
                a.audit_code = '0' and a.hosp_code= #{hospCode}  and
                b.item_id in
                <foreach collection="itemList" index="index" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
    </select>

    <!--查看采购表和明细表里面是否有未审核的药品-->
    <select id="selectJudgePhrDruag" resultType="java.util.Map">
        SELECT '1' as outCode, b.item_Id as itemId,CONCAT(b.item_name,':',bd.name) as itemName FROM `stro_purchase` a
        join stro_purchase_detail b on a.id = b.purchase_id and a.hosp_code = b.hosp_code
        left join base_dept bd on bd.id = a.biz_id
        where
        a.audit_code = '0' and a.hosp_code= #{hospCode} and
        b.item_id in
        <foreach collection="itemList" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <!--查看入库表和明细表里面是否有未审核的药品-->
    <select id="selectJudgeStoInDruag" resultType="java.util.Map">
        SELECT a.in_code as outCode, b.item_Id as itemId,CONCAT(b.item_name,':',bd.name) as itemName FROM `stro_in` a
        join stro_in_detail b on a.id = b.in_id and a.hosp_code = b.hosp_code
        left join base_dept bd on bd.id = a.stock_id
        where
        a.audit_code = '0' and a.hosp_code= #{hospCode} and
        b.item_id in
        <foreach collection="itemList" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <!--查看盘点表和明细表里面是否有未审核的药品-->
    <select id="selectJudgeInventoryDruag" resultType="java.util.Map">
        SELECT '7' as outCode, b.item_Id as itemId,CONCAT(b.item_name,':',bd.name) as itemName FROM `stro_inventory` a
        join stro_inventory_detail b on a.id = b.inventory_id and a.hosp_code = b.hosp_code
        left join base_dept bd on bd.id = a.biz_id
        where
        a.audit_code = '0' and a.hosp_code= #{hospCode}  and
        b.item_id in
        <foreach collection="itemList" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <!--查看报损表和明细表里面是否有未审核的药品-->
    <select id="selectJudgeIncdecDruag" resultType="java.util.Map">
        SELECT '8' as outCode, b.item_Id as itemId,CONCAT(b.item_name,':',bd.name) as itemName FROM `stro_incdec` a
        join stro_incdec_detail b on a.id = b.adjust_id and a.hosp_code = b.hosp_code
        left join base_dept bd on bd.id = a.biz_id
        where
         a.audit_code = '0' and a.hosp_code= #{hospCode} and
        b.item_id in
        <foreach collection="itemList" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <!--查看退库确认中是否存在，通过,默认情况下，出库到科室不需要进行校验-->
    <select id="selectJudgeconfirmDruag" resultType="java.util.Map">
        SELECT '21' as outCode, b.item_Id as itemId, CONCAT(b.item_name,':',bd.name) as itemName FROM `stro_out` a
        join stro_out_detail b on a.id = b.out_id
        left join base_dept bd on bd.id = a.in_stock_id
        where
        a.audit_code = '1' and a.ok_audit_code='0' and a.hosp_code= #{hospCode} and a.hosp_code = b.hosp_code and
        b.item_id in
        <foreach collection="itemList" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        <if test = "deptConfirm != 1 ">
            and a.out_code != '4'
        </if>
    </select>
    <!--获得系统参数-->
    <select id="getParameterValue" resultType="cn.hsa.module.sys.parameter.dto.SysParameterDTO">
        select  a.id, a.hosp_code hospCode, a.name, a.code, a.remark, a.pym, a.wbm, a.value
        from sys_parameter a
        where  a.hosp_code = #{hospCode}  and code in
        <foreach item="code" collection="code" separator="," open="(" close=")" index="">
            #{code}
        </foreach>
    </select>


    <!--单个新增-->
    <insert id="insertStroAdjustDto" keyProperty="" useGeneratedKeys="true">
        insert into stro_adjust(id, hosp_code, biz_id, order_no, before_price, after_price, remark, audit_id, audit_name, audit_code, audit_time, crte_id, crte_name, crte_time,adjust_code,source_id)
        values (#{id}, #{hospCode}, #{bizId}, #{orderNo}, #{beforePrice}, #{afterPrice}, #{remark}, #{auditId}, #{auditName}, #{auditCode}, #{auditTime}, #{crteId}, #{crteName}, #{crteTime},#{adjustCode},#{sourceId})
    </insert>

    <!--调价修改-->
    <update id="updateStroAdjustDto">
            update stro_adjust
                <set>
                    <if test="id != null and id != ''">
                        id = #{id},
                    </if>
                    <if test="hospCode != null and hospCode != ''">
                        hosp_code = #{hospCode},
                    </if>
                    <if test="bizId != null and bizId != ''">
                        biz_id = #{bizId},
                    </if>
                    <if test="orderNo != null and orderNo != ''">
                        order_no = #{orderNo},
                    </if>
                    <if test="beforePrice != null">
                        before_price = #{beforePrice},
                    </if>
                    <if test="afterPrice != null">
                        after_price = #{afterPrice},
                    </if>
                    <if test="remark != null and remark != ''">
                        remark = #{remark},
                    </if>
                    <if test="auditId != null and auditId != ''">
                        audit_id = #{auditId},
                    </if>
                    <if test="auditName != null and auditName != ''">
                        audit_name = #{auditName},
                    </if>
                    <if test="auditCode != null and auditCode != ''">
                        audit_code = #{auditCode},
                    </if>
                    <if test="auditTime != null">
                        audit_time = #{auditTime},
                    </if>
                    <if test="crteId != null and crteId != ''">
                        crte_id = #{crteId},
                    </if>
                    <if test="crteName != null and crteName != ''">
                        crte_name = #{crteName},
                    </if>
                    <if test="crteTime != null">
                        crte_time = #{crteTime},
                    </if>
                </set>
            where hosp_code = #{hospCode}
            and id = #{id}

    </update>

    <!--批量修改(通过id集合修改审核状态)-->
    <update id="updateStroAdjustDtoByIds">
            update stro_adjust
            set audit_id = #{auditId},
            audit_name = #{auditName},
            audit_code = #{auditCode},
            audit_time = #{auditTime}
            where hosp_code = #{hospCode}
            and id in
        <foreach collection="ids"  item="id" separator="," open="(" close=")">
             #{id}
        </foreach>

    </update>

    <update id="updateAdjustPriceById">
      <foreach collection="list" item="item" separator=";">
        update stro_adjust
        set before_price = #{item.beforePrice},
            after_price = #{item.afterPrice}
        where hosp_code = #{item.hospCode} and id  = #{item.id}
      </foreach>
    </update>
    <update id="updateAdjustDTOPriceById">
       update stro_adjust
       set before_price = #{beforePrice},
       after_price = #{afterPrice}
       where hosp_code = #{hospCode} and id  = #{id}
    </update>
    <!--回写入库明细单-->
    <update id="updateStroInDetail">
        <foreach collection="list"  separator=";"  item="item">
            update
            stro_in_detail
            set
            sell_price = #{item.afterPrice},
            sell_price_all  = num * #{item.afterPrice},
            split_price = #{item.splitAfterPrice}
            where in_id = #{sourceId} and item_id = #{item.itemId}
        </foreach>
    </update>
    <!--回写入库主表-->
    <update id="updateStroIn">
        update
            stro_in a,(select sum(sell_price_all) as sell_price_all  from stro_in_detail where in_id = #{sourceId} group by item_id) b
        set
            a.sell_price_all = b.sell_price_all,a.audit_code = '0'
        where a.id =  #{sourceId} and a.audit_code = '3'
    </update>
    <!--更新入库单明细-->
    <update id="updateStroInDetailByBefore">
            update
            stro_in_detail
            set
            sell_price = old_sell_price,
            sell_price_all  = num * old_sell_price,
            split_price = old_split_price
            where in_id = #{sourceId}
    </update>
    <!--作废调价单-->
    <update id="updateAdjustDTOBySourceIds">
        update stro_adjust set
        audit_code = '2',
        audit_time = #{auditTime}
        where hosp_code = #{hospCode} and audit_code ='0' and adjust_code = '0' and source_id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>


</mapper>
