<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hsa.module.mris.mrisHome.dao.InptMrisInfoDAO">
    <!--基础业务代码查询-->
    <select id="getSysValue" parameterType="java.util.Map" resultType="java.util.Map">
        select
        c_code as code,
        name,
        value
        from
        sys_code_detail
        where hosp_code = #{hospCode}
        and is_valid = '1'
        <if test="data.code != null and data.code != ''">
            and find_in_set(c_code, #{data.code})
        </if>
        <if test="data.value != null and data.value != ''">
            and value = #{data.value}
        </if>
        <if test="data.codeList != null and data.codeList.size() > 0">
            and c_code in
            <foreach collection="data.codeList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        order by seq_no
    </select>
    <select id="getMrisBaseInfo" parameterType="java.util.Map" resultType="java.util.LinkedHashMap">
       select b.visit_id, IFNULL(b.yljg_code,'-')  as A01,
        IFNULL(b.hosp_name,'-') as A02,
        IFNULL(b.in_profile,'-') as A48,
        IFNULL(b.in_cnt,'-') as A49,
        IFNULL(date_format(b.in_time, '%Y-%m-%d %H:%i:%S'),'-') as B12,
        IFNULL(date_format(b.out_time, '%Y-%m-%d %H:%i:%S'),'-') as B15,
        IFNULL(b.health_card,'-')  as A47,
        IFNULL(case when b.pay_way_code ='1' then '1.1' when b.pay_way_code ='2' then '2.1' when b.pay_way_code ='3' then '3.1' else b.pay_way_code end,'-') as A46C,
        IFNULL(b.`name`,'-') as A11,
        IFNULL(b.gender_code,'-') as A12C,
        IFNULL(date_format(b.birthday, '%Y-%m-%d %H:%i:%S'),'-') as A13,
        IFNULL(b.age,'-') as A14,
        IFNULL(b.nationality_cation,'-') as A15C,
        IFNULL(b.marry_code,'-') as A21C,
        IFNULL(b.occupation_code,'-') as A38C,
        IFNULL(b.nation_code,'-') as A19C,
        IFNULL(case when b.cert_code='01' then '1' when b.cert_code='03' then '6' when b.cert_code='04' then '2'
        when b.cert_code='06' then '4' when b.cert_code='07' then '5' else '9' end,'-') as A20N,
        IFNULL(b.id_card,'-') as A20,
        IFNULL(b.birth_adress,'-')  as A22,
        IFNULL(b.native_place,'无')  as A23C,
        IFNULL(b.native_adress,'-')  as A24,
        IFNULL(b.native_post_code,'-')  as A25C,
        IFNULL(b.now_adress,'-')  as A26,
        IFNULL(b.phone,'-') as A27,
        IFNULL(b.now_post_code,'-')  as A28C,
        IFNULL(b.work_info,'-') as A29,
        IFNULL(b.work_phone,'-') as A30,
        IFNULL(b.work_post_code,'-')  as A31C,
        IFNULL(b.contact_name,'-')  as A32,
        IFNULL(b.contact_rela_code,'-')  as A33C,
        IFNULL(b.contact_address,'-')  as A34,
        IFNULL(b.contact_phone,'-') as A35,
       '1' as B38,
        IFNULL(b.in_way,'-')  as B11C,
        IFNULL((select d.mris_code from base_dept d where d.id = b.in_dept_id and d.hosp_code =#{hospCode}),'69') as B13C,
        IFNULL(b.in_bed_name,'-') as B14,
        IFNULL((select d.nation_code from base_dept d where d.id = b.turn_dept_ids and d.hosp_code =#{hospCode}),'-') as B21C,
        IFNULL((select d.mris_code from base_dept d where d.id = b.out_dept_id and d.hosp_code =#{hospCode}),'69') as B16C,
        IFNULL(b.out_bed_name,'-') as B17,
        IFNULL(b.in_days,'-') as B20,
        IFNULL((select platform_code from base_disease where code = b.disease_icd10 and hosp_code =#{hospCode} limit 1),b.disease_icd10)  as C01C,
        IFNULL(b.disease_icd10_name,'-')  as C02N,
       '-' as F01,
       '-' as F02C,
       '-' as F03N,
       '-' as F04,
       '-' as C03C,
       '-' as C04N,
       '-' as C05C,
       '-' as F05,
        '' as C06x01C,
        '' as C07x01N,
        '' as C08x01C,
        '' as F06x01,
        '' as C06x02C,
        '' as C07x02N,
        '' as C08x02C,
        '' as F06x02,
        '' as C06x03C,
        '' as C07x03N,
        '' as C08x03C,
        '' as F06x03,
        '' as C06x04C,
        '' as C07x04N,
        '' as C08x04C,
        '' as F06x04,
        '' as C06x05C,
        '' as C07x05N,
        '' as C08x05C,
        '' as F06x05,
        '' as C06x06C,
        '' as C07x06N,
        '' as C08x06C,
        '' as F06x06,
        '' as C06x07C,
        '' as C07x07N,
        '' as C08x07C,
        '' as F06x07,
        '' as C06x08C,
        '' as C07x08N,
        '' as C08x08C,
        '' as F06x08,
        '' as C06x09C,
        '' as C07x09N,
        '' as C08x09C,
        '' as F06x09,
        '' as C06x10C,
        '' as C07x10N,
        '' as C08x10C,
        '' as F06x10,
        '' as C06x11C,
        '' as C07x11N,
        '' as C08x11C,
        '' as F06x11,
        '' as C06x12C,
        '' as C07x12N,
        '' as C08x12C,
        '' as F06x12,
        '' as C06x13C,
        '' as C07x13N,
        '' as C08x13C,
        '' as F06x13,
        '' as C06x14C,
        '' as C07x14N,
        '' as C08x14C,
        '' as F06x14,
        '' as C06x15C,
        '' as C07x15N,
        '' as C08x15C,
        '' as F06x15,
        '' as C06x16C,
        '' as C07x16N,
        '' as C08x16C,
        '' as F06x16,
        '' as C06x17C,
        '' as C07x17N,
        '' as C08x17C,
        '' as F06x17,
        '' as C06x18C,
        '' as C07x18N,
        '' as C08x18C,
        '' as F06x18,
        '' as C06x19C,
        '' as C07x19N,
        '' as C08x19C,
        '' as F06x19,
        '' as C06x20C,
        '' as C07x20N,
        '' as C08x20C,
        '' as F06x20,
        '' as C06x21C,
        '' as C07x21N,
        '' as C08x21C,
        '' as F06x21,
        '' as C06x22C,
        '' as C07x22N,
        '' as C08x22C,
        '' as F06x22,
        '' as C06x23C,
        '' as C07x23N,
        '' as C08x23C,
        '' as F06x23,
        '' as C06x24C,
        '' as C07x24N,
        '' as C08x24C,
        '' as F06x24,
        '' as C06x25C,
        '' as C07x25N,
        '' as C08x25C,
        '' as F06x25,
        '' as C06x26C,
        '' as C07x26N,
        '' as C08x26C,
        '' as F06x26,
        '' as C06x27C,
        '' as C07x27N,
        '' as C08x27C,
        '' as F06x27,
        '' as C06x28C,
        '' as C07x28N,
        '' as C08x28C,
        '' as F06x28,
        '' as C06x29C,
        '' as C07x29N,
        '' as C08x29C,
        '' as F06x29,
        '' as C06x30C,
        '' as C07x30N,
        '' as C08x30C,
        '' as F06x30,
        '' as C06x31C,
        '' as C07x31N,
        '' as C08x31C,
        '' as F06x31,
        '' as C06x32C,
        '' as C07x32N,
        '' as C08x32C,
        '' as F06x32,
        '' as C06x33C,
        '' as C07x33N,
        '' as C08x33C,
        '' as F06x33,
        '' as C06x34C,
        '' as C07x34N,
        '' as C08x34C,
        '' as F06x34,
        '' as C06x35C,
        '' as C07x35N,
        '' as C08x35C,
        '' as F06x35,
        '' as C06x36C,
        '' as C07x36N,
        '' as C08x36C,
        '' as F06x36,
        '' as C06x37C,
        '' as C07x37N,
        '' as C08x37C,
        '' as F06x37,
        '' as C06x38C,
        '' as C07x38N,
        '' as C08x38C,
        '' as F06x38,
        '' as C06x39C,
        '' as C07x39N,
        '' as C08x39C,
        '' as F06x39,
        '' as C06x40C,
        '' as C07x40N,
        '' as C08x40C,
        '' as F06x40,
        IFNULL(b.bl_icd10,'-')  as C09C,
        IFNULL(b.bl_icd10_name ,'-') as C10N,
        IFNULL(b.in_blh,'-')  as C11,
        '-' as F07x01C,
        '-' as F08x01N,
        '-' as F09x01,
        '-' as F07x02C,
        '-' as F08x02N,
        '-' as F09x02,
        IFNULL(b.disease_icd10_other,'-')  as C12C,
        IFNULL(b.damage_reason,'-')  as C13N,
        IFNULL(b.is_allergy,'1')  as C24C,
        IFNULL(b.allergy_list,'-')  as C25,
       '-' as F10,
       '-' as F11,
       '-' as F12,
       '-' as B22C,
        IFNULL(b.director_name1,'-')  as B22,
       '-' as B23C,
        IFNULL(b.director_name2,'-')  as B23,
       '-' as B24C,
        IFNULL(b.zz_doctor_name,'-')  as B24,
       '-' as B25C,
        IFNULL(b.zg_doctor_name,'-')  as B25,
       '-' as B26C,
        IFNULL(b.zr_nurse_name,'-')  as B26,
        IFNULL(b.jx_doctor_name,'-')  as B27,
        IFNULL(b.sx_doctor_name,'-')  as B28,
        IFNULL(b.doctor_coder_name,'-')  as B29,
        IFNULL(b.emr_quality_code,'-')  as B30C,
        IFNULL(b.zk_doctor_name,'-')  as B31,
        IFNULL(b.zk_nurse_name,'-')  as B32,
        IFNULL(date_format(b.zk_time, '%Y-%m-%d'),'-') as B33,
        IFNULL(b.is_autopsy,'-')  as C34C,
        IFNULL(b.blood_code ,'-') as C26C,
        IFNULL(b.rh_code,'-')  as C27C,
     '-' as C14x01C,
     '-' as C15x01N,
     '-' as C16x01,
     '' as C17x01,
     '' as F13,
     '' as C18x01,
     '' as C19x01,
     '' as C20x01,
     '' as C21x01C,
     '' as C22x01C,
     '' as F15,
     '' as C23x01,
     '' as C35x01C,
     '' as C36x01N,
     '' as C37x01,
     '' as C38x01,
     '' as F14x01,
     '' as C39x01,
     '' as C40x01,
     '' as C41x01,
     '' as C42x01C,
     '' as C43x01C,
     '' as F16x01,
     '' as C44x01,
     '' as C35x02C,
     '' as C36x02N,
     '' as C37x02,
     '' as C38x02,
     '' as F14x02,
     '' as C39x02,
     '' as C40x02,
     '' as C41x02,
     '' as C42x02C,
     '' as C43x02C,
     '' as F16x02,
     '' as C44x02,
     '' as C35x03C,
     '' as C36x03N,
     '' as C37x03,
     '' as C38x03,
     '' as F14x03,
     '' as C39x03,
     '' as C40x03,
     '' as C41x03,
     '' as C42x03C,
     '' as C43x03C,
     '' as F16x03,
     '' as C44x03,
     '' as C35x04C,
     '' as C36x04N,
     '' as C37x04,
     '' as C38x04,
     '' as F14x04,
     '' as C39x04,
     '' as C40x04,
     '' as C41x04,
     '' as C42x04C,
     '' as C43x04C,
     '' as F16x04,
     '' as C44x04,
     '' as C35x05C,
     '' as C36x05N,
     '' as C37x05,
     '' as C38x05,
     '' as F14x05,
     '' as C39x05,
     '' as C40x05,
     '' as C41x05,
     '' as C42x05C,
     '' as C43x05C,
     '' as F16x05,
     '' as C44x05,
     '' as C35x06C,
     '' as C36x06N,
     '' as C37x06,
     '' as C38x06,
     '' as F14x06,
     '' as C39x06,
     '' as C40x06,
     '' as C41x06,
     '' as C42x06C,
     '' as C43x06C,
     '' as F16x06,
     '' as C44x06,
     '' as C35x07C,
     '' as C36x07N,
     '' as C37x07,
     '' as C38x07,
     '' as F14x07,
     '' as C39x07,
     '' as C40x07,
     '' as C41x07,
     '' as C42x07C,
     '' as C43x07C,
     '' as F16x07,
     '' as C44x07,

     '' as C35x08C,
     '' as C36x08N,
     '' as C37x08,
     '' as C38x08,
     '' as F14x08,
     '' as C39x08,
     '' as C40x08,
     '' as C41x08,
     '' as C42x08C,
     '' as C43x08C,
     '' as F16x08,
     '' as C44x08,

     '' as C35x09C,
     '' as C36x09N,
     '' as C37x09,
     '' as C38x09,
     '' as F14x09,
     '' as C39x09,
     '' as C40x09,
     '' as C41x09,
     '' as C42x09C,
     '' as C43x09C,
     '' as F16x09,
     '' as C44x09,

     '' as C35x10C,
     '' as C36x10N,
     '' as C37x10,
     '' as C38x10,
     '' as F14x10,
     '' as C39x10,
     '' as C40x10,
     '' as C41x10,
     '' as C42x10C,
     '' as C43x10C,
     '' as F16x10,
     '' as C44x10,

     '' as C35x11C,
     '' as C36x11N,
     '' as C37x11,
     '' as C38x11,
     '' as F14x11,
     '' as C39x11,
     '' as C40x11,
     '' as C41x11,
     '' as C42x11C,
     '' as C43x11C,
     '' as F16x11,
     '' as C44x11,

     '' as C35x12C,
     '' as C36x12N,
     '' as C37x12,
     '' as C38x12,
     '' as F14x12,
     '' as C39x12,
     '' as C40x12,
     '' as C41x12,
     '' as C42x12C,
     '' as C43x12C,
     '' as F16x12,
     '' as C44x12,

     '' as C35x13C,
     '' as C36x13N,
     '' as C37x13,
     '' as C38x13,
     '' as F14x13,
     '' as C39x13,
     '' as C40x13,
     '' as C41x13,
     '' as C42x13C,
     '' as C43x13C,
     '' as F16x13,
     '' as C44x13,

     '' as C35x14C,
     '' as C36x14N,
     '' as C37x14,
     '' as C38x14,
     '' as F14x14,
     '' as C39x14,
     '' as C40x14,
     '' as C41x14,
     '' as C42x14C,
     '' as C43x14C,
     '' as F16x14,
     '' as C44x14,

     '' as C35x15C,
     '' as C36x15N,
     '' as C37x15,
     '' as C38x15,
     '' as F14x15,
     '' as C39x15,
     '' as C40x15,
     '' as C41x15,
     '' as C42x15C,
     '' as C43x15C,
     '' as F16x15,
     '' as C44x15,

     '' as C35x16C,
     '' as C36x16N,
     '' as C37x16,
     '' as C38x16,
     '' as F14x16,
     '' as C39x16,
     '' as C40x16,
     '' as C41x16,
     '' as C42x16C,
     '' as C43x16C,
     '' as F16x16,
     '' as C44x16,

     '' as C35x17C,
     '' as C36x17N,
     '' as C37x17,
     '' as C38x17,
     '' as F14x17,
     '' as C39x17,
     '' as C40x17,
     '' as C41x17,
     '' as C42x17C,
     '' as C43x17C,
     '' as F16x17,
     '' as C44x17,

     '' as C35x18C,
     '' as C36x18N,
     '' as C37x18,
     '' as C38x18,
     '' as F14x18,
     '' as C39x18,
     '' as C40x18,
     '' as C41x18,
     '' as C42x18C,
     '' as C43x18C,
     '' as F16x18,
     '' as C44x18,

     '' as C35x19C,
     '' as C36x19N,
     '' as C37x19,
     '' as C38x19,
     '' as F14x19,
     '' as C39x19,
     '' as C40x19,
     '' as C41x19,
     '' as C42x19C,
     '' as C43x19C,
     '' as F16x19,
     '' as C44x19,

     '' as C35x20C,
     '' as C36x20N,
     '' as C37x20,
     '' as C38x20,
     '' as F14x20,
     '' as C39x20,
     '' as C40x20,
     '' as C41x20,
     '' as C42x20C,
     '' as C43x20C,
     '' as F16x20,
     '' as C44x20,

     '' as C35x21C,
     '' as C36x21N,
     '' as C37x21,
     '' as C38x21,
     '' as F14x21,
     '' as C39x21,
     '' as C40x21,
     '' as C41x21,
     '' as C42x21C,
     '' as C43x21C,
     '' as F16x21,
     '' as C44x21,

     '' as C35x22C,
     '' as C36x22N,
     '' as C37x22,
     '' as C38x22,
     '' as F14x22,
     '' as C39x22,
     '' as C40x22,
     '' as C41x22,
     '' as C42x22C,
     '' as C43x22C,
     '' as F16x22,
     '' as C44x22,

     '' as C35x23C,
     '' as C36x23N,
     '' as C37x23,
     '' as C38x23,
     '' as F14x23,
     '' as C39x23,
     '' as C40x23,
     '' as C41x23,
     '' as C42x23C,
     '' as C43x23C,
     '' as F16x23,
     '' as C44x23,

     '' as C35x24C,
     '' as C36x24N,
     '' as C37x24,
     '' as C38x24,
     '' as F14x24,
     '' as C39x24,
     '' as C40x24,
     '' as C41x24,
     '' as C42x24C,
     '' as C43x24C,
     '' as F16x24,
     '' as C44x24,

     '' as C35x25C,
     '' as C36x25N,
     '' as C37x25,
     '' as C38x25,
     '' as F14x25,
     '' as C39x25,
     '' as C40x25,
     '' as C41x25,
     '' as C42x25C,
     '' as C43x25C,
     '' as F16x25,
     '' as C44x25,

     '' as C35x26C,
     '' as C36x26N,
     '' as C37x26,
     '' as C38x26,
     '' as F14x26,
     '' as C39x26,
     '' as C40x26,
     '' as C41x26,
     '' as C42x26C,
     '' as C43x26C,
     '' as F16x26,
     '' as C44x26,

     '' as C35x27C,
     '' as C36x27N,
     '' as C37x27,
     '' as C38x27,
     '' as F14x27,
     '' as C39x27,
     '' as C40x27,
     '' as C41x27,
     '' as C42x27C,
     '' as C43x27C,
     '' as F16x27,
     '' as C44x27,

     '' as C35x28C,
     '' as C36x28N,
     '' as C37x28,
     '' as C38x28,
     '' as F14x28,
     '' as C39x28,
     '' as C40x28,
     '' as C41x28,
     '' as C42x28C,
     '' as C43x28C,
     '' as F16x28,
     '' as C44x28,

     '' as C35x29C,
     '' as C36x29N,
     '' as C37x29,
     '' as C38x29,
     '' as F14x29,
     '' as C39x29,
     '' as C40x29,
     '' as C41x29,
     '' as C42x29C,
     '' as C43x29C,
     '' as F16x29,
     '' as C44x29,

     '' as C35x30C,
     '' as C36x30N,
     '' as C37x30,
     '' as C38x30,
     '' as F14x30,
     '' as C39x30,
     '' as C40x30,
     '' as C41x30,
     '' as C42x30C,
     '' as C43x30C,
     '' as F16x30,
     '' as C44x30,

     '' as C35x31C,
     '' as C36x31N,
     '' as C37x31,
     '' as C38x31,
     '' as F14x31,
     '' as C39x31,
     '' as C40x31,
     '' as C41x31,
     '' as C42x31C,
     '' as C43x31C,
     '' as F16x31,
     '' as C44x31,

     '' as C35x32C,
     '' as C36x32N,
     '' as C37x32,
     '' as C38x32,
     '' as F14x32,
     '' as C39x32,
     '' as C40x32,
     '' as C41x32,
     '' as C42x32C,
     '' as C43x32C,
     '' as F16x32,
     '' as C44x32,

     '' as C35x33C,
     '' as C36x33N,
     '' as C37x33,
     '' as C38x33,
     '' as F14x33,
     '' as C39x33,
     '' as C40x33,
     '' as C41x33,
     '' as C42x33C,
     '' as C43x33C,
     '' as F16x33,
     '' as C44x33,

     '' as C35x34C,
     '' as C36x34N,
     '' as C37x34,
     '' as C38x34,
     '' as F14x34,
     '' as C39x34,
     '' as C40x34,
     '' as C41x34,
     '' as C42x34C,
     '' as C43x34C,
     '' as F16x34,
     '' as C44x34,

     '' as C35x35C,
     '' as C36x35N,
     '' as C37x35,
     '' as C38x35,
     '' as F14x35,
     '' as C39x35,
     '' as C40x35,
     '' as C41x35,
     '' as C42x35C,
     '' as C43x35C,
     '' as F16x35,
     '' as C44x35,

     '' as C35x36C,
     '' as C36x36N,
     '' as C37x36,
     '' as C38x36,
     '' as F14x36,
     '' as C39x36,
     '' as C40x36,
     '' as C41x36,
     '' as C42x36C,
     '' as C43x36C,
     '' as F16x36,
     '' as C44x36,

     '' as C35x37C,
     '' as C36x37N,
     '' as C37x37,
     '' as C38x37,
     '' as F14x37,
     '' as C39x37,
     '' as C40x37,
     '' as C41x37,
     '' as C42x37C,
     '' as C43x37C,
     '' as F16x37,
     '' as C44x37,

     '' as C35x38C,
     '' as C36x38N,
     '' as C37x38,
     '' as C38x38,
     '' as F14x38,
     '' as C39x38,
     '' as C40x38,
     '' as C41x38,
     '' as C42x38C,
     '' as C43x38C,
     '' as F16x38,
     '' as C44x38,

     '' as C35x39C,
     '' as C36x39N,
     '' as C37x39,
     '' as C38x39,
     '' as F14x39,
     '' as C39x39,
     '' as C40x39,
     '' as C41x39,
     '' as C42x39C,
     '' as C43x39C,
     '' as F16x39,
     '' as C44x39,

     '' as C35x40C,
     '' as C36x40N,
     '' as C37x40,
     '' as C38x40,
     '' as F14x40,
     '' as C39x40,
     '' as C40x40,
     '' as C41x40,
     '' as C42x40C,
     '' as C43x40C,
     '' as F16x40,
     '' as C44x40,
       '-' as F17,
       '-' as F18,
       '-' as F19,
       '-' as F20,
       '-' as F21,
       '-' as F22,
       '-' as F23,
       '-' as F24,
       '-' as F25,
       '-' as F26,
        IFNULL(b.baby_age_month,'-')  as A16,
        IFNULL(b.baby_in_weight,'-')  as A17,
        IFNULL(b.baby_birth_weight,'-')  as A18x01,
        '-' as A18x02,
        '-' as A18x03,
        '-' as A18x04,
        '-' as A18x05,
        IFNULL(b.inpt_before_day,'-')  as C28,
        IFNULL(b.inpt_before_hour,'-')  as C29,
        IFNULL(b.inpt_before_minute,'-')  as C30,
        IFNULL(b.inpt_last_day,'-')  as C31,
        IFNULL(b.inpt_last_hour,'-')  as C32,
        IFNULL(b.inpt_last_minute ,'-') as C33,
        '-' as C47,
        '-' as C48x01C,
        '-' as C49x01,
        '-' as C50x01,
        '-' as C48x02C,
        '-' as C49x02,
        '-' as C50x02,
        '-' as C48x03C,
        '-' as C49x03,
        '-' as C50x03,
        '-' as C48x04C,
        '-' as C49x04,
        '-' as C50x04,
        '-' as C48x05C,
        '-' as C49x05,
        '-' as C50x05,
        IFNULL(b.is_inpt,'-')  as B36C,
        IFNULL(b.aim,'-')  as B37,
        IFNULL(b.out_mode_code,'-') as B34C,
        IFNULL(b.turn_org_name,'-')  as B35,
        ROUND(IFNULL(c.fy01,0),2) as D01,
     ROUND(IFNULL(c.fy07,0),2)  as D09,
     ROUND(IFNULL(c.zhylfwl01,0),2)  as D11,
     ROUND(IFNULL(c.zhylfwl02,0),2)  as D12,
     ROUND(IFNULL(c.zhylfwl03,0),2)  as D13,
     ROUND(IFNULL(c.zhylfwl04,0),2)  as D14,
     ROUND(IFNULL(c.zdl01,0),2)  as D15,
     ROUND(IFNULL(c.zdl02,0),2)  as D16,
     ROUND(IFNULL(c.zdl03,0),2) as D17,
     ROUND(IFNULL(c.zdl04,0),2)  as D18,
     ROUND(IFNULL(c.zll01,0),2)  as D19,
     ROUND(IFNULL(c.zll02 ,0),2) as D19x01,
     ROUND(IFNULL(c.zll03,0),2) as D20,
     ROUND(IFNULL(c.zll04,0),2) as D20x01,
     ROUND(IFNULL(c.zll05,0),2) as D20x02,
     ROUND(IFNULL(c.kfl01,0),2) as D21,
     ROUND(IFNULL(c.zyl01,0),2) as D22,
     ROUND(IFNULL(c.fy02,0),2) as D23,
     ROUND(IFNULL(c.xyl01,0),2)  as D23x01,
     ROUND(IFNULL(c.fy04,0),2) as D24,
     ROUND(IFNULL(c.fy05,0),2) as D25,
     ROUND(IFNULL(c.xyzpl01,0),2) as D26,
     ROUND(IFNULL(c.xyzpl02,0),2)  as D27,
     ROUND(IFNULL(c.xyzpl03,0),2)  as D28,
     ROUND(IFNULL(c.xyzpl04,0),2) as D29,
     ROUND(0,2) as D30,
     ROUND(IFNULL(c.hcl01,0),2) as D31,
     ROUND(IFNULL( c.hcl02,0),2) as D32,
     ROUND(IFNULL(c.hcl03,0),2) as D33,
     ROUND(IFNULL(c.fy06,0),2) as D34
       from mris_base_info b JOIN mris_cost c on c.hosp_code= #{hospCode} and  b.visit_id = c.visit_id
       left join inpt_visit v on v.hosp_code=#{hospCode} and  b.visit_id = v.id
       where b.hosp_code= #{hospCode} and b.in_profile IS NOT NULL and c.fy01 >0
       <if test="keyword != null and keyword !=''">
        and (v.name LIKE CONCAT('%',#{keyword},'%') or v.phone LIKE CONCAT('%',#{keyword},'%') or v.cert_no LIKE CONCAT('%',#{keyword},'%')
        or v.in_no LIKE CONCAT('%',#{keyword},'%') )
       </if>
       <if test="inDeptId!=null and inDeptId!=''">
        and v.in_dept_id = #{inDeptId}
       </if>
       <if test="statusCode != null and statusCode !=''">
         and v.status_code = #{statusCode}
       </if>
       <if test="visitId!=null and visitId!=''">
          and b.visit_id =#{visitId}
       </if>
       <if test="startTime != null and startTime != ''">
         and v.out_time &gt;= STR_TO_DATE(#{startTime},'%Y-%m-%d %H:%i:%S')
       </if>
       <if test="endTime != null and endTime != '' ">
         and v.out_time &lt;= STR_TO_DATE(#{endTime},'%Y-%m-%d %H:%i:%S')
       </if>
       <if test="offset!=null and limit!=null">
          limit #{offset}, #{limit}
       </if>
    </select>
   <select id="getMrisDiagnose" resultType="java.util.Map" parameterType="java.util.Map">
      select disease_code,disease_code2,in_situation_code1,in_situation_code2,
      ifnull((select platform_code from base_disease where code = disease_icd10_1 and hosp_code =#{hospCode} limit 1),disease_icd10_1) as disease_icd10_1,
      ifnull((select platform_code from base_disease where code = disease_icd10_2 and hosp_code =#{hospCode} limit 1),disease_icd10_2) as disease_icd10_2,
      disease_icd10_name1,disease_icd10_name2
      from mris_diagnose where visit_id =#{visitId} and hosp_code =#{hospCode}
   </select>
   <select id="getMrisOperInfo" resultType="java.util.Map" parameterType="java.util.Map">
      select oper_disease_icd9,oper_disease_name,DATE_ADD(oper_time,INTERVAL 1 DAY)as oper_time,oper_code,
      ifnull((select name from sys_user where id =oper_doctor_id and hosp_code =#{hospCode}),'无') as oper_doctor_name,
      ifnull((select name from sys_user where id =assistant_id4 and hosp_code =#{hospCode}),'无') as assistant_name1,
      ifnull((select name from sys_user where id =assistant_id2 and hosp_code =#{hospCode}),'无') as assistant_name2,
      case when heal_code ='1/1' then '1' when heal_code ='1/2' then '2'
      when heal_code ='1/3' then '3' when heal_code ='1/4' then '10'
      when heal_code ='2/1' then '4' when heal_code ='2/2' then '5'
      when heal_code ='2/3' then '6' when heal_code ='2/4' then '20'
      when heal_code ='3/1' then '7' when heal_code ='3/2' then '8'
      when heal_code ='3/3' then '9' else '30' end heal_code,
      ana_code,
      ifnull((select name from sys_user where id =ana_id1 and hosp_code =#{hospCode}),'无') as ana_name1
      from mris_oper_info where visit_id =#{visitId} and hosp_code =#{hospCode}
   </select>

 <!-- 根据类型查询配置-->
 <select id="queryUploadType" parameterType="map" resultType="map">
  select * from  upload_type where valid_flage ='0' and hosp_code =#{hospCode} and type=#{type} limit 1
 </select>

 <!-- 根据sql查询数据-->
 <select id="queryData" parameterType="string" resultType="java.util.LinkedHashMap">
        ${sql}
    </select>

 <!--获取中医病案首页基础信息数据-->
 <select id="getTcmMrisBaseInfo" parameterType="java.util.Map" resultType="java.util.LinkedHashMap">
  select b.visit_id,
  IFNULL(b.yljg_code,'-')  as ZZJGDM,
  IFNULL(b.hosp_name,'-') as JGMC,
  IFNULL(b.hosp_name,'-') as USERNAME,
  IFNULL(case when b.pay_way_code ='1' then '1.1' when b.pay_way_code ='2' then '2.1' when b.pay_way_code ='3' then '3.1' else b.pay_way_code end,'-') as YLFKFS,
  IFNULL(b.health_card,'-') as JKKH,
  IFNULL(b.in_cnt,'-') as ZYCS,
  IFNULL(b.in_profile,'-') as BAH,
  IFNULL(b.`name`,'-') as XM,
  IFNULL(b.gender_code,'-') as XB,
  IFNULL(date_format(b.birthday, '%Y-%m-%d %H:%i:%S'),'-') as CSRQ,
  IFNULL(b.age,'-') as NL,
  IFNULL(b.nationality_cation,'-') as GJ,
  IFNULL(b.baby_age_month,'-') as BZYZS_NL,
  IFNULL(b.baby_weight,'-') as XSETZ,
  '' as XSETZ2,
  '' as XSETZ3,
  '' as XSETZ4,
  '' as XSETZ5,
  IFNULL(B.baby_in_weight,'-')   as XSERYTZ,
  IFNULL(b.birth_adress,'-') as CSD,
  IFNULL(b.native_place,'-') as GG,
  IFNULL(b.nation_code,'-') as MZ,
  IFNULL(case when b.cert_code='01' then '1' when b.cert_code='03' then '6' when b.cert_code='04' then '2'
  when b.cert_code='06' then '4' when b.cert_code='07' then '5' else '9' end,'-') as ZJLB,
  IFNULL(b.id_card,'-') as ZJHM,
  IFNULL(b.occupation_code,'-') as ZY,
  IFNULL(b.marry_code,'-') as HY,
  IFNULL(b.now_adress,'-')  as XZZ,
  IFNULL(b.phone,'-') as DH,
  IFNULL(b.now_post_code,'-') as YB1,
  IFNULL(b.native_adress,'-') as HKDZ,
  IFNULL(b.native_post_code,'-') as YB2,
  IFNULL(b.work_info,'-') as GZDWJDZ,
  IFNULL(b.work_phone,'-') as DWDH,
  IFNULL(b.work_post_code,'-') as YB3,
  IFNULL(b.contact_name,'-') as LXRXM,
  IFNULL(b.contact_rela_code,'-') as GX,
  IFNULL(b.contact_address,'-') as DZ,
  IFNULL(b.contact_phone,'-') as DH1,
  IFNULL(b.in_way,'-')  as RYTJ,
  IFNULL(b.treat_code,'-')as ZLLB,
  IFNULL(date_format(b.in_time, '%Y-%m-%d %H:%i:%S'),'-') as RYSJ,
  IFNULL(date_format(b.in_time, '%H'),'-') as RYSJ_S,
  IFNULL((select d.nation_code from base_dept d where d.id = b.in_dept_id and d.hosp_code =#{hospCode}),'69') as RYKB,
  IFNULL(b.in_bed_name,'-') as RYBF,
  IFNULL((select d.nation_code from base_dept d where d.id = b.turn_dept_ids and d.hosp_code =#{hospCode}),'-') as ZKKB,
  IFNULL(date_format(b.out_time, '%Y-%m-%d %H:%i:%S'),'-') as CYSJ,
  IFNULL(date_format(b.out_time, '%H'),'-') as CYSJ_S,
  IFNULL((select d.nation_code from base_dept d where d.id = b.out_dept_id and d.hosp_code =#{hospCode}),'69') as CYKB,
  IFNULL(b.out_bed_name,'-') as CYBF,
  IFNULL(b.in_days,'-') as SJZY,
  IFNULL(b.tcm_disease_code,'-') as MZD_ZB,
  IFNULL(b.tcm_disease_name,'-') as JBDM_ZB,
  '-' as MZD_ZZ1,
  '-' as JBDM_ZZ1,
  '-' as MZD_ZZ2,
  '-' as JBDM_ZZ2,
  IFNULL((select platform_code from base_disease where code = b.disease_icd10 and hosp_code =#{hospCode} limit 1),b.disease_icd10) as MZZD_XYZD,
  IFNULL(b.disease_icd10_name,'-') as JBBM,
  IFNULL(b.clinical_way_code,'-') as SSLCLJ,
  IFNULL(b.zyzj_code,'-') as ZYYJ,
  IFNULL(b.zyylsb_code,'-') as ZYZLSB,
  IFNULL(b.zyyljs_code,'-') as ZYZLJS,
  IFNULL(b.bzsh_code,'-') as BZSH,
  '' as ZB,
  '' as ZB_JBBM,
  '' as ZY_RYBQ_ZB,
  '' as ZY_CYQK_ZB,
  '' as ZZ1,
  '' as ZZ_JBBM1,
  '' as ZZ_RYBQ1,
  '' as ZZ_CYQK1,
  '' as ZZ_ZFMC1,
  '' as ZZ_ZFBM1,
  '' as ZZ2,
  '' as ZZ_JBBM2,
  '' as ZZ_RYBQ2,
  '' as ZZ_CYQK2,
  '' as ZZ_ZFMC2,
  '' as ZZ_ZFBM2,
  '' as ZZ3,
  '' as ZZ_JBBM3,
  '' as ZZ_RYBQ3,
  '' as ZZ_CYQK3,
  '' as ZZ_ZFMC3,
  '' as ZZ_ZFBM3,
  '' as ZZ4,
  '' as ZZ_JBBM4,
  '' as ZZ_RYBQ4,
  '' as ZZ_CYQK4,
  '' as ZZ_ZFMC4,
  '' as ZZ_ZFBM4,
  '' as ZZ5,
  '' as ZZ_JBBM5,
  '' as ZZ_RYBQ5,
  '' as ZZ_CYQK5,
  '' as ZZ_ZFMC5,
  '' as ZZ_ZFBM5,
  '' as ZZ6,
  '' as ZZ_JBBM6,
  '' as ZZ_RYBQ6,
  '' as ZZ_CYQK6,
  '' as ZZ_ZFMC6,
  '' as ZZ_ZFBM6,
  '' as ZZ7,
  '' as ZZ_JBBM7,
  '' as ZZ_RYBQ7,
  '' as ZZ_CYQK7,
  '' as ZZ_ZFMC7,
  '' as ZZ_ZFBM7,
  '' as ZYZD,
  '' as ZYZD_JBBM,
  '' as XY_RYBQ,
  '' as XY_CYQK,
  '' as QTZD1,
  '' as ZYZD_JBBM1,
  '' as RYBQ1,
  '' as CYQK1,
  '' as QTZD2,
  '' as ZYZD_JBBM2,
  '' as RYBQ2,
  '' as CYQK2,
  '' as QTZD3,
  '' as ZYZD_JBBM3,
  '' as RYBQ3,
  '' as CYQK3,
  '' as QTZD4,
  '' as ZYZD_JBBM4,
  '' as RYBQ4,
  '' as CYQK4,
  '' as QTZD5,
  '' as ZYZD_JBBM5,
  '' as RYBQ5,
  '' as CYQK5,
  '' as QTZD6,
  '' as ZYZD_JBBM6,
  '' as RYBQ6,
  '' as CYQK6,
  '' as QTZD7,
  '' as ZYZD_JBBM7,
  '' as RYBQ7,
  '' as CYQK7,
  '' as QTZD8,
  '' as ZYZD_JBBM8,
  '' as RYBQ8,
  '' as CYQK8,
  '' as QTZD9,
  '' as ZYZD_JBBM9,
  '' as RYBQ9,
  '' as CYQK9,
  '' as QTZD10,
  '' as ZYZD_JBBM10,
  '' as RYBQ10,
  '' as CYQK10,
  '' as QTZD11,
  '' as ZYZD_JBBM11,
  '' as RYBQ11,
  '' as CYQK11,
  '' as QTZD12,
  '' as ZYZD_JBBM12,
  '' as RYBQ12,
  '' as CYQK12,
  '' as QTZD13,
  '' as ZYZD_JBBM13,
  '' as RYBQ13,
  '' as CYQK13,
  '' as QTZD14,
  '' as ZYZD_JBBM14,
  '' as RYBQ14,
  '' as CYQK14,
  '' as QTZD15,
  '' as ZYZD_JBBM15,
  '' as RYBQ15,
  '' as CYQK15,
  '' as QTZD16,
  '' as ZYZD_JBBM16,
  '' as RYBQ16,
  '' as CYQK16,
  '' as QTZD17,
  '' as ZYZD_JBBM17,
  '' as RYBQ17,
  '' as CYQK17,
  '' as QTZD18,
  '' as ZYZD_JBBM18,
  '' as RYBQ18,
  '' as CYQK18,
  '' as QTZD19,
  '' as ZYZD_JBBM19,
  '' as RYBQ19,
  '' as CYQK19,
  '' as QTZD20,
  '' as ZYZD_JBBM20,
  '' as RYBQ20,
  '' as CYQK20,
  '' as QTZD21,
  '' as ZYZD_JBBM21,
  '' as RYBQ21,
  '' as CYQK21,
  '' as QTZD22,
  '' as ZYZD_JBBM22,
  '' as RYBQ22,
  '' as CYQK22,
  '' as QTZD23,
  '' as ZYZD_JBBM23,
  '' as RYBQ23,
  '' as CYQK23,
  '' as QTZD24,
  '' as ZYZD_JBBM24,
  '' as RYBQ24,
  '' as CYQK24,
  '' as QTZD25,
  '' as ZYZD_JBBM25,
  '' as RYBQ25,
  '' as CYQK25,
  '' as QTZD26,
  '' as ZYZD_JBBM26,
  '' as RYBQ26,
  '' as CYQK26,
  '' as QTZD27,
  '' as ZYZD_JBBM27,
  '' as RYBQ27,
  '' as CYQK27,
  '' as QTZD28,
  '' as ZYZD_JBBM28,
  '' as RYBQ28,
  '' as CYQK28,
  '' as QTZD29,
  '' as ZYZD_JBBM29,
  '' as RYBQ29,
  '' as CYQK29,
  '' as QTZD30,
  '' as ZYZD_JBBM30,
  '' as RYBQ30,
  '' as CYQK30,
  '' as QTZD31,
  '' as ZYZD_JBBM31,
  '' as RYBQ31,
  '' as CYQK31,
  '' as QTZD32,
  '' as ZYZD_JBBM32,
  '' as RYBQ32,
  '' as CYQK32,
  '' as QTZD33,
  '' as ZYZD_JBBM33,
  '' as RYBQ33,
  '' as CYQK33,
  '' as QTZD34,
  '' as ZYZD_JBBM34,
  '' as RYBQ34,
  '' as CYQK34,
  '' as QTZD35,
  '' as ZYZD_JBBM35,
  '' as RYBQ35,
  '' as CYQK35,
  '' as QTZD36,
  '' as ZYZD_JBBM36,
  '' as RYBQ36,
  '' as CYQK36,
  '' as QTZD37,
  '' as ZYZD_JBBM37,
  '' as RYBQ37,
  '' as CYQK37,
  '' as QTZD38,
  '' as ZYZD_JBBM38,
  '' as RYBQ38,
  '' as CYQK38,
  '' as QTZD39,
  '' as ZYZD_JBBM39,
  '' as RYBQ39,
  '' as CYQK39,
  '' as QTZD40,
  '' as ZYZD_JBBM40,
  '' as RYBQ40,
  '' as CYQK40,
  IFNULL(b.damage_reason,'-') as WBYY,
  IFNULL(b.disease_icd10_other,'-') as JBBM1,
  IFNULL(b.bl_icd10_name ,'-') as BLZD,
  IFNULL(b.bl_icd10,'-') as JBBM2,
  IFNULL(b.in_blh,'-') as BLH,
  '' as BLZDMC1,
  '' as BLZDBM1,
  '' as BLH1,
  '' as BLZDMC2,
  '' as BLZDBM2,
  '' as BLH2,
  IFNULL(b.is_allergy,'1') as YWGM,
  IFNULL(b.allergy_list,'-') as GMYW,
  IFNULL(b.is_autopsy,'-') as SJ,
  IFNULL(b.blood_code ,'-') as XX,
  IFNULL(b.rh_code,'-') as RH,
  IFNULL(b.director_name1,'-') as KZR,
  IFNULL((select prac_certi_no from sys_user su where su.hosp_code = b.hosp_code and su.id = b.director_id1),'') as KZRBM,
  IFNULL(b.director_name2,'-') as ZRYS,
  IFNULL((select prac_certi_no from sys_user su where su.hosp_code = b.hosp_code and su.id = b.director_id2),'') as ZRYSBM,
  IFNULL(b.zz_doctor_name,'-') as ZZYS,
  IFNULL((select prac_certi_no from sys_user su where su.hosp_code = b.hosp_code and su.id = b.zz_doctor_id),'') as ZZYSBM,
  IFNULL(b.zg_doctor_name,'-') as ZYYS,
  IFNULL((select prac_certi_no from sys_user su where su.hosp_code = b.hosp_code and su.id = b.zg_doctor_id),'') as ZYYSBM,
  IFNULL(b.zr_nurse_name,'-') as ZRHS,
  IFNULL((select prac_certi_no from sys_user su where su.hosp_code = b.hosp_code and su.id = b.zr_nurse_id),'') as ZRHSBM,
  IFNULL(b.jx_doctor_name,'-')  as JXYS,
  IFNULL(b.sx_doctor_name,'-')  as SXYS,
  IFNULL(b.doctor_coder_name,'-')  as BMY,
  IFNULL(b.emr_quality_code,'-')  as BAZL,
  IFNULL(b.zk_doctor_name,'-')  as ZKYS,
  IFNULL(b.zk_nurse_name,'-')  as ZKHS,
  IFNULL(date_format(b.zk_time, '%Y-%m-%d'),'-') as ZKRQ,
  '' as SSJCZBM1,
  '' as SSJCZMC1,
  '' as SSJCZRQ1,
  '' as SHJB1,
  '' as SZ1,
  '' as YZ1,
  '' as EZ1,
  '' as QKDJ1,
  '' as QKYLB1,
  '' as MZFS1,
  '' as MZYS1,
  '' as SSCZSJ1,
  '' as MZFJ1,
  '' as SSJCZBM2,
  '' as SSJCZMC2,
  '' as SSJCZRQ2,
  '' as SHJB2,
  '' as SZ2,
  '' as YZ2,
  '' as EZ2,
  '' as QKDJ2,
  '' as QKYLB2,
  '' as MZFS2,
  '' as MZYS2,
  '' as SSCZSJ2,
  '' as MZFJ2,
  '' as SSJCZBM3,
  '' as SSJCZMC3,
  '' as SSJCZRQ3,
  '' as SHJB3,
  '' as SZ3,
  '' as YZ3,
  '' as EZ3,
  '' as QKDJ3,
  '' as QKYLB3,
  '' as MZFS3,
  '' as MZYS3,
  '' as SSCZSJ3,
  '' as MZFJ3,
  '' as SSJCZBM4,
  '' as SSJCZMC4,
  '' as SSJCZRQ4,
  '' as SHJB4,
  '' as SZ4,
  '' as YZ4,
  '' as EZ4,
  '' as QKDJ4,
  '' as QKYLB4,
  '' as MZFS4,
  '' as MZYS4,
  '' as SSCZSJ4,
  '' as MZFJ4,
  '' as SSJCZBM5,
  '' as SSJCZMC5,
  '' as SSJCZRQ5,
  '' as SHJB5,
  '' as SZ5,
  '' as YZ5,
  '' as EZ5,
  '' as QKDJ5,
  '' as QKYLB5,
  '' as MZFS5,
  '' as MZYS5,
  '' as SSCZSJ5,
  '' as MZFJ5,
  '' as SSJCZBM6,
  '' as SSJCZMC6,
  '' as SSJCZRQ6,
  '' as SHJB6,
  '' as SZ6,
  '' as YZ6,
  '' as EZ6,
  '' as QKDJ6,
  '' as QKYLB6,
  '' as MZFS6,
  '' as MZYS6,
  '' as SSCZSJ6,
  '' as MZFJ6,
  '' as SSJCZBM7,
  '' as SSJCZMC7,
  '' as SSJCZRQ7,
  '' as SHJB7,
  '' as SZ7,
  '' as YZ7,
  '' as EZ7,
  '' as QKDJ7,
  '' as QKYLB7,
  '' as MZFS7,
  '' as MZYS7,
  '' as SSCZSJ7,
  '' as MZFJ7,
  '' as SSJCZBM8,
  '' as SSJCZMC8,
  '' as SSJCZRQ8,
  '' as SHJB8,
  '' as SZ8,
  '' as YZ8,
  '' as EZ8,
  '' as QKDJ8,
  '' as QKYLB8,
  '' as MZFS8,
  '' as MZYS8,
  '' as SSCZSJ8,
  '' as MZFJ8,
  '' as SSJCZBM9,
  '' as SSJCZMC9,
  '' as SSJCZRQ9,
  '' as SHJB9,
  '' as SZ9,
  '' as YZ9,
  '' as EZ9,
  '' as QKDJ9,
  '' as QKYLB9,
  '' as MZFS9,
  '' as MZYS9,
  '' as SSCZSJ9,
  '' as MZFJ9,
  '' as SSJCZBM10,
  '' as SSJCZMC10,
  '' as SSJCZRQ10,
  '' as SHJB10,
  '' as SZ10,
  '' as YZ10,
  '' as EZ10,
  '' as QKDJ10,
  '' as QKYLB10,
  '' as MZFS10,
  '' as MZYS10,
  '' as SSCZSJ10,
  '' as MZFJ10,
  '' as SSJCZBM11,
  '' as SSJCZMC11,
  '' as SSJCZRQ11,
  '' as SHJB11,
  '' as SZ11,
  '' as YZ11,
  '' as EZ11,
  '' as QKDJ11,
  '' as QKYLB11,
  '' as MZFS11,
  '' as MZYS11,
  '' as SSCZSJ11,
  '' as MZFJ11,
  '' as SSJCZBM12,
  '' as SSJCZMC12,
  '' as SSJCZRQ12,
  '' as SHJB12,
  '' as SZ12,
  '' as YZ12,
  '' as EZ12,
  '' as QKDJ12,
  '' as QKYLB12,
  '' as MZFS12,
  '' as MZYS12,
  '' as SSCZSJ12,
  '' as MZFJ12,
  '' as SSJCZBM13,
  '' as SSJCZMC13,
  '' as SSJCZRQ13,
  '' as SHJB13,
  '' as SZ13,
  '' as YZ13,
  '' as EZ13,
  '' as QKDJ13,
  '' as QKYLB13,
  '' as MZFS13,
  '' as MZYS13,
  '' as SSCZSJ13,
  '' as MZFJ13,
  '' as SSJCZBM14,
  '' as SSJCZMC14,
  '' as SSJCZRQ14,
  '' as SHJB14,
  '' as SZ14,
  '' as YZ14,
  '' as EZ14,
  '' as QKDJ14,
  '' as QKYLB14,
  '' as MZFS14,
  '' as MZYS14,
  '' as SSCZSJ14,
  '' as MZFJ14,
  '' as SSJCZBM15,
  '' as SSJCZMC15,
  '' as SSJCZRQ15,
  '' as SHJB15,
  '' as SZ15,
  '' as YZ15,
  '' as EZ15,
  '' as QKDJ15,
  '' as QKYLB15,
  '' as MZFS15,
  '' as MZYS15,
  '' as SSCZSJ15,
  '' as MZFJ15,
  '' as SSJCZBM16,
  '' as SSJCZMC16,
  '' as SSJCZRQ16,
  '' as SHJB16,
  '' as SZ16,
  '' as YZ16,
  '' as EZ16,
  '' as QKDJ16,
  '' as QKYLB16,
  '' as MZFS16,
  '' as MZYS16,
  '' as SSCZSJ16,
  '' as MZFJ16,
  '' as SSJCZBM17,
  '' as SSJCZMC17,
  '' as SSJCZRQ17,
  '' as SHJB17,
  '' as SZ17,
  '' as YZ17,
  '' as EZ17,
  '' as QKDJ17,
  '' as QKYLB17,
  '' as MZFS17,
  '' as MZYS17,
  '' as SSCZSJ17,
  '' as MZFJ17,
  '' as SSJCZBM18,
  '' as SSJCZMC18,
  '' as SSJCZRQ18,
  '' as SHJB18,
  '' as SZ18,
  '' as YZ18,
  '' as EZ18,
  '' as QKDJ18,
  '' as QKYLB18,
  '' as MZFS18,
  '' as MZYS18,
  '' as SSCZSJ18,
  '' as MZFJ18,
  '' as SSJCZBM19,
  '' as SSJCZMC19,
  '' as SSJCZRQ19,
  '' as SHJB19,
  '' as SZ19,
  '' as YZ19,
  '' as EZ19,
  '' as QKDJ19,
  '' as QKYLB9,
  '' as MZFS19,
  '' as MZYS19,
  '' as SSCZSJ19,
  '' as MZFJ19,
  '' as SSJCZBM20,
  '' as SSJCZMC20,
  '' as SSJCZRQ20,
  '' as SHJB20,
  '' as SZ20,
  '' as YZ20,
  '' as EZ20,
  '' as QKDJ20,
  '' as QKYLB20,
  '' as MZFS20,
  '' as MZYS20,
  '' as SSCZSJ20,
  '' as MZFJ20,
  '' as SSJCZBM21,
  '' as SSJCZMC21,
  '' as SSJCZRQ21,
  '' as SHJB21,
  '' as SZ21,
  '' as YZ21,
  '' as EZ21,
  '' as QKDJ21,
  '' as QKYLB21,
  '' as MZFS21,
  '' as MZYS21,
  '' as SSCZSJ21,
  '' as MZFJ21,
  '' as SSJCZBM22,
  '' as SSJCZMC22,
  '' as SSJCZRQ22,
  '' as SHJB22,
  '' as SZ22,
  '' as YZ22,
  '' as EZ22,
  '' as QKDJ22,
  '' as QKYLB22,
  '' as MZFS22,
  '' as MZYS22,
  '' as SSCZSJ22,
  '' as MZFJ22,
  '' as SSJCZBM23,
  '' as SSJCZMC23,
  '' as SSJCZRQ23,
  '' as SHJB23,
  '' as SZ23,
  '' as YZ23,
  '' as EZ23,
  '' as QKDJ23,
  '' as QKYLB23,
  '' as MZFS23,
  '' as MZYS23,
  '' as SSCZSJ23,
  '' as MZFJ23,
  '' as SSJCZBM24,
  '' as SSJCZMC24,
  '' as SSJCZRQ24,
  '' as SHJB24,
  '' as SZ24,
  '' as YZ24,
  '' as EZ24,
  '' as QKDJ24,
  '' as QKYLB24,
  '' as MZFS24,
  '' as MZYS24,
  '' as SSCZSJ24,
  '' as MZFJ24,
  '' as SSJCZBM25,
  '' as SSJCZMC25,
  '' as SSJCZRQ25,
  '' as SHJB25,
  '' as SZ25,
  '' as YZ25,
  '' as EZ25,
  '' as QKDJ25,
  '' as QKYLB25,
  '' as MZFS25,
  '' as MZYS25,
  '' as SSCZSJ25,
  '' as MZFJ25,
  '' as SSJCZBM26,
  '' as SSJCZMC26,
  '' as SSJCZRQ26,
  '' as SHJB26,
  '' as SZ26,
  '' as YZ26,
  '' as EZ26,
  '' as QKDJ26,
  '' as QKYLB26,
  '' as MZFS26,
  '' as MZYS26,
  '' as SSCZSJ26,
  '' as MZFJ26,
  '' as SSJCZBM27,
  '' as SSJCZMC27,
  '' as SSJCZRQ27,
  '' as SHJB27,
  '' as SZ27,
  '' as YZ27,
  '' as EZ27,
  '' as QKDJ27,
  '' as QKYLB27,
  '' as MZFS27,
  '' as MZYS27,
  '' as SSCZSJ27,
  '' as MZFJ27,
  '' as SSJCZBM28,
  '' as SSJCZMC28,
  '' as SSJCZRQ28,
  '' as SHJB28,
  '' as SZ28,
  '' as YZ28,
  '' as EZ28,
  '' as QKDJ28,
  '' as QKYLB28,
  '' as MZFS28,
  '' as MZYS28,
  '' as SSCZSJ28,
  '' as MZFJ28,
  '' as SSJCZBM29,
  '' as SSJCZMC29,
  '' as SSJCZRQ29,
  '' as SHJB29,
  '' as SZ29,
  '' as YZ29,
  '' as EZ29,
  '' as QKDJ29,
  '' as QKYLB29,
  '' as MZFS29,
  '' as MZYS29,
  '' as SSCZSJ29,
  '' as MZFJ29,
  '' as SSJCZBM30,
  '' as SSJCZMC30,
  '' as SSJCZRQ30,
  '' as SHJB30,
  '' as SZ30,
  '' as YZ30,
  '' as EZ30,
  '' as QKDJ30,
  '' as QKYLB30,
  '' as MZFS30,
  '' as MZYS30,
  '' as SSCZSJ30,
  '' as MZFJ30,
  '' as SSJCZBM31,
  '' as SSJCZMC31,
  '' as SSJCZRQ31,
  '' as SHJB31,
  '' as SZ31,
  '' as YZ31,
  '' as EZ31,
  '' as QKDJ31,
  '' as QKYLB31,
  '' as MZFS31,
  '' as MZYS31,
  '' as SSCZSJ31,
  '' as MZFJ31,
  '' as SSJCZBM32,
  '' as SSJCZMC32,
  '' as SSJCZRQ32,
  '' as SHJB32,
  '' as SZ32,
  '' as YZ32,
  '' as EZ32,
  '' as QKDJ32,
  '' as QKYLB32,
  '' as MZFS32,
  '' as MZYS32,
  '' as SSCZSJ32,
  '' as MZFJ32,
  '' as SSJCZBM33,
  '' as SSJCZMC33,
  '' as SSJCZRQ33,
  '' as SHJB33,
  '' as SZ33,
  '' as YZ33,
  '' as EZ33,
  '' as QKDJ33,
  '' as QKYLB33,
  '' as MZFS33,
  '' as MZYS33,
  '' as SSCZSJ33,
  '' as MZFJ33,
  '' as SSJCZBM34,
  '' as SSJCZMC34,
  '' as SSJCZRQ34,
  '' as SHJB34,
  '' as SZ34,
  '' as YZ34,
  '' as EZ34,
  '' as QKDJ34,
  '' as QKYLB34,
  '' as MZFS34,
  '' as MZYS34,
  '' as SSCZSJ34,
  '' as MZFJ34,
  '' as SSJCZBM35,
  '' as SSJCZMC35,
  '' as SSJCZRQ35,
  '' as SHJB35,
  '' as SZ35,
  '' as YZ35,
  '' as EZ35,
  '' as QKDJ35,
  '' as QKYLB35,
  '' as MZFS35,
  '' as MZYS35,
  '' as SSCZSJ35,
  '' as MZFJ35,
  '' as SSJCZBM36,
  '' as SSJCZMC36,
  '' as SSJCZRQ36,
  '' as SHJB36,
  '' as SZ36,
  '' as YZ36,
  '' as EZ36,
  '' as QKDJ36,
  '' as QKYLB36,
  '' as MZFS36,
  '' as MZYS36,
  '' as SSCZSJ36,
  '' as MZFJ36,
  '' as SSJCZBM37,
  '' as SSJCZMC37,
  '' as SSJCZRQ37,
  '' as SHJB37,
  '' as SZ37,
  '' as YZ37,
  '' as EZ37,
  '' as QKDJ37,
  '' as QKYLB37,
  '' as MZFS37,
  '' as MZYS37,
  '' as SSCZSJ37,
  '' as MZFJ37,
  '' as SSJCZBM38,
  '' as SSJCZMC38,
  '' as SSJCZRQ38,
  '' as SHJB38,
  '' as SZ38,
  '' as YZ38,
  '' as EZ38,
  '' as QKDJ38,
  '' as QKYLB38,
  '' as MZFS38,
  '' as MZYS38,
  '' as SSCZSJ38,
  '' as MZFJ38,
  '' as SSJCZBM39,
  '' as SSJCZMC39,
  '' as SSJCZRQ39,
  '' as SHJB39,
  '' as SZ39,
  '' as YZ39,
  '' as EZ39,
  '' as QKDJ39,
  '' as QKYLB39,
  '' as MZFS39,
  '' as MZYS39,
  '' as SSCZSJ39,
  '' as MZFJ39,
  '' as SSJCZBM40,
  '' as SSJCZMC40,
  '' as SSJCZRQ40,
  '' as SHJB40,
  '' as SZ40,
  '' as YZ40,
  '' as EZ40,
  '' as QKDJ40,
  '' as QKYLB40,
  '' as MZFS40,
  '' as MZYS40,
  '' as SSCZSJ40,
  '' as MZFJ40,
  '' as SSJCZBM41,
  '' as SSJCZMC41,
  '' as SSJCZRQ41,
  '' as SHJB41,
  '' as SZ41,
  '' as YZ41,
  '' as EZ41,
  '' as QKDJ41,
  '' as QKYLB41,
  '' as MZFS41,
  '' as MZYS41,
  '' as SSCZSJ41,
  '' as MZFJ41,
  '' as ZYZLCZBM1,
  '' as ZYZLCZMC1,
  '' as ZYZLCZRQ1,
  '' as ZYZLCZJB1,
  '' as ZYZLCZSZ1,
  '' as ZYZLCZQKDJ1,
  '' as ZYZLCZQKYLB1,
  '' as ZYZLCZMZFS1,
  '' as ZYZLCZMZYS1,
  '' as ZYZLCZSJ1,
  '' as ZYZLCZMZFJ1,
  '' as ZYZLCZBM2,
  '' as ZYZLCZMC2,
  '' as ZYZLCZRQ2,
  '' as ZYZLCZJB2,
  '' as ZYZLCZSZ2,
  '' as ZYZLCZQKDJ2,
  '' as ZYZLCZQKYLB2,
  '' as ZYZLCZMZFS2,
  '' as ZYZLCZMZYS2,
  '' as ZYZLCZSJ2,
  '' as ZYZLCZMZFJ2,
  '' as ZYZLCZBM3,
  '' as ZYZLCZMC3,
  '' as ZYZLCZRQ3,
  '' as ZYZLCZJB3,
  '' as ZYZLCZSZ3,
  '' as ZYZLCZQKDJ3,
  '' as ZYZLCZQKYLB3,
  '' as ZYZLCZMZFS3,
  '' as ZYZLCZMZYS3,
  '' as ZYZLCZSJ3,
  '' as ZYZLCZMZFJ3,
  '' as ZYZLCZBM4,
  '' as ZYZLCZMC4,
  '' as ZYZLCZRQ4,
  '' as ZYZLCZJB4,
  '' as ZYZLCZSZ4,
  '' as ZYZLCZQKDJ4,
  '' as ZYZLCZQKYLB4,
  '' as ZYZLCZMZFS4,
  '' as ZYZLCZMZYS4,
  '' as ZYZLCZSJ4,
  '' as ZYZLCZMZFJ4,
  '' as ZYZLCZBM5,
  '' as ZYZLCZMC5,
  '' as ZYZLCZRQ5,
  '' as ZYZLCZJB5,
  '' as ZYZLCZSZ5,
  '' as ZYZLCZQKDJ5,
  '' as ZYZLCZQKYLB5,
  '' as ZYZLCZMZFS5,
  '' as ZYZLCZMZYS5,
  '' as ZYZLCZSJ5,
  '' as ZYZLCZMZFJ5,
  '' as ZYZLCZBM6,
  '' as ZYZLCZMC6,
  '' as ZYZLCZRQ6,
  '' as ZYZLCZJB6,
  '' as ZYZLCZSZ6,
  '' as ZYZLCZQKDJ6,
  '' as ZYZLCZQKYLB6,
  '' as ZYZLCZMZFS6,
  '' as ZYZLCZMZYS6,
  '' as ZYZLCZSJ6,
  '' as ZYZLCZMZFJ6,
  '' as ZYZLCZBM7,
  '' as ZYZLCZMC7,
  '' as ZYZLCZRQ7,
  '' as ZYZLCZJB7,
  '' as ZYZLCZSZ7,
  '' as ZYZLCZQKDJ7,
  '' as ZYZLCZQKYLB7,
  '' as ZYZLCZMZFS7,
  '' as ZYZLCZMZYS7,
  '' as ZYZLCZSJ7,
  '' as ZYZLCZMZFJ7,
  '' as ZYZLCZBM8,
  '' as ZYZLCZMC8,
  '' as ZYZLCZRQ8,
  '' as ZYZLCZJB8,
  '' as ZYZLCZSZ8,
  '' as ZYZLCZQKDJ8,
  '' as ZYZLCZQKYLB8,
  '' as ZYZLCZMZFS8,
  '' as ZYZLCZMZYS8,
  '' as ZYZLCZSJ8,
  '' as ZYZLCZMZFJ8,
  '' as ZYZLCZBM9,
  '' as ZYZLCZMC9,
  '' as ZYZLCZRQ9,
  '' as ZYZLCZJB9,
  '' as ZYZLCZSZ9,
  '' as ZYZLCZQKDJ9,
  '' as ZYZLCZQKYLB9,
  '' as ZYZLCZMZFS9,
  '' as ZYZLCZMZYS9,
  '' as ZYZLCZSJ9,
  '' as ZYZLCZMZFJ9,
  '' as ZYZLCZBM10,
  '' as ZYZLCZMC10,
  '' as ZYZLCZRQ10,
  '' as ZYZLCZJB10,
  '' as ZYZLCZSZ10,
  '' as ZYZLCZQKDJ10,
  '' as ZYZLCZQKYLB10,
  '' as ZYZLCZMZFS10,
  '' as ZYZLCZMZYS10,
  '' as ZYZLCZSJ10,
  '' as ZYZLCZMZFJ10,
  IFNULL(b.out_mode_code,'-') as LYFS,
  case when b.out_mode_code = '2' then IFNULL(b.turn_org_name,'-')
       else '-' end as YZZY_JGMC,
  case when b.out_mode_code = '3' then IFNULL(b.turn_org_name,'-')
       else '-' end as WSY_JGMC,
  IFNULL(b.is_inpt,0)as ZZYJH,
  IFNULL(b.aim,'-') as MD,
  IFNULL(b.inpt_before_day,0) as RYQ_T,
  IFNULL(b.inpt_before_hour,0) as RYQ_XS,
  IFNULL(b.inpt_before_minute,0) as RYQ_FZ,
  IFNULL(b.inpt_last_day,0) as RYH_T,
  IFNULL(b.inpt_last_hour,0) as RYH_XS,
  IFNULL(b.inpt_last_minute ,0) as RYH_FZ,
  ROUND(IFNULL(c.fy01,0),2) as ZFY,
  ROUND(IFNULL(c.fy07,0),2)  as ZFJE,
  ROUND(IFNULL(c.zhylfwl01,0),2)  as YLFWF,
  ROUND(IFNULL(c.zhylfwl05,0),2) as BZLZF,
  ROUND(IFNULL(c.zhylfwl06,0),2) as ZYBLZHZF,
  ROUND(IFNULL(c.zhylfwl02,0),2)  as ZLCZF,
  ROUND(IFNULL(c.zhylfwl03,0),2)  as HLF,
  ROUND(IFNULL(c.zhylfwl04,0),2)  as QTFY,
  ROUND(IFNULL(c.zdl01,0),2)  as BLZDF,
  ROUND(IFNULL(c.zdl02,0),2)  as ZDF,
  ROUND(IFNULL(c.zdl03,0),2) as YXXZDF,
  ROUND(IFNULL(c.zdl04,0),2)  as LCZDXMF,
  ROUND(IFNULL(c.zll01,0),2)  as FSSZLXMF,
  ROUND(IFNULL(c.zll02 ,0),2) as ZLF,
  ROUND(IFNULL(c.zll03,0),2) as SSZLF,
  ROUND(IFNULL(c.zll04,0),2) as MZF,
  ROUND(IFNULL(c.zll05,0),2) as SSF,
  ROUND(IFNULL(c.kfl01,0),2) as KFF,
  ROUND(IFNULL(c.zyl02,0),2) as ZYL_ZYZD,
  ROUND(IFNULL(c.zyl01,0),2) as ZYZL,
  ROUND(IFNULL(c.zyl03,0),2) as ZYWZ,
  ROUND(IFNULL(c.zyl04,0),2) as ZYGS,
  ROUND(IFNULL(c.zyl05,0),2) as ZCYJF,
  ROUND(IFNULL(c.zyl06,0),2) as ZYTNZL,
  ROUND(IFNULL(c.zyl07,0),2) as ZYGCZL,
  ROUND(IFNULL(c.zyl08,0),2) as ZYTSZL,
  ROUND(IFNULL(c.zyl09,0),2) as ZYQT,
  ROUND(IFNULL(c.zyl10,0),2) as ZYTSTPJG,
  ROUND(IFNULL(c.zyl11,0),2) as BZSS,
  ROUND(IFNULL(c.fy02,0),2) as XYF,
  ROUND(IFNULL(c.xyl01,0),2) as KJYWF,
  ROUND(IFNULL(c.fy04,0),2) as ZCYF,
  ROUND(IFNULL(c.zyf01,0),2) as ZYZJF,
  ROUND(IFNULL(c.fy05,0),2) as ZCYF1,
  ROUND(IFNULL(c.xyzpl01,0),2) as XF,
  ROUND(IFNULL(c.xyzpl02,0),2) as BDBLZPF,
  ROUND(IFNULL(c.xyzpl03,0),2) as QDBLZPF,
  ROUND(IFNULL(c.xyzpl04,0),2) as NXYZLZPF,
  ROUND(IFNULL(c.xyzpl05,0),2) as XBYZLZPF,
  ROUND(IFNULL(c.hcl01,0),2) as JCYYCLF,
  ROUND(IFNULL(c.hcl02,0),2) as YYCLF,
  ROUND(IFNULL(c.hcl03,0),2) as SSYCXCLF,
  ROUND(IFNULL(c.fy06,0),2) as QTF,
  '-' as RYQK,
  '-' as RYZDBM,
  '-' as RYZDMC,
  '-' as RYHQZRQ,
  '-' as HBSAG,
  '-' as HCVAB,
  '-' as HIVAB,
  '-' as TJHLTS,
  '-' as YJHLTS,
  '-' as EJHLTS,
  '-' as SJHLTS,
  '-' as SXFY,
  '-' as HXB,
  '-' as XXB,
  '-' as XJ,
  '-' as QX,
  '-' as ZTXHS,
  '-' as SFRJSS,
  '-' as HXJSYSJ,
  '-' as ZZJHSMC1,
  '-' as JRSJ1,
  '-' as TCSJ1,
  '-' as ZZJHSMC2,
  '-' as JRSJ2,
  '-' as TCSJ2,
  '-' as ZZJHSMC3,
  '-' as JRSJ3,
  '-' as TCSJ3,
  '-' as ZZJHSMC4,
  '-' as JRSJ4,
  '-' as TCSJ4,
  '-' as ZZJHSMC5,
  '-' as JRSJ5,
  '-' as TCSJ5
  from tcm_mris_base_info b
  LEFT JOIN tcm_mris_cost c on c.hosp_code= #{hospCode} and  b.visit_id = c.visit_id
  left join inpt_visit v on v.hosp_code= #{hospCode} and  b.visit_id = v.id
  where b.hosp_code= #{hospCode} and b.in_profile IS NOT NULL
  <if test="keyword != null and keyword !=''">
   and (v.name LIKE CONCAT('%',#{keyword},'%') or v.phone LIKE CONCAT('%',#{keyword},'%') or v.cert_no LIKE CONCAT('%',#{keyword},'%')
   or v.in_no LIKE CONCAT('%',#{keyword},'%') )
  </if>
  <if test="inDeptId!=null and inDeptId!=''">
   and v.in_dept_id = #{inDeptId}
  </if>
  <if test="statusCode != null and statusCode !=''">
   and v.status_code = #{statusCode}
  </if>
  <if test="visitId!=null and visitId!=''">
   and b.visit_id =#{visitId}
  </if>
  <if test="startTime != null and startTime != ''">
   and v.out_time &gt;= STR_TO_DATE(#{startTime},'%Y-%m-%d %H:%i:%S')
  </if>
  <if test="endTime != null and endTime != '' ">
   and v.out_time &lt;= STR_TO_DATE(#{endTime},'%Y-%m-%d %H:%i:%S')
  </if>
  <if test="offset!=null and limit!=null">
   limit #{offset}, #{limit}
  </if>
 </select>
 <select id="getTcmMrisDiagnose" resultType="java.util.Map" parameterType="java.util.Map">
      select disease_code,in_situation_code,
      ifnull((select platform_code from base_disease where code = disease_icd10 and hosp_code =#{hospCode} limit 1),disease_icd10) as disease_icd10,
      disease_icd10_name
      from tcm_mris_diagnose where visit_id =#{visitId} and hosp_code =#{hospCode}
   </select>

 <select id="getTcmDiagnose" resultType="java.util.Map" parameterType="java.util.Map">
  select disease_code,in_situation_code,
      ifnull((select platform_code from base_disease where code = disease_icd10 and hosp_code =#{hospCode} limit 1),disease_icd10) as disease_icd10,
      disease_icd10_name,tcm_syndromes_id,tcm_syndromes_name
      from tcm_mris_syndromes_diagnose where visit_id =#{visitId} and hosp_code =#{hospCode}
 </select>

 <select id="getTcmMrisOperInfo" resultType="java.util.Map" parameterType="java.util.Map">
      select oper_disease_icd9,oper_disease_name,DATE_ADD(oper_time,INTERVAL 1 DAY)as oper_time,oper_code,
      ifnull((select name from sys_user where id =oper_doctor_id and hosp_code =#{hospCode}),'无') as oper_doctor_name,
      ifnull((select name from sys_user where id =assistant_id4 and hosp_code =#{hospCode}),'无') as assistant_name1,
      ifnull((select name from sys_user where id =assistant_id2 and hosp_code =#{hospCode}),'无') as assistant_name2,
      case when heal_code ='1/1' or heal_code ='1/2' or heal_code ='1/3' or heal_code ='1/4' then '1'
           when heal_code ='2/1' or heal_code ='2/2' or heal_code ='2/3' or heal_code ='2/4' then '2'
           when heal_code ='3/1' or heal_code ='3/2' or heal_code ='3/3' or heal_code ='3/4' then '3'
           else '0' end heal_code,
      case when heal_code ='1/1' or heal_code ='2/1' or heal_code ='3/1'  then '1'
           when heal_code ='1/2' or heal_code ='2/2' or heal_code ='3/2'  then '2'
           when heal_code ='1/3' or heal_code ='2/3' or heal_code ='3/3'  then '3'
           when heal_code ='1/2' or heal_code ='2/4' or heal_code ='3/4'  then '4'
           else '0' end heal_type,
      ana_code,
      ifnull((select name from sys_user where id =ana_id1 and hosp_code =#{hospCode}),'无') as ana_name1
      from tcm_mris_oper_info where visit_id =#{visitId} and hosp_code =#{hospCode}
   </select>
</mapper>
