<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hsa.module.center.authorization.dao.CenterFunctionAuthorizationDAO" >

    <!-- 表所有字段 -->
    <sql id="Base_Column_List">
        id,
        hosp_code,
        order_type_code,
        start_date,
        end_date,
        encrypt_start_date,
        encrypt_end_date,
        remark,
        audit_status,
        audit_id,
        audit_name,
        audit_time,
        is_valid,
        crte_id,
        crte_name,
        crte_time,
        update_id,
        update_name,
        update_time
    </sql>


  <!-- 根据主键查询表信息 -->
  <select id="queryBizAuthorizationByOrderTypeCode" resultType="cn.hsa.module.center.authorization.entity.CenterFunctionAuthorizationDO">
    select
    <include refid="Base_Column_List" />
    from
      center_function_authorization
    where
     hosp_code =#{hospCode} and order_type_code = #{orderTypeCode} and is_valid = '1'
  </select>

    <insert id="insertAuthorization"  parameterType="cn.hsa.module.center.authorization.entity.CenterFunctionAuthorizationDO">
        INSERT INTO `center_function_authorization`(`id`, `hosp_code`, `order_type_code`, `start_date`, `end_date`, `encrypt_start_date`,
                                                    `encrypt_end_date`, `remark`, `audit_status`, `audit_id`, `audit_name`, `audit_time`,
                                                    `is_valid`, `crte_id`, `crte_name`, `crte_time`, `update_id`, `update_name`, `update_time`)
        VALUES (#{id}, #{hospCode}, #{orderTypeCode}, #{startDate},#{endDate}, #{encryptStartDate}, #{encryptEndDate},#{remark},#{auditStatus},#{auditId} ,#{auditName}, #{auditTime}, #{isValid}, #{crteId},#{crteName}, #{crteTime}, #{updateId}, #{updateName},#{updateTime});
    </insert>


    <update id="updateAuthorization" parameterType="cn.hsa.module.center.authorization.dto.CenterFunctionAuthorizationDto">
        update
            center_function_authorization
        set
            hosp_code = #{hospCode},
            order_type_code = #{orderTypeCode},
            start_date = #{startDate},
            end_date = #{endDate},
            encrypt_start_date = #{encryptStartDate},
            encrypt_end_date = #{encryptEndDate},
            remark = #{remark},
            audit_status = #{auditStatus},
            audit_id = #{auditId},
            audit_name = #{auditName},
            audit_time = #{auditTime},
            is_valid = #{isValid},
            crte_id = #{crteId},
            crte_name = #{crteName},
            crte_time =  #{crteTime},
            update_id =  #{updateId},
            update_name = #{updateName},
            update_time = #{updateTime}
        where
            id = #{id}
    </update>


    <update id="updateAuthorizationAudit" parameterType="cn.hsa.module.center.authorization.dto.CenterFunctionAuthorizationDto">
        update
            center_function_authorization
        set
            remark = #{remark},
            audit_status = #{auditStatus},
            audit_id = #{auditId},
            audit_name = #{auditName},
            audit_time = now()
        where
            id = #{id}
    </update>





    <select id="queryHospZzywPage" parameterType="cn.hsa.module.center.authorization.dto.CenterFunctionAuthorizationDto" resultType="java.util.Map">
        select *  ${sql1}  from (select
        ${sql2}
        ch.code ,
        ch.name,
        concat(ch.start_date,' ~ ',ch.end_date) as yyyxq,
        ch.admin_name AS adminName,
        ch.admin_phone AS adminPhone
        from
        center_hospital ch left join
        center_function_authorization cf on ch.code = cf.hosp_code
        where  ch.is_valid ='1'
        <if test="hospName != null and hospName != ''">
            and (ch.name like '%${hospName}%' or  ch.code like '%${hospName}%')
        </if>
        <if test="orderTypeCode != null and orderTypeCode != ''">
            and cf.order_type_code  = #{orderTypeCode}
        </if>
        <if test="openFlag == '1'">
            and cf.id is not null
        </if>
        <if test="auditStatus != null and auditStatus != ''">
            and cf.audit_status  = #{auditStatus}
        </if>
        GROUP by
        ch.code ,
        ch.name,
        concat(ch.start_date,' ~ ',ch.end_date),
        ch.admin_name ,
        ch.admin_phone ) aa   order by aa.code desc
    </select>

    <select id="queryPage" parameterType="cn.hsa.module.center.authorization.dto.CenterFunctionAuthorizationDto"  resultType="cn.hsa.module.center.authorization.dto.CenterFunctionAuthorizationDto">
        select
        cf.id,
        (case when cf.id is null then '0' else '1' end) as openFlag ,
        ch.code as hospCode,
        ch.name as hospName,
        concat(ch.start_date, ' ~ ', ch.end_date) as yyyxq,
        cf.start_date as startDate ,
        cf.end_date as endDate,
        cf.audit_status  as auditStatus,
        ch.admin_name as adminName,
        ch.admin_phone as adminPhone,
        cd.value as orderTypeCode,
        cd.name,
        cf.remark,
        (date(now()) &lt;=date(cf.start_date) and date(now()) &gt;= date(cf.end_date) ) as sfgq
        from
        center_hospital ch
        left join center_code_detail cd on 1 = 1
        left join center_function_authorization cf on ch.code = cf.hosp_code and cd.value = cf.order_type_code
        where cd.c_code ='QXDJ'
        and ch.is_valid ='1'
        <if test="orderTypeCode != null and orderTypeCode != ''">
            and cd.value  = #{orderTypeCode}
        </if>
        and ch.code = #{hospCode}
        order by ch.code,cd.value
    </select>




    <update id="updateAuthorization" parameterType="cn.hsa.module.center.authorization.dto.CenterFunctionAuthorizationDto">
        update
            center_function_authorization
        set
            hosp_code = #{hospCode},
            order_type_code = #{orderTypeCode},
            start_date = #{startDate},
            end_date = #{endDate},
            encrypt_start_date = #{encryptStartDate},
            encrypt_end_date = #{encryptEndDate},
            remark = #{remark},
            audit_status = #{auditStatus},
            audit_id = #{auditId},
            audit_name = #{auditName},
            audit_time = #{auditTime},
            is_valid = #{isValid},
            crte_id = #{crteId},
            crte_name = #{crteName},
            crte_time =  #{crteTime},
            update_id =  #{updateId},
            update_name = #{updateName},
            update_time = #{updateTime}
        where
            id = #{id}
    </update>


    <update id="updateAuthorizationAudit" parameterType="cn.hsa.module.center.authorization.dto.CenterFunctionAuthorizationDto">
        update
            center_function_authorization
        set
            start_date = #{startDate},
            end_date = #{endDate},
            encrypt_start_date = #{encryptStartDate},
            encrypt_end_date = #{encryptEndDate},
            remark = #{remark},
            audit_status = #{auditStatus},
            audit_id = #{auditId},
            audit_name = #{auditName},
            audit_time = #{auditTime}
        where
            id = #{id}
    </update>





    <select id="queryHospZzywPage" parameterType="cn.hsa.module.center.authorization.dto.CenterFunctionAuthorizationDto" resultType="java.util.Map">
        select *  ${sql1}  from (select
        ${sql2}
        ch.code ,
        ch.name,
        concat(ch.start_date,' ~ ',ch.end_date) as yyyxq,
        ch.admin_name AS adminName,
        ch.admin_phone AS adminPhone
        from
        center_hospital ch left join
        center_function_authorization cf on ch.code = cf.hosp_code
        where  ch.is_valid ='1'
        <if test="hospName != null and hospName != ''">
            and (ch.name like '%${hospName}%' or  ch.code like '%${hospName}%')
        </if>
        <if test="orderTypeCode != null and orderTypeCode != ''">
            and cf.order_type_code  = #{orderTypeCode}
        </if>
        <if test="openFlag == '1'">
            and cf.id is not null
        </if>
        <if test="auditStatus != null and auditStatus != ''">
            and cf.audit_status  = #{auditStatus}
        </if>
        GROUP by
        ch.code ,
        ch.name,
        concat(ch.start_date,' ~ ',ch.end_date),
        ch.admin_name ,
        ch.admin_phone ) aa
    </select>

    <select id="queryPage" parameterType="cn.hsa.module.center.authorization.dto.CenterFunctionAuthorizationDto"  resultType="cn.hsa.module.center.authorization.dto.CenterFunctionAuthorizationDto">
        select
            cf.id,
            (case when cf.id is null then '0' else '1' end) as openFlag ,
            ch.code as hospCode,
            ch.name as hospName,
            concat(ch.start_date, ' ~ ', ch.end_date) as yyyxq,
            cf.start_date as startDate ,
            cf.end_date as endDate,
            cf.audit_status ,
            ch.admin_name as adminName,
            ch.admin_phone as adminPhone,
            cd.value as orderTypeCode,
            cd.name,
            cf.remark,
            (date(now()) &lt;=date(cf.start_date) and date(now()) &gt;= date(cf.end_date) ) as sfgq
        from
            center_hospital ch
                left join center_code_detail cd on 1 = 1
                left join center_function_authorization cf on ch.code = cf.hosp_code and cd.value = cf.order_type_code
        where cd.c_code ='QXDJ'
          and ch.is_valid ='1'
        <if test="orderTypeCode != null and orderTypeCode != ''">
            and cd.value  = #{orderTypeCode}
        </if>
          and ch.code = #{hospCode}
        order by ch.code,cd.value
    </select>



</mapper>
