<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hsa.module.center.parameter.dao.CenterParameterDAO">

    <resultMap type="cn.hsa.module.center.parameter.dto.CenterParameterDTO" id="CenterParameterMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="pym" column="pym" jdbcType="VARCHAR"/>
        <result property="wbm" column="wbm" jdbcType="VARCHAR"/>
        <result property="isValid" column="is_valid" jdbcType="VARCHAR"/>
        <result property="isShow" column="is_show" jdbcType="VARCHAR"/>
        <result property="crteId" column="crte_id" jdbcType="VARCHAR"/>
        <result property="crteName" column="crte_name" jdbcType="VARCHAR"/>
        <result property="crteTime" column="crte_time" jdbcType="TIMESTAMP"/>
        <result property="value" column="value" jdbcType="VARCHAR"/>
        <result property="updId" column="upd_id" jdbcType="VARCHAR"/>
        <result property="updName" column="upd_name" jdbcType="VARCHAR"/>
        <result property="updTime" column="upd_time" jdbcType="VARCHAR"/>
    </resultMap>
    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="CenterParameterMap">
        select
        id, code, name, remark, pym, wbm, is_valid, is_show, crte_id, crte_name, crte_time, value
        from center_parameter
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
        </where>
    </select>
    <!--通过实体作为筛选条件查询-->
    <select id="queryPage" resultMap="CenterParameterMap" parameterType="cn.hsa.module.center.parameter.dto.CenterParameterDTO">
        select
        id, code, name, remark, pym, wbm, is_valid, is_show, crte_id, crte_name, crte_time, value
        from center_parameter
        <where>
            <if test="keyword != null and keyword != ''">
                and (name like concat('%',#{keyword},'%') or code like concat('%',#{keyword},'%'))
            </if>
            and is_valid = '1' and is_show = '1'
        </where>
        order by crte_time desc
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="cn.hsa.module.center.parameter.dto.CenterParameterDTO">
        insert into center_parameter(id,code, name, remark, pym, wbm, is_valid, is_show, crte_id, crte_name, value)
        values (#{id},#{code}, #{name}, #{remark}, #{pym}, #{wbm}, '1', '1', #{crteId}, #{crteName}, #{value})
    </insert>

    <!--通过主键修改数据-->
    <update id="update" parameterType="cn.hsa.module.center.parameter.dto.CenterParameterDTO">
        update center_parameter
        <set>
                code = #{code},
                name = #{name},
                value = #{value},
                remark = #{remark},
                is_valid = #{isValid},
                is_show = #{isShow},
                crte_id = #{crteId},
                crte_name = #{crteName},
                crte_time = #{crteTime}
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="delete">
        delete from center_parameter
        where
        <if test="ids != null and ids.size()>0">
            id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>
    </delete>

<!--    判断参数编码是否存在-->
    <select id="queryCodeIsExist" resultType="java.lang.Integer">
        select count(code) from center_parameter
        where
        code = #{code}
        <if test="id != null and id != ''">
            and id != #{id}
        </if>
    </select>

    <!--    判断参数名称是否存在-->
    <select id="queryNameIsExist" resultType="java.lang.Integer">
        select count(name) from center_parameter
        where
        name = #{name}
        <if test="id != null and id != ''">
            and id != #{id}
        </if>
    </select>

    <!--根据编码获取参数信息-->
    <select id="getParameterByCode" resultMap="CenterParameterMap">
        select
        id, name, code, remark, pym, wbm, is_valid, is_show, crte_id, crte_name, crte_time, value
        from center_parameter
        where is_valid='1' and code=#{code}
    </select>

    <!--根据编码获取参数信息-->
    <select id="getParameterByCodeList" resultMap="CenterParameterMap">
        select
        id, name, code, remark, pym, wbm, is_valid, is_show, crte_id, crte_name, crte_time, value
        from center_parameter
        where is_valid='1' and code in
        <foreach collection="codeList"  item="code" separator="," open="(" close=")">
            #{code}
        </foreach>
    </select>
</mapper>