<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hsa.module.center.hospital.dao.CenterHospitalDAO">

    <resultMap type="cn.hsa.module.center.hospital.dto.CenterHospitalDTO" id="CenterHospitalMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="proCode" column="pro_code" jdbcType="VARCHAR"/>
        <result property="cityCode" column="city_code" jdbcType="VARCHAR"/>
        <result property="areaCode" column="area_code" jdbcType="VARCHAR"/>
        <result property="buliImagePath" column="buli_image_path" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="fax" column="fax" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="postCode" column="post_code" jdbcType="VARCHAR"/>
        <result property="hospImagePath" column="hosp_image_path" jdbcType="VARCHAR"/>
        <result property="introduce" column="introduce" jdbcType="VARCHAR"/>
        <result property="website" column="website" jdbcType="VARCHAR"/>
        <result property="legalName" column="legal_name" jdbcType="VARCHAR"/>
        <result property="legalPhone" column="legal_phone" jdbcType="VARCHAR"/>
        <result property="adminName" column="admin_name" jdbcType="VARCHAR"/>
        <result property="adminPhone" column="admin_phone" jdbcType="VARCHAR"/>
        <result property="levelCode" column="level_code" jdbcType="VARCHAR"/>
        <result property="pym" column="pym" jdbcType="VARCHAR"/>
        <result property="wbm" column="wbm" jdbcType="VARCHAR"/>
        <result property="longLat" column="long_lat" jdbcType="VARCHAR"/>
        <result property="startDate" column="start_date" jdbcType="DATE"/>
        <result property="endDate" column="end_date" jdbcType="DATE"/>
        <result property="encryptStartDate" column="encrypt_start_date" jdbcType="DATE"/>
        <result property="encryptEndDate" column="encrypt_end_date" jdbcType="DATE"/>
        <result property="isValid" column="is_valid" jdbcType="VARCHAR"/>
        <result property="crteId" column="crte_id" jdbcType="VARCHAR"/>
        <result property="crteName" column="crte_name" jdbcType="VARCHAR"/>
        <result property="crteTime" column="crte_time" jdbcType="DATE"/>
        <result property="diseaseCode" column="disease_code" jdbcType="VARCHAR"/>
        <result property="operCode" column="oper_code" jdbcType="VARCHAR"/>
        <result property="auditFlag" column="audit_flag" jdbcType="VARCHAR"/>
        <result property="auditMsg" column="audit_msg" jdbcType="VARCHAR"/>
        <result property="serviceStatus" column="service_status" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="getByHospCode" resultType="cn.hsa.module.center.hospital.dto.CenterHospitalDTO">
        select
          id, code, name, pro_code, disease_code, oper_code, city_code, area_code, admin_name, admin_phone, buli_image_path, address, phone, fax, email, post_code, hosp_image_path, introduce, website, legal_name, legal_phone, level_code, pym, wbm, long_lat, start_date, end_date, is_valid, crte_id, crte_name, crte_time,encrypt_start_date,encrypt_end_date,access_ips
        from center_hospital
        where code = #{code}
    </select>
    <!--查询单个-->
    <select id="getById" resultType="cn.hsa.module.center.hospital.dto.CenterHospitalDTO">
        select
          id, code, name, pro_code, disease_code, oper_code, city_code, area_code, admin_name, admin_phone, buli_image_path, address, phone, fax, email, post_code, hosp_image_path, introduce, website, legal_name, legal_phone, level_code, pym, wbm, long_lat, start_date, end_date, is_valid, crte_id, crte_name, crte_time,nation_code
        from center_hospital
        where  id = #{id}
    </select>
    <!--通过主键修改数据-->
    <update id="update" >
        update center_hospital
        <set>
                code = #{code},
                name = #{name},
                pro_code = #{proCode},
                city_code = #{cityCode},
                area_code = #{areaCode},
                disease_code = #{diseaseCode},
                oper_code = #{operCode},
                buli_image_path = #{buliImagePath},
                address = #{address},
                phone = #{phone},
                fax = #{fax},
                email = #{email},
                post_code = #{postCode},
                hosp_image_path = #{hospImagePath},
                introduce = #{introduce},
                website = #{website},
                legal_name = #{legalName},
                legal_phone = #{legalPhone},
                admin_name = #{adminName},
                admin_phone = #{adminPhone},
                level_code = #{levelCode},
                pym = #{pym},
                wbm = #{wbm},
                long_lat = #{longLat},
                start_date = #{startDate},
                end_date = #{endDate},
            encrypt_end_date = #{encryptEndDate},
            encrypt_start_date = #{encryptStartDate},
            nation_code =#{nationCode}
        </set>
        where id = #{id}
    </update>
    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultType="cn.hsa.module.center.hospital.dto.CenterHospitalDTO">
        select
        id, code, name, pro_code, city_code, disease_code, oper_code, area_code, buli_image_path, address, phone, fax, email, post_code,
        hosp_image_path, introduce, website, legal_name, legal_phone, admin_name, admin_phone, level_code, pym, wbm, long_lat, start_date,
        end_date, is_valid, crte_id, crte_name, crte_time
        from center_hospital
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="isValid != null and isValid != ''">
                and is_valid = #{isValid}
            </if>
        </where>
    </select>
    <!--分页查询-->
    <select id="queryPage" resultMap="CenterHospitalMap">
    select
    id, code, name, pro_code, city_code, area_code, disease_code, oper_code, buli_image_path, address, phone, fax, email, post_code,
    hosp_image_path, introduce, website, legal_name, legal_phone, admin_name, admin_phone, level_code, pym, wbm, long_lat, start_date,
    end_date, is_valid, crte_id, crte_name, crte_time,audit_flag,audit_msg,service_status
    from center_hospital
        <where>
            <if test="keyword != null and keyword != ''">
                ( name like concat('%',#{keyword},'%')
                or code like concat('%',#{keyword},'%')
                or pym like concat('%',#{keyword},'%')
                or wbm like concat('%',#{keyword},'%'))
            </if>
            <if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
               and  NOT ((end_date &lt;= #{start_time}) OR (#{end_time} &lt;start_date))
            </if>
                and is_valid = '1'
                and service_status = #{serviceStatus}
        </where>
        order by crte_time desc
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="" useGeneratedKeys="true">
        insert into center_hospital(id, code, name, pro_code, city_code, area_code, buli_image_path, address, phone, fax, email, post_code, hosp_image_path, introduce, website, legal_name, legal_phone, admin_name, admin_phone, level_code, pym, wbm, long_lat, start_date, end_date, is_valid, crte_id, crte_name, disease_code, oper_code,audit_flag,nation_code)
        values (#{id}, #{code}, #{name}, #{proCode}, #{cityCode}, #{areaCode}, #{buliImagePath}, #{address}, #{phone}, #{fax}, #{email}, #{postCode}, #{hospImagePath}, #{introduce}, #{website}, #{legalName}, #{legalPhone}, #{adminName}, #{adminPhone}, #{levelCode}, #{pym}, #{wbm}, #{longLat}, #{startDate}, #{endDate}, '1', #{crteId}, #{crteName}, #{diseaseCode}, #{operCode},#{auditFlag},#{nationCode})
    </insert>

    <!--通过主键删除-->
    <delete id="delete">
        delete from center_hospital
        where
        <if test="ids != null and ids.size()>0">
            id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>
    </delete>
    <!--    判断编码是否存在-->
    <select id="queryCodeIsExist" resultType="java.lang.Integer">
        select count(code) from center_hospital
        where
        code = #{code}
        <if test="id != null and id != ''">
            and id != #{id}
        </if>
    </select>

    <insert id="insertBatchCenterSyncFlow" >
        insert into center_sync_flow(id,hosp_code, type,status_code, message,creat_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.hospCode}, #{item.type},#{item.statusCode}, #{item.message}, #{item.creatTime})
        </foreach>
    </insert>

    <select id="queryCenterSyncFlows" resultType="cn.hsa.module.center.hospital.dto.CenterSyncFlowDto">
        SELECT
        a.id,
        a.hosp_code AS hospCode,
        a.type,
        a.status_code AS statusCode,
        a.message,
        a.creat_time AS creatTime,
        b.name as typeName
    FROM
        center_sync_flow a,center_code_detail b
    WHERE
        b.c_code ='TBLX'
        AND a.type = b.value
        AND a.hosp_code= #{hospCode}   ORDER BY A.TYPE,A.creat_time
    </select>

    <update id="updateAudit">
        UPDATE center_hospital SET AUDIT_FLAG =#{auditFlag},AUDIT_MSG = #{auditMsg} where code =#{code}
    </update>

    <update id="updateServiceStatus">
        update center_hospital set service_status = #{serviceStatus} where id
                in
            <foreach collection="hospIdList" open="(" separator="," item="id" index="index" close=")">
                #{id}
            </foreach>
    </update>
    <select id="findRootDataBase" resultType="cn.hsa.module.center.hospital.entity.CenterRootDatabaseBO">
        SELECT
        a.id,
        a.type,
        a.jdbc_driver AS jdbcDriver,
        a.root_user AS rootUser,
        a.root_password AS rootPassword,
        a.root_url AS rootUrl,
        a.hosp_url AS hospUrl
        FROM
        center_root_database a
    </select>

    <update id="updateBatchCenterSyncFlow">
        <foreach collection="list" item="flow" separator=";">
            UPDATE center_sync_flow
            <set>
                status_code = #{flow.statusCode},
                message = #{flow.message},
                creat_time = #{flow.creatTime}
            </set>
            <where>
                hosp_code = #{flow.hospCode} and type = #{flow.type}
            </where>
        </foreach>

    </update>

    <update id="updateRootBase" >
        UPDATE center_root_database a
        <set>
            a.type = #{type},
            a.jdbc_driver = #{jdbcDriver} ,
            a.root_user = #{rootUser} ,
            a.root_password = #{rootPassword} ,
            a.root_url = #{rootUrl} ,
            a.hosp_url = #{hospUrl}
        </set>
        <where>
            id = #{id}
        </where>

    </update>

    <insert id="insertRootBase">
        INSERT INTO center_root_database
        (id, type, jdbc_driver, root_user, root_password, root_url, hosp_url)
        VALUES
        ( #{id}, #{type}, #{jdbcDriver}, #{rootUser}, #{rootPassword}, #{rootUrl}, #{hospUrl})

    </insert>


</mapper>
