<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hsa.module.center.nationstandarddrug.dao.NationStandardDrugDAO">

    <resultMap type="cn.hsa.module.center.nationstandarddrug.dto.NationStandardDrugDTO" id="NationStandardDrugMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="dataSources" column="data_sources" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="registerName" column="register_name" jdbcType="VARCHAR"/>
        <result property="goodName" column="good_name" jdbcType="VARCHAR"/>
        <result property="registerPrep" column="register_prep" jdbcType="VARCHAR"/>
        <result property="actualPrep" column="actual_prep" jdbcType="VARCHAR"/>
        <result property="registerSpec" column="register_spec" jdbcType="VARCHAR"/>
        <result property="actualSpec" column="actual_spec" jdbcType="VARCHAR"/>
        <result property="packaging" column="packaging" jdbcType="VARCHAR"/>
        <result property="splitRatio" column="split_ratio" jdbcType="VARCHAR"/>
        <result property="unit" column="unit" jdbcType="VARCHAR"/>
        <result property="splitUnit" column="split_unit" jdbcType="VARCHAR"/>
        <result property="prod" column="prod" jdbcType="VARCHAR"/>
        <result property="dan" column="dan" jdbcType="VARCHAR"/>
        <result property="packagProd" column="packag_prod" jdbcType="VARCHAR"/>
        <result property="marketStatus" column="market_status" jdbcType="VARCHAR"/>
        <result property="insure" column="insure" jdbcType="VARCHAR"/>
        <result property="ratioAtOne" column="ratio_at_one" jdbcType="VARCHAR"/>
        <result property="codeNo" column="code_no" jdbcType="VARCHAR"/>
        <result property="insuranceName" column="insurance_name" jdbcType="VARCHAR"/>
        <result property="insurancePrep" column="insurance_prep" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="isValid" column="is_valid" jdbcType="VARCHAR"/>
        <result property="crteId" column="crte_id" jdbcType="VARCHAR"/>
        <result property="crteName" column="crte_name" jdbcType="VARCHAR"/>
        <result property="provinceCode" column="province_code" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="saveNationStandardDrugBatch">
        insert into nation_standard_drug
        (
            id, data_sources, code, register_name, good_name, register_prep, actual_prep,
            register_spec, actual_spec, packaging, split_ratio, unit, split_unit, prod,
            dan, packag_prod, market_status, insure, ratio_at_one, code_no, insurance_name,
            insurance_prep, remark, is_valid, crte_id, crte_name
        )
        values
        <foreach collection="list" item="item" separator=",">
        (
            #{item.id},#{item.dataSources},#{item.code},#{item.registerName},#{item.goodName},#{item.registerPrep},#{item.actualPrep},
            #{item.registerSpec},#{item.actualSpec},#{item.packaging},#{item.splitRatio},#{item.unit},#{item.splitUnit},#{item.prod},
            #{item.dan},#{item.packagProd},#{item.marketStatus},#{item.insure},#{item.ratioAtOne},#{item.codeNo},#{item.insuranceName},
            #{item.insurancePrep},#{item.remark},#{item.isValid},#{item.crteId},#{item.crteName}
        )
    </foreach>
    </insert>

    <!--查询单个-->
    <select id="getById" resultMap="NationStandardDrugMap">
        select
          id, data_sources, code, register_name, good_name, register_prep, actual_prep, register_spec, actual_spec, packaging, split_ratio, unit, split_unit, prod, dan, packag_prod, market_status, insure, ratio_at_one, code_no, insurance_name, insurance_prep, remark, is_valid, crte_id, crte_name
        from nation_standard_drug
        where id = #{id}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryNationStandardDrugPage" resultMap="NationStandardDrugMap">
        select
        id, data_sources, code, register_name, good_name, register_prep, actual_prep, register_spec, actual_spec, packaging, split_ratio, unit, split_unit, prod, dan, packag_prod, market_status, insure, ratio_at_one, code_no, insurance_name, insurance_prep, remark, is_valid, crte_id, crte_name,province_code
        from nation_standard_drug
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="dataSources != null and dataSources != ''">
                and data_sources = #{dataSources}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="registerName != null and registerName != ''">
                and register_name = #{registerName}
            </if>
            <if test="goodName != null and goodName != ''">
                and good_name = #{goodName}
            </if>
            <if test="registerPrep != null and registerPrep != ''">
                and register_prep = #{registerPrep}
            </if>
            <if test="actualPrep != null and actualPrep != ''">
                and actual_prep = #{actualPrep}
            </if>
            <if test="registerSpec != null and registerSpec != ''">
                and register_spec = #{registerSpec}
            </if>
            <if test="actualSpec != null and actualSpec != ''">
                and actual_spec = #{actualSpec}
            </if>
            <if test="packaging != null and packaging != ''">
                and packaging = #{packaging}
            </if>
            <if test="splitRatio != null and splitRatio != ''">
                and split_ratio = #{splitRatio}
            </if>
            <if test="unit != null and unit != ''">
                and unit = #{unit}
            </if>
            <if test="splitUnit != null and splitUnit != ''">
                and split_unit = #{splitUnit}
            </if>
            <if test="prod != null and prod != ''">
                and prod = #{prod}
            </if>
            <if test="dan != null and dan != ''">
                and dan = #{dan}
            </if>
            <if test="packagProd != null and packagProd != ''">
                and packag_prod = #{packagProd}
            </if>
            <if test="marketStatus != null and marketStatus != ''">
                and market_status = #{marketStatus}
            </if>
            <if test="insure != null and insure != ''">
                and insure = #{insure}
            </if>
            <if test="ratioAtOne != null and ratioAtOne != ''">
                and ratio_at_one = #{ratioAtOne}
            </if>
            <if test="codeNo != null and codeNo != ''">
                and code_no = #{codeNo}
            </if>
            <if test="insuranceName != null and insuranceName != ''">
                and insurance_name = #{insuranceName}
            </if>
            <if test="insurancePrep != null and insurancePrep != ''">
                and insurance_prep = #{insurancePrep}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="isValid != null and isValid != ''">
                and is_valid = #{isValid}
            </if>
            <if test="crteId != null and crteId != ''">
                and crte_id = #{crteId}
            </if>
            <if test="crteName != null and crteName != ''">
                and crte_name = #{crteName}
            </if>
            <if test="keyword != null and keyword != ''">
                and (prod like concat('%',#{keyword},'%')
                or good_name like concat('%',#{keyword},'%')
                or register_name like concat('%',#{keyword},'%')
                or wbm like concat('%',#{keyword},'%')
                or pym like concat('%',#{keyword},'%')
                or code like concat('%',#{keyword},'%')
                or dan like concat('%',#{keyword},'%'))
                or prod like concat('%',#{keyword},'%')
            </if>
            <if test="provinceCode != null and provinceCode !=''">
                AND ( province_code = #{provinceCode} or province_code is null)
            </if>
        </where>
    </select>

    <select id="queryNationStandardZYPage" resultMap="NationStandardDrugMap">
      select id,code,good_name,decoction_name as register_name from nation_standard_drug_zy where 1=1

        <if test="keyword != null and keyword != ''">
            and (good_name like concat('%',#{keyword},'%')
                     or decoction_name like concat('%',#{keyword},'%')
                     or wbm like concat('%',#{keyword},'%')
                     or pym like concat('%',#{keyword},'%')
            or code like concat('%',#{keyword},'%')
                )
        </if>
    </select>

</mapper>
