<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hsa.module.sync.advice.dao.SyncAdviceDAO">

    <resultMap type="cn.hsa.module.sync.advice.dto.SyncAdviceDTO" id="SyncAdviceMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="typeCode" column="type_code" jdbcType="VARCHAR"/>
        <result property="technologyCode" column="technology_code" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="DECIMAL"/>
        <result property="unitCode" column="unit_code" jdbcType="VARCHAR"/>
        <result property="bizType" column="biz_type" jdbcType="VARCHAR"/>
        <result property="bizCode" column="biz_code" jdbcType="VARCHAR"/>
        <result property="containerCode" column="container_code" jdbcType="VARCHAR"/>
        <result property="specimenCode" column="specimen_code" jdbcType="VARCHAR"/>
        <result property="useScopeCode" column="use_scope_code" jdbcType="VARCHAR"/>
        <result property="doctorLevelCode" column="doctor_level_code" jdbcType="VARCHAR"/>
        <result property="opeartionCode" column="opeartion_code" jdbcType="VARCHAR"/>
        <result property="insureListCode" column="insure_list_code" jdbcType="VARCHAR"/>
        <result property="genderCode" column="gender_code" jdbcType="VARCHAR"/>
        <result property="minAge" column="min_age" jdbcType="INTEGER"/>
        <result property="maxAge" column="max_age" jdbcType="INTEGER"/>
        <result property="isCost" column="is_cost" jdbcType="VARCHAR"/>
        <result property="isStopSame" column="is_stop_same" jdbcType="VARCHAR"/>
        <result property="isStopSameNot" column="is_stop_same_not" jdbcType="VARCHAR"/>
        <result property="isStopMyself" column="is_stop_myself" jdbcType="VARCHAR"/>
        <result property="pym" column="pym" jdbcType="VARCHAR"/>
        <result property="wbm" column="wbm" jdbcType="VARCHAR"/>
        <result property="isValid" column="is_valid" jdbcType="VARCHAR"/>
        <result property="crteId" column="crte_id" jdbcType="VARCHAR"/>
        <result property="crteName" column="crte_name" jdbcType="VARCHAR"/>
        <result property="crteTime" column="crte_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="getById" resultMap="SyncAdviceMap">
        select
        id,  code, name, type_code, technology_code, price, unit_code, biz_type, biz_code, container_code, specimen_code, use_scope_code, doctor_level_code, opeartion_code, insure_list_code, gender_code, min_age, max_age, is_cost, is_stop_same, is_stop_same_not, is_stop_myself, pym, wbm, is_valid, crte_id, crte_name, crte_time
        from sync_advice
        where id = #{id}
    </select>

    <select id="queryByCodes" resultMap="SyncAdviceMap">
        select
        id,  code, name, type_code, technology_code, price, unit_code, biz_type, biz_code, container_code, specimen_code, use_scope_code, doctor_level_code, opeartion_code, insure_list_code, gender_code, min_age, max_age, is_cost, is_stop_same, is_stop_same_not, is_stop_myself, pym, wbm, is_valid, crte_id, crte_name, crte_time
        from sync_advice
        where code in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <!--查询所有数据-->
    <select id="queryAll" resultMap="SyncAdviceMap">
        select
        id,  code, name, type_code, technology_code, price, unit_code, biz_type, biz_code, container_code, specimen_code, use_scope_code, doctor_level_code, opeartion_code, insure_list_code, gender_code, min_age, max_age, is_cost, is_stop_same, is_stop_same_not, is_stop_myself, pym, wbm, is_valid, crte_id, crte_name, crte_time
        from sync_advice
        <where>
             is_valid = '1'
        </where>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="queryPage" resultMap="SyncAdviceMap">
        select
        id,  code, name, type_code, technology_code, price, unit_code, biz_type, biz_code, container_code, specimen_code, use_scope_code, doctor_level_code, opeartion_code, insure_list_code, gender_code, min_age, max_age, is_cost, is_stop_same, is_stop_same_not, is_stop_myself, pym, wbm, is_valid, crte_id, crte_name, crte_time
        from sync_advice
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="typeCode != null and typeCode != ''">
                and type_code = #{typeCode}
            </if>
            <if test="technologyCode != null and technologyCode != ''">
                and technology_code = #{technologyCode}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="unitCode != null and unitCode != ''">
                and unit_code = #{unitCode}
            </if>
            <if test="bizType != null and bizType != ''">
                and biz_type = #{bizType}
            </if>
            <if test="bizCode != null and bizCode != ''">
                and biz_code = #{bizCode}
            </if>
            <if test="containerCode != null and containerCode != ''">
                and container_code = #{containerCode}
            </if>
            <if test="specimenCode != null and specimenCode != ''">
                and specimen_code = #{specimenCode}
            </if>
            <if test="useScopeCode != null and useScopeCode != ''">
                and use_scope_code = #{useScopeCode}
            </if>
            <if test="doctorLevelCode != null and doctorLevelCode != ''">
                and doctor_level_code = #{doctorLevelCode}
            </if>
            <if test="opeartionCode != null and opeartionCode != ''">
                and opeartion_code = #{opeartionCode}
            </if>
            <if test="insureListCode != null and insureListCode != ''">
                and insure_list_code = #{insureListCode}
            </if>
            <if test="genderCode != null and genderCode != ''">
                and gender_code = #{genderCode}
            </if>
            <if test="minAge != null">
                and min_age = #{minAge}
            </if>
            <if test="maxAge != null">
                and max_age = #{maxAge}
            </if>
            <if test="isCost != null and isCost != ''">
                and is_cost = #{isCost}
            </if>
            <if test="isStopSame != null and isStopSame != ''">
                and is_stop_same = #{isStopSame}
            </if>
            <if test="isStopSameNot != null and isStopSameNot != ''">
                and is_stop_same_not = #{isStopSameNot}
            </if>
            <if test="isStopMyself != null and isStopMyself != ''">
                and is_stop_myself = #{isStopMyself}
            </if>
            <if test="isValid != null and isValid != ''">
                and is_valid = #{isValid}
            </if>
            <if test="crteId != null and crteId != ''">
                and crte_id = #{crteId}
            </if>
            <if test="crteName != null and crteName != ''">
                and crte_name = #{crteName}
            </if>
            <if test="crteTime != null">
                and crte_time = #{crteTime}
            </if>
            <if test="keyword != null and keyword!=''" >
                and (name like concat('%',#{keyword},'%') or pym like concat('%',#{keyword},'%') or wbm like concat('%',#{keyword},'%'))
            </if>
            <if test="ids != null and ids.size() > 0">
                and type_code in
                <foreach collection="ids" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by crte_time desc
    </select>

    <!--新增所有列-->
    <insert id="insert" parameterType="java.util.List">
        insert into sync_advice(id, code, name, type_code, technology_code, price, unit_code,
          biz_type, biz_code, container_code, specimen_code, use_scope_code,
          doctor_level_code, opeartion_code, insure_list_code, gender_code, min_age, max_age, is_cost, is_stop_same,
           is_stop_same_not, is_stop_myself, pym, wbm, is_valid, crte_id, crte_name, crte_time)
        values (#{id}, #{code}, #{name}, #{typeCode}, #{technologyCode}, #{price}, #{unitCode},
          #{bizType}, #{bizCode}, #{containerCode}, #{specimenCode}, #{useScopeCode},
          #{doctorLevelCode}, #{opeartionCode}, #{insureListCode}, #{genderCode}, #{minAge}, #{maxAge}, #{isCost},
           #{isStopSame}, #{isStopSameNot}, #{isStopMyself}, #{pym}, #{wbm},'1', #{crteId}, #{crteName}, #{crteTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update sync_advice
        <set>
            code = #{code},
            name = #{name},
            type_code = #{typeCode},
            technology_code = #{technologyCode},
            price = #{price},
            unit_code = #{unitCode},
            biz_type = #{bizType},
            biz_code = #{bizCode},
            container_code = #{containerCode},
            specimen_code = #{specimenCode},
            use_scope_code = #{useScopeCode},
            doctor_level_code = #{doctorLevelCode},
            opeartion_code = #{opeartionCode},
            insure_list_code = #{insureListCode},
            gender_code = #{genderCode},
            min_age = #{minAge},
            max_age = #{maxAge},
            is_cost = #{isCost},
            is_stop_same = #{isStopSame},
            is_stop_same_not = #{isStopSameNot},
            is_stop_myself = #{isStopMyself},
            pym = #{pym},
            wbm = #{wbm},
            is_valid = #{isValid},
        </set>
        where id = #{id}
    </update>

    <update id="updateList">
        <foreach collection="list" item="item" separator=";">
            update sync_advice
            <set>
                code = #{item.code},
                name = #{item.name},
                type_code = #{item.typeCode},
                technology_code = #{item.technologyCode},
                price = #{item.price},
                unit_code = #{item.unitCode},
                biz_type = #{item.bizType},
                biz_code = #{item.bizCode},
                container_code = #{item.containerCode},
                specimen_code = #{item.specimenCode},
                use_scope_code = #{item.useScopeCode},
                doctor_level_code = #{item.doctorLevelCode},
                opeartion_code = #{item.opeartionCode},
                insure_list_code = #{item.insureListCode},
                gender_code = #{item.genderCode},
                min_age = #{item.minAge},
                max_age = #{item.maxAge},
                is_cost = #{item.isCost},
                is_stop_same = #{item.isStopSame},
                is_stop_same_not = #{item.isStopSameNot},
                is_stop_myself = #{item.isStopMyself},
                pym = #{item.pym},
                wbm = #{item.wbm},
                is_valid = #{item.isValid},
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <!--通过主键删除-->
    <delete id="updateStatus">
        update  sync_advice
        <set>
            is_valid = #{isValid}
        </set>
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="isExistMaterialInAdvice" resultMap="SyncAdviceMap">
        select code,name from
            base_advice
        where code in(
            select advice_code from base_advice_detail where  item_code = #{code}
        ) and is_valid = '1'
    </select>

</mapper>